<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | FAQ</title>
    <link rel="stylesheet" href="/app/css/mypage_settings.css">
    <link rel="stylesheet" href="/app/css/style.css">
    
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->

    <!--메인-->
    <main class="container_all">
        <p class="mypage_title">MY PAGE | 설정</p>
        <div id="FAQ_content_box">
            <p class="FAQ">FAQ</p>
            <div class="list_box_main list_box_info">
<!--                <p>서비스 일반 > <span id="category_text">계정 관련</span></p>-->
                <p id="post_title"><span id="blue_text" th:text="'[ '+${faq.getFaqCategory()}+' ]'   ">[ 계정 관련 ]</span><span th:text="' '+${faq.getTitle()}"></span> 회원 탈퇴는 어떻게 하나요?</p>
            </div>
            <div class="list_box">
                <p><pre class="list_box_title" th:text="${faq.getContent()}">회원 탈퇴는 아래의 방법을 통해 가능합니다.</pre></p>
<!--                <div class="list_box_content">-->
<!--                    <p>- 이메일 회원</p>-->
<!--                    <p class="padding_text">트리플 사이트 메인 > 우측 상단 마이페이지 > 설정 > 서비스 탈퇴 > 비밀번호 입력 > 탈퇴합니다 선택</p>-->
<!--                </div>-->
<!--                <div class="list_box_content">-->
<!--                    <p>- 간편로그인 회원(카카오, 네이버, 페이스북, 애플)</p>-->
<!--                    <p class="padding_text">트리플 사이트 메인 > 우측 상단 마이페이지 > 설정 > 서비스 탈퇴 > 간편로그인 계정 인증 > 탈퇴합니다 선택</p>-->
<!--                </div>-->
<!--                <div class="list_box_content">-->
<!--                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis odio, doloremque fugit corporis animi quidem dignissimos quam quaerat repellendus ipsa, nulla rerum necessitatibus! Error doloribus nam distinctio deleniti, cum corrupti!</p>-->
<!--                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis odio, doloremque fugit corporis animi quidem dignissimos quam quaerat repellendus ipsa, nulla rerum necessitatibus! Error doloribus nam distinctio deleniti, cum corrupti!</p>-->
<!--                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis odio, doloremque fugit corporis animi quidem dignissimos quam quaerat repellendus ipsa, nulla rerum necessitatibus! Error doloribus nam distinctio deleniti, cum corrupti!</p>-->
<!--                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis odio, doloremque fugit corporis animi quidem dignissimos quam quaerat repellendus ipsa, nulla rerum necessitatibus! Error doloribus nam distinctio deleniti, cum corrupti!</p>-->
<!--                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis odio, doloremque fugit corporis animi quidem dignissimos quam quaerat repellendus ipsa, nulla rerum necessitatibus! Error doloribus nam distinctio deleniti, cum corrupti!</p>-->
<!--                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis odio, doloremque fugit corporis animi quidem dignissimos quam quaerat repellendus ipsa, nulla rerum necessitatibus! Error doloribus nam distinctio deleniti, cum corrupti!</p>-->
<!--                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis odio, doloremque fugit corporis animi quidem dignissimos quam quaerat repellendus ipsa, nulla rerum necessitatibus! Error doloribus nam distinctio deleniti, cum corrupti!</p>-->
<!--                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis odio, doloremque fugit corporis animi quidem dignissimos quam quaerat repellendus ipsa, nulla rerum necessitatibus! Error doloribus nam distinctio deleniti, cum corrupti!</p>-->
<!--                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis odio, doloremque fugit corporis animi quidem dignissimos quam quaerat repellendus ipsa, nulla rerum necessitatibus! Error doloribus nam distinctio deleniti, cum corrupti!</p>-->
<!--                </div>-->
            </div>
            <div id="back_button"><p><a href="/Triple/mypage/settings/customer">뒤로 가기</a></p></div>
        </div>
    </main>
    <!--메인 끝-->

<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>
</html>