<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 공지사항</title>
    <link rel="stylesheet" href="/app/css/mypage_settings.css">
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->

    <!--메인-->
    <main class="container_all">
        <p class="mypage_title">MY PAGE | 설정</p>
        <div id="main_content_box">
            <div class="list_box_main">
                <p class="mypage_subtitle"><a href="">고객지원 | 공지사항</a></p>
            </div>
            <div class="list_box_main content_p" th:each="notice : ${noticeList}">
                <p class="list_title"><a th:href="'/Triple/mypage/settings/notice/view/'+${notice.getIdx()}" th:text="'[ '+${notice.getNoticeType()}+' ] '+${notice.getTitle()}">합병에 따른 개인정보 이전 안내</a></p>
                <p class="list_date" th:text="${#temporals.format(notice.getRegDate(), 'yyyy-MM-dd')}">2022.06.17</p>
            </div>
        </div>
    </main>
    <!--메인 끝-->

<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>
</html>