<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 서비스 탈퇴</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/app/css/mypage_settings.css">
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->

    <!--메인-->
    <main class="container_all">
        <p class="mypage_title">MY PAGE | 설정</p>
        <div id="main_content_box">
            <div class="list_box_main">
                <p class="mypage_subtitle">고객지원 | 탈퇴</a></p>
            </div>
            <div id="service_out_box">
                <p id="warning_text">✔ 주의하세요 <span style="color: #FF0101; font-size: 14px; font-weight: normal;"> (탈퇴시 삭제/유지되는 정보를 확인하세요. 한번 삭제된 정보는 복구가 불가능합니다.)</span></p>
                <br>
                <p class="content_title">[ 삭제 데이터 항목 안내 ]</p>
                <p class="content_con">1. 계정 및 프로필 정보 삭제</p>
                <p class="content_con">2. 여행 포인트 및 레벨 삭제(혜택 포함)</p>
                <p class="content_con">3. 내 예약 정보 삭제</p>
                <p class="content_con">4. 쿠폰 삭제</p>
                <p class="content_con">5. 캐시 삭제</p>
                <p class="content_con">6. 내 여행 장소 저장 정보 삭제</p>
                <p class="content_con">7. 공유 일정 및 리뷰, 사진 유지</p>
                <hr>
                <form method="post" action="/Triple/serviceOut">
                    <p><input type="password" name="userpw" id="userpw" placeholder="탈퇴를 원하시면 비밀번호를 입력해주세요" check_result="fail"><input type="button" id="pwcheck" value="확인"></p>
                    <p><input type="submit" id="sendit" value="탈퇴합니다"/></p>
                </form>
            </div>
        </div>
    </main>
    <!--메인 끝-->

<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->

<script>
    $(document).on('click', '#pwcheck', function () {
    $.ajax({
        url : "/api/user/pwCheck",
        method : "post",
        data : $('#userpw').serializeArray(),
        success : function(check) {
            if (check != 1) {
                alert("비밀번호를 다시 입력해주세요");
                $("#sendit").css({"backgroundColor" : "rgb(187, 187, 187)"});
                $('#userpw').attr("check_result","fail");
            } else {
                $("#sendit").css({"backgroundColor" : "#50e3c2"});
                $('#userpw').attr("check_result","success");
            }
        },
        error : function(xhr) {
            alert("에러코드 = " + xhr.status);
        }
    });
    });

</script>
</body>
</html>
