<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | FAQ</title>
    <link rel="stylesheet" href="/app/css/mypage_settings.css">
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->

    <!--메인-->
    <main class="container_all">
        <p class="mypage_title">MY PAGE | 설정</p>
        <div id="FAQ_content_box">
            <p class="FAQ">FAQ</p>
            <div class="content_box">
                <div id="FAQ_search_box">
                    <form class="search_p" action="">
                            <input id="search" type="text" placeholder="검색어를 입력하세요">
                    </form>
                    <p class="category_p"><a href="/Triple/mypage/settings/customer/faq">전체</a><a href="/Triple/mypage/settings/customer/faq/air">항공</a><a href="/Triple/mypage/settings/customer/faq/lodging">숙소</a><a href="/Triple/mypage/settings/customer/faq/tour">투어티켓</a><a href="/Triple/mypage/settings/customer/faq/service">서비스일반</a><a href="/Triple/mypage/settings/customer/faq/common">공통</a></p>
                </div>
                <div class="FAQ_list_box_main list_box_info" th:each="faq : ${faqList}">
                    <p class="list_title">
                        <span class="blue_text" th:text="'[ '+${faq.getFaqCategory()}+' ]'">[ 계정 관련 ]</span>
                        <a th:href="'/Triple/mypage/settings/customer/faq/'+${faq.getIdx()}" th:text="${faq.getTitle()}">예약은 어디서 볼 수 있나요?</a>
                    </p>
                </div>
            </div>
        </div>
    </main>
    <!--메인 끝-->

<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>
</html>