<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 마이페이지 정보수정</title>
    <link rel="stylesheet" href="./css/mypage_settings.css">
    <link rel="stylesheet" href="/member/mypage/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->
    
    <!--메인-->
    <main class="container_all">
        <div class="mainbox">
            <p class="mypage_title">MY PAGE | 설정</p>
            <div id="profile_box">
                <p><img src="./img/triple_london.svg" alt="">김사과</p>
                <form action="/member/mypage/mypage_settings/mypage_settings_profile.html">
                    <input type="password" placeholder="** 회원정보를 수정하려면 비밀번호를 입력하세요">
                </form>
            </div>
        </div>
        
    </main>
    <!--메인 끝-->

<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypagefooter"></div>
<!--푸터 끝-->
</body>
</html>
