<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 설정</title>
    <link rel="stylesheet" href="/app/css/mypage_settings.css">
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->

    <!--메인-->
    <main class="container_all">
        <p class="mypage_title">MY PAGE | 설정</p>
        <div id="main_content_box">
            <div class="setting_box">
                <p class="setting_title"><a href="/Triple/mypage/settings/getPassword">프로필 및 계정 설정</a></p>
            </div>
            <div class="setting_box">
                <input type="hidden" id="nickname" th:value="${nickname}"/>
                <p class="setting_title"><a href="">고객지원</a></p>
                <p class="setting_p"><a href=""><span>&#183;</span>버전정보 | 5.16.1</a></p>
                <p class="setting_p"><a href="/Triple/mypage/settings/notice"><span>&#183;</span>공지사항</a></p>
                <p class="setting_p"><a href="/Triple/mypage/settings/customer"><span>&#183;</span>고객센터/도움말</a></p>
                <p class="setting_p"><a href="/Triple/mypage/settings/info/company"><span>&#183;</span>회사소개</a></p>
            </div>
            <div class="setting_box">
                <p class="setting_title"><a href="">서비스 약관</a></p>
                <p class="setting_p"><a href="/Triple/mypage/settings/info/user"><span>&#183;</span>개인정보 처리방침</a></p>
                <p class="setting_p"><a href="/Triple/mypage/settings/info/service"><span>&#183;</span>서비스 이용약관</a></p>
                <p class="setting_p"><a href="/Triple/mypage/settings/info/map"><span>&#183;</span>위치정보 이용약관</a></p>
                <p class="setting_p"><a href="/Triple/mypage/settings/info/partner"><span>&#183;</span>파트너 상품 구매자 약관</a></p>
                <p class="setting_p"><a href="/Triple/mypage/settings/info/openSource"><span>&#183;</span>오픈소스 라이선스</a></p>
            </div>
            <div class="setting_box logout_service_out">
                <p class="setting_title"> <a th:if ="${session.email != null}" href="/Triple/logout">로그아웃</a> | <a href="/Triple/mypage/settings/serviceOut">서비스 탈퇴</a></p>
            </div>
        </div>
    </main>
    <!--메인 끝-->

    <!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>
</html>