<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 고객센터/도움말</title>
    <link rel="stylesheet" href="/app/css/mypage_settings.css">
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->

    <!--메인-->
    <main class="container_all">
        <p class="mypage_title">MY PAGE | 설정</p>
        <div id="main_content_box">
            <div class="list_box_main">
                <p class="mypage_subtitle"><a href="">고객지원 | 고객센터/도움말</a></p>
                <p class="mypage_subtitle">트리플 고객센터</p>
            </div>
            <div class="list_box_main">
                <p class="mypage_notice"><span class="mypage_notice_type">[공지]  </span><a href="/templates/pages/mypage/mypage_settings/mypage_notice_view.html"> 코로나 19항공권 취소 방법 및 서류 안내</a></p>
                <p class="mypage_notice"><span class="mypage_notice_type">[공지]  </span><a href="/templates/pages/mypage/mypage_settings/mypage_notice_view.html"> 거리두기 강화, 국내 항공권 예약 취소 안내</a></p>
            </div>
            <div class="list_box_main">
                <div class="head_area">
                    <p class="area_title">자주묻는 질문</p>
                    <p><a href="/Triple/mypage/settings/customer/faq">전체보기</a></p>
                </div>
                <div id="img_menu_box">
                    <div><a href="/templates/pages/mypage/mypage_settings/mypage_FAQ_list.html">
                        <img src="/lib/img/mypage_img/settings_img/icon_best.svg" alt="best_unclick">
                        <img src="/lib/img/mypage_img/settings_img/icon_best_click.svg" alt="best_click" style="display: none;" class="click_event">
                        <br>
                        <span class="menu_btn">BEST</span></a></div>
                    <div><a href="/Triple/mypage/settings/customer/faq/air"><img src="/lib/img/mypage_img/settings_img/icon_fly.svg" alt=""><br><span class="menu_btn">항공</span></a></div>
                    <div><a href="/Triple/mypage/settings/customer/faq/lodging"><img src="/lib/img/mypage_img/settings_img/icon_home.svg" alt=""><br><span class="menu_btn">숙소</span></a></div>
                    <div><a href="/Triple/mypage/settings/customer/faq/tour"><img src="/lib/img/mypage_img/settings_img/icon_tour_ticket.svg" alt=""><br><span class="menu_btn">투어·티켓</span></a></div>
                    <div><a href="/Triple/mypage/settings/customer/faq/service"><img src="/lib/img/mypage_img/settings_img/icon_service.svg" alt=""><br><span class="menu_btn">서비스 일반</span></a></div>
                    <div><a href="/Triple/mypage/settings/customer/faq/common"><img src="/lib/img/mypage_img/settings_img/icon_common.svg" alt=""><br><span class="menu_btn">공통</span></a></div>
                </div>
                <div class="list_area" >
                    <div th:each="faqList : ${faqList}">
                    <p class="customer_list_title"><a th:href="'/Triple/mypage/settings/customer/faq/'+${faqList.getIdx()}" th:text="${faqList.getTitle()}">Q 예약은 어디서 볼 수 있나요?</a></p>
                    </div>
                </div>
                    <p id="view_more"><a href="/Triple/mypage/settings/customer/faq">더보기</a></p>
            </div>
            <div id="button_box">
                <div id="flex_button">
                    <div><p><a href="/Tripe/mypage/reserve/air">항공 예약 문의</a></p></div>
                    <div><p><a href="/Tripe/mypage/reserve/lodging">숙소 예약 문의</a></p></div>
                    <div><p><a href="/Tripe/mypage/reserve/tour">투어 티켓 문의</a></p></div>
                </div>
                <div id="long_button"><button>서비스 일반 문의</button></div>
            </div>
        </div>
    </main>
    <!--메인 끝-->

<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>
</html>