<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 | 숙소상품목록</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="/app/css/admin.css">

</head>
<body>
<!--header-->
<div th:replace="fragement/adminTopbar :: adminTopbar"></div>
<!--header 끝-->

<!-- 사이드바-->
<section id="sidebar">
    <aside id="leftsidebar" class="sidebar">
        <ul class="side-menu">
            <li><a href="#"><i class='bx bxs-user-detail icon'></i>회원관리<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/userList">회원목록</a></li>
                    <li><a href="/Triple/admin/user/term">회원가입</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bx-list-check icon'></i>예약조회<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">

                    <li><a href="/Triple/admin/booking/fly">항공권</a></li>
                    <li><a href="/Triple/admin/booking/lodging">숙소</a></li>
                    <li><a href="/Triple/admin/booking/package">패키지</a></li>

                </ul>
            </li>
            <li><a href="#"><i class='bx bxs-folder-plus icon'></i>신규등록<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/airline_register">항공사 신규 등록</a></li>
                    <li><a href="/Triple/aircraft_register">항공기 신규 등록</a></li>
                    <li><a href="/Triple/airportList">취항지 목록</a></li>
                    <li><a href="/Triple/destination_register">취항지 신규 등록</a></li>
                    <li><a href="/Triple/lodging_company">숙소 신규 등록</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bxs-inbox icon'></i>상품등록<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/airline_select">항공권</a></li>
                    <li><a href="/Triple/room_register">숙소</a></li>
                    <li><a href="/Triple/package_register">패키지</a></li>

                </ul>
            </li>
            <li><a href="#" style="background-color: white; color:#0098A1;"><i class='bx bx-list-check icon'></i>상품목록<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown show">
                    <li><a href="/Triple/admin/airLineList">항공권</a></li>
                    <li><a href="/Triple/admin/lodgingList" style="color:darkslategray; font-weight: bold;">숙소</a></li>
                    <li><a href="/Triple/admin/packageList">패키지</a></li>
                </ul>
            </li>

            </li>
            <li><a href="#"><i class='bx bxs-coupon icon'></i>쿠폰<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/couponList">목록</a></li>
                    <li><a href="/Triple/admin/coupon/register">등록</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bx-gift icon'></i>이벤트<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/eventList">목록</a></li>
                    <li><a href="/Triple/admin/event/register">등록</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bx-list-ul icon'></i>공지사항<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/noticeList">목록</a></li>
                    <li><a href="/Triple/admin/notice/register">등록</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bxs-inbox icon'></i>매거진<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/magazineList">목록</a></li>
                    <li><a href="/Triple/admin/magazine_register">등록</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bx-map icon'></i>여행스팟<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/spotList">목록</a></li>
                    <li><a href="/Triple/tourism_register">관광지 등록</a></li>
                    <li><a href="/Triple/restaurant_register">맛집 등록</a></li>
                    <li><a href="/Triple/guide_register">가이드 등록</a></li>
                </ul>
            </li>
            <li><a href="/Triple/admin/payment"><i class='bx bx-credit-card icon'></i>결제</a>

            </li>
            <li><a href="#"><i class='bx bx-question-mark icon'></i>문의<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/inquiryList">1:1 문의</a></li>
                    <li><a href="/Triple/admin/faqList">FAQ</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bx-user icon'></i>관리자 관리<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/adminList">목록</a></li>
                    <li><a href="/Triple/admin/admin_join">등록</a></li>
                </ul>
            </li>
            <li><a href="/Triple/admin/admin_login"><i class='bx bx-log-out icon'></i>로그아웃</a></li>
        </ul>
    </aside>
</section>
<!--사이드바 끝-->
<!--타이틀 및 검색조회바-->
<section class="content2">
    <div class="content2-fluid">
        <div class="header_box">
            <h2>상품목록 | 숙소</h2>
            <nav>
                <form action="#">
                    <div class="form-group">
                        <div class="admin_productlist_select">
                            <select name="" class="">
                                <option value="여행지">여행지</option>
                                <option value="하와이">하와이</option>
                                <option value="미국">미국</option>
                                <option value="일본">일본</option>
                                <option value="more">.....</option>
                            </select>
                            <select name="" class="">
                                <option value="도시">도시</option>
                                <option value="도쿄">도쿄</option>
                                <option value="요코하마">요코하마</option>
                                <option value="교토">교토</option>
                                <option value="more">.....</option>
                            </select>
                            <select name="" class="">
                                <option value="숙소유형">숙소유형</option>
                                <option value="호텔">호텔</option>
                                <option value="리조트">리조트</option>
                                <option value="모텔">모텔</option>
                                <option value="펜션">펜션</option>
                                <option value="카라반">카라반</option>
                                <option value="글램핑">글램핑</option>
                            </select>
                            <select name="" class="">
                                <option value="검색분류">검색분류</option>
                                <option value="상품명">상품명</option>
                                <option value="상품번호">상품번호</option>
                            </select>
                            <div class="admin_productlist_search1"><input class="admin_productlist_search2" type="text" placeholder="검색어를 입력하세요"></div>
                            <div><button class="admin_productlist_searchbtn"type="submit">검색</button></div>
                        </div>

                    </div>
                </form>
            </nav>
        </div>
        <!--타이틀 및 검색조회바 끝-->
        <!--숙소 리스트 테이블-->
        <table class="tbList">
            <tr>
                <th>숙소번호</th>
                <th>숙소명</th>
                <th>등급</th>
                <th>체크인</th>
                <th>별점</th>
            </tr>
            <tr th:each="lodging : ${lodgingList}">
                <td><a th:href="'/Triple/admin/lodgingList/view/'+${lodging.getIdx()}" th:text="${lodging.idx}">서울 시그니니엘 프리미어 더블(조식포함)</a></td>
                <td th:text="${lodging.name}">시그니엘</td>
                <td th:text="${lodging.rank}">등급</td>
                <td th:text="${lodging.checkIn}"></td>
                <td th:text="${lodging.totalStar}">별점</td>
            </tr>
        </table>
        <!--숙소리스트 테이블 끝-->
        <!--넘버링-->
        <div class="pageNum">
            <p>1 2 3 4 5</p>
        </div>
        <!--넘버링 끝-->
    </div>
</section>

<script src="/app/js/script.js"></script>
</body>
</html>