<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 | 항공상품목록</title>
    <link rel="stylesheet" href="/app/css/admin.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

        </head>
<body>
    <!--header-->
    <div th:replace="fragement/adminTopbar :: adminTopbar"></div>
<!--header 끝-->

    <!-- 사이드바-->
    <section id="sidebar">
        <aside id="leftsidebar" class="sidebar">
            <ul class="side-menu">
                <li><a href="#"><i class='bx bxs-user-detail icon'></i>회원관리<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/userList">회원목록</a></li>
                        <li><a href="/Triple/admin/user/term">회원가입</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-list-check icon'></i>예약조회<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">

                        <li><a href="/Triple/admin/booking/fly">항공권</a></li>
                        <li><a href="/Triple/admin/booking/lodging">숙소</a></li>
                        <li><a href="/Triple/admin/booking/package">패키지</a></li>

                    </ul>
                </li>
                <li><a href="#"><i class='bx bxs-folder-plus icon'></i>신규등록<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/airline_register">항공사 신규 등록</a></li>
                        <li><a href="/Triple/aircraft_register">항공기 신규 등록</a></li>
                        <li><a href="/Triple/airportList">취항지 목록</a></li>
                        <li><a href="/Triple/destination_register">취항지 신규 등록</a></li>
                        <li><a href="/Triple/lodging_company">숙소 신규 등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bxs-inbox icon'></i>상품등록<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/airline_select">항공권</a></li>
                        <li><a href="/Triple/room_register">숙소</a></li>
                        <li><a href="/Triple/package_register">패키지</a></li>

                    </ul>
                </li>
                <li><a href="#" style="background-color: white; color:#0098A1;"><i class='bx bx-list-check icon'></i>상품목록<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown show">
                        <li><a href="/Triple/admin/airLineList" style="color:darkslategray; font-weight: bold;">항공권</a></li>
                        <li><a href="/Triple/admin/lodgingList">숙소</a></li>
                        <li><a href="/Triple/admin/packageList">패키지</a></li>

                    </ul>
                </li>

                </li>
                <li><a href="#"><i class='bx bxs-coupon icon'></i>쿠폰<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/couponList">목록</a></li>
                        <li><a href="/Triple/admin/coupon/register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-gift icon'></i>이벤트<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/eventList">목록</a></li>
                        <li><a href="/Triple/admin/event/register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-list-ul icon'></i>공지사항<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/noticeList">목록</a></li>
                        <li><a href="/Triple/admin/notice/register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bxs-inbox icon'></i>매거진<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/magazineList">목록</a></li>
                        <li><a href="/Triple/admin/magazine_register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-map icon'></i>여행스팟<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/spotList">목록</a></li>
                        <li><a href="/Triple/tourism_register">관광지 등록</a></li>
                        <li><a href="/Triple/restaurant_register">맛집 등록</a></li>
                        <li><a href="/Triple/guide_register">가이드 등록</a></li>
                    </ul>
                </li>
                <li><a href="/Triple/admin/payment"><i class='bx bx-credit-card icon'></i>결제</a>
                    
                </li>
                <li><a href="#"><i class='bx bx-question-mark icon'></i>문의<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/inquiryList">1:1 문의</a></li>
                        <li><a href="/Triple/admin/faqList">FAQ</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-user icon'></i>관리자 관리<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/adminList">목록</a></li>
                        <li><a href="/Triple/admin/admin_join">등록</a></li>
                    </ul>
                </li>
                <li><a href="/Triple/admin/admin_login"><i class='bx bx-log-out icon'></i>로그아웃</a></li>
            </ul>
        </aside>
    </section>
    <!--사이드바 끝-->
    
    <section class="content2">
        <div class="content2-fluid">
            <!--타이틀 및 검색조회바-->
            <div class="header_box">
                <h2>상품목록 | 항공</h2>
                <nav>
                    <form action="#">
                        <div class="form-group">
                            <div class="admin_productlist_select">
                                <select>
                                    <option value="출발지">출발지</option>
                                    <option value="인천공항">인천공항</option>
                                    <option value="김포공항">김포공항</option>
                                    <option value="제주공항">제주공항</option>
                                    <option value="more">.....</option>
                                </select>
                                <select>
                                    <option value="도착지">도착지</option>
                                    <option value="제주도">제주도</option>
                                    <option value="하와이">하와이</option>
                                    <option value="일본">일본</option>
                                    <option value="more">.....</option>
                                </select>
                                <select>
                                    <option value="항공사">항공사</option>
                                    <option value="대한항공">대한항공</option>
                                    <option value="제주항공">제주항공</option>
                                    <option value="진에어">진에어</option>
                                    <option value="more">.....</option>
                                </select>
                                <select>
                                    <option value="검색분류">검색분류</option>
                                    <option value="상품명">상품명</option>
                                    <option value="상품번호">상품번호</option>
                                </select>
                                <div class="admin_productlist_search1"><input class="admin_productlist_search2" type="text" placeholder="검색어를 입력하세요"></div>
                                <div><button class="admin_productlist_searchbtn"type="submit">검색</button></div>
                            </div>
                        </div>
                    </form>
                </nav>
            </div>
            <!--타이틀 및 검색 조회바 끝-->
            <!--항공 리스트 테이블-->
            <table class="tbList">
                <tr>
                    <th><input type="checkbox" id="checkAll"></th>
                    <th>티켓번호</th>
                    <th>출발공항</th>
                    <th>도착공항</th>
                    <th>국내/국외</th>
                    <th>가격(이코노미)</th>
                    <th>항공사</th>
                    <th>항공기</th>
                </tr>
                <tr th:each="airTicket : ${airTicketList}">
                    <td><input class="air" type="checkbox"></td>
                    <td><a th:href="'/Triple/admin/airTicketList/view/'+${airTicket.getIdx()}" th:text="${airTicket.idx}"></a></td>
                    <td th:text="${airTicket.departureAirport}"></td>
                    <td th:text="${airTicket.landingAirport}"></td>
                    <td th:text="${airTicket.airRoute}"></td>
                    <td th:text="${airTicket.economyAdultPrice}"></td>
                    <td th:text="${airTicket.airlineName}"></td>
                    <td th:text="${airTicket.aircraftName}"></td>
                </tr>
            </table>
            <!--항공 리스트 테이블 끝-->
            <!--버튼리스트-->
            <div class="btnlist">
                <button value="선택삭제">선택삭제</button>
                <button value="판매중지">판매중지</button>
            </div>
            <!--버튼 리스트 끝-->
            <!--테이블 넘버링-->
            <div class="pageNum">
                <p>1 2 3 4 5</p>
            </div>
            <!--테이블 넘버링-->
        </div>
    </section>

    <script src="/app/js/script.js"></script>
    <script>
        $(document).ready(function(){
        //약관동의 체크박스 전체 선택
            $("#checkAll").click(function() {
                if($("#checkAll").is(":checked")) $("input[class='air']").prop("checked", true);
                else $("input[class='air']").prop("checked", false);
            });
            $("input[class='air']").click(function() {
                var total = $("input[class='air']").length;
                var checked = $("input[class='air']:checked").length;
        
                //개별선택 해제시 전체체크박스 해제
                if(total != checked) $("#checkAll").prop("checked", false);
                else $("#checkAll").prop("checked", true); 
            });
    });
    </script>
</body>
</html>