<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 일본패키지</title>
    <link rel="stylesheet" href="/app/css/travel_package.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!--header 시작-->
    <div th:replace="fragement/header :: header"></div>
    <!--header 끝-->
    <div id="travel_package_img"></div>
    <main>
        <div id="travel_package_main">
            <div id="travel_package_menus">
                <a href="#hokkaido">북해도(훗카이도)</a>
                <a href="#osaka">오사카</a>
            </div>
            <div id="travel_package_contents">
                <p id="hokkaido" class="city">북해도(훗카이도)</p>
                <div class="travel_package_list" th:each="hokkaido : ${hokkaidoList}">
                    <div class="packagebox">
                        <div class="packagebox_image"><a th:href="'/Triple/package/view/'+ ${hokkaido.getIdx()}"><img th:src="@{${hokkaido.getUploadPath()}}" alt=""></a></div>
                        <div class="pacagebox_innerdiv">
                            <div class="merchandise_mark">
                                <div><p th:text="${hokkaido.getKeyword()}"></p></div>
                            </div>
                            <p class="product_name"><a th:href="'/Triple/package/view/'+ ${hokkaido.getIdx()}"  th:text="${hokkaido.getTitle()}"></a></p>
                            <p class="product_star"><img src="/lib/img/travel_package_img/ic_star_24px.png" alt="">5</p>
                            <p class="product_price" th:text="${hokkaido.getAdultPr()}+'원'"></p>
                        </div>
                    </div>
                </div>
                <p id="osaka" class="city">오사카</p>
                <div class="travel_package_list" th:each="osaka : ${osakaList}">
                    <div class="packagebox">
                        <div class="packagebox_image"><a th:href="'/Triple/package/view/'+ ${osaka.getIdx()}"><img th:src="@{${osaka.getUploadPath()}}" alt=""></a></div>
                        <div class="pacagebox_innerdiv">
                            <div class="merchandise_mark">
                                <div><p th:text="${osaka.getKeyword()}"></p></div>
                            </div>
                            <p class="product_name"><a th:href="'/Triple/package/view/'+ ${osaka.getIdx()}"  th:text="${osaka.getTitle()}"></a></p>
                            <p class="product_star"><img src="/lib/img/travel_package_img/ic_star_24px.png" alt="">5</p>
                            <p class="product_price" th:text="${osaka.getAdultPr()}+'원'"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- footer 시작 -->
    <footer th:replace="fragement/footer :: footer"></footer>
    <!-- footer 끝 -->
</body>
</html>