<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 미국패키지</title>
    <link rel="stylesheet" href="/app/css/travel_package.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!--header 시작-->
    <div th:replace="fragement/header :: header"></div>
    <!--header 끝-->
    <div id="travel_package_img"></div>
    <main>
        <div id="travel_package_main">
            <div id="travel_package_menus">
                <a href="#hawaii">하와이</a>
                <a href="#LA">LA</a>
                <a href="#newyork">뉴욕</a>
            </div>
            <div id="travel_package_contents">
                <p id="hawaii" class="city">하와이</p>
                <div class="travel_package_list" th:each="hawaii : ${hawaiiList}">
                <div class="packagebox">
                    <div class="packagebox_image"><a th:href="'/Triple/package/view'+${hawaii.getIdx()}"><img th:src="@{${hawaii.getUploadPath()}}" alt=""></a></div>
                    <div class="pacagebox_innerdiv">
                        <div class="merchandise_mark">
                            <div><p th:text="${hawaii.getKeyword()}"></p></div>
                        </div>
                        <p class="product_name"><a th:href="'/Triple/package/view'+${hawaii.getIdx()}" th:text="${hawaii.getTitle()}"></a></p>
                        <p class="product_star"><img src="/lib/img/travel_package_img/ic_star_24px.png" alt="">5</p>
                        <p class="product_price" th:text="${hawaii.getAdultPr()}+'원'"></p>
                    </div>
                </div>
                </div>
                <p id="LA" class="city">LA</p>
                <div class="travel_package_list" th:each="LA : ${LAList}">
                    <div class="packagebox">
                        <div class="packagebox_image"><a th:href="'/Triple/package/view'+${LA.getIdx()}"><img th:src="@{${LA.getUploadPath()}}" alt=""></a></div>
                        <div class="pacagebox_innerdiv">
                            <div class="merchandise_mark">
                                <div><p th:text="${LA.getKeyword()}"></p></div>
                            </div>
                            <p class="product_name"><a th:href="'/Triple/package/view'+${LA.getIdx()}" th:text="${LA.getTitle()}"></a></p>
                            <p class="product_star"><img src="/lib/img/travel_package_img/ic_star_24px.png" alt="">5</p>
                            <p class="product_price" th:text="${LA.getAdultPr()}+'원'"></p>
                        </div>
                    </div>
                </div>
                <p id="newyork" class="city">뉴욕</p>
                <div class="travel_package_list" th:each=" newYork : ${newYorkList}">
                    <div class="packagebox">
                        <div class="packagebox_image"><a th:href="'/Triple/package/view'+${newYork.getIdx()}"><img th:src="@{${newYork.getUploadPath()}}" alt=""></a></div>
                        <div class="pacagebox_innerdiv">
                            <div class="merchandise_mark">
                                <div><p th:text="${newYork.getKeyword()}"></p></div>
                            </div>
                            <p class="product_name"><a th:href="'/Triple/package/view'+${newYork.getIdx()}" th:text="${newYork.getTitle()}"></a></p>
                            <p class="product_star"><img src="/lib/img/travel_package_img/ic_star_24px.png" alt="">5</p>
                            <p class="product_price" th:text="${newYork.getAdultPr()}+'원'"></p>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <!-- footer 시작 -->
    <footer th:replace="fragement/footer :: footer"></footer>
    <!-- footer 끝 -->
</body>
</html>