<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 유럽패키지</title>
    <link rel="stylesheet" href="/app/css/travel_package.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!--header 시작-->
    <div th:replace="fragement/header :: header"></div>
    <!--header 끝-->
    <div id="travel_package_img"></div>
    <main>
        <div id="travel_package_main">
            <div id="travel_package_menus">
                <a href="#spain">스페인</a>
                <a href="#turkey">터키</a>
                <a href="#swiss">스위스</a>
                <a href="#italy">이탈리아</a>
                <a href="#croatia">크로아티아</a>
            </div>
            <div id="travel_package_contents">
                <p id="spain" class="city">스페인</p>
                    <div class="travel_package_list" th:each="spain : ${spainList}">
                        <div class="packagebox">
                            <div class="packagebox_image"><a th:href="'/Triple/package/view/'+ ${spain.getIdx()}"><img th:src="@{${spain.getUploadPath()}}" alt=""></a></div>
                            <div class="pacagebox_innerdiv">
                                <div class="merchandise_mark">
                                    <div><p th:text="${spain.getKeyword()}"></p></div>
                                </div>
                                <p class="product_name"><a th:href="'/Triple/package/view/'+ ${spain.getIdx()}"  th:text="${spain.getTitle()}"></a></p>
                                <p class="product_star"><img src="/lib/img/travel_package_img/ic_star_24px.png" alt="">5</p>
                                <p class="product_price" th:text="${spain.getAdultPr()}+'원'"></p>
                            </div>
                        </div>
                    </div>
                <p id="turkey" class="city">터키</p>
                        <div class="travel_package_list" th:each="turkey : ${turkeyList}">
                            <div class="packagebox">
                                <div class="packagebox_image"><a th:href="'/Triple/package/view/'+ ${turkey.getIdx()}"><img th:src="@{${turkey.getUploadPath()}}" alt=""></a></div>
                                <div class="pacagebox_innerdiv">
                                    <div class="merchandise_mark">
                                        <div><p th:text="${turkey.getKeyword()}"></p></div>
                                    </div>
                                    <p class="product_name"><a th:href="'/Triple/package/view/'+ ${turkey.getIdx()}"  th:text="${turkey.getTitle()}"></a></p>
                                    <p class="product_star"><img src="/lib/img/travel_package_img/ic_star_24px.png" alt="">5</p>
                                    <p class="product_price" th:text="${turkey.getAdultPr()}+'원'"></p>
                                </div>
                            </div>
                        </div>
                <p id="swiss" class="city">스위스</p>
                        <div class="travel_package_list" th:each="swiss : ${swissList}">
                            <div class="packagebox">
                                <div class="packagebox_image"><a th:href="'/Triple/package/view/'+ ${swiss.getIdx()}"><img th:src="@{${swiss.getUploadPath()}}" alt=""></a></div>
                                <div class="pacagebox_innerdiv">
                                    <div class="merchandise_mark">
                                        <div><p th:text="${swiss.getKeyword()}"></p></div>
                                    </div>
                                    <p class="product_name"><a th:href="'/Triple/package/view/'+ ${swiss.getIdx()}"  th:text="${swiss.getTitle()}"></a></p>
                                    <p class="product_star"><img src="/lib/img/travel_package_img/ic_star_24px.png" alt="">5</p>
                                    <p class="product_price" th:text="${swiss.getAdultPr()}+'원'"></p>
                                </div>
                            </div>
                        </div>
                <p id="italy" class="city">이탈리아</p>
                <div class="travel_package_list" th:each="italy : ${italyList}">
                    <div class="packagebox">
                        <div class="packagebox_image"><a th:href="'/Triple/package/view/'+ ${italy.getIdx()}"><img th:src="@{${italy.getUploadPath()}}" alt=""></a></div>
                        <div class="pacagebox_innerdiv">
                            <div class="merchandise_mark">
                                <div><p th:text="${italy.getKeyword()}"></p></div>
                            </div>
                            <p class="product_name"><a th:href="'/Triple/package/view/'+ ${italy.getIdx()}"  th:text="${italy.getTitle()}"></a></p>
                            <p class="product_star"><img src="/lib/img/travel_package_img/ic_star_24px.png" alt="">5</p>
                            <p class="product_price" th:text="${italy.getAdultPr()}+'원'"></p>
                        </div>
                    </div>
                </div>
                <p id="croatia" class="city">크로아티아</p>
                <div class="travel_package_list" th:each="croa : ${croatia}">
                    <div class="packagebox">
                        <div class="packagebox_image"><a th:href="'/Triple/package/view/'+ ${croa.getIdx()}"><img th:src="@{${croa.getUploadPath()}}" alt=""></a></div>
                        <div class="pacagebox_innerdiv">
                            <div class="merchandise_mark">
                                <div><p th:text="${croa.getKeyword()}"></p></div>
                            </div>
                            <p class="product_name"><a th:href="'/Triple/package/view/'+ ${croa.getIdx()}"  th:text="${croa.getTitle()}"></a></p>
                            <p class="product_star"><img src="/lib/img/travel_package_img/ic_star_24px.png" alt="">5</p>
                            <p class="product_price" th:text="${croa.getAdultPr()}+'원'"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- footer 시작 -->
    <footer th:replace="fragement/footer :: footer"></footer>
    <!-- footer 끝 -->
</body>
</html>