<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 상세보기</title>

    <link rel="stylesheet" href="/app/css/tour_ticket.css">
    <link rel="stylesheet" href="/app/css/common.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
</head>

<body>
<!--header 시작-->
<div th:replace="fragement/header :: header"></div>
<!--header 끝-->
<div id="main" class="container">
    <section class="main-visual wide-section">
        <img src="/static/lib/img/ticket_img/view_visual.jpg" alt="">
    </section>
    <!--상품타이틀-->
    <section class="info-card flex flex-between">
        <div class="info-wrap">
            <div class="tag-wrap">
                <button th:text="${package.getKeyword()}"></button>
            </div>

            <h1 th:text="${package.getTitle()}"></h1>

            <div class="flex">
                <!--왼쪽 박스-->
                <div class="left-wrap">
                    <p>
                        <img src="/static/lib/img/ticket_img/icon_heart_red.svg" alt="">
                        <span class="heart">155</span>
                        <span>★★★★★</span> (331)
                        <span class="star">★★★★★</span>
                        <a href="#">리뷰보기 ></a>

                    </p>
                    <p><img src="/static/lib/img/ticket_img/icon_pin_gray.svg" alt=""> 괌</p>
                    <button class="flex flex-between coupon">
                        <p><span>쿠폰할인</span> 최대 할인 쿠폰 적용중</p>
                        <a href="#">쿠폰받기</a>
                    </button>
                    <button class="flex flex-between discount">
                        <p><span>결제혜택</span> 카드 결제 최대 1만원 할인</p>
                        <a href="#">혜택보기</a>
                    </button>
                </div>
                <!--왼쪽 박스 끝-->
                <!--오른쪽 박스-->
                <div class="right-wrap">
                    <h1 th:text="${package.getAdultPr()} + '원'"></h1>
                    <a href="/templates/pages/tour_ticket/tourticket_calendar.html"><button class="submit">예약하기</button></a>
                </div>
                <!--오른쪽 박스 끝-->
            </div>
        </div>

        <div class="action-wrap flex flex-column">
            <button><img src="/lib/img/ticket_img/icon_heart.svg" alt="">저장하기</button>
            <button><img src="/lib/img/ticket_img/icon_calendar.svg" alt="">일정추가</button>
            <button><img src="/lib/img/ticket_img/icon_star.svg" alt="">리뷰쓰기</button>
            <button><img src="/lib/img/ticket_img/icon_share.svg" alt="">공유하기</button>
        </div>
    </section>
    <!--상품타이틀 끝-->
    <section class="tour-desc wide-section">
        <!--상품정보-->
        <!--상품정보 끝-->
        <!--프로그램 안내-->
        <article>
            <h1>프로그램</h1>
            <p th:text="${package.getProgram()}">
            </p>
        </article>
        <!--프로그램 안내 끝-->
        <!--상품 사전 안내-->
        <article class="last">
            <ul class="checklist">
                <li>- 08:30 호텔 픽업 (정확한 픽업 시간은 전날 카카오톡으로 안내드립니다.) </li>
                <li>- 09:00 AMC(클리닉)도착 및 검사 지행(30분 ~ 1시간 소요) </li>
                <li>- 다음날 오후, 결과지 발급 및 대리 수령 후 카카오톡으로 전송 </li>
                <li>- 현재 검사비용 무료. 검사날 준비물을 꼭 책여 와주셔야 무료로 검사를 진행할 수 있습니다. <br> (준비물 : 여권사본(사진가능) 프린트, 비행 왕복 e 티켓 프린트) </li>
                <li>- 결과지는 켈리네에서 직접 받아 전달해 드립니다. 호텔 프론트에 전달 or 공항 샌딩 시 전달 중 택1</li>
            </ul>

            <div class="img-wrap">
                <img th:src="@{${package.getUploadPath()}}" alt="">
            </div>

            <div class="flex Included">
                <h2>포함사항</h2>
                <p th:text="${package.getContained()}"></p>
                <h2>불포함사항</h2>
                <p th:text="${package.getNotContained()}"></p>
            </div>

            <h2>취소/환불 규정</h2>
            <ul class="refundPolicy">
                <li>- 이용 예정 7일전까지 취소 시, 100% 환불 가능합니다. </li>
                <li>- 이용 예정 6일전~당일 취소시, 환불 불가능합니다. </li>
                <li>- 단, 취소 처리는 영업일 기준 09:00 ~ 17:00 이며, 토, 일요일 및 공휴일은 제외입니다. </li>
                <li>- 17:00 이후 요청된 건은 다음날 접수로 간주되며 주말 및 공휴일에 접수된 건은 다음 영업일에 접수 처리됩니다.</li>
            </ul>
        </article>
        <!--상품 사전 안내 끝-->
    </section>
    <!--상품 안내 팝업-->
    <!--상품 안내 팝업 끝-->
    <!--리뷰쓰기-->
    <section class="review-wrap">
        <div class="review-card flex flex-between">
            <div class="review-info">
                <h1>리뷰</h1>
                <p>리뷰쓰고 포인트 받자!</p>
                <p class="highlight">여행자 클럽 최대 3포인트!</p>
            </div>

            <div class="review-point">
                <!-- <p class="star">★ ★ ★ ★ ★</p> -->
                <span class="star">
            ★★★★★
            <span>★★★★★</span>
            <input type="range" oninput="drawStar(this)" value="1" step="1" min="0" max="10">
          </span>
                <p>투어·티켓에 만족하셨나요?</p>

                <button>리뷰쓰고 포인트 받으러 가기 <img src="/static/lib/img/ticket_img/icon_pen.svg" alt=""></button>
            </div>
        </div>
    </section>
    <!--리뷰쓰기 끝-->
</div>
<!-- footer 시작 -->
<footer th:replace="fragement/footer :: footer"></footer>
<!-- footer 끝 -->
<script>
    $('document').ready(function () {
        $('.button-wrap button').on('click', function () {
            $(this).toggleClass('active');
        });

        $("#tabs").tabs({
            collapsible: true,
            active: false,
            select: function (event, ui) {
                $(ui.panel).animate({ opacity: 0.1 }, 500);
            },
            show: function (event, ui) {
                $(ui.panel).animate({ opacity: 1.0 }, 500);
            }
        });

        $('.ui-tabs-tab a').on('click', function () {
            if ($(this).parent().hasClass('ui-tabs-active')) {
                $(this).parents('#tabs').addClass('flex');
            } else {
                $(this).parents('#tabs').removeClass('flex');
            }
        });
    });

    const drawStar = (target) => {
        document.querySelector(`.star span`).style.width = `${target.value * 10}%`;
    }
</script>
</body>

</html>