<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 회사소개</title>
    <link rel="stylesheet" href="/app/css/mypage_settings.css">
    <link rel="stylesheet" href="/app/css/style.css">
    <link rel="stylesheet" href="/app/css/settings_css.css">

</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->
<!--메인-->
<main class="container_all">
    <p class="mypage_title">설정 | 회사 소개</p>
    <div id="FAQ_content_box">
        <p class="FAQ">"여행을 여행답게"<br> 당신만을 생각하는 트리플을 소개합니다</p>
        <div class="list_box_main list_box_info">
            <div class="company_img"></div>
        </div>
        <div class="list_box" style="height: 1500px;">
            <p class="list_box_title">여행을 여행답게</p>
            <div class="list_box_content">
                <p class="padding_text">낯선 곳으로 향하는 발걸음은 항상 두렵고 설레죠. 즐거움을 위해 떠나는 여행이지만 그 과정은 누구에게나 만만치 않아요. 소중한 당신의 여행에 두려움은 지우고 설렘만 남도록. 어려운, 복잡한, 귀찮은, 여행 앞에 이런 단어들을 지우고자 합니다. 손쉽고 즐거운 여행을 위해.</p>
                <p class="padding_text" style="color: rgb(0, 255, 174);">트리플이 여행을 여행답게 만듭니다.</p>
            </div>
            <p class="list_box_title">여행자를 연구합니다</p>
            <div class="list_box_content">
                <p class="padding_text" style="color: rgb(0, 255, 174);">TRIP + PEOPLE = TRIPLE</p>
                <p class="padding_text">우리는 언제나 여행자에게서 답을 찾습니다. 여행에서 겪는 고민, 걱정, Pain point. 단지 여행만을 생각하지 않고, 여행하는 사람을 바라보면 솔루션은 꽤 명쾌해집니다. 여행자들이 더 쉽고 편하게 여행할 수 있도록,여행자를 연구하고 또 수많은 데이터를 분석하면서 새로운 기술을 적용하며 진화해갑니다. 여행과 트리플 팀의 기술력이 만나 완전히 새로운 여행을 만듭니다. 수백만의 여행자를 연구한 트리플이 만드는 여행의 새로운 기술들. 지금 스마트폰 앱을 켜고 직접 경험해보시길 바랍니다. </p>
            </div>
            <p class="list_box_title">여행의 시작부터 끝까지</p>
            <div class="list_box_content">
                <p class="padding_text"> 항공권을 사고, 숙소만 예약한다고 여행이 끝나지는 않습니다. 우리의 진짜 여행은 그 다음부터 시작되죠. 가고 싶은 곳을 정하고, 숙소와 교통편을 예약하고, 일행과 일정을 짜고, 상황에 맞춰 새로운 결정을 내리기도 합니다. 이 모든 과정이 여행이기에, 트리플은 여행의 시작부터 끝까지를 함께 합니다. 여행도 트리플과 함께라면, 앱 하나로 충분합니다. 하지만, 원한다면 웹으로도 예약을 할 수 있게 되었죠.</p>
                <div class="company2_img"></div>
            </div>
            <p class="list_box_title">NEXT, 여행은 트리플</p>
            <div class="list_box_content">
                <p class="padding_text"> 다음을 생각하는 건 꽤 중요한 일입니다. 이정표이자 목표가 되니까요. 우리는 여행자를 위한 하나의 여행 플랫폼, 나아가 여행하면 떠오르는 대명사가 되고자 합니다. 여행자와 여행자를 연결하고 여행자와 여행 셀러를 자유롭게 연결해 새로운 가치를 만드는 여행 플랫폼. 남녀노소 누구나 여행이 생각날 때 찾는 웹사이트. 앞으로의 여행은 트리플과 함께하세요.</p>
            </div>
            <p class="list_box_title">사랑하는 것이 일이 될 수 있다</p>
            <div class="list_box_content">
                <p class="padding_text"> 여기 이곳엔 여행을 사랑하는 사람들이 모였습니다. 그리고 그 마음으로 트리플을 만듭니다. 이걸 바로 덕업 일치의 실현이라고 하죠. 하지만 그 이면의 실력은 만만치 않습니다. 네이버, 카카오, 쿠팡 등 국내 유수 IT 기업 출신 최고의 인재들이 모여 여행자를 위한 답을 끊임없이 연구하고 방법을 제시하고 있습니다.</p>
            </div>


            <p class="list_box_title" style="color: rgb(0, 255, 174); padding-top: 60px;" >Contact</p>
            <div class="list_box_content">
                <p class="padding_text"> 고객문의 | help@triple-corp.com | 1588-2539 (오전 9시 ~ 오후 6시, 연중무휴) </p>
                <p class="padding_text"> 제휴문의 | triple@triple-corp.com </p>
                <p class="padding_text"> 광고문의 | ads@triple-corp.com </p>
                <p class="padding_text"> 채용문의 | jobs@triple-corp.com </p>
                <p class="padding_text"> 기타사항 | fax : 031-705-8771 | 주소 : 경기도 성남시 분당구 판교역로 14번길 16민프라자 3층</p>
            </div>
        </div>
        <div id="back_button"><p><a href="/Triple">TRIPLE</a></p></div>
    </div>
</main>
<!--메인 끝-->
<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>
</html>