<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/css/mypage_travels.css">
    <script src="/app/js/mypage_travels.js"></script>
    <title>TRIPLE | 마이페이지 여행기작성</title>
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->

    <!--메인-->
    <main class="container_all">
        <p class="mypage_title">MY PAGE</p>
        <div class="profile">
            <div class="profile_area">
                <div>
                    <img src="/lib/img/mypage_img/mypage.svg" id="pro_img">
                </div>
                
                <div class="form_box">
                    <div class="pro_box1">
                        <form action="#" name="regform" id="regform" class="regform">
                            <div class="pro_box1_left">
                                <input type="text" id="rename" name="rename" placeholder="김사과">
                            </div>
                        </form>
                    </div>
                    <div class="pro_box2">
                        <p id="done">
                            <a href="/templates/pages/mypage/travels/travels_write.html">여행기쓰기</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="content_box">
            <div class="content_list">
                <div class="list">
                    <li><a href="/Triple/mypage">내 여행</a></li>
                    <li><a href="/Triple/mypage/review">리뷰</a></li>   <!--review-->
                    <li><a href="/Triple/mypage/travels"><span id="choice">여행기</span></a></li> <!--travels-->
                </div>
                <div class="list">
                    <li><a href="/Triple/mypage/mysave">내 저장</a></li>    <!--my_save-->
                    <li><a href="/Triple/mypage/reserve/air">내 예약</a></li>    <!---->
                    <li><a href="/Triple/mypage/coupon">쿠폰함</a></li> <!---->
                </div>
                <div class="list">
                    <li><a href="/Triple/mypage/settings">설정</a></li>
                </div>
            </div>

            <div class="content_list2">
                <p class="content_list2_top">어떤 여행을 공유하시겠어요? </p>
                <p class="content_list2_next" onclick="chkbox()">다음</p>
                <p class="content_list_title">지난 여행</p>
                <p>
                    <div class="content_list_box">
                        <div>
                            <img src="/lib/img/mypage_img/mypage.svg" id="pro_img">
                        </div>
                        <div class="content_list_box_right" id="listbox" >
                            <p>제주여행</p>
                            <p>2022.10.21 - 2022.10.24 | 1명과 함께</p>
                        </div>
                        <div>
                            <input type="checkbox"  id="chkbox">
                        </div>
                    </div>
                </p>

                <p >
                    <div class="content_list_box">
                        <div>
                            <img src="/lib/img/mypage_img/mypage.svg" id="pro_img">
                        </div>
                        <div class="content_list_box_right" id="listbox" >
                            <p>제주여행</p>
                            <p>2022.10.21 - 2022.10.24 | 1명과 함께</p>
                        </div>
                        <div>
                            <input type="checkbox" id="chkbox">
                        </div>
                    </div>
                </p>

                <p >
                    <div class="content_list_box">
                        <div>
                            <img src="/lib/img/mypage_img/mypage.svg" id="pro_img">
                        </div>
                        <div class="content_list_box_right" id="listbox" >
                            <p>제주여행</p>
                            <p>2022.10.21 - 2022.10.24 | 1명과 함께</p>
                        </div>
                        <div>
                            <input type="checkbox" id="chkbox">
                        </div>
                    </div>
                </p>

                <p >
                    <div class="content_list_box">
                        <div>
                            <img src="/lib/img/mypage_img/mypage.svg" id="pro_img">
                        </div>
                        <div class="content_list_box_right" id="listbox">
                            <p>제주여행</p>
                            <p>2022.10.21 - 2022.10.24 | 1명과 함께</p>
                        </div>
                        <div>
                            <input type="checkbox" id="chkbox" >
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </main>
    <!--메인 끝-->

<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>

</html>