<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/css/mypage_travels.css">
    <script src="/app/js/mypage_travels.js"></script>
    <title>TRIPLE | 마이페이지 여행기작성</title>
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->

    <!--메인-->
    <main class="container_all">
        <p class="mypage_title">여행기공유</p>
        <div class="travels_box">
            <div class="choice_file" onclick="filechoice()"  style="padding-left: 0;">
                <input type="file" name="file" id="file">
                <img src="/lib/img/mypage_img/travels_img/imgfile_choice.svg" id="file_img">
            </div>
            <div id="write_box">
                <div>
                    <div><input type="text" placeholder="여행기 제목(필수)" id="travels_tit"></div>
                    <div>
                        <textarea name="" id="traverls_cont" cols="30" rows="10" placeholder="이번 여행은 어떤 여행이었나요? 여행에 대한 한 줄 요약 또는 여행 꿀팁을 남겨보세요. "></textarea>
                    </div>
                </div>
            </div>
            <div class="travels_subbox"><p id="next" onclick="next_btn()">다음</p></div>
        </div>
    </main>
    <!--메인 끝-->

<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>

</html>