<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/css/mypage_travels.css">
    <script src="/app/js/mypage_travels.js"></script>
    <title>TRIPLE | 마이페이지 여행기수정</title>
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->

    <!--메인-->
    <main class="container_all">
        <p class="mypage_title">여행기 수정</p>
        <div class="travels_box">
            <p class="travels_title">신화관 제주 신화월드 호텔앤리조트</p>
            <p class="travels_subtitle">5성급|제주(중문) </p>
            <div class="travels_subbox">
                <p class="travels_subtitle">리뷰평점</p>
                <form class="mb-3" name="myform" id="myform" method="post">
                    <fieldset>
                        <input type="radio" name="reviewStar" value="5" id="rate1"><label
                            for="rate1">★</label>
                        <input type="radio" name="reviewStar" value="4" id="rate2"><label
                            for="rate2">★</label>
                        <input type="radio" name="reviewStar" value="3" id="rate3"><label
                            for="rate3">★</label>
                        <input type="radio" name="reviewStar" value="2" id="rate4"><label
                            for="rate4">★</label>
                        <input type="radio" name="reviewStar" value="1" id="rate5"><label
                            for="rate5">★</label>
                    </fieldset>
                </form> 
                <p class="travels_subtitle"><a href="/templates/pages/mypage/travels/travels_done.html">완료</a></p>
            </div>
            <textarea name="" id="travels_cont" cols="30" rows="10">너무 좋았어요! 편안하게 쉬다 갑니다 ^^</textarea>
        </div>

        <div class="travels_box">
            <div class="re_img">
                <img src="/lib/img/mypage_img/myreview_img/review_img2.png">
            </div>
            <div class="choice_file" onclick="filechoice()">
                <input type="file" name="file" id="file">
                <img src="/lib/img/mypage_img/travels_img/imgfile_choice.svg" id="file_img">
            </div>
        </div>
    </main>
    <!--메인 끝-->


<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>

</html>