@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}
main {
    width: 1400px;
    margin: 0 auto;
}
#main_content_box {
    width: 1200px;
    margin: 100px auto;
}

