#title_text{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}
#writing_box {
    width: 900px;
    margin: 0 auto;
    margin-bottom: 500px;
}
#writing_box button{
    margin: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Noto Sans Kr';
}

#writing_box textarea {
    resize: none;
    width: 900px;
    height: 400px;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    font-family: 'Noto Sans Kr';
    font-weight: 700;
}