#region_name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    width: 950px;
    margin: 0 auto;
}
#region_name img {
    width: 24px;
    height: 24px;
}
#contents_box {
    width: 950px;
    margin: 50px auto;
    padding-bottom: 40px;
    border-bottom: 3px solid rgb(212, 212, 212);

}
#contents_box .title_text {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
#contents_box .subtitle_text {
    font-size: 18px;
    font-weight: 700;
    color: rgb(175, 175, 175);
}
#contents_box .flex_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
#contents_box .flex_box p , #contents_box .flex_box a{
    margin: 0;
}
#contents_box .flex_box a {
    color: rgb(96, 146, 219);
    text-decoration: underline;
}
#contents_box .flex_menu_box {
    display: flex;
    justify-content: space-around;
}
#contents_box .flex_menu_box a img{
    width: 180px;
}
#contents_box .flex_travels_box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#travels_bg_img_area {
    width: 440px;
    height: 300px;
    background-image: url(../img/overseas1.svg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    border-radius: 20px;
    border: 0.1px solid rgb(241, 241, 241);
    box-shadow: 0px 10px 10px -5px rgb(219, 219, 219); 
    margin-bottom: 30px;
}
#travels_bg_img_area > div {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}
#travels_bg_img_area > div > p {
    margin: 0;
}
#travels_userid {
    display: flex;
    align-items: center;
}
#travels_userid a {
    font-weight: 700;
    color: gray;
}
#travels_userid img {
    width: 50px;
    margin-right: 10px;
}
#travels_title a {
    font-size: 20px;
    color: gray;
    font-weight: 700;
}
#travels_text {
    color: gray;
    
}
#carts_box_container{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 300px;
}
#flex_cart_box {
    display: flex;
    justify-content: space-around;
    
}
#flex_cart_box .cart_box{
    width:430px;
    box-shadow: 0px 10px 10px -5px rgb(219, 219, 219);
    border: 0.1px solid rgb(241, 241, 241);
    border-radius: 20px;
    padding: 20px;
    
}

#in_the_cart {
    font-size: 20px;
    font-weight: 700;
}
#see_more {
    text-align: right;
}
#see_more a{
    font-size: 18px;
    color: rgb(96, 146, 219);
    text-decoration: underline;
    font-weight: 700;
}
#button_flex_box {
    margin: 0 auto;
    width: 400px;
    display: flex;
    justify-content: space-around;
}
#div_button {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #50e3c2;
}
#div_button a{
    color: white;
    font-weight: 700;
    font-size: 18px;
}