@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

#logo_area {
    margin: 0 auto;
    width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}
a {
    text-decoration-line: none ;
}
a:visited {
    text-decoration: none;
}
#search {
    margin-left: 500px;
    display: flex;
    align-items: center;
}
#search > button {
    background-color: #50e3c2;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 10px;
    height: 30px;
    width: 50px;
    
}

#logo_area > #logo > a > img{
    margin-top: 50px;
}
#menu_form{
    margin-top: 50px;
}
#login_join > a {
    color: white;
    font-weight: 700;
    font-size: 20px;
}
#login_join {
    color: white;
    margin-top: 50px;
}
header {
    width: 100%;
    margin: 0 auto;
    background-image: url('../img/header_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}


.float_clear {
    clear: both;
}

#menu_area {
    padding-bottom: 30px;
}

#menu_area > #menus {
    width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    
}
#menu_area > #menus > li {
    list-style: none;
}
#menu_area > #menus > li > a {
    color: white;
    font-weight: 700;
    font-size: 20px;
}
#logo_area > p { 
    padding-top: 40px;
    color: white;   
}
#logo_area #search > input {
    width: 250px;
    height: 30px;
    border-radius: 30px;
    border-width: 0px;
    padding-left: 20px;
}
#logo_area > p > a{ 
    padding-top: 40px;
    color: white;
    font-weight: 700;   
}
#travel_spot_img {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    background-image: url('../img/overseas2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-left: 40px;
    box-sizing: border-box;
}
main{
    width: 1000px;
    margin: 0 auto;
}
#travel_spot_menus {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    margin: 0;
    background-color: #50e3c2;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 30px;
}
#travel_spot_menus p a {
    color: white;
}

footer {
    width: 100%;
    background-color: #50e3c2;
    opacity: 0.5;
    height: 300px;
}
#enterprise_info {
    margin: 0 auto;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}
#enterprise_info_text {
    padding-top: 50px;
    font-weight: bold;
}
#enterprise_info_text  p {
    color: rgb(77, 76, 76);
}
#bold {
    font-size: 20px;
    font-weight: 700;
}
#enterprise_info_text  p  a {
    color: rgb(77, 76, 76);
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
}
#sns_box {
    margin-top: 30px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}
#sns_box > div > a > img {
    width: 50px;
}
#icon_box > #TRIP {
    margin-top: 20px;
    text-align: center;
}
#icon_box > #TRIP > a > img {
    width: 100px;
}
