#main_content_box{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.list_box_main{
    display: flexbox;
    font-size: 16px;
    color: #425052;
    margin-bottom: 10px;
}
.list_box{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flexbox;
    font-size: 16px;
    color: #425052;
    margin-bottom: 60px;
    height: 480px;
    border-bottom: 1px solid #a7a7a7;
    overflow: auto;
}
.list_box::-webkit-scrollbar{ height: 0px; background-color:white; width: 6px; }
.list_box::-webkit-scrollbar-thumb{ height: 0px; background-color:#87D9D2; width: 6px; border-radius: 10px; border: 2px solid transparent; }
.list_box::-webkit-scrollbar-track{ background-color: white; border-radius: 10px; box-shadow: inset 0 0 5px white; }
.list_box_info{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #a7a7a7;
}
.list_box_title{
    font-weight: bold;
    margin-bottom: 10px;
}
.list_box_content{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
#main_content_box .list_box .content_index {
    color: rgb(75, 189, 255);
    font-size: 20px;
    font-weight: 700;
}
#main_content_box .list_box{
    padding-bottom: 20px;
}
#FAQ_search_box {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}
#FAQ_search_box p {
    text-align: center;
}
.FAQ {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    font-weight: bold;
    color: #425052;
    padding: 15px 0;
}
#FAQ_search_box .search_p {
    width: 1000px;
    text-align: center;
}
.search_p > input[type="text"]::placeholder{
    font-size: 16px;
    text-indent: 5px;
    color: #7b7b7b;
    font-weight: normal;
}

#search {
    width: 600px;
    height: 50px;
    background-image: url(../img/icon_search.svg);
    background-position: 10px 9px;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: 3px solid #50e3c2;
    border-radius: 30px;
}
#FAQ_search_box .category_p {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 400px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}
#FAQ_search_box .category_p a {
    color: rgb(88, 88, 88);
    text-decoration: none;
}
.blue_text {
    color: rgb(17, 125, 187);
    font-weight: bold;
    font-size: 16px;
}