<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 혜택</title>
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="/app/css/event.css">
    
</head>
<body>
    <div id="backg_image_area">
        <!--header 시작-->
        <div th:replace="fragement/header :: header"></div>
        <!--header 끝-->
        <main>
            <div class="boxList">
                <h2>국내 여행 혜택 모음</h2>
                <!--혜택 구분-->
                <div class="division">
                    <p class="divTit1 color">전체</p> <span>|</span>
                    <p class="divTit2">렌터카</p> <span>|</span>
                    <p class="divTit3">할인</p> <span>|</span>
                    <p class="divTit4">여행편의</p>
                </div>
                <!--혜택 구분 끝-->
                <!--혜택 리스트-->
                <div class="line ">
                    <!--혜택-->
                    <div id="content_box" th:each=" event : ${eventList}">

                        <div class="flex">
                            <div>
                                <p class="purpleTit" th:text="${event.getEventType()}"></p>
                                <p class="boldTxT" th:text="${event.getTitle()}" ></p>
                                <p th:text="${event.getContent()}"></p>
                            </div>
                            <div class="img">
                                <img th:src="@{${event.getUploadPath()}}" alt="">
                            </div>
                        </div><!--혜택 끝-->
                    </div>
                </div>
            </div>
            <!--혜택 리스트 끝-->

        </main>



        <!-- footer 시작 -->
        <footer th:replace="fragement/footer :: footer"></footer>
        <!-- footer 끝 -->
    <script src="/static/app/js/event.js"></script>
</body>
</html>