<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 혜택</title>
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href=/app/css/tour_ticket.css">
    
</head>
<body>
    <div id="backg_image_area">
        <!--header 시작-->
        <div th:replace="fragement/header :: header"></div>
        <!--header 끝-->
        <main>
            <h2>국내 여행 혜택 모음</h2>
            <!--혜택 구분-->
            <!-- <p class="division"><span>전체</span> | <span>렌터카</span> | <span>할인</span> | <span>여행편의</span></p> -->
            <div class="division">
                <p class="divTit1 color">전체</p> <span>|</span>
                <p class="divTit2">렌터카</p> <span>|</span>
                <p class="divTit3">할인</p> <span>|</span>
                <p class="divTit4">여행편의</p>
            </div>
            <!--혜택 구분 끝-->
            <!--혜택 리스트-->
            <div class="boxList">
                <div class="line">
                    <!--혜택-->
                    <div class="flex">
                        <div>
                            <p class="purpleTit">제주 THE 렌트카</p>
                            <p class="boldTxT">제주 렌터카 최저가 예약</p>
                            <p>롯데렌터카 포함 5% 추가 할인</p>
                        </div>
                        <div class="img">
                            <img src="/static/lib/img/event_img/pic.png" alt="">
                        </div>
                    </div>
                    <!--혜택 끝-->
                    <div class="flex">
                        <div>
                            <p class="mintTit">찜카</p>
                            <p class="boldTxT">제주 렌터카 최저가 예약</p>
                            <p>롯데렌터카 포함 5% 추가 할인</p>
                        </div>
                        <div class="img">
                            <img src="/static/lib/img/event_img/pic3.png" alt="">
                        </div>
                    </div>
                    
                </div>
                <div class="line">
                    <div class="flex">
                        <div>
                            <p class="blueTit">제주패스렌트카</p>
                            <p class="boldTxT">제주 렌터카 최저가 예약</p>
                            <p>롯데렌터카 포함 5% 추가 할인</p>
                        </div>
                        <div class="img">
                            <img src="/static/lib/img/event_img/pic2.png" alt="">
                        </div>
                    </div>
                    <div class="flex">
                        <div>
                            <p class="blueTit">제주패스렌트카</p>
                            <p class="boldTxT">제주 렌터카 최저가 예약</p>
                            <p>롯데렌터카 포함 5% 추가 할인</p>
                        </div>
                        <div class="img">
                            <img src="/static/lib/img/event_img/pic2.png" alt="">
                        </div>
                    </div>
                    
                </div>
                <div class="line">
                    <div class="flex">
                        <div>
                            <p class="purpleTit">제주 THE 렌트카</p>
                            <p class="boldTxT">제주 렌터카 최저가 예약</p>
                            <p>롯데렌터카 포함 5% 추가 할인</p>
                        </div>
                        <div class="img">
                            <img src="/static/lib/img/event_img/pic.png" alt="">
                        </div>
                    </div>
                    <div class="flex">
                        <div>
                            <p class="mintTit">찜카</p>
                            <p class="boldTxT">제주 렌터카 최저가 예약</p>
                            <p>롯데렌터카 포함 5% 추가 할인</p>
                        </div>
                        <div class="img">
                            <img src="/static/lib/img/event_img/pic3.png" alt="">
                        </div>
                    </div>
                    
                </div>
                <div class="line">
                    <div class="flex">
                        <div>
                            <p class="blueTit">제주패스렌트카</p>
                            <p class="boldTxT">제주 렌터카 최저가 예약</p>
                            <p>롯데렌터카 포함 5% 추가 할인</p>
                        </div>
                        <div class="img">
                            <img src="/static/lib/img/event_img/pic2.png" alt="">
                        </div>
                    </div>
                    <div class="flex">
                        <div>
                            <p class="blueTit">제주패스렌트카</p>
                            <p class="boldTxT">제주 렌터카 최저가 예약</p>
                            <p>롯데렌터카 포함 5% 추가 할인</p>
                        </div>
                        <div class="img">
                            <img src="/static/lib/img/event_img/pic2.png" alt="">
                        </div>
                    </div>
                    
                </div>
                

            </div>
            <!--혜택 리스트 끝-->

        </main>



        <!-- footer 시작 -->
        <footer th:replace="fragement/footer :: footer"></footer>
        <!-- footer 끝 -->
    <script src="/static/app/js/event.js"></script>
</body>
</html>