<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 숙소목록</title>
    <link rel="stylesheet" href="/app/css/lodging_room_main.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/app/js/room_search.js"></script>
    <style>
        .sidemenu > ul #country_select,
        .sidemenu > ul #city_select{
            border-radius: 3px;
            width: 47%;
            margin-bottom: 5px;
        }
        .sidemenu > ul select{
            border-radius: 10px;
            width: 100px;
            height: 25px;
            margin: 0 auto;
        }
        .formSearch{
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div id="backg_image_area">
        <!--header 시작-->
        <div th:replace="fragement/header :: header"></div>
        <!--header 끝-->
    </div>
    <!--main 시작-->
    <div class="lodging_main" id="lodging_main" style="background: url(/lib/img/lodging_room_img/lodging_list_main.svg); height: 250px;">
        <p class="content content1">#가족여행 #여름준비</p>
        <p class="content content2">가족과 함께 떠나는<br>여름휴가 BEST 숙소</p>
        <p class="content content3">#호텔·리조트 #독채펜션 #키즈룸숙소</p>
    </div>
    <!--section 시작-->

    <section>
        <div class="lodging_main">
            <select name="roomView" class="summary_btn">
                <option value="추천순">추천순</option>
                <option value="리뷰순">리뷰순</option>
                <option value="저장순">저장순</option>
                <option value="가격낮은순">가격낮은순</option>
                <option value="가격높은순">가격높은순</option>
            </select>
            <select name="roomCapacity" class="summary_btn">
                <option value="">인원</option>
                <option value="선택안함">선택안함</option>
                <option value="1인">1인</option>
                <option value="2인">2인</option>
                <option value="3인">3인</option>
                <option value="4인">4인</option>
                <option value="5명 이상">5명 이상</option>
            </select>
            <select name="type" class="summary_btn">
                <option value="호텔">호텔</option>
                <option value="리조트">리조트</option>
                <option value="펜션">펜션</option>
                <option value="모텔">모텔</option>
                <option value="카라반">카라반</option>
                <option value="글램핑">글램핑</option>
            </select>
        </div>

        <div class="lodging_main lodging_box">
            <form  method="post">
            <div class="sidemenu">
                <ul class="sidemenu_lodging_type">
                    <li>
                        <p>숙소유형</p>
                    </li>
                    <li>
                        <select name="country" class="summary_btn" id="country_select" onchange="optionChange();">
                            <option value="">국가선택</option>
                            <option value="대한민국">대한민국</option>
                            <option value="일본">일본</option>
                            <option value="중국">중국</option>
                            <option value="동남아">동남아</option>
                        </select>
                        <select name="city" class="summary_btn" id="city_select">
                        <option value="">도시</option>
                    </select>
                    </li>
                    <li>
                        <label for="hotel">
                            <input type="checkbox" name="type" value="호텔" id="hotel"> 호텔
                        </label>
                        <label for="resort">
                            <input type="checkbox" name="type" value="리조트" id="resort"> 리조트
                        </label>
                    </li>
                    <li>
                        <label for="pension">
                            <input type="checkbox" name="type" value="펜션" id="pension"> 펜션
                        </label>
                        <label for="motel">
                            <input type="checkbox" name="type" value="모텔" id="motel"> 모텔
                        </label>
                    </li>
                    <li>
                        <label for="caravan">
                            <input type="checkbox" name="type" value="카라반" id="caravan"> 카라반
                        </label>
                        <label for="glamping">
                            <input type="checkbox" name="type" value="글램핑" id="glamping"> 글램핑
                        </label>
                    </li>
                </ul>

                <ul class="sidemenu_grade">
                    <li>
                        <p style="margin: 0; padding-top: 5px;">호텔 등급</p>
                        <select name="rank" class="summary_btn" id="rank">
                            <option value="">선택안함</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </li>
                </ul>
                <ul class="sidemenu_review">
                    <li>
                        <p style="margin: 0; padding-top: 5px;">리뷰 평점</p>
                        <select name="reviewCount" class="summary_btn" id="reviewCount">
                            <option value="">선택안함</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </li>
                </ul>
                <ul class="sidemenu_price">
                    <li>
                        <p>가격</p>
                    </li>
                    <li>
                        <input name="leastPrice" type="text" placeholder="직접 입력 원" id="leastPrice"> ~
                        <input name="maxPrice" type="text" placeholder="원" id="maxPrice">
                    </li>
                </ul>
                <ul class="sidemenu_sevice">
                    <li>
                        <p>편의시설</p>
                    </li>
                    <li>
                        <label for="breakfast">
                            <input type="checkbox" name="cf" value="조식" id="breakfast"> 조식
                        </label>
                        <label for="parking">
                            <input type="checkbox" name="cf" value="주차" id="parking"> 주차
                        </label>
                    </li>
                    <li>
                        <label for="wifi">
                            <input type="checkbox" name="cf" value="인터넷" id="wifi"> 인터넷
                        </label>
                        <label for="cancel_free">
                            <input type="checkbox" name="cf" value="무료취소" id="cancel_free"> 무료취소
                        </label>
                    </li>
                    <li>
                        <label for="shuttle">
                            <input type="checkbox" name="cf" value="셔틀" id="shuttle"> 셔틀
                        </label>
                        <label for="storage">
                            <input type="checkbox" name="cf" value="짐 보관" id="storage"> 짐보관서비스
                        </label>
                    </li>
                    <li>
                        <label for="spar">
                            <input type="checkbox" name="cf" value="스파·욕조" id="spar"> 스파·욕조
                        </label>
                        <label for="sauna">
                            <input type="checkbox" name="cf" value="사우나" id="sauna"> 사우나
                        </label>
                    </li>
                    <li>
                        <label for="swimming_pool">
                            <input type="checkbox" name="cf" value="수영장" id="swimming_pool"> 수영장
                        </label>
                        <label for="kids">
                            <input type="checkbox" name="cf" value="키즈클럽" id="kids"> 키즈클럽
                        </label>
                    </li>
                    <li>
                        <label for="meeting_room">
                            <input type="checkbox" name="cf" value="미팅룸" id="meeting_room"> 미팅룸
                        </label>
                        <label for="cleaning">
                            <input type="checkbox" name="cf" value="세탁시설" id="cleaning"> 세탁시설
                        </label>
                    </li>
                    <li>
                        <label for="pets">
                            <input type="checkbox" name="cf" value="반려동물" id="pets"> 반려동물
                        </label>
                        <label for="no_smoking">
                            <input type="checkbox" name="cf" value="금연객실" id="no_smoking"> 금연객실
                        </label>
                    </li>
                    <li>
                        <label for="support">
                            <input type="checkbox" name="cf" value="장애인지원" id="support"> 장애인지원
                        </label>
                        <label for="service_language_kor">
                            <input type="checkbox" name="cf" value="한국어지원" id="service_language_kor"> 한국어지원
                        </label>
                    </li>
                    <li>
                        <label for="service_language_japan">
                            <input type="checkbox" name="cf" value="일본어지원" id="service_language_japan"> 일본어지원
                        </label>
                        <label for="service_language_eng">
                            <input type="checkbox" name="cf" value="영어지원" id="service_language_eng"> 영어지원
                        </label>
                    </li>
                    <li>
                        <label for="service_language_china">
                            <input type="checkbox" name="cf" value="중국어지원" id="service_language_china"> 중국어지원
                        </label>
                        <label for="service_language_tai">
                            <input type="checkbox" name="cf" value="태국어지원" id="service_language_tai"> 태국어지원
                        </label>
                    </li>
                </ul>
            </div>
                <p>
                <input type="button" value="검색" id="formSearch">
                </p>
            </form>
            <div class="lodging_item_list" id="lodgingListContent">
                <ul>
                    <li th:each="lodging : ${lodgingList}" >
                        <div class="list_info">
                            <p class="list_title"><a th:text="${lodging.getName()}" th:href="'/Triple/lodging_view/' + ${lodging.getIdx()}"></a></p>
                            <p class="list_subtitle" th:text="${lodging.getIntroducing()}"></p>
                            <p class="list_review" th:text="'('+${lodging.getReviewCount()}+')'"><span th:text="${lodging.getStarCount()}"></span></p>
                            <p class="list_price" th:text="${lodging.getCheapestPrice()} + '원'"></p>
                        </div>
                        <div class="list_img"><img th:src="@{${lodging.getUploadPath()}}"></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--secion 끝-->
    <!--main 끝-->
    <!--main 끝-->
    <!-- footer 시작 -->
    <footer th:replace="fragement/footer :: footer"></footer>
    <!-- footer 끝 -->
    <script src="/app/js/script.js"></script>
</body>
</html>