<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 숙소</title>
    <link rel="stylesheet" href="/app/css/lodging_room_main.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="     crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="backg_image_area">
        <!--header 시작-->
        <div th:replace="fragement/header :: header"></div>
    </div>
        <!--header 끝-->
        <!--main 시작-->
        <div id="lodging_main_img"></div>
        <!--section 시작-->
        <section>
            <div class="lodging_main">
                <p class="lodging_title">최저가 숙소 비교 예약</p>
                <ul id="room_search_box">
                    <li class="room_icon">
                        <img src="/lib/img/lodging_room_img/icon_main_search.svg" alt="search"><input type="text" placeholder="지역">
                    </li>
                    <li class="room_icon">
                        <img src="/lib/img/lodging_room_img/icon_main_calendar.svg" alt="date"><input type="text" placeholder="체크인" id="datepicker1"><input type="text" placeholder="체크아웃" id="datepicker2">
                    </li>
                    <li class="room_icon">
                        <img src="/lib/img/lodging_room_img/icon_main_person.svg" alt="people"><input type="text" placeholder="인원수">
                    </li>

                    <div><button type="submit" value="숙소 검색" id="room_search_button">숙소 검색</button></div>
                </ul>
            </div>
            <div class="lodging_main">
                <p class="lodging_title">여행, 어디로 가시나요?</p>
                <div class="region_list">
                    <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_ gangwon.html"><img src="/lib/img/lodging_room_img/domestic_gangwon.png" alt="gangwon"></a>
                    <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_seoul.html"><img src="/lib/img/lodging_room_img/domestic_seoul.png" alt="seoul"></a>
                    <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_ gyeongsang.html"><img src="/lib/img/lodging_room_img/domestic_gyeongbuk.png" alt="gyeonbuk"></a>
                    <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_ gyeongi.html"><img src="/lib/img/lodging_room_img/domestic_gyeonggi.png" alt="gyeonggi"></a>
                    <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_ gyeongsang.html"><img src="/lib/img/lodging_room_img/domestic_busan.png" alt="busan"></a>
                </div>
                <div class="region_list">
                    <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_jeolla.html"><img src="/lib/img/lodging_room_img/domestic_jeonnam.png" alt="jeonnam"></a>
                    <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_jeju.html"><img src="/lib/img/lodging_room_img/domestic_jeju.png" alt="jeju"></a>
                    <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_jeolla.html"><img src="/lib/img/lodging_room_img/domestic_chungnam.png" alt="chungnam"></a>
                    <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_seoul.html"><img src="/lib/img/lodging_room_img/domestic_gangnam.png" alt="gangnam"></a>
                    <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_jeolla.html"><img src="/lib/img/lodging_room_img/domestic_chungbuk.png" alt="chungbuk"></a>
                </div>
                <div class="region_list" id="region_list">
                    <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_jeolla.html"><img src="/lib/img/lodging_room_img/domestic_jeonbuk.png" alt="jeonbuk"></a>
                    <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_seoul.html"><img src="/lib/img/lodging_room_img/domestic_incheon.png" alt="incheon"></a>
                </div>
            </div>
            <div class="lodging_main">
                <p class="lodging_title">최근본 숙소</p>
                
                <div class="item_list item_list_pick">
                    <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
            <div class="lodging_main">
                <p class="lodging_title">패밀리 숙소 BEST</p>
                <a href="/templates/pages/lodging_room/lodging_list.html" class="detail">전체보기</a>
                <div class="item_list item_list_pick">
                    <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="lodging_main">
                <p class="lodging_title">전세계 인기 호텔 얼리버드 특가 모음</p>
                <a href="/templates/pages/lodging_room/lodging_roomlist.html" class="detail">전체보기</a>
                <div class="item_list item_list_pick">
                    <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
            <div class="lodging_main">
                <p class="lodging_title">제주 BEST 숙소</p>
                <a href="/templates/pages/lodging_room/lodging_roomlist.html" class="detail">전체보기</a>
                <div class="item_list item_list_pick">
                    <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
            <div class="lodging_main">
                <p class="lodging_title">호텔·펜션 매거진</p>
                <a href="/templates/pages/magazine/magazine_guesthouse.html" class="detail">전체보기</a>
                <div class="item_list item_list_pick">
                    <a href="/templates/pages/magazine/magazine_view/guesthouse_view.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/magazine/magazine_view/guesthouse_view.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/magazine/magazine_view/guesthouse_view.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/magazine/magazine_view/guesthouse_view.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/magazine/magazine_view/guesthouse_view.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/magazine/magazine_view/guesthouse_view.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                    <a href="/templates/pages/magazine/magazine_view/guesthouse_view.html">
                        <div class="lodging_imgbox">
                            <div class="black_opacity">
                                <p class="content">두짓 리조트</p>
                                <p class="content_point">6.18(토)-6.19(일)</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <!--secion 끝-->
        <!--main 끝-->
    <!-- footer 시작 -->
    <footer th:replace="fragement/footer :: footer"></footer>
    <!-- footer 끝 -->
        <script>
            $(function(){
                $('#datepicker').datepicker();
            })
        
        
            $(function() {
                $("#datepicker1, #datepicker2").datepicker({
                    dateFormat: 'yy.mm.dd'
                });
            });
        
        </script>
</body>
</html>