<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 숙소결제</title>
    <link rel="stylesheet" href="/app/css/lodging_room_main.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="backg_image_area">
        <!--header 시작-->
        <div th:replace="fragement/header :: header"></div>
        <!--header 끝-->
    </div>
    <!--main 시작-->
    <main>
        <div id="loadging_pay">
            <div id="lodging_pay_img">
                <img src="/lib/img/lodging_room_img/roompayment.png" alt="객실결제">
            </div>
            <div id="lg_rm_pay_main">
                <div id="lg_rm_pay_1">
                    <div id="roompayment_checkbox">
                        <div id="roompayment_checkbox_title">결제내용 확인</div>
                        <div id="roompayment_checkbox_name">두짓 타니 괌 리조트<br>2022-06-25 ~ 2022-06-26</div>
                        <div id="roompayment_checkbox_what">
                            <div id="roompayment_checkbox_what_object">객실 | 프리미어 트윈룸, 오션프론트 x 1</div>
                            <div id="roompayment_checkbox_what_price">428,247원</div>
                        </div>
                    </div>
                    <div id="roompayment_paymentbox">
                        <div id="roompayment_paymentbox_payinfo">결제정보</div>
                        <div id="roompayment_paymentbox_reserveprice">
                            <div id="roompayment_paymentbox_reserveprice_title">예약 금액(세금 포함)</div>
                            <div id="roompayment_paymentbox_reserveprice_price">428,247원</div>
                        </div>
                        <div id="roompayment_paymentbox_coupon">
                            <div id="roompayment_paymentbox_coupon_title">쿠폰 할인</div>
                            <div id="roompayment_paymentbox_coupon_price">- 25,695원</div>
                        </div>
                        <div id="roompayment_paymentbox_final">
                            <div id="roompayment_paymentbox_final_title">총 결제금액</div>
                            <div id="roompayment_paymentbox_final_price">402,552원</div>
                        </div>
                    </div>
                </div>
                <div id="lg_rm_pay_2">
                    <div id="roompayment_paymentway">결제수단</div>
                    <div id="roompayment_paymentway_how">
                        <div id="roompayment_paymentway_how_card"><input type="submit" value="신용/체크카드"></div>
                        <div id="roompayment_paymentway_how_naver"><input type="submit" value="네이버페이"></div>
                    </div>
                    <button id="check_module">결제하기</button>
                    <script src="/app/js/payment.js"></script>
                </div>
            </div>
        </div>
    <!--main 끝-->
        <!-- footer 시작 -->
        <footer th:replace="fragement/footer :: footer"></footer>
        <!-- footer 끝 -->
    </main>
</body>
</html>