<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 객실목록</title>
    <link rel="stylesheet" href="/app/css/lodging_room_main.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        *{
            font-size: 16px;
        }
        .roomlist_roomlist_info_specific{
            padding-left: 10px;
        }
        .roomlist_roomlist_reservation_info_box_price{
            font-size: 20px;
            text-align: right;
            padding-right: 10px;
        }
        .policy{
            width: 900px;
        }
        #room_list_2{
            padding-bottom: 30px;
        }
        #roomlist_lodgingpolicy{
            min-width: 400px;
        }
        #location_info_2{
            font-size: 18px;
            font-weight: bold;
            color: #425052;
            box-sizing: border-box;
            padding-top: 20px;
        }
        #roomlist_location{
            width: 900px;
            margin: 0 auto;
            border-right: none;
            margin-bottom: 20px;
            height: 520px;
        }
        #roomlist_lodginginfo_list{
            width: 900px;
        }
        #roomlist_lodgingpolicy_checkin_time{
            height: 50px;
        }
        #roomlist_importantinfo_info{
            width: 900px;
        }
        #loc_info_1{
            width: 900px;
            display: flex;
            justify-content: space-between;
            font-size: 16px;
        }
        #roomlist_location_askmap{
            width: 900px;
            margin: 0 auto;
            text-align: center;
        }
        #roomlist_location_findmap{
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
        }
        #roomlist_lodgingpolicy_checkin, #roomlist_lodgingpolicy_checkout{
            width: 900px;
            display: flex;
            justify-content: space-between;
            font-size: 16px;
        }
        #room_list{
            min-height: 1200px;
            overflow: scroll;
        }
        #room_list::-webkit-scrollbar{
            height: 7px;
            background-color:white;
            width: 0;
        }
        #room_list::-webkit-scrollbar-thumb{
            height: 7px;
            background-color:#50E3C2;
            width: 0;
            border-radius: 10px;
            border: 2px solid transparent;
        }
        #room_list::-webkit-scrollbar-track{
            background-color: white;
            border-radius: 10px;
            box-shadow: inset 0 0 5px white;
        }
    </style>
</head>
<body>
<div id="backg_image_area">
    <!--header 시작-->
    <div th:replace="fragement/header :: header"></div>
    <!--header 끝-->
</div>
<!--main 시작-->
<main>
    <div id="loadging_info">
        <div id="lodging_img">
            <img th:src="@{${lodging.getUploadPath()}}" alt="숙소예약">
        </div>
        <div id="lodging_info_main">
            <div id="lodging_info_main_1">
                <div id="roomlist_setting">
                    <div id="roomlist_setting_lodging" th:text="${lodging.getType()}"></div>
                    <div id="roomlist_setting_star" th:text="${lodging.getRank()} + '성급'"></div>
                    <div>
                    </div>
                </div>

                <div id="roomlist_info_namebox">
                    <div id="roomlist_info_namebox_name" th:text="${lodging.getName()}"></div>
                </div>
                <div id="roomlist_info_function">
                    <div id="roomlist_info_function_like">
                        <img src="/lib/img/lodging_room_img/icon_heart.svg" alt="하트아이콘">
                        <span>3,388</span>
                        <span class="starpoint" th:text="${lodging.getStarCount()}"></span>
                        <span th:text=" '(' + ${lodging.getReviewCount()} + ')'" style="color: #7b7b7b"></span>
                        <a href="#review">리뷰보기 ></a></div>
                    <div id="roomlist_info_function_map"><img src="/lib/img/lodging_room_img/icon_map.svg" alt="지도아이콘"><span th:text="${lodging.getAddress()}"></span><a href="#location_info_1">지도보기 ></a></div>
                    <div id="roomlist_info_function_coupon"><span>쿠폰할인</span> 최대 할인 쿠폰 적용중<div id="aaa"><a href="#">쿠폰받기</a></div></div>
                    <div id="roomlist_info_function_benefit"><span>결제혜택</span> 카드 결제 최대 1만원 할인 <div id="bbb"><a href="#">혜택보기</a></div></div>
                </div>
            </div>

            <div id="lodging_info_main_2">
                <div id="roomlist_info_reservation">최저가 예약</div>
                <div id="roomlist_info_reservation_setting">
                    <div id="roomlist_info_reservation_setting_date" >8-19.(금) - 8-20(토)</div>
                    <div id="roomlist_info_reservation_setting_person">성인 2</div>
                </div>
                <div id="roomlist_info_reservation_priceinfo">
                    <span id="roomlist_info_reservation_defaultprice" th:text="${lodging.getCheapestPrice()} + '원'"></span><br>
                </div>
            </div>
            <div id="lodging_info_main_3">
                <a href="/templates/pages/mypage/mysave/my_save_main.html"><div id="roomlist_info_btn_like"><img src="/lib/img/lodging_room_img/icon_save.svg" alt="하트"> 저장하기</div></a>
                <a href="/templates/pages/mypage/my_travel/my_travel_main.html"><div id="roomlist_info_btn_schedule"><img src="/lib/img/lodging_room_img/icon_schedule.svg" alt="일정"> 일정추가</div></a>
                <a href="/templates/pages/mypage/review/review_write.html"><div id="roomlist_info_btn_writereview"><img src="/lib/img/lodging_room_img/icon_review.svg" alt="리뷰"> 리뷰쓰기</div></a>
                <a href="#"><div id="roomlist_info_btn_share"><img src="/lib/img/lodging_room_img/icon_share.svg" alt="공유"> 공유하기</div></a>
            </div>
        </div>
    </div>
    <div id="lodging_info_sub">
        <div id="room_list">
            <div id="room_list_1">객실 목록</div>
            <div id="room_list_2" name="room_li" th:each="room : ${roomList}">
                <div class="roomlist_roomlist_info" >
                    <div class="roomlist_roomlist_name" th:text="${room.getName()}"></div>
                    <div class="roomlist_roomlist_info_specific">
                        <p th:text="${room.getBed()}"></p>
                        <p th:text="${room.getWidth()}"></p>
                        <p th:text="${room.getRoomCapacity()}"></p>
                        <p th:text="${room.getRoomView()}"></p>
                        <p th:text="${room.getSmoking()}"></p>
                    </div>
                </div>
                <div class="roomlist_roomlist_reservation">
                    <div class="roomlist_roomlist_reservation_info">
                        <div class="roomlist_roomlist_reservation_info_box">
                            <div class="rl1_1" th:if="${lodging.getCf().contains('무료취소')}">무료취소</div>
                            <div class="rl1_1" th:unless="${lodging.getCf().contains('무료취소')}">트리플 한정</div>
                            <div id="rl1_2">
                                <div class="roomlist_roomlist_reservation_info_box_coupon">쿠폰할인</div>
                                <div class="roomlist_roomlist_reservation_info_box_triplemember">트리플 회원</div>
                            </div>
                            <div id="rl1_3">
                                <div><p class="roomlist_roomlist_reservation_info_box_price"><span th:text="${room.getPrice()}"></span>원</p></div>
                                <div><a th:href="'/Triple/room_view/' + ${room.getIdx()}"><div class="roomlist_roomlist_reservation_info_box_show">선택</div></a></div>
                            </div>
                        </div>
                        <div class="roomlist_roomlist_img"><img th:src="@{${room.getUploadPath()}}" alt="객실"></div>
                    </div>
                </div>
            </div>
        </div>
<!--        <div id="location_info">-->
<!--            <div id="location_info_1">위치정보</div>-->
<!--            <div id="location_info_2">-->
<!--                <div id="roomlist_location">-->
<!--                    <div id="roomlist_location_box">-->
<!--                        <div id="roomlist_location_box_map">-->
<!--&lt;!&ndash;                            <div id="m1"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div id="m2"></div>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <img src="/lib/img/lodging_room_img/map.png" alt="지도">&ndash;&gt;-->
<!--                            <div id="googleMap" style="width: 900px;height: 350px; margin: 0 auto"></div>-->
<!--                            <script>-->
<!--                                function myMap(){-->
<!--                                    var mapOptions = {-->
<!--                                        center:new google.maps.LatLng(13.515761893558587, 144.80854004444575),-->
<!--                                        zoom:17-->
<!--                                    };-->

<!--                                    var map = new google.maps.Map(-->
<!--                                        document.getElementById("googleMap")-->
<!--                                        , mapOptions );-->
<!--                                }-->
<!--                            </script>-->
<!--                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4VADdQwRXmJW57jTDe8W-ROtXyKChiNQ&callback=myMap"></script>-->
<!--                        </div>-->
<!--                        <div id="roomlist_location_box_location_info">-->
<!--                            <div id="loc_info_1">-->
<!--                                <div id="roomlist_location_box_location_info_place1">주소</div>-->
<!--                                <div id="roomlist_location_box_location_info_place2" th:text="${lodging.getAddress()}">-->
<!--                                </div>-->
<!--                                <div id="rl1_3"><a th:href="'/Triple/room_view/'+ ${room.getIdx()}" class="roomlist_roomlist_reservation_info_box_show"><div class="roomlist_roomlist_reservation_info_box_show">선택</div></a></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div id="roomlist_location_askmap">-->
<!--                            <div id="roomlist_location_findmap"><a href="https://www.google.co.kr/maps/place/1227+Pale+San+Vitores+Rd,+Tamuning,+96913+%EA%B4%8C/@13.5136616,144.80381,17z/data=!3m1!4b1!4m5!3m4!1s0x671f828b5c4416b9:0x32d5ceafc2fc4056!8m2!3d13.5136564!4d144.8059987?hl=ko" target="_blank" class="loc_info_5"><div class="loc_info_5">길찾기</div></a></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div id="location_info_1">
                <div id="location_info_2">
                    <div id="roomlist_location" style="height: 180px; border-bottom: 1px solid #c6c6c6;">
                        <div id="roomlist_safety_title" style="display: flex;">보건 & 안전</div>
                        <div id="roomlist_safety_list">
                            청소 & 소독<br>
                            사회적 거리두기<br>
                            안전정책<br>
                            식음료 관리<br>
                            비품 제공 및 관리
                        </div>
                    </div>
                    <div id="roomlist_location" style="height: 150px; border-bottom: 1px solid #c6c6c6;">
                        <div id="roomlist_convenience_title">편의시설</div>
                        <div id="roomlist_convenience_list" th:text="${lodging.getCf()}">
                        </div>
                    </div>
                    <div id="roomlist_location" style="height: 200px; border-bottom: 1px solid #c6c6c6;">
                        <div id="roomlist_lodginginfo_title">숙소 설명</div>
                        <div id="roomlist_lodginginfo_list" th:text="${lodging.getIntroducing()}">
                        </div>
                    </div>
                    <div id="roomlist_location" style="height: 250px; border-bottom: 1px solid #c6c6c6;">
                        <div id="roomlist_lodgingpolicy_title">숙소정책</div>
                        <div id="roomlist_lodgingpolicy_time">
                            <div id="roomlist_lodgingpolicy_checkin">
                                <div id="roomlist_lodgingpolicy_checkin_title">체크인</div>
                                <div id="roomlist_lodgingpolicy_checkin_time" th:text="${lodging.getCheckIn()}"></div>
                            </div>
                            <div id="roomlist_lodgingpolicy_checkout">
                                <div id="roomlist_lodgingpolicy_checkin_title">체크아웃</div>
                                <div id="roomlist_lodgingpolicy_checkin_time" th:text="${lodging.getCheckOut()}"></div>
                            </div>
                            <p class="policy" th:text="${lodging.getPolicy()}" style="font-weight: normal; font-size: 16px;"></p>
                        </div>
                    </div>
                    <div id="roomlist_importantinfo" style="height: 210px; border-bottom: 1px solid #c6c6c6;">
                        <div id="roomlist_importantinfo_title">숙소 중요정보</div>
                        <div id="roomlist_importantinfo_info" th:text="${lodging.getMoreInfo()}" class="policy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="review">
            <div id="review_1">
                <div id="roomlist_review_title">리뷰 <span>332</span></div>
                <div id="roomlist_review_btn"><a href="/templates/pages/mypage/review/review_write.html">리뷰쓰기</a> <a href="/templates/pages/mypage/review/review_view.html">리뷰 전체보기</a></div>
            </div>
            <div class="review_2">
                <div class="roomlist_review_img"><img src="/lib/img/lodging_room_img/review2.png" alt="리뷰2"></div>
                <div class="roomlist_review_star">
                    <span class="sp1">APPLE123</span><br>
                    LEVEL1 / 2개의 리뷰<br>
                    <span class="sp2">★★★★★</span>
                </div>
                <div class="roomlist_review_text">
                    최신정보보시라고 리뷰 남깁니다.<br>
                    위치 투몬시내 가운데 있어서 좋네요~ 수영장에 다시그릴 붙어 있고 옆에 두짓비치 수영장도 이용 가능해서 좋네요^^  수영장은 바람이 많이 부니까 이용하시려면 따뜻하게 수건 챙겨가시는거 추천드려요! 주변에는 스노쿨링 체험도 할 수 있고 패들보트도 빌릴 수 있어서 좋네요. 무료입니다! 직원이 한국어를 능숙하게 해서 소통에도 어려움이 없었어요. 잘 쉬다 갑니다~~~
                </div>
            </div>
            <div class="review_2">
                <div class="roomlist_review_img"><img src="/lib/img/lodging_room_img/review2.png" alt="리뷰2"></div>
                <div class="roomlist_review_star">
                    <span class="sp1">APPLE123</span><br>
                    LEVEL1 / 2개의 리뷰<br>
                    <span class="sp2">★★★★★</span>
                </div>
                <div class="roomlist_review_text">
                    최신정보보시라고 리뷰 남깁니다.<br>
                    위치 투몬시내 가운데 있어서 좋네요~ 수영장에 다시그릴 붙어 있고 옆에 두짓비치 수영장도 이용 가능해서 좋네요^^  수영장은 바람이 많이 부니까 이용하시려면 따뜻하게 수건 챙겨가시는거 추천드려요! 주변에는 스노쿨링 체험도 할 수 있고 패들보트도 빌릴 수 있어서 좋네요. 무료입니다! 직원이 한국어를 능숙하게 해서 소통에도 어려움이 없었어요. 잘 쉬다 갑니다~~~
                </div>
            </div>
            <div class="review_2">
                <div class="roomlist_review_img"><img src="/lib/img/lodging_room_img/review2.png" alt="리뷰2"></div>
                <div class="roomlist_review_star">
                    <span class="sp1">APPLE123</span><br>
                    LEVEL1 / 2개의 리뷰<br>
                    <span class="sp2">★★★★★</span>
                </div>
                <div class="roomlist_review_text">
                    최신정보보시라고 리뷰 남깁니다.<br>
                    위치 투몬시내 가운데 있어서 좋네요~ 수영장에 다시그릴 붙어 있고 옆에 두짓비치 수영장도 이용 가능해서 좋네요^^  수영장은 바람이 많이 부니까 이용하시려면 따뜻하게 수건 챙겨가시는거 추천드려요! 주변에는 스노쿨링 체험도 할 수 있고 패들보트도 빌릴 수 있어서 좋네요. 무료입니다! 직원이 한국어를 능숙하게 해서 소통에도 어려움이 없었어요. 잘 쉬다 갑니다~~~
                </div>
            </div>
        </div>
    </div>
    <div id="lodging_sub">
        <div class="lodging_sub_1">
            <div class="roomlist_around_lodging_recommend">
                <div class="roomlist_around_lodging_recommend_title">근처 추천 숙소</div>
                <div class="roomlist_around_lodging_recommend_more"><a href="#">더보기</a></div>
            </div>
            <div class="roomlist_around_lodging_recommend_list">
                <div class="roomlist_around_lodging_recommend_list_img"><img src="/lib/img/lodging_room_img/roomrecommend.png" alt="추천숙소"></div>
                <div class="roomlist_around_lodging_recommend_list_text">
                    괌 플라자 리조트 & 스파<br>
                    <span><span class="starpoint">★★★★★</span> (207) · 저장 2,379 · 3성급 · 투몬, 타무닝</span><br>
                    127,103원
                </div>
            </div>
            <div class="roomlist_around_lodging_recommend_list">
                <div class="roomlist_around_lodging_recommend_list_img"><img src="/lib/img/lodging_room_img/roomrecommend.png" alt="추천숙소"></div>
                <div class="roomlist_around_lodging_recommend_list_text">
                    괌 플라자 리조트 & 스파<br>
                    <span><span class="starpoint">★★★★★</span> (207) · 저장 2,379 · 3성급 · 투몬, 타무닝</span><br>
                    127,103원
                </div>
            </div>
            <div class="roomlist_around_lodging_recommend_list">
                <div class="roomlist_around_lodging_recommend_list_img"><img src="/lib/img/lodging_room_img/roomrecommend.png" alt="추천숙소"></div>
                <div class="roomlist_around_lodging_recommend_list_text">
                    괌 플라자 리조트 & 스파<br>
                    <span><span class="starpoint">★★★★★</span> (207) · 저장 2,379 · 3성급 · 투몬, 타무닝</span><br>
                    127,103원
                </div>
            </div>
        </div>
        <div class="lodging_sub_1">
            <div class="roomlist_around_lodging_recommend">
                <div class="roomlist_around_lodging_recommend_title">근처 추천 장소</div>
                <div class="roomlist_around_lodging_recommend_more"><a href="#">더보기</a></div>
            </div>
            <div class="roomlist_around_lodging_recommend_list">
                <div class="roomlist_around_lodging_recommend_list_img"><img src="/lib/img/lodging_room_img/roomrecommend.png" alt="추천숙소"></div>
                <div class="roomlist_around_lodging_recommend_list_text">
                    괌 플라자 리조트 & 스파<br>
                    <span><span class="starpoint">★★★★★</span> (207) · 저장 2,379 · 3성급 · 투몬, 타무닝</span><br>
                    127,103원
                </div>
            </div>
            <div class="roomlist_around_lodging_recommend_list">
                <div class="roomlist_around_lodging_recommend_list_img"><img src="/lib/img/lodging_room_img/roomrecommend.png" alt="추천숙소"></div>
                <div class="roomlist_around_lodging_recommend_list_text">
                    괌 플라자 리조트 & 스파<br>
                    <span><span class="starpoint">★★★★★</span> (207) · 저장 2,379 · 3성급 · 투몬, 타무닝</span><br>
                    127,103원
                </div>
            </div>
            <div class="roomlist_around_lodging_recommend_list">
                <div class="roomlist_around_lodging_recommend_list_img"><img src="/lib/img/lodging_room_img/roomrecommend.png" alt="추천숙소"></div>
                <div class="roomlist_around_lodging_recommend_list_text">
                    괌 플라자 리조트 & 스파<br>
                    <span><span class="starpoint">★★★★★</span> (207) · 저장 2,379 · 3성급 · 투몬, 타무닝</span><br>
                    127,103원
                </div>
            </div>
        </div>
    </div>
</main>
<!--main 끝-->
<!-- footer 시작 -->
<footer th:replace="fragement/footer :: footer"></footer>
<!-- footer 끝 -->


<!--<script>-->
<!--    var map;-->
<!--    var button = document.getElementById('map_button');-->
<!--    button.addEventListener('click', changeCenter);-->

<!--    function initMap() {-->
<!--        var gyeongbokgung = { lat: 37.57979553563185, lng: 126.97706245552442 };-->
<!--        map = new google.maps.Map( document.getElementById('map'), {-->
<!--            zoom: 15,-->
<!--            center: gyeongbokgung-->
<!--        });-->

<!--        var mainMarker = new google.maps.Marker({-->
<!--            position: gyeongbokgung,-->
<!--            map: map,-->
<!--            label: {-->
<!--                text: "경복궁",-->
<!--                color: "#C70E20"-->
<!--            },-->
<!--            icon: {-->
<!--                url: "pooh_marker.png",-->
<!--                labelOrigin: new google.maps.Point(100, 55)-->
<!--            }-->
<!--        });-->

<!--        var subMarkerPoint = { lat: 37.57956596361732, lng: 126.9803240214433};-->
<!--        var subMarker = new google.maps.Marker({-->
<!--            position: subMarkerPoint,-->
<!--            map: map,-->
<!--            label: "국립현대미술관",-->
<!--            icon: {-->
<!--                url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png",-->
<!--                labelOrigin: new google.maps.Point(20, 47),-->
<!--                anchor: new google.maps.Point(50,32)-->
<!--            }-->
<!--        });-->
<!--    }-->

<!--    function changeCenter() {-->
<!--        var gyeongbokgung = { lat: 37.57979553563185, lng: 126.97706245552442 };-->
<!--        map.panTo(gyeongbokgung);-->
<!--        map.setZoom(15);-->
<!--    }-->
<!--</script>-->
</body>
</html>