<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 해외숙소</title>
    <link rel="stylesheet" href="/app/css/lodging_room_main.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="backg_image_area">
        <!--header 시작-->
        <div th:replace="fragement/header :: header"></div>
        <!--header 끝-->
    </div>
    <!--main 시작-->
    <main>
        <div id="loadging_regional">
            <div id="lo_re_main">
                <div id="lo_re_gl_1">
                    <a href="/templates/pages/lodging_room/lodging_korea.html"><div id="lo_re_gl_1_title">국내숙소</div></a>
                    <a href="/templates/pages/lodging_room/lodging_global.html"><div id="lo_re_gl_1_text">해외숙소</div></a>
                </div>
                <!--해외 숙소 시작-->
                <div id="lo_re_gl_2">
                    <a href="#"><div>인기 숙소</div></a>
                </div>

                <div id="lo_re_gl_3">
                    <a href="#"><div>방콕</div></a>
                    <a href="#"><div>푸켓</div></a>
                    <a href="#"><div>싱가포르</div></a>
                    <a href="#"><div>다낭</div></a>
                    <a href="#"><div>괌</div></a>
                    <a href="#"><div>사이판</div></a>
                    <a href="#"><div>하와이</div></a>
                    <a href="#"><div>타이베이</div></a>
                </div>

                <div id="lo_re_gl_4">
                </div>
            </div>
            <!--해외 숙소 끝-->
        </div>
        <!--main 끝-->
        <!-- footer 시작 -->
        <footer th:replace="fragement/footer :: footer"></footer>
        <!-- footer 끝 -->
    </main>
</body>
</html>