<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 국내숙소</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/app/css/lodging_room_main.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="backg_image_area">
        <!--header 시작-->
        <header>
            <div id="logo_area">
                <div id="logo"><a href="/main.html"><img src="/img/logo_triple.svg" alt="트리플 로고" style="width: 200px;"></a></div>
                <form id="menu_form">
                    <div id="search"><input type="text" class="search" placeholder="어디로 떠나시나요?" onclick="hideshow()"><button type="submit" value="검색" style="cursor: pointer;">검색</button></div>
                </form>
                <div id="login_join"><a href="/member/login_join/login.html">LOGIN</a> | <a href="/member/login_join/login.html">JOIN</a></div>
            </div>
            <div id="menu_area">
                <ul id="menus">
                    <li><a href="/templates/pages/overseas_travel/overseas_travel_main.html">해외여행</a></li>
                    <li><a href="/templates/pages/domestic_travel/domestic_travel.html">국내여행</a></li>
                    <li><a href="/Triple/flightMain">항공예약</a></li>
                    <li><a href="/templates/pages/lodging_room/lodging_main.html">숙소예약</a></li>
                    <li><a href="/">투어·티켓</a></li>
                    <li><a href="/Triple/package">패키지여행</a></li>
                    <li><a href="/Triple/magazine" >여행매거진</a></li>
                    <li><a href="/templates/pages/event/event_main.html">혜택/렌터카</a></li>
                </ul>
            </div>
        </header>
    </div>
    <!--header 끝-->
    <!--main 시작-->
    <div id="searchbox" hidden>
        <div>
            <div class="title">
                <p class="title_kor" onclick="change()">국내숙소</p>
                <p class="title_global" onclick="change2()">해외숙소</p>
            </div>

            <div class="cityList_kor">
<!--                <p class="kor1" onclick="seoul()"><a th:href="'/Triple/spot_location/' + ${lodging.getCity()}" th:text="${lodging.getCity()}">서울</a></p>-->
                <p class="kor2" onclick="busan()">부산</p>
                <p class="kor3" onclick="jeju()">제주</p>
                <p class="kor4" onclick="gangwon()">강원</p>
                <p class="kor5" onclick="gyeonggi()">경기</p>
                <p class="kor6" onclick="incheon()">인천</p>
                <p class="kor7" onclick="gyeongsang()">경상</p>
                <p class="kor8" onclick="chungcheong()">충청</p>
                <p class="kor9" onclick="jeolla()">전라</p>
            </div>
            <div class="cityList_global" hidden>
                <p>인기도시</p>
                <!-- <a href=""><p>일본</p></a>
                <a href=""><p>동남아시아</p></a>
                <a href=""><p>서아시아</p></a>
                <a href=""><p>중화/중국</p></a>
                <a href=""><p>미주</p></a>
                <a href=""><p>남태평양</p></a>
                <a href=""><p>유럽</p></a> -->
            </div>
            <div class="city seoul " hidden>
                <a href="#" onclick="statusChange(this)"><p>서울 전체</p></a>
                <a href="#" onclick="statusChange(this)"><p>강남 · 서초</p></a>
                <a href="#" onclick="statusChange(this)"><p>송파 · 강동</p></a>
                <a href="#" onclick="statusChange(this)"><p>동대문 · 성북</p></a>
                <a href="#" onclick="statusChange(this)"><p>용산 · 종로 · 중구</p></a>
                <a href="#" onclick="statusChange(this)"><p>마포 · 서대문</p></a>
                <a href="#" onclick="statusChange(this)"><p>건대 · 성수 · 왕십리</p></a>
                <a href="#" onclick="statusChange(this)"><p>김포공항 · 강서</p></a>
                <a href="#" onclick="statusChange(this)"><p>동작 · 관악</p></a>
                <a href="#" onclick="statusChange(this)"><p>강북 · 노원 · 도봉</p></a>
                <a href="#" onclick="statusChange(this)"><p>구로 · 금천</p></a>
            </div>

            <div class="city busan " hidden>
                <a href="#" onclick="statusChange(this)"><p>부산 전체</p></a>
                <a href="#" onclick="statusChange(this)"><p>해운대 광안리</p></a>
                <a href="#" onclick="statusChange(this)"><p>기장</p></a>
                <a href="#" onclick="statusChange(this)"><p>부산역 남포 영도</p></a>
                <a href="#" onclick="statusChange(this)"><p>서면 연산 범일</p></a>
                <a href="#" onclick="statusChange(this)"><p>동래 사상</p></a>
            </div>
            <div class="city jeju " hidden>
                <a href="#" onclick="statusChange(this)"><p>제주 전체</p></a>
                <a href="#" onclick="statusChange(this)"><p>제주시내</p></a>
                <a href="#" onclick="statusChange(this)"><p>애월 한림</p></a>
                <a href="#" onclick="statusChange(this)"><p>중문</p></a>
                <a href="#" onclick="statusChange(this)">서귀포</a>
                <a href="#" onclick="statusChange(this)"><p>성산 우도</p></a>
                <a href="#" onclick="statusChange(this)"><p>조천 구좌</p></a>
            </div>
            <div class="city gangwon " hidden>
                <a href="#" onclick="statusChange(this)"><p>강원 전체</p></a>
                <a href="#" onclick="statusChange(this)"><p>속초 양양 고성 강릉</p></a>
                <a href="#" onclick="statusChange(this)"><p>평창 정선 영월</p></a>
                <a href="#" onclick="statusChange(this)"><p>동해 삼척 태백</p></a>
                <a href="#" onclick="statusChange(this)"><p>춘천 홍천 횡성 원주</p></a>
                <a href="#" onclick="statusChange(this)"><p>인제 철원 화천</p></a>
            </div>
            <div class="city gyeonggi " hidden>
                <a href="#" onclick="statusChange(this)"><p>경기 전체</p></a>
                <a href="#" onclick="statusChange(this)"><p>가평 청평 양평</p></a>
                <a href="#" onclick="statusChange(this)"><p>수원 화성</p></a>
                <a href="#" onclick="statusChange(this)"><p>고양 파주 김포</p></a>
                <a href="#" onclick="statusChange(this)"><p>의정부 포천 동두천</p></a>
                <a href="#" onclick="statusChange(this)"><p>용인 오산 평택 안성</p></a>
                <a href="#" onclick="statusChange(this)"><p>남양주 구리 하남</p></a>
                <a href="#" onclick="statusChange(this)"><p>성남 과천 광주</p></a>
                <a href="#" onclick="statusChange(this)"><p>이천 여주</p></a>
                <a href="#" onclick="statusChange(this)"><p>안양 의왕 군포</p></a>
                <a href="#" onclick="statusChange(this)"><p>안산 부천 광명 시흥</p></a>
            </div>
            <div class="city incheon " hidden>
                <a href="#" onclick="statusChange(this)"><p>인천 전체</p></a>
                <a href="#" onclick="statusChange(this)"><p>인천국제공항</p></a>
                <a href="#" onclick="statusChange(this)"><p>송도 연수구</p></a>
                <a href="#" onclick="statusChange(this)"><p>서구 미추홀구</p></a>
                <a href="#" onclick="statusChange(this)"><p>을왕리 월미도 영종도 강화</p></a>
                <a href="#" onclick="statusChange(this)"><p>부평 게양</p></a>
            </div>
            <div class="city gyeongsang " hidden>
                <a href="#" onclick="statusChange(this)"><p>경상 전체</p></a>
                <a href="#" onclick="statusChange(this)"><p>경주</p></a>
                <a href="#" onclick="statusChange(this)"><p>거제 통형</p></a>
                <a href="#" onclick="statusChange(this)"><p>대구 구미 안동 문경</p></a>
                <a href="#" onclick="statusChange(this)"><p>울산 양산</p></a>
                <a href="#" onclick="statusChange(this)"><p>포항 영덕 울진 청송</p></a>
                <a href="#" onclick="statusChange(this)"><p>창원 마산 진해 김해</p></a>
                <a href="#" onclick="statusChange(this)"><p>남해 사천 하동 진주</p></a>
            </div>
            <div class="city chungcheong " hidden>
                <a href="#" onclick="statusChange(this)"><p>충정 전체</p></a>
                <a href="#" onclick="statusChange(this)"><p>대전</p></a>
                <a href="#" onclick="statusChange(this)"><p>천안 아산</p></a>
                <a href="#" onclick="statusChange(this)"><p>안면도 태안 서산 예산</p></a>
                <a href="#" onclick="statusChange(this)"><p>보령 부여 공주 금산</p></a>
                <a href="#" onclick="statusChange(this)"><p>청주 음성 진천</p></a>
                <a href="#" onclick="statusChange(this)"><p>충주 제천 단양</p></a>
            </div>
            <div class="city jeolla " hidden>
                <a href="#" onclick="statusChange(this)"><p>전라 전체</p></a>
                <a href="#" onclick="statusChange(this)"><p>전주</p></a>
                <a href="#" onclick="statusChange(this)"><p>여수 순천 광양</p></a>
                <a href="#" onclick="statusChange(this)"><p>광주</p></a>
                <a href="#" onclick="statusChange(this)"><p>군산 부안 익산 고창</p></a>
                <a href="#" onclick="statusChange(this)"><p>목포 해남 보성 나주 담양</p></a>
                <a href="#" onclick="statusChange(this)"><p>남원 구례</p></a>
            </div>
            <div class="city global" hidden>
                <a href="#" onclick="statusChange(this)"><p>괌</p></a>
                <a href="#" onclick="statusChange(this)"><p>방콕</p></a>
                <a href="#" onclick="statusChange(this)"><p>파리</p></a>
                <a href="#" onclick="statusChange(this)"><p>다낭</p></a>
                <a href="#" onclick="statusChange(this)"><p>싱가포르</p></a>
                <a href="#" onclick="statusChange(this)"><p>런던</p></a>
                <a href="#" onclick="statusChange(this)"><p>푸켓</p></a>
                <a href="#" onclick="statusChange(this)"><p>사이판</p></a>
                <a href="#" onclick="statusChange(this)"><p>타이베이</p></a>
            </div>
        </div>



    <!--main 끝-->
        <!-- footer 시작 -->
        <footer th:replace="fragement/footer :: footer"></footer>
        <!-- footer 끝 -->


        <script src="/app/js/lodginpop.js"></script>
</body>
</html>