<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/css/mypage_mytravel.css">
    <script src="/app/js/mypage_travels.js"></script>
    <title>TRIPLE | 마이페이지 내여행</title>
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->

<!--메인-->
<div class="container_all">
    <p class="mypage_title">MY PAGE</p>
    <div class="profile">
        <div class="profile_area">
            <div>
                <img src="/lib/img/mypage_img/mypage.svg" id="pro_img">
            </div>
            <div class="form_box">
                <div class="pro_box1">
                    <form action="#" name="regform" id="regform" class="regform">
                        <div class="pro_box1_left">
                            <input type="text" id="rename" name="rename" placeholder="김사과" th:text="${nickname}">
                            <p>한글/영어/숫자/밑줄/띄어쓰기를 사용할 수 있습니다.</p>
                        </div>
                        <div class="pro_box1_right">
                            <button id="btn" type="reset"><img src="/lib/img/mypage_img/btn-canel.svg"></button>
                        </div>
                    </form>
                </div>
                <div class="pro_box2">
                    <button id="done" onclick="sendit()">수정완료</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content_box">
        <div class="content_list">
            <div class="list">
                <li><a href="/Triple/mypage"><span id="choice">내 여행</span></a></li>
                <li><a href="/Triple/mypage/review">리뷰</a></li>   <!--review-->
                <li><a href="/Triple/mypage/mysave">내 저장</a></li>    <!--my_save-->
            </div>
            <div class="list">
                <li><a href="/Triple/mypage/reserve/air">내 예약</a></li>    <!---->
                <li><a href="/Triple/mypage/coupon">쿠폰함</a></li> <!---->
                <li><a href="/Triple/mypage/settings">설정</a></li>
            </div>
        </div>
        <div class="content_list2">
            <div class="list_box">
                <p id="list_tit">다가오는 여행</p>
                <div>
                    <a href="#">
                        <div class="list2">
                            <div><img src="/lib/img/mypage_img/mypage.svg" id="pro_img"></div>
                            <div><p id="list_cont">제주 여행 <br> 2022.10.21 - 2022.10.24 | 1명과 함께</p></div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <div class="list2">
                            <div><img src="/lib/img/mypage_img/mypage.svg" id="pro_img"></div>
                            <div><p id="list_cont">제주 여행 <br> 2022.10.21 - 2022.10.24 | 1명과 함께</p></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="list_box">
                <p id="list_tit">지난 여행</p>
                <div>
                    <a href="#">
                        <div class="list2">
                            <div><img src="/lib/img/mypage_img/mypage.svg" id="pro_img"></div>
                            <div><p id="list_cont">제주 여행 <br> 2022.10.21 - 2022.10.24 | 1명과 함께</p></div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <div class="list2">
                            <div><img src="/lib/img/mypage_img/mypage.svg" id="pro_img"></div>
                            <div><p id="list_cont">제주 여행 <br> 2022.10.21 - 2022.10.24 | 1명과 함께</p></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--메인 끝-->

<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>

</html>