<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 해외여행</title>
    <link rel="stylesheet" href="/app/css/overseas_travel.css">
    <link rel="stylesheet" href="/app/css/common.css">
</head>
<body>
    <div id="backg_image_area">
        <!--header 시작-->
        <div th:replace="fragement/header :: header"></div>
        <!--header 끝-->
    </div>
    <main>
        <p class="title">해외여행, 어디가 좋을까?</p>
        <!--추천 글 list-->
        <div class="item_div_box" id="event_area">
            <!--추천 1-->
            <a href="#" class="event_item_back event_item_back1">
                <div class="event_item">
                    <p class="event_item_title">[괌여행 특가]</p>
                    <p class="event_item_contant">비행기 티켓부터 숙박까지 한번에!</p>
                </div>
            </a>
            <!--추천 1 끝-->
            <a href="#" class="event_item_back event_item_back2">
                <div class="event_item">
                    <p class="event_item_title">[7월 이벤트]</p>
                    <p class="event_item_contant">하노이 여행특가</p>
                </div>
            </a>
            <a href="#" class="event_item_back event_item_back3">
                <div class="event_item">
                    <p class="event_item_title">[공지사항]</p>
                    <p class="event_item_contant">해외상황을 생생히 전달해줄 트리플 리포터 대모집!</p>
                </div>
            </a>
            <a href="#" class="event_item_back event_item_back4">
                <div class="event_item">
                    <p class="event_item_title">[예약 전 check]</p>
                    <p class="event_item_contant">해외여행 할인쿠폰 목록</p>
                </div>
            </a>
        </div>
        <!--추천 글 list 끝-->
        <p class="title">지금 떠나기 좋은 해외여행 BEST 10</p>
        <!--해외여행 추천지 lsit-->
        <div id="best_overseas_list">
            <div class="overseas_box">
                <div class="overseas_item_back overseas_item_bg1">
                    <div class="overseas_idx">1</div>
                    <div class="overseas_triple">괌</div>
                    <div class="overseas_btn">
                        <input type="button" value="여행상품보기" onclick="location.href='/templates/pages/overseas_travel/overseas_travel_hotel.html'">
                    </div>
                </div>
            </div>
            <div class="overseas_box">
                <div class="overseas_item_back overseas_item_bg2">
                    <div class="overseas_idx">2</div>
                    <div class="overseas_triple">방콕</div>
                    <div class="overseas_btn">
                        <input type="button" value="여행상품보기" onclick="location.href='/templates/pages/overseas_travel/overseas_travel_hotel.html'">
                    </div>
                </div>
            </div>
            <div class="overseas_box">
                <div class="overseas_item_back overseas_item_bg3">
                    <div class="overseas_idx">3</div>
                    <div class="overseas_triple">파리</div>
                    <div class="overseas_btn"><input type="button" value="여행상품보기" onclick="location.href='/templates/pages/overseas_travel/overseas_travel_hotel.html'"></div>
                </div>
            </div>
            <div class="overseas_box">
                <div class="overseas_item_back overseas_item_bg4">
                    <div class="overseas_idx">4</div>
                    <div class="overseas_triple">다낭</div>
                    <div class="overseas_btn">
                        <input type="button" value="여행상품보기" onclick="location.href='/templates/pages/overseas_travel/overseas_travel_hotel.html'">
                    </div>
                </div>
            </div>
            <div class="overseas_box">
                <div class="overseas_item_back overseas_item_bg5">
                    <div class="overseas_idx">5</div>
                    <div class="overseas_triple">싱가포르</div>
                    <div class="overseas_btn">
                        <input type="button" value="여행상품보기" onclick="location.href='/templates/pages/overseas_travel/overseas_travel_hotel.html'">
                    </div>
                </div>
            </div>
            <div class="overseas_box">
                <div class="overseas_item_back overseas_item_bg6">
                    <div class="overseas_idx">6</div>
                    <div class="overseas_triple">런던</div>
                    <div class="overseas_btn">
                        <input type="button" value="여행상품보기" onclick="location.href='/templates/pages/overseas_travel/overseas_travel_hotel.html'">
                    </div>
                </div>
            </div>
            <div class="overseas_box">
                <div class="overseas_item_back overseas_item_bg7">
                    <div class="overseas_idx">7</div>
                    <div class="overseas_triple">하와이</div>
                    <div class="overseas_btn">
                        <input type="button" value="여행상품보기" onclick="location.href='/templates/pages/overseas_travel/overseas_travel_hotel.html'">
                    </div>
                </div>
            </div>
            <div class="overseas_box">
                <div class="overseas_item_back overseas_item_bg8">
                    <div class="overseas_idx">8</div>
                    <div class="overseas_triple">발리</div>
                    <div class="overseas_btn">
                        <input type="button" value="여행상품보기" onclick="location.href='/templates/pages/overseas_travel/overseas_travel_hotel.html'">
                    </div>
                </div>
            </div>
            <div class="overseas_box">
                <div class="overseas_item_back overseas_item_bg9">
                    <div class="overseas_idx">9</div>
                    <div class="overseas_triple">뉴욕</div>
                    <div class="overseas_btn">
                        <input type="button" value="여행상품보기" onclick="location.href='/templates/pages/overseas_travel/overseas_travel_hotel.html'">
                    </div>
                </div>
            </div>
            <div class="overseas_box">
                <div class="overseas_item_back overseas_item_bg10">
                    <div class="overseas_idx">10</div>
                    <div class="overseas_triple">바르셀로나</div>
                    <div class="overseas_btn">
                        <input type="button" value="여행상품보기" onclick="location.href='/templates/pages/overseas_travel/overseas_travel_hotel.html'">
                    </div>
                </div>
            </div>
        </div>
        <!--해외여행 추천지 lsit 끝-->
        <!--자가격리 면제 안내-->
        <div id="overseas_notice">
            <div>해외 입국자의 국내 자가 격리 면제</div>
            <div>백신 접종 여부에 관계없이, 한국 입국 전 48시간 이내에 검사한 PCR 또는 24시간 이내에 검사한 신속 항원 검사 음성 확인서를 제출하면 대한민국 입국 자가격리가 면제됩니다.</div>
            <div>※ 만 6세 미만은 음성확인서 제출이 면제됩니다.</div>
        </div>
        <!--자가격리 면제 안내 끝-->
        <div id="global_go_btn">
            <input type="button" value="항공권 예매하러 가기" onclick="location.href='/templates/pages/flight_reservation/flight_reservation.html'">
        </div>
    </main>
    <!-- footer 시작 -->
    <footer th:replace="fragement/footer :: footer"></footer>
    <!-- footer 끝 -->
</body>
</html>