<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 호텔·리조트</title>
    <link rel="stylesheet" href="/app/css/overseas_travel.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        select, input[type="button"]{
            height: 40px;
            width: 100px;
            border-radius: 5px;
            padding: 10px;
            margin-right: 5px;
            border: none;
            font-weight: bold;
            box-shadow: 2px 2px 5px rgb(176, 176, 176);
        }
        select {
            width: 95px;
            margin-right: 10px;
        }
        select, input[type="button"]{
            background-color: white;
        }
        #hotel_btn{
            background-color: #2680EB;
            color: white;
            box-shadow: 2px 2px 5px rgb(176, 176, 176);
        }
    </style>
</head>
<body>
    <div id="backg_image_area">
        <!--header 시작-->
        <div th:replace="fragement/header :: header"></div>
        <!--header 끝-->
    </div>

    <main>
        <p class="title">트리플님, <span style="color: #50e3c2;">괌여행</span> 맞춤상품을 찾아봤어요</p>
        <!--맞춤 동선 지도-->
        <div id="map">
            <div class="container">
                <a href="#">
                    <img src="/static/lib/img/overseas_travel_img/overseas_map.svg" alt="map">
                </a>
            </div>
            <div class="container btn_con">
                <select name="" id="select_list_view">
                    <option value="추천순">추천순</option>
                    <option value="리뷰순">리뷰순</option>
                    <option value="저장순">저장순</option>
                    <option value="가격낮은순">가격낮은순</option>
                    <option value="가격높은순">가격높은순</option>
                </select>
                <a href="/templates/pages/overseas_travel/overseas_travel_hotel.html"><input type="button" value="호텔·리조트" id="hotel_btn"></a>
                <div>
                    <div id="like_place">
                        <a href="#">
                            <div>
                                <img src="/static/lib/img/overseas_travel_img/icon_heart.svg" alt="like">
                                <span>0</span>
                            </div>
                        </a>
                    </div>
                    <a href="/templates/pages/overseas_travel/overseas_travel_tourticket.html"><input type="button" value="투어·티켓"></a>
                </div>
            </div>
        </div>
        <!--맞춤 동선 지도-->
        <!--상품 리스트-->
        <div id="items_list">
            <!--상품-->
            <div class="item">
                <p class="item_list_item_title">
                    <a href="#">두짓 타니 괌 리조트</a><span><i class="bi bi-heart"></i></span>
                </p>
                <p>프라이빗 비치와 연결된 넓은 수영장을 보유한 전망 좋은 2015년 오픈 리조트</p>
                <p>
                    <span class="review_star">★★★★★</span> (<span>331</span>) · 저장 <span>3,387</span> · <span>5성급</span> · <span>투몬, 티무닝</span>
                </p> 
                <p class="item_price">462,576원</p>
                <p>
                    <img src="/static/lib/img/overseas_travel_img/guam_hotel_img.svg" alt="resort">
                </p>
            </div>
            <!--상품 끝-->
            <div class="item">
                <p class="item_list_item_title">
                    <a href="#">두짓 타니 괌 리조트</a> <span><i class="bi bi-heart"></i></span>
                </p>
                <p>프라이빗 비치와 연결된 넓은 수영장을 보유한 전망 좋은 2015년 오픈 리조트</p>
                <p>
                    <span class="review_star">★★★★★</span> (<span>331</span>) · 저장 <span>3,387</span> · <span>5성급</span> · <span>투몬, 티무닝</span>
                </p> 
                <p class="item_price">462,576원</p>
                <p>
                    <img src="/static/lib/img/overseas_travel_img/guam_hotel_img.svg" alt="resort">
                </p>
            </div>
            <div class="item">
                <p class="item_list_item_title">
                    <a href="#">두짓 타니 괌 리조트</a> <span><i class="bi bi-heart"></i></span>
                </p>
                <p>프라이빗 비치와 연결된 넓은 수영장을 보유한 전망 좋은 2015년 오픈 리조트</p>
                <p>
                    <span class="review_star">★★★★★</span> (<span>331</span>) · 저장 <span>3,387</span> · <span>5성급</span> · <span>투몬, 티무닝</span>
                </p> 
                <p class="item_price">462,576원</p>
                <p>
                    <img src="/static/lib/img/overseas_travel_img/guam_hotel_img.svg" alt="resort">
                </p>
            </div>
            <div class="item">
                <p class="item_list_item_title">
                    <a href="#">두짓 타니 괌 리조트</a> <span><i class="bi bi-heart"></i></span>
                </p>
                <p>프라이빗 비치와 연결된 넓은 수영장을 보유한 전망 좋은 2015년 오픈 리조트</p>
                <p>
                    <span class="review_star">★★★★★</span> (<span>331</span>) · 저장 <span>3,387</span> · <span>5성급</span> · <span>투몬, 티무닝</span>
                </p> 
                <p class="item_price">462,576원</p>
                <p>
                    <img src="/static/lib/img/overseas_travel_img/guam_hotel_img.svg" alt="resort">
                </p>
            </div>
            <div class="item">
                <p class="item_list_item_title">
                    <a href="#">두짓 타니 괌 리조트</a> <span><i class="bi bi-heart"></i></span>
                </p>
                <p>프라이빗 비치와 연결된 넓은 수영장을 보유한 전망 좋은 2015년 오픈 리조트</p>
                <p>
                    <span class="review_star">★★★★★</span> (<span>331</span>) · 저장 <span>3,387</span> · <span>5성급</span> · <span>투몬, 티무닝</span>
                </p> 
                <p class="item_price">462,576원</p>
                <p>
                    <img src="/static/lib/img/overseas_travel_img/guam_hotel_img.svg" alt="resort">
                </p>
            </div>
            <div class="item">
                <p class="item_list_item_title"><a href="#">두짓 타니 괌 리조트</a> <span><i class="bi bi-heart"></i></span>
                </p>
                <p>프라이빗 비치와 연결된 넓은 수영장을 보유한 전망 좋은 2015년 오픈 리조트</p>
                <p>
                    <span class="review_star">★★★★★</span> (<span>331</span>) · 저장 <span>3,387</span> · <span>5성급</span> · <span>투몬, 티무닝</span>
                </p> 
                <p class="item_price">462,576원</p>
                <p>
                    <img src="/static/lib/img/overseas_travel_img/guam_hotel_img.svg" alt="resort">
                </p>
            </div>
            <div class="item">
                <p class="item_list_item_title">
                    <a href="#">두짓 타니 괌 리조트</a><span><i class="bi bi-heart"></i></span>
                </p>
                <p>프라이빗 비치와 연결된 넓은 수영장을 보유한 전망 좋은 2015년 오픈 리조트</p>
                <p>
                    <span class="review_star">★★★★★</span> (<span>331</span>) · 저장 <span>3,387</span> · <span>5성급</span> · <span>투몬, 티무닝</span>
                </p> 
                <p class="item_price">462,576원</p>
                <p>
                    <img src="/static/lib/img/overseas_travel_img/guam_hotel_img.svg" alt="resort">
                </p>
            </div>
        </div>
        <!--상품 리스트 끝-->
        <script>
            var i = 0;
            $('.bi-heart').on('click',function(){
                if(i==0){
                    $(this).removeClass('bi-heart');
                    $(this).addClass('bi-heart-fill');
                    i++;
                }else if(i==1){
                    $(this).removeClass('bi-heart-fill');
                    $(this).addClass('bi-heart');
                    i--;
                }
                
            });
        
        </script>
        
    </main>
    <!-- footer 시작 -->
    <footer th:replace="fragement/footer :: footer"></footer>
    <!-- footer 끝 -->
</body>
</html>