<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 | 항공권 등록</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="/app/css/admin.css">

        </head>
<body>
    <!--header-->
    <div th:replace="fragement/adminTopbar :: adminTopbar"></div>
<!--header 끝-->

    <!-- 사이드바-->
    <section id="sidebar">
        <aside id="leftsidebar" class="sidebar">
            <ul class="side-menu">
                <li><a href="#"><i class='bx bxs-user-detail icon'></i>회원관리<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/userList">회원목록</a></li>
                        <li><a href="/Triple/admin/user/term">회원가입</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-list-check icon'></i>예약조회<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">

                        <li><a href="/Triple/admin/booking/fly">항공권</a></li>
                        <li><a href="/Triple/admin/booking/lodging">숙소</a></li>
                        <li><a href="/Triple/admin/booking/package">패키지</a></li>

                    </ul>
                </li>
                <li><a href="#"><i class='bx bxs-folder-plus icon'></i>신규등록<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/airline_register">항공사 신규 등록</a></li>
                        <li><a href="/Triple/aircraft_register">항공기 신규 등록</a></li>
                        <li><a href="/Triple/airportList">취항지 목록</a></li>
                        <li><a href="/Triple/destination_register">취항지 신규 등록</a></li>
                        <li><a href="/Triple/lodging_company">숙소 신규 등록</a></li>
                    </ul>
                </li>
                <li><a href="#" style="background-color: white; color:#0098A1;"><i class='bx bxs-inbox icon'></i>상품등록<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown show">
                        <li><a href="/Triple/airline_select" style="color:darkslategray; font-weight: bold;">항공권</a></li>
                        <li><a href="/Triple/room_register">숙소</a></li>
                        <li><a href="/Triple/package_register">패키지</a></li>

                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-list-check icon'></i>상품목록<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/airLineList">항공권</a></li>
                        <li><a href="/Triple/admin/lodgingList">숙소</a></li>
                        <li><a href="/Triple/admin/packageList">패키지</a></li>

                    </ul>
                </li>

                </li>
                <li><a href="#"><i class='bx bxs-coupon icon'></i>쿠폰<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/couponList">목록</a></li>
                        <li><a href="/Triple/admin/coupon/register">등록</a></li>
                    </ul>
                </li>    
                <li><a href="#"><i class='bx bx-gift icon'></i>이벤트<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/eventList">목록</a></li>
                        <li><a href="/Triple/admin/event/register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-list-ul icon'></i>공지사항<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/noticeList">목록</a></li>
                        <li><a href="/Triple/admin/notice/register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bxs-inbox icon'></i>매거진<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/magazineList">목록</a></li>
                        <li><a href="/Triple/admin/magazine_register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-map icon'></i>여행스팟<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/spotList">목록</a></li>
                        <li><a href="/Triple/tourism_register">관광지 등록</a></li>
                        <li><a href="/Triple/restaurant_register">맛집 등록</a></li>
                        <li><a href="/Triple/guide_register">가이드 등록</a></li>
                    </ul>
                </li>
                <li><a href="/Triple/admin/payment"><i class='bx bx-credit-card icon'></i>결제</a>
                    
                </li>
                <li><a href="#"><i class='bx bx-question-mark icon'></i>문의<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/inquiryList">1:1 문의</a></li>
                        <li><a href="/Triple/admin/faqList">FAQ</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-user icon'></i>관리자 관리<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/adminList">목록</a></li>
                        <li><a href="/Triple/admin/admin_join">등록</a></li>
                    </ul>
                </li>
                <li><a href="/Triple/admin/admin_login"><i class='bx bx-log-out icon'></i>로그아웃</a></li>
            </ul>
        </aside>
    </section>
    <!--사이드바 끝-->

    <section class="content2"> 
        <div class="content2-fluid">
            <!--타이틀-->
            <div class="header_box">
                <h2>상품등록 | 항공권</h2>
            </div>
            <!--타이틀 끝-->
            <!--항공권 정보 등록-->
            <form th:action="@{/api/airTicket/register}" onsubmit="return productAir()" method="post">
                <div class="admin_inquiry_qtext">
                    <div class="admin_inquiry_title">국내/국외</div>
                    <div class="admin_inquiry_q3">
                        <select name="airRoute" id="DOcategory" class="admin_inquiry_category2">
                            <option value="">선택</option>
                            <option value="국내">국내</option>
                            <option value="국제">국제</option>
                        </select>
                    </div>
                </div>
                <div class="admin_inquiry_qtext">
                    <div class="admin_inquiry_title">출발시간</div>
                    <div class="admin_inquiry_q3">
                        <input  name="departureTime" type="text" class="admin_inquiry_category2 go_time">
                    </div>
                </div>
                <div class="admin_inquiry_qtext">
                    <div class="admin_inquiry_title">도착시간</div>
                    <div class="admin_inquiry_q3">
                        <input name="landingTime" type="text" class="admin_inquiry_category2 arr_time">
                    </div>
                </div>
                <div class="admin_inquiry_qtext">
                    <div class="admin_inquiry_title">비행시간</div>
                    <div class="admin_inquiry_q3">
                        <input name="flightTime" type="text" class="admin_inquiry_category2 flytime">
                    </div>
                </div>
                <div class="admin_inquiry_qtext">
                    <div class="admin_inquiry_title">출발지</div>
                    <select name="departureAirport"  class="admin_inquiry_category2" style="width: 79%;">
                        <option th:each="departureairport: ${airportList}"  th:value="${departureairport.getAirportName()}" th:text="${departureairport.getAirportName()}"></option>
                    </select>
                </div>
                <div class="admin_inquiry_qtext">
                    <div class="admin_inquiry_title">도착지</div>
                    <select name="landingAirport"  class="admin_inquiry_category2" style="width: 79%;">
                        <option th:each="landingairport: ${airportList}"  th:value="${landingairport.getAirportName()}" th:text="${landingairport.getAirportName()}"></option>
                    </select>
                </div>
                <input name="airlineName" type="hidden" th:value="${airlineName}">
                <div class="admin_inquiry_qtext">
                    <div class="admin_inquiry_title">항공기명</div>
                    <div class="admin_inquiry_q3">
                        <select name="aircraftName" id="plane_name" class="admin_inquiry_category2">
                            <option th:each="aircraft: ${aircraftList}"  th:value="${aircraft.getAircraftName()}" th:text="${aircraft.getAircraftName()}"></option>
                        </select>
                    </div>
                </div>
                <div class="admin_inquiry_qtext">
                    <div class="admin_inquiry_title">수하물</div>
                    <div class="admin_inquiry_q3 keyword">
                        <label for="free" class="checkb"><input type="radio" name="baggage" id="free" value="포함">포함</label>
                        <label for="sale" class="checkb"><input type="radio" name="baggage" id="sale" value="미포함">미포함</label>
                    </div>
                </div>
                <!--좌석별 가격-->
                <div class="admin_inquiry_qtext">
                    <div class="admin_inquiry_title2">가격</div>
                </div>
                <div class="admin_inquiry_qtext round">
                    <div class="admin_inquiry_title">일반석</div>
                    <div class="admin_inquiry_q3">
                        <div class="seat_type">
                            <span>성인<input name="economyAdultPrice" type="text" id="Eadult" class="seat_type_input">원</span> /
                            <span>소아<input name="economyChildPrice" type="text" id="Einfant" class="seat_type_input">원</span> /
                            <span>유아<input name="economyInfantPrice" type="text" id="Echild" class="seat_type_input">원</span>
                        </div>
                    </div>
                </div>
                <div class="admin_inquiry_qtext round">
                    <div class="admin_inquiry_title">프리미엄</div>
                    <div class="admin_inquiry_q3">
                        <div class="seat_type">
                            <span>성인<input name="premiumAdultPrice" type="text" class="seat_type_input">원</span> /
                            <span>소아<input name="premiumChildPrice" type="text" class="seat_type_input">원</span> /
                            <span>유아<input name="premiumInfantPrice" type="text" class="seat_type_input">원</span>
                        </div>
                    </div>
                </div>
                <div class="admin_inquiry_qtext round">
                    <div class="admin_inquiry_title">비즈니스</div>
                    <div class="admin_inquiry_q3">
                        <div class="seat_type">
                            <span>성인<input name="businessAdultPrice" type="text" id="Badult" class="seat_type_input">원</span> /
                            <span>소아<input name="businessChildPrice" type="text" id="Binfant" class="seat_type_input">원</span> /
                            <span>유아<input name="businessInfantPrice" type="text" id="Bchild" class="seat_type_input">원</span>
                        </div>
                    </div>
                </div>
                <div class="admin_inquiry_qtext round">
                    <div class="admin_inquiry_title">일등석</div>
                    <div class="admin_inquiry_q3">
                        <div class="seat_type">
                            <span>성인<input name="firstAdultPrice" type="text" id="Fadult" class="seat_type_input">원</span> /
                            <span>소아<input name="firstChildPrice" type="text" id="Finfant" class="seat_type_input">원</span> /
                            <span>유아<input name="firstInfantPrice" type="text" id="Fchild" class="seat_type_input">원</span>
                        </div>
                    </div>
                </div>
                <!--좌석별 가격 끝-->
            
            <!--항공권 정보 등록 끝-->
            <div class="btnlist">
                <input type="submit" value="등록">
                <input type="reset" value="초기화">
            </div>
        </form>
        </div>
    </section>

    <script src="/app/js/script.js"></script>
    <script src="/app/js/admin.js"></script>
</body>
</html>