<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 | 항공기등록</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="/app/css/admin.css">

    <style>
        .formbox{
            margin-top: 100px;
        }
        .leftbox div,
        .rightbox div{
            display: flex;
            flex-wrap: wrap;
        }
        
    </style>
</head>
<body>
    <!--header-->
    <div th:replace="fragement/adminTopbar :: adminTopbar"></div>
<!--header 끝-->

    <!-- 사이드바-->
    <section id="sidebar">
        <aside id="leftsidebar" class="sidebar">
            <ul class="side-menu">
                <li><a href="#"><i class='bx bxs-user-detail icon'></i>회원관리<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/userList">회원목록</a></li>
                        <li><a href="/Triple/admin/user/term">회원가입</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-list-check icon'></i>예약조회<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">

                        <li><a href="/Triple/admin/booking/fly">항공권</a></li>
                        <li><a href="/Triple/admin/booking/lodging">숙소</a></li>
                        <li><a href="/Triple/admin/booking/package">패키지</a></li>

                    </ul>
                </li>
                <li><a href="#"  style="background-color: white; color:#0098A1;"><i class='bx bxs-folder-plus icon'></i>신규등록<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown show">
                        <li><a href="/Triple/airline_register">항공사 신규 등록</a></li>
                        <li><a href="/Triple/aircraft_register" style="color:darkslategray; font-weight: bold;">항공기 신규 등록</a></li>
                        <li><a href="/Triple/airportList">취항지 목록</a></li>
                        <li><a href="/Triple/destination_register">취항지 신규 등록</a></li>
                        <li><a href="/Triple/lodging_company">숙소 신규 등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bxs-inbox icon'></i>상품등록<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/airline_select">항공권</a></li>
                        <li><a href="/Triple/room_register">숙소</a></li>
                        <li><a href="/Triple/package_register">패키지</a></li>

                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-list-check icon'></i>상품목록<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/airLineList">항공권</a></li>
                        <li><a href="/Triple/admin/lodgingList">숙소</a></li>

                        <li><a href="/Triple/admin/packageList">패키지</a></li>

                    </ul>
                </li>

                </li>
                <li><a href="#"><i class='bx bxs-coupon icon'></i>쿠폰<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/couponList">목록</a></li>
                        <li><a href="/Triple/admin/coupon/register">등록</a></li>
                    </ul>
                </li>    
                <li><a href="#"><i class='bx bx-gift icon'></i>이벤트<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/eventList">목록</a></li>
                        <li><a href="/Triple/admin/event/register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-list-ul icon'></i>공지사항<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/noticeList">목록</a></li>
                        <li><a href="/Triple/admin/notice/register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bxs-inbox icon'></i>매거진<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/magazineList">목록</a></li>
                        <li><a href="/Triple/admin/magazine_register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-map icon'></i>여행스팟<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/spotList">목록</a></li>
                        <li><a href="/Triple/tourism_register">관광지 등록</a></li>
                        <li><a href="/Triple/restaurant_register">맛집 등록</a></li>
                        <li><a href="/Triple/guide_register">가이드 등록</a></li>
                    </ul>
                </li>
                <li><a href="/Triple/admin/payment"><i class='bx bx-credit-card icon'></i>결제</a>
                    
                </li>
                <li><a href="#"><i class='bx bx-question-mark icon'></i>문의<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/inquiryList">1:1 문의</a></li>
                        <li><a href="/Triple/admin/faqList">FAQ</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-user icon'></i>관리자 관리<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/adminList">목록</a></li>
                        <li><a href="/Triple/admin/admin_join">등록</a></li>
                    </ul>
                </li>
                <li><a href="/Triple/admin/admin_login"><i class='bx bx-log-out icon'></i>로그아웃</a></li>
            </ul>
        </aside>
    </section>
    <!--사이드바 끝-->

    <section class="content2">
        <div class="content2-fluid">
            
            <!--타이틀-->
            <div class="header_box">
                <h2>항공기 신규 등록</h2>
            </div>
            <!--타이틀 끝-->
            <!--항공기 정보 등록-->
            <form th:action="@{/api/aircraft/register}" method="post" onsubmit="return aircraft()">
                <div class="admin_manage_form_container">
                    <div class="admin_manage_form_container_ul1">
                        <p class="admin_register_item">항공사명 </p>
                        <p class="admin_register_item">제조회사 </p>
                        <p class="admin_register_item">프리미엄석 </p>
                        <p class="admin_register_item">총 좌석수 </p>
                    </div>
                    <div class="admin_manage_form_container_ul2">
                        <p>
                            <select name="airlineName" id="airlineName" class="admin_register_adminid_content">
                                <option  th:each="airline : ${airlineList}" th:value="${airline.getKrName()}" th:text="${airline.getKrName()}"></option>
                            </select>
                        </p>
                        <p><input type="text" name="madeBy" class="admin_register_content" placeholder="제조사를 입력하세요"></p>
                        <p><input name="premiumSeat" type="text" class="admin_register_content family" placeholder="premium 좌석 수를 입력하세요"></p>
                        <p><input name="aircraftCapacity" type="text" class="admin_register_content total" placeholder="총 좌석수를 입력하세요"></p>
                    </div>
                    <div class="admin_manage_form_container_ul1 aircraft_reg">
                        <p class="admin_register_item">항공기명 </p>
                        <p class="admin_register_item">일등석 </p>
                        <p class="admin_register_item">비즈니스석 </p>
                        <p class="admin_register_item">이코노미석 </p>
                    </div>
                    <div class="admin_manage_form_container_ul2 aircraft_reg">
                        <p><input name="aircraftName" type="text" class="admin_register_content aircraftName" placeholder="항공기명을 입력하세요"></p>
                        <p><input name="firstSeat" type="text" class="admin_register_content vip" placeholder="vip 좌석 수를 입력하세요"></p>
                        <p><input name="businessSeat" type="text" class="admin_register_content special" placeholder="특가석 좌석 수를 입력하세요"></p>
                        <p><input name="economySeat" type="text" class="admin_register_content economy" placeholder="일반석 좌석 수를 입력하세요"></p>
                    </div>
                </div>
                <div class="btnlist">
                    <input type="submit" value="등록">
                    <input type="reset" value="초기화">
                </div>
            </form>
            <!--항공기 정보등록 끝-->
        </div>
    </section>

    <script src="/app/js/script.js"></script>
    <script src="/app/js/admin.js"></script>
</body>
</html>