<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 | 전체예약조회</title>
    <link rel="stylesheet" href="/app/css/admin.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
</head>
<body>
    <!--header-->
    <div th:replace="fragement/adminTopbar :: adminTopbar"></div>
<!--header 끝-->

    <!-- 사이드바-->
    <section id="sidebar">
        <aside id="leftsidebar" class="sidebar">
            <ul class="side-menu">
                <li><a href="#"><i class='bx bxs-user-detail icon'></i>회원관리<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/userList">회원목록</a></li>
                        <li><a href="/Triple/admin/user/term">회원가입</a></li>
                    </ul>
                </li>
                <li><a href="#" style="background-color: white; color:#0098A1;"><i class='bx bx-list-check icon'></i>예약조회<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown show">
                        <li><a href="/Triple/admin/booking/fly">항공권</a></li>
                        <li><a href="/Triple/admin/booking/lodging">숙소</a></li>
                        <li><a href="/Triple/admin/booking/package">패키지</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bxs-folder-plus icon'></i>신규등록<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/airline_register">항공사 신규 등록</a></li>
                        <li><a href="/Triple/aircraft_register">항공기 신규 등록</a></li>
                        <li><a href="/Triple/airportList">취항지 목록</a></li>
                        <li><a href="/Triple/destination_register">취항지 신규 등록</a></li>
                        <li><a href="/Triple/lodging_company">숙소 신규 등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bxs-inbox icon'></i>상품등록<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/airline_select">항공권</a></li>
                        <li><a href="/Triple/room_register">숙소</a></li>
                        <li><a href="/Triple/admin/lodgingRoomList">객실</a></li>

                        <li><a href="/Triple/package_register">패키지</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-list-check icon'></i>상품목록<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/airLineList">항공권</a></li>
                        <li><a href="/Triple/admin/lodgingList">숙소</a></li>
                        <li><a href="/Triple/admin/packageList">패키지</a></li>
                    </ul>
                </li>

                </li>
                <li><a href="#"><i class='bx bxs-coupon icon'></i>쿠폰<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/couponList">목록</a></li>
                        <li><a href="/Triple/admin/coupon/register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-gift icon'></i>이벤트<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/eventList">목록</a></li>
                        <li><a href="/Triple/admin/event/register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-list-ul icon'></i>공지사항<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/noticeList">목록</a></li>
                        <li><a href="/Triple/admin/notice/register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bxs-inbox icon'></i>매거진<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/magazineList">목록</a></li>
                        <li><a href="/Triple/admin/magazine_register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-map icon'></i>여행스팟<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/spotList">목록</a></li>
                        <li><a href="/Triple/tourism_register">관광지 등록</a></li>
                        <li><a href="/Triple/restaurant_register">맛집 등록</a></li>
                        <li><a href="/Triple/guide_register">가이드 등록</a></li>
                    </ul>
                </li>
                <li><a href="/Triple/admin/payment"><i class='bx bx-credit-card icon'></i>결제</a>

                </li>
                <li><a href="#"><i class='bx bx-question-mark icon'></i>문의<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/inquiryList">1:1 문의</a></li>
                        <li><a href="/Triple/admin/faqList">FAQ</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-user icon'></i>관리자 관리<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/adminList">목록</a></li>
                        <li><a href="/Triple/admin/admin_join">등록</a></li>
                    </ul>
                </li>
                <li><a href="/Triple/admin/admin_login"><i class='bx bx-log-out icon'></i>로그아웃</a></li>
            </ul>
        </aside>
    </section>
    <!--사이드바 끝-->
    <section class="content2">
        <div class="content2-fluid">
            <!--타이틀 및 검색조회-->
            <div class="header_box">
                <h2>예약조회 | 전체</h2> 
                <nav>
                    <form action="#">
                        <div class="form-group">
                            <input type="date"> ~ <input type="date">
                            <select>
                                <option value="전체">전체</option>
                                <option value="아이디">아이디</option>
                                <option value="이름">이름</option>
                                <option value="예약번호">예약번호</option>
                                <option value="내용">내용</option>
                            </select>
                            <input type="text" placeholder="검색어를 입력하세요">
                            <button type="submit">검색</button>
                        </div>
                    </form>
                </nav>
            </div>
            <!--타이틀 및 검색조회 끝-->
            <!--전체 예약 조회 테이블-->
            <table class="tbList">
                <tr>
                    <th>이름</th>
                    <th>분류</th>
                    <th>예약번호</th>
                    <th>내용</th>
                    <th>날짜</th>
                </tr> 
                <tr th:each="booking : ${bookingList}">
                    <td><a th:href="'/Triple/admin/booking/view'+${booking.getIdx()}" th:text="${booking.revName}"></a></td>
                    <td th:text="${booking.ticketType}">투어/티켓</td>
                    <td th:text="${booking.ticketNum}">T04168</td>
                    <td th:text="${booking.title}">바나힐 입장권</td>
                    <td th:text="${booking.revDate}">2022.04.24</td>
                </tr>
            </table>
            <!--조회 테이블 끝-->
            <!--넘버링-->
            <div class="pageNum">
                <p>1 2 3 4 5</p>
            </div>
            <!--넘버링 끝-->
        </div>
    </section>

    <script src="/app/js/script.js"></script>
    <script src="/app/js/admin.js"></script>
</body>
</html>