<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 매거진 항공·공항</title>
    <link rel="stylesheet" href="/app/css/magazine.css">
    <link rel="stylesheet" href="/app/css/common.css ">
</head>
<body>
    <!-- header 시작 -->
    <div th:replace="fragement/header :: header"></div>
    <!-- header 끝 -->
    <!--메인-->
    <div class="container">
        <div class="mag_area">
            <ul id="mag_list">
                <li><a href="/Triple/magazine"><span id="all">전체</span></a></li>
                <li><a href="/Triple/magazine/recommend">여행지추천</a> </li>
                <li><a href="/Triple/magazine/tip">여행꿀팁</a> </li>
                <li><a href="/Triple/magazine/restaurant">맛집탐방</a> </li>
                <li  style="background-color: #458cd3; border: 1px solid #458cd3;"><a href="/Triple/magazine/air"  style="color: #fff;">항공･공항</a> </li>
                <li><a href="/Triple/magazine/lodging">숙소추천</a> </li>
                <li><a href="/Triple/magazine/tourticket">투어･티켓</a> </li>
                <li><a href="/Triple/magazine/shopping">쇼핑</a> </li>
                <li><a href="/Triple/magazine/travels">여행기</a> </li>
            </ul>
        </div>
        <div class="mag_content">
            <div class="content_list">
                <div class="list_box" th:each="magazine : ${magazineList}">
                    <a th:href="'/Triple/magazine/'+${magazine.getMagazineType().toString().toLowerCase()}+'/view/'+${magazine.getIdx()}">
                        <p id="li_tit" th:text="${magazine.getTitle()}"></p>
                        <p id="li_cont" th:text="${magazine.getSummary()}"></p>
                        <p id="li_cont" th:text="${magazine.getTag()}"></p>
                    </a>
                    <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img">
                <div class="list_box">
                    <a href="/Triple/magazine/airport_view" id="text">
                        <p id="li_tit">출근길보다 빠르게<br> 여행 떠나는 방법</p>
                        <p id="li_cont">비행기로 떠나는 국내여행 입문서</p>
                        <p id="li_cont">#항공･공항 #국내</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine/airport_view" id="text">
                        <p id="li_tit">마일리지 똑똑하게 쓰는 법</p>
                        <p id="li_cont">항공 마일리지 티끌 모아 <br> 비즈니스 타기 프로젝트!</p>
                        <p id="li_cont">#항공･공항 #여행꿀팁</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine/airport_view" id="text">
                        <p id="li_tit">여행사 직원이 알려주는 <br>항공권의 비밀</p>
                        <p id="li_cont">항공권, 언제 사야 가장 쌀까?</p>
                        <p id="li_cont">#항공･공항 #여행꿀팁</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine/airport_view" id="text">
                        <p id="li_tit">마일리지 적립과 사용 A to Z</p>
                        <p id="li_cont">마일리지 티끌 모아 <br> 비즈니스 타기 프로젝트!</p>
                        <p id="li_cont">#항공･공항 #여행꿀팁</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine/airport_view" id="text">
                        <p id="li_tit">초보 여행자들이 <br> 자주 저지르는 실수 4</p>
                        <p id="li_cont">항공권 예약, 두 번 실수는 없다</p>
                        <p id="li_cont">#항공･공항 #여행꿀팁</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine/airport_view" id="text">
                        <p id="li_tit">파리 '샤를 드 골 공항'<br>면세 쇼핑 안내서</p>
                        <p id="li_cont">파리에서 꼭! 사야 할 아이템은?</p>
                        <p id="li_cont">#항공･공항 #유럽</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine/airport_view" id="text">
                        <p id="li_tit">베트남 여행 전! <br> 이것만은 꼭 알고 가자</p>
                        <p id="li_cont">#항공･공항 #동남아시아</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine/airport_view" id="text">
                        <p id="li_tit">유럽 저가 항공<br> 더! 저렴하게 예매하는 팁</p>
                        <p id="li_cont">#항공･공항 #유럽</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine/airport_view" id="text">
                        <p id="li_tit">따뜻한 연말을 위한 <br>항공권 미리 준비하기</p>
                        <p id="li_cont">#항공･공항 #동남아시아</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                    <img th:src="@{${magazine.getUploadPath()}}" id="list_img">
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--메인 끝-->
    <!--푸터-->
    <div th:replace="fragement/footer :: footer"></div>
    <!--푸터 끝-->
</body>
</html>