<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 매거진 여행지추천</title>
    <link rel="stylesheet" href="/app/css/magazine.css">
    <link rel="stylesheet" href="/app/css/common.css ">
</head>
<body>
    <!-- header 시작 -->
    <div th:replace="fragement/header :: header"></div>
    <!-- header 끝 -->

    <!--메인-->
    <div class="container">
        <div class="mag_area">
            <ul id="mag_list">
                <li><a href="/Triple/magazine"><span id="all">전체</span></a></li>
                <li  style="background-color: #458cd3; border: 1px solid #458cd3;" ><a href="/Triple/magazine_recommend"  style="color: #fff;">여행지추천</a> </li>
                <li><a href="/Triple/magazine_tip">여행꿀팁</a> </li>
                <li><a href="/Triple/magazine_eatplace">맛집탐방</a> </li>
                <li><a href="/Triple/magazine_airport">항공･공항</a> </li>
                <li><a href="/Triple/magazine_guesthouse">숙소추천</a> </li>
                <li><a href="/Triple/magazine_tourticket">투어･티켓</a> </li>
                <li><a href="/Triple/magazine_shop">쇼핑</a> </li>
                <li><a href="/Triple/magazine_travels">여행기</a> </li>
            </ul>
        </div>
        <div class="mag_content">
            <div class="content_list">
                <div class="list_box">
                    <a href="/Triple/magazine_view/recommend_view.html" id="text">
                        <p id="li_tit">아이와 함께 떠나는 여행, <br> 온 가족이 행복한 여행지</p><p id="li_cont">미리 골라두는 해외여행 버킷리스트📝</p><p id="li_cont">#여행지추천 #미주</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img"  >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine_view/recommend_view.html" id="text">
                        <p id="li_tit">'차 없어도 괜찮아요' <br> 초록빛 뚜벅이 기차 여행지</p><p id="li_cont">1박 2일 추천 코스따라 떠나볼까요?</p><p id="li_cont">#여행지추천 #국내</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img"  >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine_view/recommend_view.html" id="text">
                        <p id="li_tit">올여름 휴가로 딱! <br> 바다가 반기는 인기 휴양지 5</p><p id="li_cont">트리플 추천 주요 관광지까지 한눈에</p><p id="li_cont">#여행지추천 #미주</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img"  >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine_view/recommend_view.html" id="text">
                        <p id="li_tit">우리들의 블루스 촬영지, <br> 제주의'여기'래요!</p><p id="li_cont">눈으로 점찍었던 드라마 속 그곳 총정리💚</p><p id="li_cont">#여행지추천 #국내</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img"  >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine_view/recommend_view.html" id="text">
                        <p id="li_tit">코로나 이후 떠오르는 <br> NEW 여행지는?</p><p id="li_cont">트리플이 추천하는 따끈따끈 신상 여행지</p><p id="li_cont">#여행지추천 #미주</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img"  >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine_view/recommend_view.html" id="text">
                        <p id="li_tit">지금 안 가면 아쉬운 <br> 당일치기 드라이브 코스 6</p><p id="li_cont">탁 트인 해변부터 낭만적인 야경 코스까지</p><p id="li_cont">#여행지추천 #국내</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img"  >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine_view/recommend_view.html" id="text">
                        <p id="li_tit">직접 가보고 추천하는 <br> OOO과 가기 좋은 여행지</p><p id="li_cont">#부모님#연인과#아이와#혼자</p><p id="li_cont">#여행지추천 #미주</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img"  >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine_view/recommend_view.html" id="text">
                        <p id="li_tit">나의 다음 여행, <br> '제주vs해외'어디로 갈까?</p><p id="li_cont">'어디에도 없던 여행 혜택', 지금바로 떠나요✈</p><p id="li_cont">#여행지추천 #동남아시아</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img"  >
                </div>
                <div class="list_box">
                    <a href="/templates/pages/magazine/magazine_view/recommend_view.html" id="text">
                        <p id="li_tit">'여기 어디서 봤는데?' <br> 인기 드라마 촬영지 총집합</p><p id="li_cont">내가 본 드라마 속 그곳, 직접 떠나요!</p><p id="li_cont">#여행지추천 #미주</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img"  >
                </div>
            </div>
        </div>
    </div>
     <!--메인 끝-->
    <!--푸터-->
    <div th:replace="fragement/footer :: footer"></div>
    <!--푸터 끝-->
</body>
</html>