<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 매거진 쇼핑</title>
    <link rel="stylesheet" href="/app/css/magazine.css">
    <link rel="stylesheet" href="/app/css/common.css ">
</head>
<body>
    <!-- header 시작 -->
    <div th:replace="fragement/header :: header"></div>
    <!-- header 끝 -->

     <!--메인-->
    <div class="container">
        <div class="mag_area">
            <ul id="mag_list">
                <li><a href="/Triple/magazine"><span id="all">전체</span></a></li>
                <li><a href="/Triple/magazine_recommend">여행지추천</a> </li>
                <li><a href="/Triple/magazine_tip">여행꿀팁</a> </li>
                <li><a href="/Triple/magazine_eatplace">맛집탐방</a> </li>
                <li><a href="/Triple/magazine_airport">항공･공항</a> </li>
                <li><a href="/Triple/magazine_guesthouse">숙소추천</a> </li>
                <li><a href="/Triple/magazine_tourticket">투어･티켓</a> </li>
                <li  style="background-color: #458cd3; border: 1px solid #458cd3;"><a href="/Triple/magazine_shop"  style="color: #fff;">쇼핑</a> </li>
                <li><a href="/Triple/magazine_travels">여행기</a> </li>
            </ul>
        </div>
        <div class="mag_content">
            <div class="content_list">
                <div class="list_box">
                    <a href="/Triple/magazine_view/shop_view.html" >
                        <p id="li_tit">여행이 고플 땐 <br> 기념품을 꺼내 보아요</p><p id="li_cont">#쇼핑 #여행꿀팁</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine_view/shop_view.html" >
                        <p id="li_tit">파리 '샤를 드 골 공항' <br>면세 쇼핑 안내서</p><p id="li_cont">파리에서 꼭! 사야 할 아이템은?</p><p id="li_cont">#쇼핑 #유럽</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img"  >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine_view/shop_view.html" >
                        <p id="li_tit">뉴옥에서 사면 이득인<br>패션 브랜드 모음</p><p id="li_cont">뉴욕에서 탕진해버렸지 뭐야~~</p><p id="li_cont">#쇼핑 #미주</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img"  >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine_view/shop_view.html" >
                        <p id="li_tit">겨울 유럽 여행, <br>캐리어에 가져갈 옷은?</p><p id="li_cont">파리지앵처럼 옷 입는 방법</p><p id="li_cont">#쇼핑 #유럽</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img"  >
                </div>
                <div class="list_box">
                    <a href="/Triple/magazine_view/shop_view.html" >
                        <p id="li_tit">환전 VS 신용카드,<br>해외에서 돈 아끼는 방법은?</p><p id="li_cont">한 푼이라도 더 아끼는 여행 꿀팁</p><p id="li_cont">#쇼핑 #여행꿀팁</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img"  >
                </div>
                <div class="list_box">
                    <a href="/templates/pages/magazine/magazine_view/shop_view.html" >
                        <p id="li_tit">면세점에서<br>이런 것도 살 수 있어요?</p><p id="li_cont">#쇼핑 #여행꿀팁</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img"  >
                </div>
                <div class="list_box">
                    <a href="/templates/pages/magazine/magazine_view/shop_view.html" >
                        <p id="li_tit">당신에게는 아직,<br>면세점 쇼핑 기회가 남았다</p><p id="li_cont">#쇼핑</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img"  >
                </div>
                <div class="list_box">
                    <a href="/templates/pages/magazine/magazine_view/shop_view.html" >
                        <p id="li_tit">아무도 모르는<br>타이베이의 숨겨진 쇼핑 거리</p><p id="li_cont">중산역 골목길 따라 빈티지 & 디자인소품 쇼핑하기</p><p id="li_cont">#쇼핑 #중화/중국</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img"  >
                </div>
                <div class="list_box">
                    <a href="/templates/pages/magazine/magazine_view/shop_view.html" >
                        <p id="li_tit">블라디보스토크에서 꼭! <br>사야 할 의외의 쇼핑 아이템</p><p id="li_cont">#쇼핑 #유럽</p></a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img"  >
                </div>
            </div>
        </div>
    </div>
     <!--메인 끝-->
    <!--푸터-->
    <div th:replace="fragement/footer :: footer"></div>
    <!--푸터 끝-->
</body>
</html>