<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 매거진</title>
    <link rel="stylesheet" href="/app/css/magazine.css">
    <link rel="stylesheet" href="/app/css/common.css">

</head>
<body>
<!-- header 시작 -->
<div th:replace="fragement/header :: header"></div>
<!-- header 끝 -->

<!--메인-->
<div class="container">
    <div class="mag_area">
        <ul id="mag_list">
            <li style="background-color: #458cd3; border: 1px solid #458cd3;"><a href="/Triple/magazine" style="color: #fff;"><span id="all">전체</span></a></li>
            <li><a href="/Triple/magazine/recommend">여행지추천</a> </li>
            <li><a href="/Triple/magazine/tip">여행꿀팁</a> </li>
            <li><a href="/Triple/magazine/restaurant">맛집탐방</a> </li>
            <li><a href="/Triple/magazine/air">항공･공항</a> </li>
            <li><a href="/Triple/magazine/lodging">숙소추천</a> </li>
            <li><a href="/Triple/magazine/tourticket">투어･티켓</a> </li>
            <li><a href="/Triple/magazine/shopping">쇼핑</a> </li>
            <!--                <li style="background-color: #458cd3; border: 1px solid #458cd3;"><a href="/Triple/magazine/travels" style="color: #fff;">여행기</a> </li>-->
        </ul>
    </div>
    <div class="mag_content">
        <div class="content_list">
            <div class="list_box" th:each="magazine : ${magazineList}">
                <a th:href="'/Triple/magazine/'+${magazine.getMagazineType().toString().toLowerCase()}+'/view/'+${magazine.getIdx()}">
                    <p id="li_tit" th:text="${magazine.getTitle()}"></p>
                    <p id="li_cont" th:text="${magazine.getSummary()}"></p>
                    <p id="li_cont" th:text="${magazine.getTag()}"></p>
                </a>
                <img th:src="@{${magazine.getUploadPath()}}" id="list_img">
            </div>
            <div class="list_box">
                <a href="/Triple/magazine/guesthouse_view">
                    <p id="li_tit">인생에 한 번쯤은 꼭! <br> 가보고 싶은 해외 신상 호텔 7</p>
                    <p id="li_cont">코로나 이후 가보고 싶은 이국적인 숙소들🌴</p>
                    <p id="li_cont">#숙소추천 #유럽</p>
                </a>
                <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img">
            </div>

        </div>
    </div>
</div>
<!--메인 끝-->
<!--푸터-->
<div th:replace="fragement/footer :: footer"></div>
<!--푸터 끝-->
</body>
</html>