<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 매거진 여행기</title>
    <link rel="stylesheet" href="/app/css/magazine.css">
    <link rel="stylesheet" href="/app/css/common.css ">
</head>
<body>
    <!-- header 시작 -->
    <div th:replace="fragement/header :: header"></div>
    <!-- header 끝 -->

     <!--메인-->
    <div class="container">
        <div class="mag_area">
            <ul id="mag_list">
                <li><a href="/Triple/magazine"><span id="all">전체</span></a></li>
                <li><a href="/Triple/magazine_recommend">여행지추천</a> </li>
                <li><a href="/Triple/magazine_tip">여행꿀팁</a> </li>
                <li><a href="/Triple/magazine_eatplace">맛집탐방</a> </li>
                <li><a href="/Triple/magazine_airport">항공･공항</a> </li>
                <li><a href="/Triple/magazine_guesthouse">숙소추천</a> </li>
                <li><a href="/Triple/magazine_tourticket">투어･티켓</a> </li>
                <li><a href="/Triple/magazine_shop">쇼핑</a> </li>
                <li style="background-color: #458cd3; border: 1px solid #458cd3;"><a href="/templates/pages/magazine/magazine_travels" style="color: #fff;">여행기</a> </li>
            </ul>
        </div>
            <div class="mag_content">
                <div class="content_list">
                    <div class="list_box">
                        <a href="/Triple/magazine/travels_view">
                            <p id="li_tit">함께 만들어가는 여행 정보,<br>트리플 리포터가 되어주세요!</p>
                            <p id="li_cont">2022 트리플 현지 서포터즈 모집</p>
                            <p id="li_cont">#여행기</p>
                        </a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                    </div>
                    <div class="list_box">
                        <a href="/Triple/magazine/travels_view">
                            <p id="li_tit">파리 & 남프랑스로 <br>여행을 다녀왔습니다</p><p id="li_cont">'해외여행이 이런 거였지'느낀 생생한 이야기</p><p id="li_cont">#여행기 #유럽</p>
                        </a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                    </div>
                    <div class="list_box">
                        <a href="/Triple/magazine/travels_view">
                            <p id="li_tit">지금, 방콕은 어떤 모습일까?<br>달라진 방콕 여행 A to Z</p>
                            <p id="li_cont">[아임유어가이드] 딩고 트래블 편 (방콕 4박5일)</p>
                            <p id="li_cont">#여행기 #동남아시아</p>
                        </a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                    </div>
                    <div class="list_box">
                        <a href="/Triple/magazine/travels_view">
                            <p id="li_tit">'런던의 크리스마스'는 <br>지금 어떨까?</p>
                            <p id="li_cont">현지에서 전하는 크리스마스 마켓 이야기 🌲</p>
                            <p id="li_cont">#여행기 #유럽</p>
                        </a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                    </div>
                    <div class="list_box">
                        <a href="/Triple/magazine/travels_view">
                            <p id="li_tit"3>하와이만큼 좋아요!<br>제주 여행의 새로운 발견</p>
                            <p id="li_cont">[아임유어가이드] 바깥송이 편 (제주 2박 3일)</p>
                            <p id="li_cont">#여행기 #국내</p>
                        </a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                    </div>
                    <div class="list_box">
                        <a href="/Triple/magazine/travels_view" >
                            <p id="li_tit">197,000원으로 떠나는<br>2박 3일 제주 스쿠터 여행</p>
                            <p id="li_cont">[아임유어가이드] 채코제 편 (제주 2박 3일)</p>
                            <p id="li_cont">#여행기 #국내</p>
                        </a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                    </div>
                    <div class="list_box">
                        <a href="/Triple/magazine/travels_view" >
                            <p id="li_tit">사이판 트래블 버블,<br>직접 다녀왔습니다</p>
                            <p id="li_cont">천국 같았던 리얼 트래블 버블 여행기</p>
                            <p id="li_cont">#여행기 #남태평양</p>
                        </a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                    </div>
                    <div class="list_box">
                        <a href="/Triple/magazine/travels_view">
                            <p id="li_tit">지금 유럽은<br>어떤 모습일까?</p><p id="li_cont">직접 보고 느끼고 온 '위드 코로나'</p><p id="li_cont">#여행기 #유럽</p>
                        </a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                    </div>
                    <div class="list_box">
                        <a href="/Triple/magazine/travels_view" >
                            <p id="li_tit">행복을 찾아<br>소설 속 발리로 떠나요</p>
                            <p id="li_cont">소설<먹고 기도하고 사랑하라> 배경지 발리로 떠나는 소설여행</p>
                            <p id="li_cont">#여행기 #동남아시아</p>
                        </a>
                        <img src="/lib/img/magazine_img/back_img (4).svg" id="list_img" >
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!--메인 끝-->
    <!--푸터-->
    <div th:replace="fragement/footer :: footer"></div>
    <!--푸터 끝-->
</body>
</html>