<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 | 회원상세정보</title>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="/app/css/admin.css">

        </head>
<body>
    <!--header-->
    <div th:replace="fragement/adminTopbar :: adminTopbar"></div>
<!--header 끝-->

    <!-- 사이드바-->
    <section id="sidebar">
        <aside id="leftsidebar" class="sidebar">
            <ul class="side-menu">
                <li><a href="#" style="background-color: white; color:#0098A1;"><i class='bx bxs-user-detail icon'></i>회원관리<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/userList" style="color:darkslategray; font-weight: bold;">회원목록</a></li>
                        <li><a href="/Triple/admin/user/term">회원가입</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-list-check icon'></i>예약조회<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">

                        <li><a href="/Triple/admin/booking/fly">항공권</a></li>
                        <li><a href="/Triple/admin/booking/lodging">숙소</a></li>
                        <li><a href="/Triple/admin/booking/package">패키지</a></li>

                    </ul>
                </li>
                <li><a href="#"><i class='bx bxs-folder-plus icon'></i>신규등록<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown show">
                        <li><a href="/Triple/airline_register">항공사 신규 등록</a></li>
                    <li><a href="/Triple/aircraft_register">항공기 신규 등록</a></li>
                    <li><a href="/Triple/airportList">취항지 목록</a></li>
                    <li><a href="/Triple/destination_register">취항지 신규 등록</a></li>
                        <li><a href="/Triple/lodging_company">숙소 신규 등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bxs-inbox icon'></i>상품등록<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/airline_select">항공권</a></li>
                        <li><a href="/Triple/room_register">숙소</a></li>
                        <li><a href="/Triple/package_register">패키지</a></li>

                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-list-check icon'></i>상품목록<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/airLineList">항공권</a></li>
                        <li><a href="/Triple/admin/lodgingList">숙소</a></li>
                        <li><a href="/Triple/admin/packageList">패키지</a></li>

                    </ul>
                </li>

                </li>
                <li><a href="#"><i class='bx bxs-coupon icon'></i>쿠폰<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/couponList">목록</a></li>
                        <li><a href="/Triple/admin/coupon/register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-gift icon'></i>이벤트<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/eventList">목록</a></li>
                        <li><a href="/Triple/admin/event/register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-list-ul icon'></i>공지사항<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/noticeList">목록</a></li>
                        <li><a href="/Triple/admin/notice/register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bxs-inbox icon'></i>매거진<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/magazineList">목록</a></li>
                        <li><a href="/Triple/admin/magazine_register">등록</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-map icon'></i>여행스팟<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/spotList">목록</a></li>
                        <li><a href="/Triple/tourism_register">관광지 등록</a></li>
                        <li><a href="/Triple/restaurant_register">맛집 등록</a></li>
                        <li><a href="/Triple/guide_register">가이드 등록</a></li>
                    </ul>
                </li>
                <li><a href="/Triple/admin/payment"><i class='bx bx-credit-card icon'></i>결제</a>

                </li>
                <li><a href="#"><i class='bx bx-question-mark icon'></i>문의<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/admin/inquiryList">1:1 문의</a></li>
                        <li><a href="/Triple/admin/faqList">FAQ</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class='bx bx-user icon'></i>관리자 관리<i class='bx bx-chevron-right icon-right'></i></a>
                    <ul class="side-dropdown">
                        <li><a href="/Triple/adminList">목록</a></li>
                        <li><a href="/Triple/admin/admin_join">등록</a></li>
                    </ul>
                </li>
                <li><a href="/Triple/admin/admin_login"><i class='bx bx-log-out icon'></i>로그아웃</a></li>
            </ul>
        </aside>
    </section>
    <!--사이드바 끝-->
    <section class="content2"> 
        <div class="content2-fluid">
            <!--타이틀-->
            <div class="header_box">
                <h2>회원정보</h2>
            </div>
            <!--타이틀 끝-->
            <!--회원정보-->
            <input type="hidden" id="idx" name="idx" th:value="${users.idx}">
            <table class="tbList colortb">
                <tr>
                    <th style="width: 25%;">닉네임</th>
                    <td style="width: 25%;" th:text="${users.getNickname()}">김사과</td>
                    <th style="width: 25%;">이메일(아이디)</th>
                    <td style="width: 25%;" th:text="${users.getEmail()}">apple</td>
                </tr>
                <tr>
                    <th onClick = "location.href='mem-Coupon.html'">쿠폰</th>
                    <td onClick = "location.href='mem-Coupon.html'">0개</td>
                    <th onClick = "location.href='mem-Review.html'">리뷰</th>
                    <td onClick = "location.href='mem-Review.html'">0건</td>
                </tr>
                <tr>
                    <th onClick = "location.href='mem-pay.html'">결제</th>
                    <td onClick = "location.href='mem-pay.html'">0건</td>
                    <th onClick = "location.href='mem-QnA.html'">문의</th>
                    <td onClick = "location.href='mem-QnA.html'">0건</td>
                </tr>
            </table>
            <!--회원 예약내역-->
            <!--타이틀-->
            <div class="header_box">
                <h2>예약내역</h2>
            </div>
            <!--타이틀 끝-->
            <table class="tbList ad-tb2">
                <tr>
                    <th>
                        분류
                    </th>
                    <th>
                        예약번호
                    </th>
                    <th>
                        내용
                    </th>
                    <th>
                        결제
                    </th>
                </tr> 
                <tr>
                    <td onClick = "location.href='mem-ticket.html'">티켓</td>
                    <td>H45612</td>
                    <td>다낭 골든 베이</td>
                    <td>결제완료</td>
                </tr>
                <tr>
                    <td onClick = "location.href='mem-fly.html'">항공권</td>
                    <td>T45612</td>
                    <td>인천-다낭</td>
                    <td>결제완료</td>
                </tr>
            </table>
            <!--회원 예약내역 끝-->
        </div>
    </section>
    <!--회원정보 끝-->

    <script src="/app/js/script.js"></script>
</body>
</html>