<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/css/mypage_mysave.css">
    <script src="/app/js/mypage_mysave.js"></script>
    <title>TRIPLE | 마이페이지 내저장</title>
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->

    <!--메인-->
    <div class="container_all">
        <p class="mypage_title">MY PAGE</p>
        <div>
            <div class="save_list">
                <ul >
                    <li><a href="#">전체도시 |</a></li>
                    <li><a href="#">가이드 | </a></li>
                    <li><a href="#">관광 |</a></li>
                    <li><a href="#">맛집 | </a></li>
                    <li><a href="#">숙소 |</a></li>
                    <li><a href="#">투어·티켓</a></li>
                </ul>
            </div>
            <div class="save_box">
                <div class="save_cont">
                    <div class="cont_text">
                        <p id="te1">
                            <span id="ti">[제주특가] 윈드 1947 카트</span><br>3만 평 규모의 아시아 최장 길이 코스 보유!<br>★★★★★ 5 저장 1,019 | 바로사용, 액티비티 | 제주(서귀포)
                        </p>
                        <a href="/templates/pages/mypage/my_save/my_save.html" ><u id="memo">메모 남기기</u></a>
                        <a href="#" ><img src="./img/memo_img.svg" id="memo_img" onclick="rememo_box()"></a>
                        <div >
                            <form id="rememo_box">
                                <input type="text" placeholder="꼭 가야할 곳!" id="me_te">
                                <br>
                                <div class="btn_box">
                                    <a href="/templates/pages/mypage/my_save/my_save_done.html" id="mbtn" onclick="memobtn2()">
                                    수정
                                    </a>
                                    <a href="/templates/pages/mypage/mysave/my_save_main.html" id="mbtn2" onclick="memobtn3()">
                                    |삭제
                                    </a>
                                </div>
                                
                            </form>
                        </div>
                        
                    </div>
                    <div class="cont_img">
                        <img src="/lib/img/mypage_img/mysave_img/save_img.svg">
                    </div>
                </div>
                <div class="save_cont">
                    <div class="cont_text">
                        <p id="te1">
                            <span id="ti">[제주특가] 윈드 1947 카트</span><br>3만 평 규모의 아시아 최장 길이 코스 보유!<br>★★★★★ 5 저장 1,019 | 바로사용, 액티비티 | 제주(서귀포)
                        </p>
                        <a href="/templates/pages/mypage/my_save/my_save.html"><u id="memo">메모 남기기</u></a>
                    </div>
                    <div class="cont_img">
                        <img src="/lib/img/mypage_img/mysave_img/save_img.svg">
                    </div>
                </div>
                <div class="save_cont">
                    <div class="cont_text">
                        <p id="te1">
                            <span id="ti">[제주특가] 윈드 1947 카트</span><br>3만 평 규모의 아시아 최장 길이 코스 보유!<br>★★★★★ 5 저장 1,019 | 바로사용, 액티비티 | 제주(서귀포)
                        </p>
                        <a href="/templates/pages/mypage/my_save/my_save.html"><u id="memo">메모 남기기</u></a>
                    </div>
                    <div class="cont_img">
                        <img src="/lib/img/mypage_img/mysave_img/save_img.svg">
                    </div>
                </div>
                <div class="save_cont">
                    <div class="cont_text">
                        <p id="te1">
                            <span id="ti">[제주특가] 윈드 1947 카트</span><br>3만 평 규모의 아시아 최장 길이 코스 보유!<br>★★★★★ 5 저장 1,019 | 바로사용, 액티비티 | 제주(서귀포)
                        </p>
                        <a href="/templates/pages/mypage/my_save/my_save.html"><u id="memo">메모 남기기</u></a>
                    </div>
                    <div class="cont_img">
                        <img src="/lib/img/mypage_img/mysave_img/save_img.svg">
                    </div>
                </div>
                <div class="save_cont">
                    <div class="cont_text">
                        <p id="te1">
                            <span id="ti">[제주특가] 윈드 1947 카트</span><br>3만 평 규모의 아시아 최장 길이 코스 보유!<br>★★★★★ 5 저장 1,019 | 바로사용, 액티비티 | 제주(서귀포)
                        </p>
                        <a href="/templates/pages/mypage/my_save/my_save.html"><u id="memo">메모 남기기</u></a>
                    </div>
                    <div class="cont_img">
                        <img src="/lib/img/mypage_img/mysave_img/save_img.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--메인 끝-->

<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>

</html>