<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/css/mypage_mysave.css">
    <script src="/app/js/mypage_mysave.js"></script>
    <title>TRIPLE | 마이페이지 내저장</title>
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->

    <!--메인-->
    <div class="container_all">
        <p class="mypage_title">MY PAGE</p>
        <div>
            <div class="save_list">
                <ul >
                    <li><a href="/Triple/mypage/mysave">전체도시 |</a></li>
                    <li><a href="/Triple/mypage/mysave/guide">가이드 | </a></li>
                    <li><a href="/Triple/mypage/mysave/spot">관광 |</a></li>
                    <li><a href="/Triple/mypage/mysave/restaurant">맛집 | </a></li>
                    <li><a href="/Triple/mypage/mysave/lodging">숙소 |</a></li>
                    <li><a href="/Triple/mypage/mysave/tour">투어·티켓</a></li>
                </ul>
            </div>
            <div class="save_box">
                <div class="save_cont" th:each="mysave : ${mysaveList}">
                    <div class="cont_text">
                        <p id="te1">
                            <span id="ti" th:text="'[ '+${mysave.getSaveType()}+' ] '+${mysave.getTitle()} " ></span><br><span th:text="${mysave.getSummary()}">3만 평 규모의 아시아 최장 길이 코스 보유!</span><br><span th:text="${mysave.getLocation()}">★★★★★ 5 저장 1,019 | 바로사용, 액티비티 | 제주(서귀포)</span>
                        </p>
                        <a href="/templates/pages/mypage/mysave/my_save_done.html"><u id="memo">메모 남기기</u></a>
                        <a href="/templates/pages/mypage/mysave/edit_memo.html"><img src="/lib/img/mypage_img/mysave_img/memo_img.svg"></a>
                    </div>
                    <div class="cont_img">
                        <img th:src="@{${mysave.getUploadPath()}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--메인 끝-->

<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>

</html>