<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 국내여행</title>
    <link rel="stylesheet" href="/app/css/domestic_travel.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <script src="/app/js/domestic_travel.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!--header 시작-->
    <div th:replace="fragement/header :: header"></div>
    <!--header 끝-->
    <div id="domestic_main_img"></div>
    <!--section 시작-->
    <!--간략메뉴 시작-->
    <section>
        <div id="menu_area_domestic">
            <ul id="domestic_menus">
                <li><a href="/templates/pages/travel_spot/spot_location.html">가이드</a></li>
                <li><a href="/templates/pages/flight_reservation/flight_main.html">항공</a></li>
                <li><a href="/templates/pages/lodging_room/lodging_main.html">숙소</a></li>
                <li><a href="/templates/pages/travel_spot/spot_tour.html">관광</a></li>
                <li><a href="/templates/pages/travel_spot/spot_restaurant.html">맛집</a></li>
                <li><a href="/templates/pages/tour_ticket/tour_ticket_main.html">투어<span>&#183;</span>티켓</a></li>
                <li><a href="/templates/pages/event/event_main.html">라운지</a></li>
            </ul>
        </div>
        <!--간략메뉴 끝-->
        <!--부담없이 떠나는 당일치기 여행지 7 시작-->
        <div class="domestic_main">
            <p class="domestic_title">부담없이 떠나는 당일치기 여행지 7</p>
            <p class="domestic_subtitle">요즘 뜨는 도시부터 추천 코스까지 한눈에!</p>
            <div id="slide" class="item_list" val="1" max="8">
                <a href="/templates/pages/magazine/magazine.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img1">
                            <p class="content">가까워서 좋은 힐링 여행지 5</p>
                        </div>
                    </div>
                </a>
                
                <a href="/templates/pages/magazine/magazine.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img2">
                            <p class="content">해외 느낌 물씬 여행지 5</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/magazine/magazine.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img3">
                            <p class="content">바다로 둘러쌓인 여행지 5</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/magazine/magazine.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img4">
                            <p class="content">아이와 함께 떠나는 나들이</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/magazine/magazine.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img5">
                            <p class="content"> 편하게 휴식만끽!</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/magazine/magazine.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img6">
                            <p class="content">또 가고 싶은 여행지 7</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/magazine/magazine.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img7">
                            <p class="content">혼자라도 좋아, 배낭여행</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/magazine/magazine.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img1">
                            <p class="content">혼자라도 좋아, 배낭여행</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--부담없이 떠나는 당일치기 여행지 7 끝-->
        <!--여행 어디로 가시나요 시작-->
        <div class="domestic_main">
            <p class="domestic_title">여행, 어디로 가시나요?</p>
            <div class="region_list">
                <a href="/templates/pages/travel_spot/spot_domestic.html"><img src="/lib/img/domestic_travel_img/domestic_gangwon.png" alt="gangwon"></a>
                <a href="/templates/pages/travel_spot/spot_domestic.html"><img src="/lib/img/domestic_travel_img/domestic_seoul.png" alt="seoul"></a>
                <a href="/templates/pages/travel_spot/spot_domestic.html"><img src="/lib/img/domestic_travel_img/domestic_gyeongbuk.png" alt="gyeonbuk"></a>
                <a href="/templates/pages/travel_spot/spot_domestic.html"><img src="/lib/img/domestic_travel_img/domestic_gyeonggi.png" alt="gyeonggi"></a>
                <a href="/templates/pages/travel_spot/spot_domestic.html"><img src="/lib/img/domestic_travel_img/domestic_busan.png" alt="busan"></a>
            </div>
            <div class="region_list">
                <a href="/templates/pages/travel_spot/spot_domestic.html"><img src="/lib/img/domestic_travel_img/domestic_jeonnam.png" alt="jeonnam"></a>
                <a href="/templates/pages/travel_spot/spot_domestic.html"><img src="/lib/img/domestic_travel_img/domestic_jeju.png" alt="jeju"></a>
                <a href="/templates/pages/travel_spot/spot_domestic.html"><img src="/lib/img/domestic_travel_img/domestic_chungnam.png" alt="chungnam"></a>
                <a href="/templates/pages/travel_spot/spot_domestic.html"><img src="/lib/img/domestic_travel_img/domestic_gangnam.png" alt="gangnam"></a>
                <a href="/templates/pages/travel_spot/spot_domestic.html"><img src="/lib/img/domestic_travel_img/domestic_chungbuk.png" alt="chungbuk"></a>
            </div>
            <div class="region_list" id="region_list">
                <a href="/templates/pages/travel_spot/spot_domestic.html"><img src="/lib/img/domestic_travel_img/domestic_jeonbuk.png" alt="jeonbuk"></a>
                <a href="/templates/pages/travel_spot/spot_domestic.html"><img src="/lib/img/domestic_travel_img/domestic_incheon.png" alt="incheon"></a>
            </div>
        </div>
        <!--여행 어디로가시나요 끝-->
        <!--가는 길에 이런곳은 어때요 시작-->
        <div class="domestic_main">
            <p class="domestic_title">가는 길에 이런 곳은 어때요?</p>
            <p class="domestic_subtitle">목적지를 입력하면, 경로 상 들리기 좋은 맛집 · 관광지를 추천해드려요!</p>
            <div class="reco_spot">
                <p>출발지와 도착지를 입력해주세요</p>
                <ul>
                    <li>
                        <img src="/lib/img/domestic_travel_img/icon_map_pointer.svg" alt="map">
                        <input type="text" placeholder="출발지를 입력하세요">
                    </li>
                    <li>
                        <img src="/lib/img/domestic_travel_img/icon_map_pointer.svg" alt="map">
                        <input type="text" placeholder="도착지를 입력하세요">
                    </li>
                </ul>
                <input type="button" value="추천받기">
            </div>
        </div>
        <!--가는길에 이런곳은 어때요 끝-->
        <!--항공권 찾기 시작-->
        <div class="domestic_main">
            <p class="mini_tag">항공권 찾기</p>
            <div class="domestic_title_box">
                <p class="domestic_title">주말 특가 항공권</p><span class="price_info">가격정보</span>
            </div>
            <div class="airplan_sale">
                <ul>
                    <li>
                        <p>
                            <img src="/lib/img/domestic_travel_img/logo_tway.svg" alt="logo_tway">
                            8월 30일(화) 출발<span class="detail_info">가는편 기준</span><a href="/templates/pages/flight_reservation/flight_reservation.html"><span class="air_price">34,300원</span><span class="detail_info">직항</span>&nbsp&nbsp&nbsp&nbsp > </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <img src="/lib/img/domestic_travel_img/logo_jeju.svg" alt="logo_jeju">
                            8월 30일(화) 출발<span class="detail_info">가는편 기준</span><a href="/templates/pages/flight_reservation/flight_reservation.html"><span class="air_price">34,300원</span><span class="detail_info">직항</span>&nbsp&nbsp&nbsp&nbsp > </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <img src="/lib/img/domestic_travel_img/logo_jinair.svg" alt="logo_jinair">
                            8월 30일(화) 출발<span class="detail_info">가는편 기준</span><a href="/templates/pages/flight_reservation/flight_reservation.html"><span class="air_price">34,300원</span><span class="detail_info">직항</span>&nbsp&nbsp&nbsp&nbsp > </a>
                        </p>
                        <a href="/templates/pages/flight_reservation/flight_list.html">항공권 더보기</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--항공권 찾기 끝-->
        <!--실시간 트리플 인기 best12 시작-->
        <div class="domestic_main">
            <p class="domestic_title">실시간 트리플 인기 숙소 BEST 12</p>
            <div class="submenu">
                <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_ gyeongsang.html">경주</a> |
                <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_ gyeongsang.html">부산</a> |
                <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_ gyeongsang.html">통영 · 거제 · 남해</a> |
                <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_jeolla.html">여수</a> |
                <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_ gangwon.html">강릉·속초</a> |
                <a href="/templates/pages/lodging_room/lodging_room_recommend_region/lodging_recommend_jeju.html">제주</a>
            </div>
            <div class="item_list item_list_pick">
                <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img7">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img6">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img5">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img4">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img3">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img2">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img1">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img7">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img6">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img5">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img4">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/lodging_room/lodging_roominfo.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img3">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
        </div>
        <div class="domestic_main">
            <p class="domestic_title">트리플 실시간 인기 장소 TOP 12</p>
            <div class="submenu">
                <a href="/templates/pages/travel_spot/spot_location.html">포항 · 안동</a> |
                <a href="/templates/pages/travel_spot/spot_location.html">경주</a> |
                <a href="/templates/pages/travel_spot/spot_location.html">전주</a> |
                <a href="/templates/pages/travel_spot/spot_location.html">통영 · 거제 · 남해</a> |
                <a href="/templates/pages/travel_spot/spot_location.html">여수</a> |
                <a href="/templates/pages/travel_spot/spot_location.html">인천</a> |
                <a href="/templates/pages/travel_spot/spot_location.html">태안</a> |
                <a href="/templates/pages/travel_spot/spot_location.html">춘천·홍천</a> |
                <a href="/templates/pages/travel_spot/spot_location.html">가평·양평</a> |
                <a href="/templates/pages/travel_spot/spot_location.html">강릉·속초</a> |
                <a href="/templates/pages/travel_spot/spot_location.html">부산</a>
                <a href="/templates/pages/travel_spot/spot_location.html">제주</a>
            </div>
            <div class="item_list item_list_pick">
                <a href="/templates/pages/travel_spot/spot_location_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img2">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_location_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img3">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_location_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img6">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_location_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img7">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_location_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img4">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_location_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img5">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_location_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img6">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_location_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img2">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_location_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img1">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_location_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img7">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_location_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img2">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_location_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img3">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="domestic_main">
            <p class="domestic_title">지금 인기 있는 맛집은 바로 여기!</p>
            <div class="submenu">
                <a href="/templates/pages/travel_spot/spot_restaurant_list.html">포항 · 안동</a> |
                <a href="/templates/pages/travel_spot/spot_restaurant_list.html">경주</a> |
                <a href="/templates/pages/travel_spot/spot_restaurant_list.html">전주</a> |
                <a href="/templates/pages/travel_spot/spot_restaurant_list.html">통영 · 거제 · 남해</a> |
                <a href="/templates/pages/travel_spot/spot_restaurant_list.html">여수</a> |
                <a href="/templates/pages/travel_spot/spot_restaurant_list.html">인천</a> |
                <a href="/templates/pages/travel_spot/spot_restaurant_list.html">태안</a> |
                <a href="/templates/pages/travel_spot/spot_restaurant_list.html">춘천·홍천</a> |
                <a href="/templates/pages/travel_spot/spot_restaurant_list.html">가평·양평</a> |
                <a href="/templates/pages/travel_spot/spot_restaurant_list.html">강릉·속초</a> |
                <a href="/templates/pages/travel_spot/spot_restaurant_list.html">부산</a>
                <a href="/templates/pages/travel_spot/spot_restaurant_list.html">제주</a>
            </div>
            <div class="item_list item_list_pick">
                <a href="/templates/pages/travel_spot/spot_restaurant_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img1">
                            <p class="content">호텔이름</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_restaurant_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img2">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_restaurant_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img3">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_restaurant_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img4">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_restaurant_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img5">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_restaurant_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img6">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_restaurant_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img7">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_restaurant_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img1">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_restaurant_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img2">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_restaurant_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img3">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_restaurant_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img4">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
                <a href="/templates/pages/travel_spot/spot_restaurant_info.html">
                    <div class="domestic_imgbox">
                        <div class="black_opacity item_back_img5">
                            <p class="content">소노벨 경주</p>
                            <p class="content_point">속초 · 경주</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--실시간 트리플 인기 best12 끝-->
        <!--국내 리뷰 시작-->
        <div class="domestic_main">
            <p class="domestic_title">국내 여행자들의 생생한 여행기</p>
            <p class="domestic_subtitle">직접 다녀온 추천 일정과 여행 꿀팁 확인하기</p>
            <a href="/templates/pages/mypage/review/review_view.html" id="detail">자세히</a>
            <div>
                <table class="travels_table">
                    <tr>
                        <td>
                            <div class="travels_content">
                                <p class="travels_profile">
                                    <img src="/lib/img/domestic_travel_img/travels_profile.svg" alt="프로필">
                                    <span>오렌지님의 일정</span>
                                </p>
                                <p class="travels_table_title">가평과 서울을 넘나드는 여행</p>
                                <p class="travels_table_content">가평은 너무 힐링하기 좋고, 서울은 볼 것이 많지만 너무 눈이 핑핑 돌았던 여행!! 
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="travels_content">
                                <p class="travels_profile">
                                    <img src="/lib/img/domestic_travel_img/travels_profile.svg" alt="프로필">
                                    <span>오렌지님의 일정</span>
                                </p>
                                <p class="travels_table_title">가평과 서울을 넘나드는 여행</p>
                                <p class="travels_table_content">가평은 너무 힐링하기 좋고, 서울은 볼 것이 많지만 너무 눈이 핑핑 돌았던 여행!! 
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="travels_content">
                                <p class="travels_profile">
                                    <img src="/lib/img/domestic_travel_img/travels_profile.svg" alt="프로필">
                                    <span>오렌지님의 일정</span>
                                </p>
                                <p class="travels_table_title">가평과 서울을 넘나드는 여행</p>
                                <p class="travels_table_content">가평은 너무 힐링하기 좋고, 서울은 볼 것이 많지만 너무 눈이 핑핑 돌았던 여행!! 
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="travels_content">
                                <p class="travels_profile">
                                    <img src="/lib/img/domestic_travel_img/travels_profile.svg" alt="프로필">
                                    <span>오렌지님의 일정</span>
                                </p>
                                <p class="travels_table_title">가평과 서울을 넘나드는 여행</p>
                                <p class="travels_table_content">가평은 너무 힐링하기 좋고, 서울은 볼 것이 많지만 너무 눈이 핑핑 돌았던 여행!! 
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--국내 리뷰 끝-->
        <div class="domestic_main">
            <div class="save_spot">
                <p>현재 내가 저장한 장소 &nbsp;&nbsp;&nbsp; <span>0</span>개</p>
                <p>가고 싶은 곳들을 저장하면 여행할 때 더 쉽게 길찾기할 수 있어요! </p>
                <div class="save_btn">
                    <input type="button" value="맛집 저장"><input type="button" value="관광지 저장">
                </div>
            </div>
        </div>
    </section>
    <!--secion 끝-->
    <!-- footer 시작 -->
    <footer th:replace="fragement/footer :: footer"></footer>
    <!-- footer 끝 -->
</body>
</html>