<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 1:1문의</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/app/css/my_reserve_main.css">
    <link rel="stylesheet" href="/app/css/style.css">
    <script src="/app/js/mypage_reserve.js"></script>
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->
<!--메인-->
<main class="container_all">
    <div class="mypage_title">MY PAGE | 내 예약</div>
    <div class="inq_li_main" id="inquiryList">
        <div class="inq_top">1:1 문의</div>
        <div class="inq_inquiry_write"><a href="inquiryWrite">문의하기</a></div>
        <div th:each="question : ${questionList}" class="accordion">
            <div class="title"><div class="inq_que" ><span class="inq_category" th:text="'[ '+${question.getTypeCategory()}+' ]'"></span> &nbsp;&nbsp;&nbsp;<span th:text="${question.getTitle()}" style="cursor:pointer"></span></div></div>
            <div class="content" style="display: none"><div class="inq_que_cont" >
                <textarea name="inquiry" placeholder="항공권 예매를 취소하고 싶어요. 결제는 오늘 했는데 환불은 얼마나 걸리는 지 알 수 있을 까요?" readonly th:text="${question.getContent()}"></textarea>
            </div></div>
        </div>
    </div>
</main>
<!--메인 끝-->
<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>
</html>