<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 1:1문의</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/app/css/my_reserve_main.css">
    <script src="/app/js/mypage_reserve.js"></script>
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader :: mypageHeader"></div>
<!--헤더끝-->
<!--메인-->
<main class="container_all">
    <div class="mypage_title">MY PAGE | 내 예약</div>
    <div class="inq_wr_main">
        <div class="inq_top">1:1 문의</div>
        <!--            <form action="./my_inquiry_list.html" onsubmit="return sendit()">-->
        <form method="POST">
            <div class="inq_wr_box">
                <input type="hidden" id="idx" th:value="${idx}"/>
                <div class="inq_wr_box_title">유형 <span>*</span></div>
                <div class="inq_wr_box_input">
                    <select name="typeCategory" id="typeCategory">
                        <option value="항공">항공</option>
                        <option value="숙소">숙소</option>
                        <option value="투어티켓">투어티켓</option>
                    </select>
<!--                    <input type="text" value="" spellcheck="false" data-ms-editor="true" name="typeCategory" id="typeCategory" placeholder="항공 or 숙소 or 투어티켓">-->
                </div>
            </div>
            <div class="inq_wr_box">
                <div class="inq_wr_box_title">제목 <span>*</span></div>
                <div class="inq_wr_box_input">
                    <input type="text" spellcheck="false" data-ms-editor="true" name="title" id="title" placeholder="제목을 입력해주세요">
                </div>
            </div>
            <div class="inq_wr_box">
                <div class="inq_wr_box_title">이름</div>
                <div class="inq_wr_box_input" th:text="${nickname}">
                    <input type="text" value=""  id="nickname" spellcheck="false" data-ms-editor="true">
                    <editor-squiggler>
                        <style>
                            @media print {
                                .ms-editor-squiggles-container {
                                    display:none !important;
                                }
                            }
                            .ms-editor-squiggles-container {
                                all: initial;
                            }
                        </style>
                        <div class="ms-editor-squiggles-container"></div>
                    </editor-squiggler>
                </div>
            </div>
            <div class="inq_wr_box">
                <div class="inq_wr_box_title">이메일</div>
                <div class="inq_wr_box_input" th:text="${email}" ><input type="text"  spellcheck="false" data-ms-editor="true" readonly name="email" id="email"></div>
            </div>
            <div class="inq_wr_box">
                <div class="inq_wr_box_title">문의내용</div>
                <div><textarea class="inq_wr_box_input" id="content"  cols="40" rows="5" style="height: 150px; resize: none" ></textarea></div>
            </div>
            <div class="inq_wr_box">
                <div class="inq_wr_box_title">첨부파일</div>
                <div class="inq_wr_box_input">
                    <input type="file" value="첨부파일" id="filename">
                    <div class="inq_wr_box_detail">10MB 이내 모든 이미지 및 허용된 문서 (MS office, hwp, pdf, txt)와 zip 파일을 5개까지 첨부가능합니다. </div>
                </div>
            </div>
            <div class="inq_wr_box inq_wr_box_info">
                수집하는 개인 정보 [(필수) 이메일, 휴대폰 번호, 문의내용, (선택) 첨부파일]는 문의 내용 처리 및 고객 불만을 해결하기 위해 사용되며, 관련 법령에 따라 3년간 보관 후 삭제 됩니다. 문의 접수, 처리 및 회신을 위해 꼭 필요한 정보이므로 동의해 주셔야 서비스를 이용하실 수 있습니다.
            </div>
            <div class="inq_wr_agree"><label><input type="checkbox" name="box"> 위, 개인정보 수집 및 활용에 동의합니다.</label></div>
            <div class="inq_wr_btn">
                <input type="button" id="sendit" value="확인">
            </div>
        </form>
    </div>
</main>
<!--<script type="text/javascript" th:inline="javascript":>-->
<!--    $(document).ready(function(){-->
<!--        /*<![CDATA[*/-->
<!--        var idx = [[${idx}]];-->
<!--        console.log(idx)-->
<!--        /*]]>*/-->
<!--    });-->

<!--    // fetch("./jsonData.json")-->
<!--    //     .then(response => {-->
<!--    //-->
<!--    //     })-->

<!--    $(document).on('click', '#sendit', function () {-->
<!--        let jsonData = {-->
<!--            transaction_time: new Date(),-->
<!--            resultCode: "ok",-->
<!--            description: "ok",-->
<!--            data: {-->
<!--                typeCategory: $('#typeCategory').val(),-->
<!--                title: $('#title').val(),-->
<!--                content: $('#content').val(),-->
<!--                filename: $('#filename').val(),-->
<!--                userId: idx.getData(),-->
<!--                infoAgree:'Y'-->
<!--            }-->
<!--        }-->

<!--        $.post({-->
<!--            url: '/api/inquiry',-->
<!--            data: JSON.stringify(jsonData),-->
<!--            dataType: 'json',-->
<!--            contentType: 'application/json',-->
<!--            success: function () {-->
<!--                alert('등록성공!');-->
<!--                location.href = '/Triple/inquiryList';-->
<!--            },-->
<!--            error: function () {-->
<!--                alert('등록실패!');-->
<!--                location.reload();-->
<!--            }-->
<!--        })-->

<!--    })-->
<!--</script>-->

<!--메인 끝-->
<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->

</body>
</html>