<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 마이페이지 항공예약</title>
    <link rel="stylesheet" href="/app/css/my_reserve_main.css">
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->

<!--메인-->
<main class="container_all">
    <div class="mypage_title">MY PAGE | 내 예약</div>
    <div class="reserve_list">
        <ul >
            <li><a href="/Triple/mypage/reserve/air">항공 |</a></li>
            <li><a href="/Triple/mypage/reserve/lodging">숙소 | </a></li>
            <li><a href="/Triple/mypage/reserve/tour">투어·티켓</a></li>
        </ul>
    </div>
    <div class="re_main">
        <div class="re_main_2">
            <div id="re_main_tit">진행중인 예약</div>
            <div id="re_main_box">
                <a th:href="'/Triple/mypage/reserve/air/round/'+${roundData.getIdx()}">
                    <div id="re_main_place"><span th:text="${airTicketRDT.getAirRoute()}+'선'"></span>
                        <br>
                        <span th:text="'[왕복] '+${airTicketRDT.getDepartureAirport()}+' - '+${airTicketRDT.getLandingAirport()} "></span>
                    </div>
                    <div id="re_main_date" ><span th:text="'예약일정 ' +${airTicketRDT.getDepartureTime()}"></span>
                        <br>
                        <span th:text="'예약번호 ' +${roundData.getIdx()}"></span>
                    </div>
                </a>
                <div id="re_main_inq">
                    <a href="/Triple/inquiryWrite">1:1 문의</a>
                </div>
                <a th:href="'/Triple/mypage/reserve/air/oneway/'+${onewayData.getIdx()}">
                    <div id="re_main_place"><span th:text="${airTicketODT.getAirRoute()}+'선'"></span>
                        <br>
                        <span th:text="'[편도] '+${airTicketODT.getDepartureAirport()}+' - '+${airTicketODT.getLandingAirport()} "></span>
                    </div>
                    <div id="re_main_date" ><span th:text="'예약일정 ' +${airTicketODT.getDepartureTime()}"></span>
                        <br >
                        <span th:text="'예약번호 ' +${onewayData.getIdx()}"></span>
                    </div>
                </a>
                <div id="re_main_inq">
                    <a href="/Triple/inquiryWrite">1:1 문의</a>
                </div>
            </div>
        </div>

        <div class="re_main_3">
            <div id="re_main_tit">지나간 예약</div>
            <!--                <div id="re_main_box" th:if="${reserve.getServiceLife().toString().equals('unUSABLE')}" th:each="reserve : ${reserveList}">-->
            <!--                    <a th:href="'/Triple/mypage/reserve/air/'+${reserve.getTicketNum()}">-->
            <!--                        <div id="re_main_place"><span th:text="${reserve.getTitle()}"></span>-->
            <!--                            <br>-->
            <!--                            <span th:text="${reserve.getContent()}"></span>-->
            <!--                        </div>-->
            <!--                        <div id="re_main_date" ><span th:text="'예약일정 ' +${#temporals.format(reserve.getRevDate(), 'yyyy-MM-dd')}"></span>-->
            <!--                            <br >-->
            <!--                            <span th:text="'예약번호 ' +${reserve.getTicketNum()}"></span>-->
            <!--                        </div>-->
            <!--                    </a>-->
            <!--                    <div id="re_main_inq">-->
            <!--                        <a href="/Triple/inquiryList">1:1 문의</a>-->
            <!--                    </div>-->
        </div>
    </div>
    </div>
</main>
<!--메인 끝-->

<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>
</html>