<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 마이페이지 숙소예약</title>
    <link rel="stylesheet" href="/app/css/my_reserve_main.css">
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->

    <!--메인-->
    <main class="container_all">
        <div class="mypage_title">MY PAGE | 내 예약</div>
        <div class="reserve_list">
            <ul >
                <li><a href="/Triple/mypage/reserve/air">항공 |</a></li>
                <li><a href="/Triple/mypage/reserve/lodging">숙소 | </a></li>
                <li><a href="/Triple/mypage/reserve/tour">투어·티켓</a></li>
            </ul>
        </div>
        <div class="re_main">
            <div class="re_main_2">
                <div id="re_main_tit">진행중인 예약</div>
                <div id="re_main_box" th:each="roomR : ${roomReservation}">
                    <a th:href="'/Triple/mypage/reserve/lodging/'+${roomR.getIdx()}">
                    <div th:if="${lodgingR.getIdx().equals(roomR.getRoomId())}" th:each="lodgingR : ${lodgingRoom}">
                        <div th:if="${lod.getIdx().equals(lodgingR.getCompanyId())}" th:each="lod : ${lodging}">
                        <div id="re_main_place"><span th:text="${lod.getCity()}"></span>
                            <br>
                            <span th:text="${lod.getName()}"></span>
                        </div>
                        <div id="re_main_date" ><span th:text="'예약일정 ' +${roomR.getStartDate()}"></span>
                            <br >
                            <span th:text="'예약번호 ' +${roomR.getIdx()}"></span>
                        </div>
                        </div>
                    </div>
                    </a>
                    <div id="re_main_inq">
                        <a href="/Triple/inquriWrite">1:1 문의</a>
                </div>
                </div>
            </div>
                <br>
                <div class="re_main_3">
                    <div id="re_main_tit">지나간 예약</div>
<!--                    <div id="re_main_box" th:if="${reserve.getServiceLife().toString().equals('UNUSABLE')}" th:each="reserve : ${reserveList}">-->
<!--                        <a th:href="'/Triple/mypage/reserve/lodging/'+${reserve.getTicketNum()}">-->
<!--                            <div id="re_main_place"><span th:text="${reserve.getTitle()}"></span>-->
<!--                                <br>-->
<!--                                <span th:text="${reserve.getContent()}"></span>-->
<!--                            </div>-->
<!--                            <div id="re_main_date" ><span th:text="'예약일정 ' +${#temporals.format(reserve.getRevDate(), 'yyyy-mm-dd')}"></span>-->
<!--                                <br >-->
<!--                                <span th:text="'예약번호 ' +${reserve.getTicketNum()}"></span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                        <div id="re_main_inq">-->
<!--                            <a href="/templates/pages/mypage/mypage_reserve/my_inquiry_list">1:1 문의</a>-->
<!--                        </div>-->
                </div>
        </div>
    </main>
    <!--메인 끝-->

<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>
</html>