<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRIPLE | 투어/티켓</title>

  <link rel="stylesheet" href="/app/css/tour_ticket.css">
  <link rel="stylesheet" href="/app/css/common.css">

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
</head>

<body>
<!--header 시작-->
<div th:replace="fragement/header :: header"></div>
<!--header 끝-->
  <div id="main" class="container">
    <section class="main-visual wide-section">
      <img src="/lib/img/ticket_img/list_visual.jpg" alt="">
    </section>
    <!--검색창-->
    <section class="tour-search">
      <h1 class="section-title">투어∙티켓∙패키지 여행에 필요한 모든 것 </h1>
      <form action="">
        <input type="text" name="" placeholder="지역, 상품명으로 검색해보세요">
        <button type="submit"><img src="/lib/img/ticket_img/icon_search.svg" alt=""></button>
      </form>
    </section>
    <!--검색창 끝-->
    <section class="tour-category wide-section">
      <div class="tag-wrap">
        <button class="active">해외 인기</button>
        <button>국내 인기</button>
      </div>

      <ul class="flex flex-between">
        <li class="flex flex-column"><img src="/lib/img/ticket_img/category_1.png" alt="">투어/관광</li>
        <li class="flex flex-column"><img src="/lib/img/ticket_img/category_2.png" alt="">액티비티</li>
        <li class="flex flex-column"><img src="/lib/img/ticket_img/category_3.png" alt="">제주 여행</li>
        <li class="flex flex-column"><img src="/lib/img/ticket_img/category_4.png" alt="">패키지 여행</li>
        <li class="flex flex-column"><img src="/lib/img/ticket_img/category_5.png" alt="">wifi/유심</li>
        <li class="flex flex-column"><img src="/lib/img/ticket_img/category_6.png" alt="">교통수단</li>
        <li class="flex flex-column"><img src="/lib/img/ticket_img/category_7.png" alt="">어트랙션</li>
        <li class="flex flex-column"><img src="/lib/img/ticket_img/category_8.png" alt="">프라이빗<br>단독투어</li>
        <li class="flex flex-column"><img src="/lib/img/ticket_img/category_9.png" alt="">다이닝</li>
        <li class="flex flex-column"><img src="/lib/img/ticket_img/category_10.png" alt="">스냅</li>
        <li class="flex flex-column"><img src="/lib/img/ticket_img/category_11.png" alt="">수상/해양레저</li>
        <li class="flex flex-column"><img src="/lib/img/ticket_img//category_12.png" alt="">클래스/체험</li>
        <li class="flex flex-column"><img src="/lib/img/ticket_img//category_13.png" alt="">스파/온천</li>
        <li class="flex flex-column"><img src="/lib/img/ticket_img//category_14.png" alt="">테마파크</li>
        <li class="flex flex-column"><img src="/lib/img/ticket_img/category_15.png" alt="">키즈</li>
        <li></li>
      </ul>
    </section>

    <section class="tour-list">
      <h1 class="section-title"><img src="/lib/img/ticket_img/icon_pin.svg" alt=""><span>괌</span> 에서<img src="/lib/img/ticket_img/icon_down.svg" alt="">
      </h1>

      <div class="tag-wrap tag-wrap2">
        <button class="active">패키지</button>
        <button>액티비티</button>
        <button>투어·관광</button>
        <button>수상 · 해양레저</button>
        <button>현지체험</button>
        <button>스냅</button>
        <button>다이닝</button>
        <button>교통수단</button>
        <button>wifi·유심</button>
        <button>편의</button>
      </div>

      <ul class="flex flex-between">
        <li>
          <img src="/lib/img/ticket_img/bg_card.jpg" alt="">
          <div class="info-wrap">
            <p>괌 항공 + 호텔 포함 자유여행 4박 5일</p>
            <p><span>★</span> 5 (331)</p>
            <p class="price-before">959,000원</p>
            <h1>쿠폰 할인가 929,000원</h1>
          </div>
        </li>
        <li>
          <img src="/lib/img/ticket_img/bg_card.jpg" alt="">
          <div class="info-wrap">
            <p>괌 항공 + 호텔 포함 자유여행 4박 5일</p>
            <p><span>★</span> 5 (331)</p>
            <p class="price-before">959,000원</p>
            <h1>쿠폰 할인가 929,000원</h1>
          </div>
        </li>
        <li>
          <img src="/lib/img/ticket_img/bg_card.jpg" alt="">
          <div class="info-wrap">
            <p>괌 항공 + 호텔 포함 자유여행 4박 5일</p>
            <p><span>★</span> 5 (331)</p>
            <p class="price-before">959,000원</p>
            <h1>쿠폰 할인가 929,000원</h1>
          </div>
        </li>
        <li>
          <img src="/lib/img/ticket_img/bg_card.jpg" alt="">
          <div class="info-wrap">
            <p>괌 항공 + 호텔 포함 자유여행 4박 5일</p>
            <p><span>★</span> 5 (331)</p>
            <p class="price-before">959,000원</p>
            <h1>쿠폰 할인가 929,000원</h1>
          </div>
        </li>
      </ul>

      <button class="load-more">더보기</button>
    </section>

    <section class="tour-recent">
      <h1 class="section-title">최근 본 투어</h1>

      <ul class="flex">
        <li>
          <img src="/lib/img/ticket_img/bg_card.jpg" alt="">
          <div class="info-wrap">
            <p>두짓 타니 괌 리조트<br>6.18(토) - 6.19(일)</p>
          </div>
        </li>
        <li>
          <img src="/lib/img/ticket_img/bg_card.jpg" alt="">
          <div class="info-wrap">
            <p>두짓 타니 괌 리조트<br>6.18(토) - 6.19(일)</p>
          </div>
        </li>
        <li>
          <img src="/lib/img/ticket_img/bg_card.jpg" alt="">
          <div class="info-wrap">
            <p>두짓 타니 괌 리조트<br>6.18(토) - 6.19(일)</p>
          </div>
        </li>
      </ul>
    </section>
  </div>

  <!-- footer 시작 -->
  <footer th:replace="fragement/footer :: footer"></footer>
  <!-- footer 끝 -->

  <script>
    $('document').ready(function () {
      $('.button-wrap button').on('click', function () {
        $(this).toggleClass('active');
      });
    });
  </script>
</body>

</html>