<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRIPLE | 예약정보입력</title>

  <link rel="stylesheet" href="/app/css/tour_ticket.css">
  <link rel="stylesheet" href="/app/css/common.css">

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
</head>

<body>
<!--header 시작-->
<div th:replace="fragement/header :: header"></div>
<!--header 끝-->
  <div id="main" class="container form">
    <!--상단 예약 안내-->
    <section class="form-title">                                                        
      <h1 class="section-title">예약 정보 입력</h1>
      <h1>괌 PCR 검사 예약 대행 서비스 (결과지 대리 수령 + 괌 공항 샌딩)</h1>
      <p>이용예정일 <span>2022.07.01 (금)</span></p>
      <p class="highlight">이용예정일에만 사용 가능합니다.</p>

      <div class="card flex flex-between">
        <p>괌 PCR 검사 예약 서비스 (결과지 대리 수령 + 괌 공항 샌딩)</p>
        <p>1인 x 1</p>
      </div>
    </section>
    <!--상단 예약 안내 끝-->
    <!--정보입력-->
    <section class="form-input">
      <form action="/static/app/js/ticket.js" name="regform" method="post" onsubmit="return sendit()" target="iframe">
        <!--예약자 정보입력-->
        <div class="input-group booker-input">
          <h1>예약자 정보</h1>

          <label for="nameKor">한글성명</label>
          <input id="nameKor" type="text" placeholder="홍길동">

          <label for="bookerEmail">이메일</label>
          <input id="bookerEmail" type="email" placeholder="triple@triple.com">

          <label for="bookerPhone">휴대전화번호</label>
          <input id="bookerPhone" type="phone" placeholder="010-0000-0000">
        </div>
        <!--예약자 정보입력 끝-->
        
        <div class="flex flex-between align-start">
          <!--대표 예약정보 입력-->
          <div class="input-group traveler-input">
            <h1>대표 예약 정보</h1>

            <label for="reservationPhone">휴대전화번호</label>
            <input id="reservationPhone" type="phone" placeholder="010-1234-5678">
            
            <div class="flex">
              <div>
                <label for="engLastname">영문성</label>
                <input id="engLastname" type="text" placeholder="HONG">
              </div>

              <div>
                <label for="engFirstname">영문이름</label>
                <input id="engFirstname" type="text" placeholder="GILDONG">
              </div>
            </div>

            <label for="rBirth">생년월일</label>
            <input id="rBirth" type="text" placeholder="YYYYMMDD">

            <label for="kakao">카카오톡 아이디</label>
            <input id="kakao" type="text" placeholder="TRIPLE">

            <label for="hotel">호텔명</label>
            <input id="hotel" type="text" placeholder="Triple Hotel">
          </div>
          <!--대표 예약정보 입력 끝-->
          <!--여행자 정보 입력-->
          <div class="input-group traveler-input">
            <h1>여행자 정보(1)</h1>

            <div class="flex">
              <div>
                <label for="traveler-eng-lastname">영문성</label>
                <input id="traveler-eng-lastname" type="text" placeholder="HONG">
              </div>
              <div>
                <label for="traveler-eng-firstname">영문이름</label>
                <input id="traveler-eng-firstname" type="text" placeholder="GILDONG">
              </div>
            </div>
          </div>
          <!--여행자 정보 입력 끝-->
        </div>
        <div class="input-group pay-info flex flex-between align-start">
          <!--예약금액 안내-->
          <div class="pay-price">
            <h1>결제 및 취소 정책</h1>
            <div class="flex flex-between">
              <p>예약 금액 (세금 포함)</p>
              <p>89,000원</p>
            </div>

            <div class="flex flex-between">
              <p>쿠폰할인</p>

              <div class="pay-discount flex flex-between">
                <p>ㅡ</p>
                <select name="pay-discount" id="pay-discount">
                  <option value="1000">1,000원</option>
                  <option value="5000">5,000원</option>
                  <option value="10000">10,000원</option>
                </select>
              </div>
            </div>

            <div class="pay-total flex flex-between">
              <h1>총 결제 금액</h1>
              <h1>88,000원</h1>
            </div>
          </div>
          <!--예약금액 안내 끝-->
          <!--취소 유의사항-->
          <div class="pay-notice">
            <p>취소 유의사항</p>
            <ul>
              <li>- 이용 예정 7일전까지 취소시, 100% 환불 가능합니다. </li>
              <li>- 이용 예정 6일전 ~ 당일 취소시, 환불 불가능합니다. </li>
              <li>- 단, 취소 처리는 영업일 기준 09:00 ~ 17:00이며, 토/일요일 및 공휴일은 제외입니다. </li>
              <li>- 17:00 이후 요청된 건은 다음날 접수로 간주되며 주말 및 공휴일에 접수된 건은 다음 영업일에 접수 처리됩니다.</li>
            </ul>
          </div>
          <!--취소 유의사항 끝-->
        </div>
        <!--약관 동의-->
        <div class="input-group form-submit">
          <h1>이용 동의</h1>
          <div class="flex flex-between">
            <div class="agree-checkbox">
              <div class="flex flex-between">
                <p>
                  <label for="agree-term">
                    <a>파트너 상품 구매자 약관</a>, <a>취소 / 이용규정</a>을 모두 읽었으며 이에
                  동의합니다.</p><input type="checkbox" name="agree" id="agree-term">
                    <label for="agree-term"></label>
                  </label>
              </div>
              <div class="flex flex-between">
                <p>
                  <label for="agree-privacy">
                    <a>개인 정보 수집 / 이용방침</a> 및 <a>개인정보 제 3자 제공</a>을 모두 읽었으며
                  이에 동의합니다.
                </p>
                  <input type="checkbox" name="agree" id="agree-privacy">
                  <label for="agree-privacy"></label>
                  </label>
              </div>
            </div>
            <button class="submit" type="submit">결제하기</button>
          </div>
        </div>
        <!--약관동의 끝-->
      </form>
      <!--정보입력 끝-->
    </section>
  </div>
<!-- footer 시작 -->
<footer th:replace="fragement/footer :: footer"></footer>
<!-- footer 끝 -->
<script src="/static/app/js/ticket.js"></script>
  <script>
    $('document').ready(function () {
      $('.button-wrap button').on('click', function () {
        $(this).toggleClass('active');
      });
    });
  </script>
</body>
<iframe name="iframe" id="iframe" style="display:none;"></iframe>
</html>