<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRIPLE | 예정일선택</title>

  <link rel="stylesheet" href="/app/css/tour_ticket.css">
  <link rel="stylesheet" href="/app/css/common.css">

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
</head>

<body>
<!--header 시작-->
<div th:replace="fragement/header :: header"></div>
<!--header 끝-->

  <div id="main" class="container">
    <section class="main-visual wide-section">
      <img src="/static/lib/img/ticket_img/view_visual.jpg" alt="">
    </section>

    <section class="calendar">
      <h1>괌 PCR 검사 예약 대행 서비스</h1>
      <p>안전한 PCR 검사 예약 대행과 귀국시 편안한 샌딩 서비스까지!</p>

      <div class="calendar-wrap">
        <h2>이용 예정일 선택 <span class="highlight">2022.07.01 (금)</span></h2>

        <div class="sec_cal">
          <div class="cal_nav">
            <a href="javascript:;" class="nav-btn go-prev">prev</a>
            <div class="year-month"></div>
            <a href="javascript:;" class="nav-btn go-next">next</a>
          </div>
          <div class="cal_wrap">
            <div class="days">
              <div class="day">월</div>
              <div class="day">화</div>
              <div class="day">수</div>
              <div class="day">목</div>
              <div class="day">금</div>
              <div class="day">토</div>
              <div class="day">일</div>
            </div>
            <div class="dates"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="option-form">
      <form action="">
        <input id="selectedDate" class="hide" type="date">

        <div class="flex flex-between align-start">
          <h2>옵션 선택</h2>

          <div class="input-wrap flex flex-between">
            <label for="opt-cal">
              괌 PCR 검사 예약대행 + 결과지대리수령 + 괌 공항 샌딩<br>
              <span class="highlight">(이용 예정일에만 사용 가능합니다.)</span>
            </label>
            <input type="checkbox" id="opt-cal">
          </div>
        </div>
        <div class="flex flex-between align-start">
          <h2>옵션 선택</h2>

          <div class="input-wrap flex flex-between">
            <label for="opt-quantity">
              1인 <span class="highlight">89,000원</span>
            </label>

            <div class="input-number">
              <span class="btn-minus" href="#">-</span>
              <input type="number" id="opt-quantity" value="1" min="0" name="quantity">
              <span class="btn-plus" href="#">+</span>
            </div>
          </div>
        </div>

        <h2>전체 금액</h2>
        <h2><span>결제 금액(세금 포함)</span> 89,000원</h2>
        <p>해당 금액은 트리플 판매가 기준입니다. 쿠폰 및 셀프패키지 할인은 실제 결제 시 적용 및 확인이 가능합니다.</p>

        <button type="submit"><a href="/templates/pages/tour_ticket/tourticket_Reservation.html">예약 정보 입력하기</a></button>
      </form>
    </section>
  </div>

<!-- footer 시작 -->
<footer th:replace="fragement/footer :: footer"></footer>
<!-- footer 끝 -->

  <script>
    $('document').ready(function () {
      $('.button-wrap button').on('click', function () {
        $(this).toggleClass('active');
      });

      $('.btn-plus, .btn-minus').on('click', function (e) {
        const isNegative = $(e.target).closest('.btn-minus').is('.btn-minus');
        const input = $(e.target).closest('.input-number').find('input');
        if (input.is('input')) {
          input[0][isNegative ? 'stepDown' : 'stepUp']()
        }
      })
    });
  </script>
  <script src="/static/app/js/calendar.js"></script>
</body>

</html>