<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRIPLE | 결제</title>

  <link rel="stylesheet" href="/app/css/tour_ticket.css">
  <link rel="stylesheet" href=/app/css/common.css">

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
</head>

<body>
<!--header 시작-->
<div th:replace="fragement/header :: header"></div>
<!--header 끝-->

  <div id="main" class="container">
    <section class="main-visual wide-section">
      <img src="/static/lib/img/ticket_img/view_visual.jpg" alt="">
    </section>

    <section class="payment">
      <form class="flex align-start">
        <!--결제 내용 확인-->
        <div class="payment-info">
          <h2>결제내용 확인</h2>
          <p>
            괌 PCR 검사 예약 대행 서비스 ( 결과지 대리수령 + 괌 공항 샌딩)<br>
            
          </p>
          <p class="price">1인 x 1 <span>89,000원</span></p>

          <h2>결제정보</h2>
          <p class="flex flex-between">예약 금액(세금 포함) <span>89,000원</span></p>
          <p class="flex flex-between">쿠폰 할인 <span>- 1,000원</span></p>

          <h2 class="flex flex-between">총 결제금액 <span>88,000원</span></h2>
        </div>
        <!--결제 내용 확인 끝-->
        <!--결제수단 선택-->
        <div class="payment-method">
          <h2>결제수단</h2>

          <div class="flex flex-between paycard">
            <button>신용/체크카드</button>
            <button>네이버페이</button>
          </div>

          <button class="submit" type="submit">결제하기</button>
        </div>
        <!--결제수단 선택 끝-->
      </form>
    </section>
  </div>
<!-- footer 시작 -->
<footer th:replace="fragement/footer :: footer"></footer>
<!-- footer 끝 -->
</body>

</html>