<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 회원가입</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.26/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="/app/css/login_join.css">
    <style>
        #hp { width: 189px; margin-right: 5px; margin-top: 10px; }
        .check_text { line-height: 0.9; vertical-align: top; font-size: 14px; width: 400px; margin: 0 auto; text-align: left; padding-left: 10px; }
        #email_ok { color: #0b9fa7; }
        #email_duplicate, #check_need{ color: #ff4060;}
        #email{ width: 80%; }
        #emailCheck{ width: 19%; background-color: #41D2BB; color: white; height: 50px; border-radius: 5px;}
        .content_join > input[type="button"]{background-color: #41D2BB; color: white; height: 50px; width: 400px; border-radius:100px; margin-top: 25px; font-size: 18px;}
        #Certification{ margin-right: 5px;}
        #email, #userpw, #userpw_re, #nickname, #hp, #Certification{
            border-radius: 5px;
        }
        #Certification { width: 320px; }
        #phone_btn, #Certification_check{ width: 76px; border-radius: 5px; background-color: #41D2BB; color: white; height: 50px;}
    </style>

</head>
<body>
    <!--header-->
    <header>
        <div id="logo_area">
            <div id="logo"><a href="/Triple"><img src="/lib/img/logo_triple.svg" alt=""></a></div>
            <div id="login_join"><a href="/Triple/login">LOGIN</a> | <a href="/Triple/join">JOIN</a></div>
        </div>
    </header>
    <!--header 끝-->
    <p class="title">TRIPLE | 회원가입</p>
    <section id="sect_join" class="sect">
        <!--회원가입 폼-->
        <form  name="regform" id="regform" method="POST">
            <ul class="list">
                <li>
                    <p class="info_form">이메일</p>
                    <div class="content user">
                        <p style="margin-left: 110px; display: flex; justify-content: space-between; width: 400px;"><input type="text" name="email" id="email" maxlength="25" placeholder="abc@gmail.com" check_result="fail"/>
                        <input type="button" name="btn" id="emailCheck" value="중복체크" ></p>
                        <p class="check_text" id = "email_ok" style="display:none; margin-top: 5px;">사용가능한 이메일입니다</p>
                        <p class="check_text" id = "email_duplicate" style="display:none; margin-top: 5px;">이메일 중복입니다</p>
                        <p class="check_text" id = "check_need" style="display:none; margin-top: 5px;">이메일 중복확인을 눌러주세요</p>
                    </div>
                </li>
                <li>
                    <p class="info_form">비밀번호</p>
                    <div class="content">
                        <input type="password" name="userpw" id="userpw" minlength="6" maxlength="16" placeholder="영문, 숫자, 특수문자">
                    </div>
                </li>
                <li>
                    <p class="info_form">비밀번호 확인</p>
                    <div class="content">
                        <input type="password" name="userpw_re" id="userpw_re" maxlength="20" placeholder="비밀번호 확인">
                    </div>
                </li>
                <li>
                    <p class="info_form">닉네임</p>
                    <div class="content">
                        <input type="text" name="nickname" id="nickname" maxlength="20" placeholder="닉네임을 입력하세요">
                    </div>
                </li>
                <li>
                    <p class="info_form">휴대폰번호 인증</p>
                    <div class="content">
                        <table class="info_form">
                            <tr>
                                <td><p class="country_code_text">국가코드</p></td>
                                <td><p class="phone_text">휴대폰번호</p></td>
                            </tr>
                            <tr>
                                <td class="country_code">
                                    <select name="code" id="countryCode" >
                                        <option value="+233">가나 (+233) </option>
                                        <option value="+1671">괌 (+1671) </option>
                                        <option value="+30">그리스 (+30) </option>
                                        <option selected="selected" value="+82">대한민국 (+82) </option>
                                        <option value="+49">독일 (+49) </option>
                                        <option value="+1">미국 (+1) </option>
                                        <option value="+44">영국 (+44) </option>
                                        <option value="+81">일본 (+81) </option>
                                        <option value="+86">중국 (+86) </option>
                                    </select>
                                </td>
                                <td class="phone">
                                    <input type="text" name="hp" id="hp" maxlength="20" placeholder="-를 포함하여 입력">
                                    <input type="button" name="btn" id="phone_btn" value="인증하기">
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <p class="info_form">인증번호 입력</p>
                    <div class="content text_box">
                        <input type="text" name="Certification" id="Certification" maxlength="20" placeholder="숫자 6자리, 인증번호 입력">
                        <input type="button" id="Certification_check" value="번호확인">
                    </div>
                </li>
                <li>
                    <p class="info_form">약관 동의</p>
                    <div>
                        <ul class="join_box">
                            <li>
                                <label for="check_all">전체 동의합니다.</label>
                                <input type="checkbox" id="check_all">
                            </li>
                            <li>
                                <label for="check_1"><span class="pilsoo">(필수)</span> 만 14세 이상입니다.</label>
                                <input type="checkbox" id="check_1" class="normal" name="pilsoo">
                            </li>
                            <li>
                                <label for="check_2"><span class="pilsoo">(필수)</span> 서비스 이용약관</label>
                                <input type="checkbox" id="check_2" class="normal" name="pilsoo">
                            </li>
                            <li>
                                <label for="check_3"><span class="pilsoo">(필수)</span> 개인정보 수집 및 이용 동의</label>
                                <input type="checkbox" id="check_3" class="normal" name="pilsoo">
                            </li>
                            <li>
                                <label for="check_4"><span class="pilsoo">(필수)</span> 위치서비스 이용 동의</label>
                                <input type="checkbox" id="check_4" class="normal" name="pilsoo">
                            </li>
                            <li>
                                <label for="check_5">(선택) 이벤트 및 할인 혜택 안내 동의</label>
                                <input type="checkbox" id="check_5" class="normal">
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="content_join">
                        <input type="button" value="확인" class="join_btn" id="sendit">
                    </div>
                </li>

                <li>
                    <div class="content">
                        <p>트리플 회원이신가요? <a href="login">로그인 ></a></p>
                    </div>
                </li>
            </ul>
        </form>
        <!--회원가입 폼 끝-->
    </section>
    <!--footer-->
    <footer>
        <div id="enterprise_info">
            <div id="enterprise_info_text">
                <p><a href="/Triple/mypage/settings/info/service">서비스이용약관</a>|<a href="/Triple/mypage/settings/info/user">개인정보 처리방침</a>|<a href="/Triple/mypage/settings/info/company">회사 소개</a>|<a href="/Triple/mypage/settings/customer">고객센터</a></p>
            </div>
            <div id="icon_box">
                <div id="sns_box">
                    <div><a href="#"><img src="/lib/img/btn-social-blog@3x.png" alt="SNS"></a></div>
                    <div><a href="#"><img src="/lib/img/btn-social-insta@3x.png" alt="SNS"></a></div>
                    <div><a href="#"><img src="/lib/img/btn-social-fb@3x.png" alt="SNS"></a></div>
                    <div><a href="#"><img src="/lib/img/btn-social-brunch@3x.png" alt="SNS"></a></div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer 끝-->


    <script src="/app/js/join.js"></script>

</body>
</html>