<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 로그인</title>
    <link rel="stylesheet" href="/app/css/login_join.css">
<!--    <script src="/app/js/login.js"></script>-->
</head>
<body>
    <!--header-->
    <header>
        <div id="logo_area">
            <div id="logo"><a href="/Triple"><img src="/lib/img/logo_triple.svg" alt=""></a></div>
            <div id="login_join">
                <a href="/Triple/login">LOGIN</a> | <a href="/Triple/join">JOIN</a>
            </div>
        </div>
    </header>
    <!--header 끝-->
    <p class="title">TRIPLE | 로그인</p>
    <section id="sect_login" class="sect">
        <div id="middle_logo"><img src="/lib/img/TRIPLE.png" alt=""></div>
        <div id="middle_image"><img src="/lib/img/login_tiple_window.svg" alt=""></div>
        <!--로그인 폼-->
        <form action="/Triple/loginok" name="regform" id="regform" method="POST">
    
            <ul class="list">
                <li>
                    <div class="content">
                        <input type="text" name="email" id="email" maxlength="20" placeholder="abc@gmail.com">
                    </div>
                </li>
                <li>
                    <div class="content">
                        <input type="password" name="userpw" id="userpw" minlength="6" maxlength="16" placeholder="영문, 숫자, 특수문자">
                    </div>
                </li>
                <li>
                    <div class="content">
                        <input type="submit" value="로그인" class="sign_btn" >
                    </div>
                </li>

                <li>
                    <div class="content">
                        <p>아직 트리플 회원이 아니신가요? <a href="join">회원가입 ></a></p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <img src="/lib/img/sns_kakao.png" alt="#">
                        <img src="/lib/img/sns_naver.png" alt="#">
                        <img src="/lib/img/sns_facebook.png" alt="#">
                        <img src="/lib/img/sns_apple.png" alt="#">
                    </div>
                </li>
            </ul>
        </form>
        <!--로그인 폼 끝-->
    </section>
    <!--footer-->
    <footer>
        <div id="enterprise_info">
            <div id="enterprise_info_text">
                <p><a href="#">서비스이용약관</a>|<a href="#">개인정보 처리방침</a>|<a href="#">회사 소개</a>|<a href="#">고객센터</a></p>
            </div>
            <div id="icon_box">
                <div id="sns_box">
                    <div><a href="#"><img src="/lib/img/btn-social-blog@3x.png" alt="SNS"></a></div>
                    <div><a href="#"><img src="/lib/img/btn-social-insta@3x.png" alt="SNS"></a></div>
                    <div><a href="#"><img src="/lib/img/btn-social-fb@3x.png" alt="SNS"></a></div>
                    <div><a href="#"><img src="/lib/img/btn-social-brunch@3x.png" alt="SNS"></a></div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer 끝-->
</body>
</html>