<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 트리플</title>
    <link rel="stylesheet" href="/app/css/main.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="backg_image_area">

        <!-- header 시작 -->
        <div th:replace="fragement/header :: header"></div>
        <!-- header 끝 -->

    <div id="head_text_area">
        <div id="head_text">
        <p>떠나요 여행! <br> 트리플에서 최저가로 검색하고 <br> 여행 떠나자!</p>
        </div>
        <div id="head_search_air">
            <div id="form_area">
                <form th:action="@{/api/airTicket/search}" method="POST">
                    <p> <select name="departureAirport" style="width: 100%;">
                        <option th:each="airport: ${airportList}"  th:value="${airport.getAirportName()}" th:text="${airport.getAirportName()}"></option>
                    </select></p>
                    <p> <select name="landingAirport" style="width: 100%;">
                        <option th:each="airport: ${airportList}"  th:value="${airport.getAirportName()}" th:text="${airport.getAirportName()}"></option>
                    </select></p>
                    <select name="member" id="member">
                        <option value="선택안함" >선택안함</option>
                        <option value="성인">성인</option>
                        <option value="청소년">청소년</option>
                    </select>
                    <input type="date" name="departureTime">
                </form>
            </div>
            <div id="mainSearch">
                <button type="submit"><img src="/lib/img/search_zoom_icon.png"></button>
            </div>
            </form>
        </div>
    </div>
    <div id="logo_menus_area">
        <div><a href="/Triple/flightMain"><img src="/lib/img/airport.png" alt="항공권"></a></div>
        <div><a href="/Triple/lodging_company_list"><img src="/lib/img/hotel.png" alt="숙소예약"></a></div>
        <div><a href="/Triple/tour_ticket_main"><img src="/lib/img/tour_ticket.png" alt="투어/티켓"></a></div>
        <div><a href="/Triple/package"><img src="/lib/img/package.png" alt="패키지여행"></a></div>
        <div><a href="/Triple/magazine"><img src="/lib/img/magazine.png" alt="여행매거진"></a></div>
        <div><a href="/Triple/event"><img src="/lib/img/event.png" alt="혜택/렌터카"></a></div>
    </div>
    </div>
    <main>
        <div class="item_div_box" id="event_area">
            <a href="#" class="event_item_back event_item_back1">
                <div class="event_item">
                    <p class="event_item_title">[제주항공특가]</p>
                    <p class="event_item_contant">비행기 티켓부터 숙박까지 한번에!</p>
                </div>
            </a>
            <a th:href="'/Triple/eventList/view/' + ${event.getIdx()}" class="event_item_back event_item_back2" th:each="event, i: ${event}" th:if="${i.count eq i.size}">
                <div class="event_item">
                    <p class="event_item_title">[<span th:text="${event.getEventType()}"></span>]</p>
                    <p class="event_item_contant" th:text="${event.getTitle()}"></p>
                </div>
            </a>
            <a th:href="'/Triple/mypage/settings/notice/view/' + ${notice.getIdx()}"  class="event_item_back event_item_back3" th:each="notice,i: ${notice}" th:if="${i.count eq i.size}">
                <div class="event_item">
                    <p class="event_item_title">[공지사항]</p>
                    <p class="event_item_contant" th:text="${notice.getTitle()}"></p>
                </div>
            </a>
            <a href="#" class="event_item_back event_item_back4">
                <div class="event_item">
                    <p class="event_item_title">[예약 전 check]</p>
                    <p class="event_item_contant">해외여행 할인쿠폰 목록</p>
                </div>
            </a>
        </div>
        <p class="title">해외여행 입장권 · 현지투어</p>
        <div class="item_div_box">

            <a class="overseas_ticket_back overseas_ticket_back1" th:each="guam,i : ${guams}" th:if="${i.count eq i.size}" th:href="'/Triple/package/view/'+ ${guam.getIdx()}">
                <div class="overseas_ticket_item">
                    <p class="overseas_ticket_title">[<span th:text="${guam.getCountry()}"></span>]</p>
                    <p class="overseas_ticket_contant" th:text="${guam.getTitle()}"></p>
                    <p class="overseas_ticket_price" th:text="${guam.getAdultPr()}+'원'"></p>
                </div>
            </a>
            <a class="overseas_ticket_back overseas_ticket_back2"th:each="vietnam,i : ${vietnams}" th:if="${i.count eq i.size}"  th:href="'/Triple/package/view/'+ ${vietnam.getIdx()}">
                <div class="overseas_ticket_item">
                    <p class="overseas_ticket_title">[<span th:text="${vietnam.getCountry()}"></span>]</p>
                    <p class="overseas_ticket_contant" th:text="${vietnam.getTitle()}"></p>
                    <p class="overseas_ticket_price" th:text="${vietnam.getAdultPr()}+'원'"></p>
                </div>
            </a>
            <a href="#" class="overseas_ticket_back overseas_ticket_back3"th:each="america,i : ${americas}" th:if="${i.count eq i.size}"  th:href="'/Triple/package/view/'+ ${america.getIdx()}">
                <div class="overseas_ticket_item">
                    <p class="overseas_ticket_title">[<span th:text="${america.getCountry()}"></span>]</p>
                    <p class="overseas_ticket_contant" th:text="${america.getTitle()}"> </p>
                    <p class="overseas_ticket_price" th:text="${america.getAdultPr()}+'원'"></p>
                </div>
            </a>
        </div>
        <p class="title">트리플 숙소 추천</p>
        <div class="item_div_box">
            <div th:each="lodging, i:${lodgingList}" th:if="${i.count <= 3}">
            <a class="reco_lodging_back reco_lodging_back1" th:href="'/Triple/lodging_view/'+${lodging.getIdx()}"th:style="'background-image:url(' + ${lodging.getUploadPath()}+');'">
                <div class="reco_lodging_item">
                    <p class="reco_lodging_title" th:text="${lodging.getName()}"></p>
                    <p class="reco_lodging_contant" th:text="${lodging.getStarCount()}"> <span th:text="'('+${lodging.getReviewCount()}+')'"></span></p>
                    <p class="reco_lodging_price" th:text="${lodging.getCheapestPrice()}">113,617원 <del></del></p>
                </div>
            </a>
            </div>
<!--            <a href="#" class="reco_lodging_back reco_lodging_back2">-->
<!--                <div class="reco_lodging_item">-->
<!--                    <p class="reco_lodging_title">신라 스테이 제주</p>-->
<!--                    <p class="reco_lodging_contant">4성급 · ★4 (240명)</p>-->
<!--                    <p class="reco_lodging_price">150,000원 <del></del></p>-->
<!--                </div>-->
<!--            </a>-->
<!--            <a href="#" class="reco_lodging_back reco_lodging_back3">-->
<!--                <div class="reco_lodging_item">-->
<!--                    <p class="reco_lodging_title">유탑유블레스 호텔 제..</p>-->
<!--                    <p class="reco_lodging_contant">★4 ( 412명)</p>-->
<!--                    <p class="reco_lodging_price">115,000원 <del>150,000</del></p>-->
<!--                </div>-->
<!--            </a>-->
        </div>

        <p class="title">여행 매거진</p>
        <div class="item_div_box">
            <div class="magazine_back magazine_back1">
                <div class="magazine_item" th:each="recommend, i: ${recommendList}" th:if="${i.count eq i.size}">
                    <p class="magazine_title" th:text="${recommend.getTitle()}">황금연휴 특가 항공권</p>
                    <p class="magazine_contant" th:text="${recommend.getSummary()}">올해는 해외로! 최저가 예약</p>
                    <a id="look_item1" th:href="'/Triple/magazine/recommend/view/' + ${recommend.getIdx()}">보러가기</a>
                </div>
            </div>
            <div class="magazine_back magazine_back2" th:each="tip, i: ${tipList}" th:if="${i.count eq i.size}">
                <div class="magazine_item">
                    <p class="magazine_title" th:text="${tip.getTitle()}">지금 안가면 아쉬운!</p>
                    <p class="magazine_contant" th:text="${tip.getSummary()}">당일치기 드라이브코스 6</p>
                   <a id="look_item2" th:href="'/Triple/magazine/tip/view/'+${tip.getIdx()}">보러가기</a>
                </div>
            </div>
            <div class="magazine_back magazine_back3" th:each="shopping, i: ${shoppingList}" th:if="${i.count eq i.size}">
                <div class="magazine_item" >
                    <p class="magazine_title" th:text="${shopping.getTitle()}">'여기 어디서 봤는데?'</p>
                    <p class="magazine_contant" th:text="${shopping.getSummary()}">인기 드라마 촬영지 총집합!</p>
                    <a id="look_item3" th:href="'/Triple/magazine/tip/view/'+${shopping.getIdx()}">보러가기</a>
                </div>
            </div>
            <div class="magazine_back magazine_back4" th:each="restaurant, i: ${restaurantList}" th:if="${i.count eq i.size}">
                <div class="magazine_item">
                    <p class="magazine_title"th:text="${restaurant.getTitle()}">7월 국내 여름 휴가</p>
                    <p class="magazine_contant"th:text="${restaurant.getSummary()}">어디에서 뭐하지?</p>
                    <a id="look_item24" th:href="'/Triple/magazine/restaurant/view/'+${restaurant.getIdx()}">보러가기</a>
                </div>
            </div>
        </div>

        <div id="tool_box">
            <div><p>날씨</p></div>
            <div><p>환율</p></div>
            <div><p>길찾기</p></div>
            <div><p>번역</p></div>
            <div><p>시차계산</p></div>
        </div>

        <p class="title">여행계획 · 인기도시</p>
        <div class="region_list">
            <div class="bubble" id="LAOS"><a href="#"><img src="/lib/img/triple_laos.svg" alt=""></a></div>
            <div class="bubble" id="NEW_YORK"><a href="#"><img src="/lib/img/triple_newyork.svg" alt=""></a></div>
            <div class="bubble" id="PARIS"><a href="#"><img src="/lib/img/triple_paris.svg" alt=""></a></div>
            <div class="bubble" id="kangreung_sokcho"><a href="#"><img src="/lib/img/triple_kaohsiung.svg" alt=""></a></div>
            <div class="bubble" id="LONDON"><a href="#"><img src="/lib/img/triple_london.svg" alt=""></a></div>
            <div class="bubble" id="jeju"><a href="#"><img src="/lib/img/triple_jeju.svg" alt=""></a></div>
            <div class="bubble" id="BUDAPEST"><a href="#"><img src="/lib/img/triple_budapest.svg" alt=""></a></div>
            <div class="bubble" id="VLADIVOSTOK"><a href="#"><img src="/lib/img/triple_vladivostok.svg" alt=""></a></div>
            <div class="bubble" id="SYDNEY"><a href="#"><img src="/lib/img/triple_sydney.svg" alt=""></a></div>
            <div class="bubble" id="OSAKA"><a href="#"><img src="/lib/img/triple_osaka.svg" alt=""></a></div>
            <div class="bubble" id="MELBOURNE"><a href="#"><img src="/lib/img/triple_melbourne.svg" alt="멜버른"></a></div>
            <div class="bubble" id="BUSAN"><a href="#"><img src="/lib/img/triple_busan.svg" alt=""></a></div>
        </div>
    </main>

<!-- footer 시작 -->
    <footer th:replace="fragement/footer :: footer"></footer>
<!-- footer 끝 -->

</body>
</html>