@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}



.body {
    background: #F1F0F6;
}

a {
    text-decoration: none;
}

a:visited{color: #000; }

li{
    list-style: none;
}
input[type="text"], input[type="password"], input[type="date"], input[type="time"], input[type="hp"], input[type="email"], input[type="name"], select{
    border: 1px solid #999;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="time"]:focus, select:focus, input[type="hp"]:focus, input[type="email"]:focus, input[type="name"]:focus{
    outline-color: #0098A1;
}
input[type="border"], input[type="radio"], input[type="checkbox"]{
    border: none;
}
/* Navbar ====================================== */
.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    /* box-shadow: 1px 1px 1px #e9e9e9; */
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    background:linear-gradient( to top, #0b9fa7, #14bec7 );
    /* background-color: #13abb3; */
    margin-bottom: 20px;
    min-height: 70px;
}
.navbar .navbar-brand {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    padding: 13px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
    vertical-align: middle;
    align-items: center;
    padding: 15px 10px 0 20px;
}
.navbar .container-fluid {
    display: flex;
    justify-content: space-between;


}
.user-info {
    padding: 5px 30px 0 15px;
    left: 0;
    white-space: nowrap;
    position: relative;
    /* border-bottom: 1px solid #e9e9e9; */
    /* background-color: #13abb3; */
    background:linear-gradient( to top, #0b9fa7, #14bec7 );
    height: 80px;
    box-sizing: border-box;
    display: flex;
    color: #fff;
}
.user-info .info-container {
    padding-top: 10px;
    cursor: default;
    display: block;
    position: relative;
    top: 14px;
    margin-left: 15px;
}

.navbar-header {
    padding: 15px 10px 0 20px;
}

/*nav 끝*/

/* 사이드바 */

section{
    display: block;
}
.sidebar{
    transition: all 0.5s;
    background-color: #0098A1;
    width: 300px;
    overflow: scroll;
    display: inline-block;
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    left: 0;
    box-shadow: 2px 2px 5px rgb(165, 165, 165);
    z-index: 11 !important;
    box-sizing: border-box;
}

/* .sidebar .user-info .image {
    margin-right: 12px;
    display: inline-block;
} */
/* .sidebar .user-info .image img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    vertical-align: bottom !important;
} */


#sidebar ::-webkit-scrollbar {
    display: none;
}

#sidebar .active {
    display: flex;
    justify-content: center;
    align-items: center;

}

#sidebar .icon {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sidebar .icon-right {
    margin-left: auto;
    transition: all .2s ease;
}
#sidebar .side-menu{
    margin: 25px 0;
    padding: 0 20px;
}
#sidebar .side-menu a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 15px;
    padding: 10px 16px 12px 0;
    transition: all .600s ease;
    border-radius: 10px;
    margin: 4px 0;
}

#sidebar .side-menu > li > a:hover{
    background: #0098A1;

}
#sidebar .side-menu > li > a.active .icon-right{
    transform: rotateZ(90deg);
}

#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover{
    background: #fff;
    color: #0098A1;
}


#sidebar .side-dropdown {
    padding-left: 48px;
    max-height: 0;
    overflow-y: hidden;
    transition: all .600s ease;

}
#sidebar .side-dropdown a {
    margin-left: 20px;
    font-size: 14px;
}
#sidebar .side-dropdown.show{
    max-height: 800px;
}
#sidebar .side-dropdown a:hover{
    color: #8D8D8D;
}


/* 사이드바 끝*/


/*Content*/
#content {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
}

/* navbar*/
#content nav {
    background: #fff;
    width: 85%;
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
    top: 0;

}
#content nav .toggle-sidebar {
    font-size: 18px;
    cursor: pointer;
}

#content nav form {
    max-width: 300px;
    width: 100%;
    margin-right: auto;
}

#content nav .form-group {
    position: relative;
}

#content nav .form-group input {
    width: 100%;
    background: #F1F0F6;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all .3s ease;
}
#content nav .form-group input:focus {
    box-shadow: 0 0 0 1px #8D8D8D, 0 0 0 4px #F1F0F6;
}
#content nav .form-group .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}
#content nav .nav-link {
    position: relative;
}
#content nav .nav-link .icon {
    font-size: 18px;
    color: #000;
}
#content nav .nav-link .badge {
    position: absolute;
    top: -12px;
    right: -15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:  2px solid #fff;
    background: #FC3B56;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
}
#content nav .divider {
    width: 1px;
    background: #8D8D8D;
    height: 12px;
    display: block;
}
#content nav .profile {
    position: relative;
}



/* navbar 끝*/
/*Content 끝*/

/*main*/

main {
    /*width: 85%;*/
    padding: 24px 20px 20px 20px;
}


main h3 {
    color: #999;
}
main {
    overflow: hidden;
}
main .content {
    position: relative;

    min-height: 90vh;
}
main .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
main .content .cards .card {
    width: 270px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .08), 0 6px 0 rgba(0, 0, 0, .019);
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
main .content .cards .card .incard{
    margin-top: 0;
}
.incard.head{
    margin: 0;
}

main .card .head .icon{
    font-size: 20px;
    color: #0098A1;
}
main .card .head .icon.down{
    color: #FC3B56;
}
main .card .progress {
    display: block;
    margin-top: 15px;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    background: #F1F0F6;
    overflow-y: hidden;
    position: relative;
    margin-bottom: 4px;
}
main .card .progress::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #1775F1;
    width: var(--value);
}
main .card .label{
    font-size: 14px;
    font-weight: 700;
}

main .content .cards .card:nth-child(3),
main .content .cards .card:nth-child(4){
    display: block;
    padding: 15px;
}

main .content .content-2{
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
main .content .content-2 .service-center{
    min-height: 50vh;
    flex: 5;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .08), 0 6px 0 rgba(0, 0, 0, .019);
    margin: 0 25px 25px 25px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 1000px;
}
main .content .content-2 .service-center table{
    padding: 0 20px;
    text-align: center;
    table-layout: fixed;
    overflow:hidden;
    text-overflow:ellipsis;
}
main .content .content-2 .service-center table tr{
    text-align: center;
}

main .content .content-2 .new-post{
    flex: 2;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .08);
    min-height: 50vh;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
main .content .content-2 .new-post table {
    margin: 0 auto;
    table-layout: fixed;
}
.center-tit{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #F1F0F6;
}
.center-tit a,
.center-tit a:visited{
    color: #0098A1;
}

main table{
    padding: 10px;
}
main table th,
main table tr {
    text-align: center;
    padding: 8px;
    border-bottom: none;
}


main td {
    border-bottom: none;
    table-layout: fixed;
    overflow:hidden;
    text-overflow:ellipsis;

}

/*main끝*/

/*로그인*/

#logBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0098A1;

}
#logBody::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}
.login-form {
    position: relative;
    z-index: 2;
}
.login-form img {
    padding-left: 15%;
    text-align: center;
    margin: 30px 0;
}
.int-area {
    width: 400px;
}
.int-area input {
    width: 100%;
    padding: 20px 10px 20px;
    border: none;
    font-size: 18px;
    color:#000000;
    outline: none;
    margin-bottom: 20px;
    border-radius: 5px;
}
.btn button {
    width: 100%;
    height: 60px;
    border: none;
    color: #0098A1;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 100px;
    font-size: 20px;
}

/*회원목록*/


.content2{
    margin: 100px 15px 0 315px;
}
.content2-fluid{
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    min-width: 1300px;
}
.header_box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    min-width: 1300px;
    color: #4F4F4F;
}
.content2 h2 {
    margin: 0;
    font-size: 22px;
    display: inline-block;
}

.content2 nav {
    display: inline-block;
    justify-content: right;
}
.content2 nav form .form-group{
    display: flex;
    font-size: 16px;
}
.content2 nav form .form-group select{
    width: 100px;
    height: 35px;
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
    padding: 0 10px;
    border-radius: 100px;
    border: 2px solid #0098A1;
}
.content2 nav form .form-group input {
    width: 120px;
    height: 35px;
    font-size: 16px;
    margin-right: 10px;
    padding: 0 10px;
    border: 2px solid #0098A1;
    border-radius: 100px;
}
.content2 nav form .form-group input[type="text"]{
    width: 180px;
}
.content2 nav form .form-group input[type="text"]::placeholder{
    font-size: 14px;
}
.content2 nav form .form-group input:nth-child(2){
    margin-left: 10px;
}
.content2 nav form .form-group button {
    width: 100px;
    height: 35px;
    font-size: 18px;
    margin-left: 5px;
    padding: 0 10px;
    border-radius: 100px;
    background-color: #0098A1;
    color: white;
    border: none;
    font-weight: bold;

}
.btnlist {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    text-align: right;
    margin-top: 20px;
    justify-content: right;
}
.btnlist input[type="button"] {
    width: 100px;
    height: 35px;
    font-size: 14px;
    margin-top: 10px;
    background-color: #0098A1;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    letter-spacing: 1.2px;
    border: none;
    margin-right: 10px;
}
.btnlist input[type="submit"],
.btnlist input[type="reset"]{
    width: 100px;
    height: 35px;
    font-size: 14px;
    margin-top: 10px;
    background-color: #0098A1;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    letter-spacing: 1.2px;
    border: none;
    margin-right: 10px;
}
.btnlist button {
    width: 100px;
    height: 35px;
    font-size: 14px;
    margin-top: 10px;
    background-color: #0098A1;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    letter-spacing: 1.2px;
    border: none;
    margin-right: 10px;
}
.btnlist button > a{
    font-size: 14px;
    color: white;
    font-weight: bold;
}
.btnlist button:last-child{
    margin-right: 0;
}
table.tbList {
    width: 100%;
    text-align: center;
    /* width: 1200px;
    position: relative;
    margin: 60px auto 0;
    left: 70px;
    text-align: center;
    */
    border-collapse: collapse;
}

table.tbDetail {
    width: 1100px;
    position: relative;
    margin: 30px auto;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table tr {
    height: 60px;
    width: 100%;
}
table select {
    width: 60px;
    text-align: center;
}
th {
    border-bottom: 1.5px solid #4f4f4f;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 8px;
    text-align: center;
}
td {
    padding: 15px;
    border-bottom: 1px solid #8D8D8D;
}


/*리스트 넘버링*/
.pageNum {
    position: relative;
    margin: 30px auto;
    text-align: center;
    width: 800px;
    padding-left: 150px;
}


/*회원 상세정보*/
table.colortb{
    border-collapse: collapse;
    margin-bottom: 40px;
}
table.colortb:last-child{
    margin-bottom: 0;
}
table.colortb th{
    border-bottom: 1px solid #8D8D8D;
    background-color: #f7f7f7;
}
table.colortb tr{
    height: 20px;
}
.infolist {
    margin-top: 60px;
}
/* .formscroll {

    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
} */

table.ad-tb2 {
    margin-top: 0;
    max-height: 300px;
    margin-bottom: 50px;
}
table a{
    color: #000;
}
table a:visited{
    color: #000;
}

/*신규등록*/

.box.new p {
    background-color: #0098A1;
    width: 35%;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.box.new input{
    float: right;
    margin: 0 35px;
    width: 50%;
}
.box.new select{
    text-align: center;
    height: 30px;
    margin-left: 10%;
    width:50%;
}
.box.new ul{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.box.new li{
    width: 50%;
    clear: both;
}
.box.new ul li p{
    text-align: center;
    float: left;

}

.box.new.new1 ul li p{
    text-align: center;
    width: 90px;
    float: left;
}
.box.new.new1 select{
    margin-left: 75px;
}

/* 상품등록 */



.formbox{
    width: 100%;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
}
.formbox > .formbox_ul{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 70px;
}
.formbox > .formbox_ul > li{
    margin: 0 auto;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.formbox > .formbox_ul > li textarea{
    width: 100%;
}
.formbox_div1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.formbox_div2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.formbox_div2 input[type="file"]{
    width: 100%;
}

.formbox_div3{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.formbox_div4{
    width: 800px;
}
.formbox_input_price{
    /*display: flexbox;*/
    width: 800px;
    padding-left: 3px;
}
.formbox_input_price input:first-child {
    width: 100px;
    height: 25px;
    border: none;
    background-color: #0098A1;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;
}
.formbox_input_price input:first-child::placeholder{
    font-size: 13px;
    color: white;
}
.formbox_div5{
    width: 620px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.formbox_div5 div input:first-child,
.formbox_div5 div input:nth-child(4),
.formbox_div5 div input:nth-child(7),
.formbox_div5 div input:nth-child(10){
    width: 100px;
    height: 25px;
    border: none;
    background-color: #0098A1;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;

}
.formbox_div5 div input:first-child::placeholder,
.formbox_div5 div input:nth-child(4)::placeholder,
.formbox_div5 div input:nth-child(7)::placeholder,
.formbox_div5 div input:nth-child(10)::placeholder{
    color: white;
}
.formbox_div5{
    width: 500px;
}
.formbox_div6{
    margin-top: 50px;
    width: 900px;
}
.formbox_div4 > input[type="checkbox"]{
    margin-left: 10px;
}
.formbox_div3_part{
    width: 46%;
    display: flex;
    justify-content: space-around;
}
.formbox_div3_part > .formbox_ul_title{
    width: 100%;
}
input[type="time"]{
    width: 100%;

}
.formbox_ul_title {
    width: 300px;
    top: 50%;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
    background-color: #0098A1;
    color: #fff;
}
.formbox_ul_title_op{
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    text-align: center;
    width: 240px;
    line-height: 150px;
    background-color: #0098A1;
    color: #fff;
}
.formbox_ul_select1{
    width: 100%;

}
.formbox_ul_select2{
    width: 100%;
}
.formbox_ul_select3{
    width: 15%;
}
.formbox_ul_text{
    width: 100%;
}
.formbox_div4.ticket{
    width: 100%;
}
.formbox_div4.ticket select{
    width: 15%;
    height: 30px;
}
.formbox_div4.ticket input{
    width: 61%;
    height: 30px;
}
.formbox_ul_title_info{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    width: 300px;
    line-height:300px;
    text-align: center;
    background-color: #0098A1;
    color: #fff;
    margin-right: 5px;
    justify-content: center;
}
.formbox_ul_btn div{
    margin: 20px auto 0;
}
.formbox_ul.packgeForm {
    width: 100%;
    margin: auto;
}
.formbox_ul.packgeForm ul{
    width: 100%;
}
.formbox_ul.packgeForm li{
    width: 100%;

}
.formbox_ul.packgeForm li select,
.formbox_ul.packgeForm li input[type="text"]{
    width: 70%;
    height: 30px;
}
.formbox_ul.packgeForm .formbox_div4{
    width: 100%;
}
.formbox_ul.packgeForm .formbox_div5{
    width: 100%;
    height: 150px;
}
.formbox_ul.packgeForm li .formbox_div5 div{
    width: 75%;
    height: 120px;
}
.formbox_ul.packgeForm li .formbox_div5 input{
    width: 20%;
}
.formbox_ul.packgeForm .formbox_div6,
.formbox_ul .formbox_div6.ticket {
    width:30%;
    margin-top: 0;
}


.formbox_ul.packgeForm li .formbox_ul_title_info{
    width: 300px;
}

.box {
    /* display: flex; */
    /* justify-content: space-between;  */
    /* margin-top: 30px; */
    /* width: 1000px; */
    width: 100%;
    margin: 0 auto 70px;
}
.register .box .center {
    margin: 0 auto;
    margin-left: 20%;
}
.center ul{
    width: 100%;
}
.center ul li {
    margin: 0 auto;
    display: flex;
    height: 50px;
}
.center ul li p{
    width: 30%;
    text-align: center;
    padding-top: 4px;
    background-color: #0098A1;
    color: #fff;
}
.center ul li input,
.center ul li select {
    width: 60%;
}
.box p{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}
.box input {
    width: 250px;
    height: 30px;
    margin-left: 20px;
}
.box select {
    width: 100px;
    height: 25px;
    margin-left: 20px;
}
/* .leftbox {
    width: 500px;
} */

/* .rightbox {
    width: 500px;
} */
.flbox {
    display: flex;
    justify-content: space-between;
}
.flbox2{
    width: 100%;
    flex-direction: column;
    margin-left: 20%;
}
.plus{
    width: 50px;
    height: 25px;
}

.bottombox{
    display: flex;
    justify-content: space-between;
    width: 870px;
    margin-top: 10px;
}
.bottombox .span{
    font-size: 15px;
    font-weight: normal;
}
.btbox{
    display: flex;
    height: 30px;

}
.btbox input:first-child{
    width: 100px;
    height: 25px;
    border: none;
    background-color: #0098A1;
    border-radius: 10px;
    text-align: center;
}
.btbox input:first-child::placeholder {
    font-size: 13px;
    color: white;
}
.btbox .span input{
    width: 150px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0px;
    margin-right: 10px;
}

.btbox:nth-child(2){
    padding-left: 35px;
}
.btbox:last-child {
    padding-left: 35px;
}
.btbox .span{
    margin: 5px 0 0 20px;
}
.box button {
    clear: both;
    width: 50px;
    float: right;
    margin-top: 30px;
}

.non {
    clear: both;
    margin: 0;
}

.packge {
    display: flex;
    width: 1200px;
}
.packge button {
    width: 50px;
    margin-left: 20px;
}
.packge .mintit {
    font-weight: bold;
    font-size: 18px;
    float: left;
}

.packge span {
    float: right;
    font-weight: 400;
    margin: 0 0 10px 30px;
}
.packge p:nth-child(odd),
.packge p:nth-child(even){
    clear: both;
}
/* .packge .mintit:nth-child(odd){

    clear: both;
}
.packge .minrt{
    clear: both;
} */
.packge select {
    width: 80px;
    height: 25px;
    text-align: center;
}
.packge input[type="text"] {
    width: 200px;
    height: 25px;
}


.register{
    /* width: 1000px; */
    width: 100%;
    box-sizing: border-box;
    /* margin-left: 150px; */
    padding-right: 100px;
}

.re_fl{
    margin-top: 10px;
    width: 1000px;
}
.re_fl p{
    width: 80px;
    text-align: center;
    margin: 0;
}
.re_fl select {
    width: 100px;
    height: 25px;
    margin-left: 5px;
}

.re_fl2 input{
    width: 550px;
    margin-left:25px;
    height: 25px;
}
.re_fl3 div{
    width: 330px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.re_fl3 div p {
    width: 340px;
    margin-bottom: 5px;
}
.re_box{
    display: flex;
    height: 400px;

}
.re_fl3 .re_box p:first-child{
    width: 100px;
    font-size: 15px;
    margin-left: 35px;
    padding-top: 3px;
}
.re_fl3 .re_box p {
    font-size: 15px;

}
/*쿠폰등록*/
.coupon input {
    height: 30px;
    font-size: 15px;
    border: none;
    text-align: center;

}
.coupon input::placeholder{
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}
.coupon input:focus{
    outline: none;
    text-align: center;
}
.coupon input[type="date"]{
    border: 1px solid #0098A1;
    border-radius: 100px;
    width: 120px;
}
.coupon input[type="date"]::-webkit-calendar-picker-indicator{
    display: none;
    -webkit-appearance: none;
}
.coupon select{
    width: 180px;
    text-align: center;
    height: 30px;
    font-size: 16px;
    border: none;
}
.submit {
    margin-left: 100px;
}
.hbt {
    text-align: center;
}
.regis {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 80px;
    height: 30px;
    background-color: #0098A1;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.2px;
    border: none;
}



/* 공지사항 */


.notice {
    width: 950px;
    font-size: 22px;
    position: relative;
    top: -20px;
}

.notice div {
    float:left;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 30px;
}

.notice input {
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: 18px;
}

.notice select {
    width :160px;
    height: 30px;
    float:left;
    text-align: center;
    font-size: 16px;
}

.notice_b input{
    width: 230px;
}

.notice button {
    width : 50px;
    height: 30px;
    font-size: 18px;
}

.check input {
    width: 15px;
    height: 15px;
    margin-right: 45px;
}

/* table, tr {
    border-bottom: solid#f7f7f7 ;
    background-color: #f7f7f7;
    font-size: 18px;
} */

/* .under{
    border-bottom: 1px solid #000;
} */

.re_de {
    box-sizing: border-box;
    position: relative;
    left: 1435px;
    width: 210px;
    height: 30px;
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
}

.registration{
    margin-right: 10px;
}

.registration div, .delete div {
    width: 100px;
    padding-top: 5px;
}

.delete, .registration{
    width: 100px;
    height: 30px;
    float: left;
    background-color: #f7f7f7;
    color: #000;
}

.sp1{
    margin-left: 70px;
    margin-top: 30px;
}

/* 공지사항 끝 */


/* 공지사항 - 상세  */


.notice_detail{
    background-color: #ededed;
    width: 100%;
    height: 700px;
    box-sizing: border-box;
    padding: 20px;
    font-size: 18px;
}

.notice_detail_1{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid rgb(145, 145, 145);
}

.notice_detail_2{
    width: 100%;
    font-size: 18px;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.notice_detail_3{
    width: 100%;
    height: 520px;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
}

.mo_li {
    box-sizing: border-box;
    position: relative;
    left: 1450px;
    width: 210px;
    height: 30px;
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
}

.modify{
    margin-right: 10px;
}

.modify div, .list div {
    width: 100px;
    padding-top: 5px;
}

.list, .modify{
    width: 100px;
    height: 30px;
    float: left;
    background-color: #f7f7f7;
    color: #000;
}


/* 공지사항 - 상세 끝 */


/* 공지사항 - 등록 */


.notice_register{
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-top: 30px;
}

.notice_register_1{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.notice_register_1_1, .notice_register_2_1,  .notice_register_3_1{
    width : 10%;
    text-align: right;
    font-weight: bold;
    float:left;
}

.notice_register_3_1{
    height: 380px;
}

.notice_register_1_2, .notice_register_2_2, .notice_register_3_2{
    width : 86%;
    height: 100px;
    float:left;
}

.notice_register_1_2 select{
    width : 100%;
    height: 28px;
    font-size: 16px;
}

.notice_register_2_2 input {
    width : 100%;
    height:  28px;
}

.notice_register_3_2{
    width : 86%;
    height: 380px;
}

.notice_register_2{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.notice_register_3{
    height: 380px;
    display: flex;
    justify-content: space-between;
}

.regi {
    box-sizing: border-box;
    position: relative;
    left: 780px;
    width: 210px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.regi_1 div{
    width: 80px;
    padding-top: 5px;
    background-color: #ffb800;
}

.regi_1{
    width: 100px;
    height: 30px;
    float: left;
    background-color: #f7f7f7;
    color: #000;
}


/* 공지사항 - 등록 끝 */


/* 매거진 - 목록 */


.tab a {
    color: #000;
}

.tab tr th {
    font-size: 26px;
}

.tab tr td {
    font-size: 20px;
}

.tab tr {
    height: 80px;
}

.sp2{
    margin-left: 70px;
    margin-top: 100px;
}


/* 매거진 - 목록 끝 */


/* 매거진 - 등록 */

/* 100 100 100 150 250 */
.magazine_register{
    width: 1200px;
    height: 600px;
    box-sizing: border-box;
    margin-left: 50px;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    left: -260px;
}

.magazine_register_1{
    height: 60px;
}

.magazine_register_1_1, .magazine_register_2_1,  .magazine_register_3_1, .magazine_register_5_1{
    width :200px;
    height :60px;
    text-align: left;
    float:left;
    font-size: 18px;

}

.magazine_register_3_1{
    height: 30px;
}

.magazine_register_1_2, .magazine_register_2_2, .magazine_register_3_2{
    width : 800px;
    height: 30px;
    float:left;
}

.magazine_register_1_2 select{
    width :150px;
    height: 30px;
    position: relative;
    top: -5px;
    font-size: 18px;
    text-align: center;
}

.magazine_register_2_2 input {
    width : 720px;
    height: 30px;
    position: relative;
    top: -5px;
    border: 1px solid black;
}

.magazine_register_3_2{
    height: 380px;
}

.magazine_register_2{
    height: 60px;
}

.magazine_register_3{
    height: 250px;
}

.magazine_register_4{
    height: 60px;
}

.magazine_register_5{
    height: 70px;
}

.magazine_register_5_1{
    height: 50px;
    box-sizing: border-box;
}

.magazine_register_5_2{
    width: 800px;
    height: 50px;
    float: left;
}

.magazine_register_5_2 input{
    width: 800px;
    height: 50px;
    cursor: pointer;
    font-size: 17px;
}



.magazine_register_5_3 button{
    width: 50px;
    height: 30px;
    font-size: 18px;
    position: relative;
    top: 50px;
    left: 20px;
    cursor: pointer;
}

/* 700 */

/* 150 100 300 150  */

.magazine_register_6_7{
    height: 220px;
    position: relative;
    top: -60px;

}
.magazine_register_6{
    width: 450px;
    height: 50px;
    float:left;
    text-align: center;
    box-sizing: border-box;
}

.magazine_register_6_1{
    width: 200px;
    height: 50px;
    float: left;
    box-sizing: border-box;
    padding-right: 50px;
}

.magazine_register_6_2{
    width: 250px;
    height: 50px;
    float:left;
    padding-top: 18px;
}

.magazine_register_6_2 input {
    width: 250px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
}

.magazine_register_7{
    width: 540px;
    height: 50px;
    float:left;

}

.magazine_register_7_1{
    width: 200px;
    height: 50px;
    float:left;
}

.magazine_register_7_2{
    width: 260px;
    height: 50px;
    float:left;
}

.magazine_register_7_2 input{
    width: 270px;
    height: 30px;
    font-size: 16px;
    position: relative;
    top: 18px;
}

.magazine_register_8{
    box-sizing: border-box;
    margin-bottom: 25px;
}
.magazine_register_8 h2{
    margin: 0;
    font-size: 20px;
}

.magazine_register_9{
    height: 100px;
    box-sizing: border-box;
    padding-top: 30px;
}

.magazine_register_9_1{
    width :200px;
    height :60px;
    text-align: left;
    float:left;
    margin-left: 1px;
}

.magazine_register_9_2{
    width: 800px;
    float: left;
}

.magazine_register_9_2 input {
    width : 720px;
    height: 30px;
    position: relative;
    top: -5px;
    border: 1px solid black;
}

.magazine_register_10{
    height: 300px;
}

.magazine_register_10_1{
    width:200px;
    text-align: left;
    float:left;
}

.magazine_register_10_2{
    width: 800px;
    float:left;
}

.magazine_register_11{
    height: 150px;
}

.magazine_register_11_1{
    width: 200px;
    height: 150px;
    float:left;
    box-sizing: border-box;
}

.magazine_register_11_2{
    width: 800px;
    height: 150px;
    float:left;
}

.magazine_register_11_2 input{
    width: 250px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    cursor: pointer;
}

.magazine_register_12{
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
}

.magazine_register_12 button{
    width: 120px;
    height: 40px;
    cursor: pointer;
    background-color: #0098A1;
    font-size: 16px;
    margin-bottom: 40px;
}


/* 매거진 - 등록 끝*/

.admin_manage_form_container {
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.admin_manage_form_container_ul1,  .admin_manage_form_container_ul3 {
    width: 18%;
    margin-right: 10px;
}

.admin_manage_form_container_ul2, .admin_manage_form_container_ul4 {
    width: 30%;
    justify-content: right;
    margin-right: 30px;
}
.admin_manage_form_container_ul2:last-child, .admin_manage_form_container_ul4:last-child{
    margin-right: 0;
}

.admin_manage_form_container_ul1 > p,  .admin_manage_form_container_ul3 > p {
    height: 30px;
    margin-top: 25px;
    font-size: 18px;
}
.admin_register_item{
    background-color: #0098A1;
    font-weight: bold;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    min-height: 35px;
}

.admin_register_content,
.admin_register_name_content, .admin_register_hp_content, .admin_register_email_content, .admin_register_adminpw_content, .admin_register_adminpwre_content, .admin_register_department_content, .admin_register_title_content{
    width: 100%;
    height: 30px;
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
    border: 1px solid gray;
    min-height: 35px;
    /* border-radius: 10px; */
}
.admin_register_box{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    min-width: 365.63px;
}
.admin_register_adminid_content{
    display: inline-block;
    width: 100%;
    height: 30px;
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
    border: 1px solid gray;
    min-height: 35px;
}
.admin_register_adminid_content2{
    display: inline-block;
    width: 80%;
    height: 30px;
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
    border: 1px solid gray;
    min-height: 35px;
}
.admin_register_btn{
    display: inline-block;
    width: 19%;
    height: 30px;
    margin-top: 25px;
    font-size: 14px;
    text-align: center;
    border: none;
    background-color: #0b9fa7;
    color: white;
    font-weight: bold;
    min-height: 35px;
}
.aircraft_reg{
    min-width: 275px;
    box-sizing: border-box;
}

/* .admin_register_btn {
    text-align: center;
}

.admin_register_btn > input {
    width: 200px;
    height: 30px;
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: 600;
    /* border-radius: 10px; */
/*   border: none;
   background-color: orange;
}
*/
/* .admin_list_table_link, .admin_inquiry_table_link {
    color: black;
} */

/* productlist */

.admin_productlist_select {
    /* width: 800px; */
    display: flex;
    justify-content: space-around;
}

.form-group > .admin_productlist_select > .admin_productlist_search1 > input {
    width: 200px;
}

.admin_productlist_searchbtn {
    display: block;
    margin: 0 auto;
}

.admin_productlist_lowbar, .admin_faq_list_btn {
    text-align: center;
    margin-left: 200px;
    margin-top: 20px;

}



/* inquiry */

.admin_inquiry_q1 {
    width: 723px;
    height: 150px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 20px;
}
.admin_inquiry_q2_div{
    height: 250px;
    width: 79%;
    border: 1px solid #0098A1;
}
.admin_inquiry_q2 {
    height: 35px;
    background-color: #0098A1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: normal;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
}
.admin_inquiry_q2 span{
    font-size: 12px;
    padding-left: 30px;
}
.admin_inquiry_datail_q3 {
    height: 110px;
}

.admin_inquiry_q2 > p {
    font-size: 18px;
}
.admin_inquiry_title{
    width: 20%;
    background-color: #0098A1;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.admin_inquiry_title2{
    width: 20%;
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.admin_inquiry_title3{
    width: 25%;
    background-color: #0098A1;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.admin_inquiry_q3{
    width: 79%;
}
.admin_inquiry_q3 > li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 30px;
}
.admin_inquiry_q3 > li > label{
    width: 25%;
    font-size: 16px;
    font-weight: normal;
}
.admin_inquiry_q3 > .baggage{
    margin-right: 10px;
    height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;

}
.admin_inquiry_q3 input[type="text"]::placeholder{
    text-indent: 5px;
    font-size: 16px;
}
.admin_inquiry_q3 input[type="radio"]{
    margin-right: 10px;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.admin_inquiry_q3 input[type="file"]{
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.admin_inquiry_q3 .checkb > input{
    margin-right: 5px;
}
.admin_inquiry_q3 .checkb{
    font-size: 16px;
    font-weight: normal;
    vertical-align: middle;
    align-items: center;
    margin-right: 20px;
}
.admin_inquiry_q3 > p, .admin_inquiry_a1 > div > p {
    margin-left: 15px;
    margin-top: 20px;
    font-size: 14px;
}


.admin_inquiry_category1, .admin_inquiry_qtext, .admin_inquiry_atext {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
.admin_inquiry_qtext{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 35px;
}
.round .admin_inquiry_title{
    border-radius: 4px;
    background-color: #0173b0;
}
.admin_inquiry_qtext:last-child{
    margin-bottom: 20px;
}
.admin_inquiry_category2{
    font-size: 18px;
    width: 100%;
    height: 35px;
}
.admin_inquiry_category3{
    font-size: 18px;
    height: 35px;
    width: 24%;
}
.seat_type{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.seat_type_input {
    margin-left: 15px;
    margin-right: 15px;
    height: 35px;
}
.price{
    font-size: 14px;
    background-color: #0173b0;
    border-radius: 5px;
}
.item_price{
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.item_price_input {
    margin-left: 15px;
    margin-right: 15px;
    height: 35px;
    width: 230px;
}
.option {
    display: flex;
    justify-content: space-between;
    height: 35px;
    width: 79%;
}
.option_type{
    width: 19%;
}
.option_type2{
    width: 24%;
}
.admin_inquiry_category2 span {
    width: 30%;
}

.admin_inquiry_a1{
    width: 100%;
    height: 250px;
}

.admin_inquiry_datail_btn {
    width: 700px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.admin_inquiry_datail_btn1 {
    width: 100px;
    height: 30px;
    font-size: 18px;
    border: none;
    background-color: orange;
}

.admin_inquiry_datail_btn2 {
    width: 100px;
    height: 30px;
    font-size: 18px;
}

.admin_inquiry_datail_btn2 > a {
    color: black;
}

.admin_FAQ_content {
    width: 700px;
    height: 300px;
    margin: 0 auto;
    margin-top: 100px;
    background: #f7f7f7;
}

.admin_FAQ_content_title{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.admin_FAQ_content_text{
    width: 500px;
    margin: 0 auto;
    margin-top: 70px;
    font-size: 20px;
}

.admin_faq_detail_btn {
    margin: 10px auto;
    position: relative;
    left: 1450px;
    width: 200px;
    height: 30px;
    text-align: center;
}
.admin_faq_detail_btn button{
    width:50px;
    height: 25px;
    border: none;
    font-size: 20px;
    margin-top: 10px;
}
.admin_lowbar_btn{
    width: 60px;
    height: 25px;
    font-size: 15px;
}



.admin_inquiry_a2 {
    font-size: 18px;
}
div.j2 {
    font-size: 40px;
    /*position: relativa;*/
    width: 400px;
    height: 100px;
    padding-left: 3%;
    padding-top:2%;
}
div.j3 {
    font-size: 30px;
    position: relative;
    top: -10px;
    right: -50px;
    width: 200px;
    height: 30px;
}
.content2.t_menu{
    /*padding: auto;*/
    margin-top: 2px;
}
.review_text{
    border: 1px solid black;
    margin-top: 30px;
    display: flex;
    width: 100%;
    text-align: left;
    height: 400px;
    font-size: 16px;
    text-indent: 5px;
    padding: 20px;
}

.colortb.tbDetail.rev_detail{
    margin: 20px 0;
}

.t_menu{
    text-align: center;
    /*padding: auto;*/
    width: 1000px;
    margin-left: 380px;
}
.t_menu1{
    text-align: center;
    padding-top:80px;
    width: 1400px;
    margin-left: 380px;
    margin-top: 20px;
}
.payment{
    width: auto;
    height: 350px;
}
.btnlist_review{
    position: absolute;
    width: 1200px;
    text-align: right;
}

#select_box {
    margin: 20px 0;
    margin-right: 10px;
}

#sort_box_flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.add_button {
    justify-content: right;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: #0098A1;
    color: white;
    padding: 5px 20px;
    border-radius: 100px;
    border: none;
    width: 80px;
    height: 35px;
}
.service_list{
    width: 80%;
}
.service_list > li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.service_list > li > label {
    width: 25%;
}

#option_p {
    margin-top: 10px;
}
#text_area_flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}
#text_area_flex > p {
    width: 120px;
    margin-right: 20px;
}
#facility {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}
#facility > .index {
    width: 100px;
}
#facility > div > p {
    margin-bottom: 20px;
}
#facility input {
    width: 100px;
    text-align: center;
}
#policy_box {
    display: flex;
    justify-content: flex-start;
}
#policy_box > p {
    margin-right: 10px;
}
#policy_box input{
    width: 120px;
    margin-right: 30px;
}

#keyword_p input{
    margin-left: 20px;
    margin-right: 5px;
}
#text_area_flex_box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0;
}
#text_area_flex_box p {
    width: 120px;
}