
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
font-family: 'Noto Sans KR', sans-serif;
}
main{
    padding-top: 40px;
} 
main h2{
    width: 800px;
    font-size: 20px;
    color: #39484a;
    margin-left: 3px;
}
.division {
    display: flex;
    vertical-align: middle;
    width: 250px;
    font-size: 16px;
    justify-content: space-around;
    color: #666;
    font-weight: bold;
    margin-top: 30px;
}
.division p{
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
}
.division span{
    vertical-align: middle;
    margin: 0;
}
/* .division span{
    cursor: pointer;
    margin-right: 3px;
} */
.color {
    color: #40D1BA;
}
.division span:nth-child(2),
.division span:nth-child(3),
.division span:nth-child(4){
    margin-left: 3px;
}
.boxList {
    width: 850px;
    margin: 50px auto 0;
}
.line{
    display: flex;
    flex: 2;
    justify-content: space-between;
    width: 850px;
    margin: 30px 0;
    flex-grow:0;
    flex-wrap: wrap-reverse;
}

.flex {
    display: flex;
    vertical-align: middle;
    width: 400px;
    height: 130px;
    margin: 30px 0;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .08), 0 6px 0 rgba(0, 0, 0, .019);
}
.flex div:first-child{
    margin: 0 auto;
    padding: 10px;
}

.flex .img{
    
    margin: 0 auto;
    padding: auto;
}
.flex .img img{
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
}
.purpleTit{
    color: #8700ff;
    font-weight: bold;
    margin: 0;
}
.blueTit{
    color: #1190e6;
    font-weight: bold;
    margin: 0;
}
.mintTit{
    color: #40D1BA;
    font-weight: bold;
    margin: 0;
}

.boldTxT{
    font-weight: bold;
    margin: 0;
    color: #39484a;
}
.flex div p:last-child{
    color: #666;
    margin: 5px 0;
}