/* room_list */

/* 208 */

#loadging_info{
    width: 1000px;
    height: 600px;
    margin:0 auto;
    margin-bottom: 57px;
    padding: 0;
    box-sizing: border-box;
}
#lodging_img{
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

#lodging_main_img { 
    width: 1000px; 
    height: 250px; 
    margin: 0 auto; 
    margin-bottom: 0; 
    background-image: url('/lib/img/lodging_room_img/lodging_main.svg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: right center 
}

#lodging_img img {
    width :1000px;
    height: 250px;
}

#lodging_info_main{
    width: 1000px;
    height: 418px;
    margin: 0 auto;
    padding: 0;
    background-color: #fafafa;
    position: relative;
    box-sizing: border-box;
    border-radius: 15px 15px;
    box-shadow: 0 10px 30px 0 #dddddd;
}

#lodging_info_main_1{
    width: 450px;
    height: 418px;
    float:left;
}

#lodging_info_main_2{
    width: 360px;
    height: 418px;
    float:left;
}

#lodging_info_main_3{
    width: 190px;
    height: 418px;
    float:left;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
}

/* 418 - 85 - 90 -243 */
#roomlist_setting{
    width: 100%;
    height: 85px;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}
/* 110 40 */

#roomlist_setting_lodging{
    position: relative;
    width: 110px;
    height: 40px;
    background-color: #ececec;
    border-radius: 10px 10px;
    text-align: center;
    top: 18px;
    left: 30px;
    line-height: 40px;
}

#roomlist_setting_star{
    position: relative;
    width: 110px;
    height: 40px;
    background-color: #ececec;
    border-radius: 10px 10px;
    text-align: center;
    top: -22px;
    left: 160px;
    line-height: 40px;
}

#roomlist_info_namebox{
    width: 100%;
    height: 90px;
    box-sizing: border-box;
}

#roomlist_info_namebox_name{
    font-size: 18px;
    height: 45px;
    color: #425052;
    padding-left: 35px;
    line-height: 50px;
    font-weight: bold;
}

#roomlist_info_namebox_engname{
    font-size: 16px;
    color: #666666;
    color: #bebebe;
    padding-left: 35px;
    line-height: 30px;
    font-weight: bold;
}

#roomlist_info_function{
    height: 200px;
    border-right: 1px solid #cbcbcb;
}
/* 40 ,  62, 44 / 10  / 44*/
#roomlist_info_function_like{
    width: 390px;
    height: 40px;
    position: relative;
    left: 35px;
    font-size: 16px;
    padding-left: 5px;
    font-weight: bold;
    color: #bebebe;
}

#roomlist_info_function_like > img {
    position: relative;
    top: 4px;
    height: 18px;
}

#roomlist_info_function_like span{
    color: #ff0000;
}

#roomlist_info_function_like >.starpoint {
    color:#FFDC00;
}

#roomlist_info_function_like a,#roomlist_info_function_map a {
    color:#2680EB;
}

#roomlist_info_function_map{
    width: 413px;
    height: 62px;
    position: relative;
    left: 35px;
    padding-left: 5px;
    font-size: 16px;
    font-weight: bold;
    line-height: 60px;
    color: #666666;
}

#roomlist_info_function_map > img {
    position: relative;
    top: 4px;
    left: 6px;
    height: 18px;
    margin-right: 10px;
}
#roomlist_info_function_map span{
    margin-right: 15px;
}
#roomlist_info_function_coupon{
    width: 368px;
    height: 44px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    position: relative;
    left: 35px;
    border-radius: 10px;
    padding-left: 20px;
    line-height: 40px;
    font-size: 16px;
    color: #666666;
}

#roomlist_info_function_coupon > span , #roomlist_info_function_benefit > span{
    color: #FF0101;
}

#roomlist_info_function_coupon  a , #roomlist_info_function_benefit  a{
    color: #666666;
    text-decoration: underline;
}

#aaa, #bbb{
    box-sizing: border-box;
    position: relative;
    top: -40px;
    left: 288px;
}

#roomlist_info_function_benefit{
    width: 368px;
    height: 44px;
    background-color: #ffe5e5;
    position: relative;
    left: 35px;
    border-radius: 10px;
    padding-left: 20px;
    line-height: 40px;
    font-size: 16px;
    color: #666666;
}

/* 375 - 166 - 109  - 100*/
#roomlist_info_reservation{
    height: 166px;
    font-size: 18px;
    padding-left: 25px;
    line-height: 220px;
    font-weight: bold;
    color: #425052;
}

#roomlist_info_reservation_setting{
    height: 109px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #707070;
    box-sizing: border-box;
    padding-top: 10px;
}

#roomlist_info_reservation_setting_date{
    width: 140px;
    height: 40px;
    border: 0.5px solid #a1a1a1;
    border-radius: 10px;
    position: relative;
    left: 20px;
    font-size: 14px;
    font-weight: normal;
}

#roomlist_info_reservation_setting_person{
    width: 140px;
    height: 40px;
    border: 0.5px solid #a1a1a1;
    border-radius: 10px;
    position: relative;
    top:-42px;
    left: 190px;
    font-size: 14px;
    font-weight: normal;
}

#roomlist_info_reservation_priceinfo{
    height: 100px;
    text-align: right;
    padding-right: 30px;
}

#roomlist_info_reservation_defaultprice, #roomlist_info_reservation_triplemember{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}

#roomlist_info_reservation_defaultprice{
    color: #666666;
    font-size: 24px;
}

#roomlist_info_reservation_benefitprice{
    font-size: 18px;
    font-weight: bold;
    color: #425052;
}

#roomlist_info_reservation_benefitprice > span{
    color: #FF0101;
}

/* 160 * 48   27*/

#roomlist_info_btn_like, #roomlist_info_btn_schedule, #roomlist_info_btn_writereview, #roomlist_info_btn_share{
    width: 145px;
    height: 50px;
    border: 0.5px solid #50E3C2;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    color: #50E3C2;
    font-weight: bold;
    line-height: 45px;
}

#roomlist_info_btn_like > img, #roomlist_info_btn_schedule > img, #roomlist_info_btn_writereview > img, #roomlist_info_btn_share > img{
    position: relative;
    top: 6px;
    width: 25px;
}

#roomlist_info_btn_like{
    margin-top: 82px;
}

#roomlist_info_btn_like, #roomlist_info_btn_schedule, #roomlist_info_btn_writereview{
    margin-bottom: 25px;
}

#lodging_info_sub{
    background-color: #f7f7f7;
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    /*height: 3550px;*/
    line-height: -1;
    clear: both;
    position: relative;
    margin-top: 100px;
}

#room_list{
    height: 1170px;
}
/* 1292-1085 */
#room_list_1{
    height: 88px;
    position: relative;
    margin-left: 40px;
    font-size: 18px;
    line-height: 90px;
    font-weight: bold;
    top: 15px;
    color: #425052;
}

#room_list_1 select{
    width: 112px;
    height: 40px;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: #2680EB;
    text-align: center;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 #dddddd;
}

/* 422+1 655 */
#room_list_3, #room_list_4, #room_list_5{
    box-sizing: border-box;
    width: 1000px;
    padding-left: 40px;
    height: 270px;
    border-bottom: 1px solid #e5e5e5;
    padding-top:30px;
}
#room_list_2{
    margin-bottom: 30px;
    display: flex;
    box-sizing: border-box;
    width: 1000px;
    padding-left: 40px;
    border-bottom: 1px solid #e5e5e5;
    padding-top:30px;
}

.roomlist_roomlist_info {
    width: 300px;
    height: 270px;
    /*float:left;*/
}

.roomlist_roomlist_name {
    font-size: 18px;
    font-weight: bold;
    color: #425052;
}

.roomlist_roomlist_info_specific {
    font-size: 16px;
    font-weight: bold;
    position:relative;
    color: #666666;
}
.roomlist_roomlist_info_specific p {
    width: 100px;
    word-break: keep-all;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
}
/* 30 240 30 */
.roomlist_roomlist_reservation {
    width: 620px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .08);
}

.roomlist_roomlist_reservation_info {
    width: 620px;
    height: 250px;
    display: flex;
    justify-content: space-around;
}
/* 655-208 */
.roomlist_roomlist_reservation_info_box {
    width: 400px;
    height: 250px;
    float:left;
    padding-left:20px;
    padding-top: 20px;
    position: relative;
    top: -5px;
}
/* 무료취소 107
쿠폰할인  35
    선택 85
*/
/* 사진 180 140 */

#rl1_1, #rl2_1, #rl3_1, #rl4_1{
    font-size: 18px;
    height: 80px;
    line-height: 100px;
    color: #2680EB;
    font-weight: bold;
}
.rl1_1{
    font-size: 18px;
    height: 80px;
    line-height: 85px;
    color: #2680EB;
    font-weight: bold;
}
#rl1_2, #rl2_2, #rl3_2, #rl4_2{
    height: 35px;
}

.roomlist_roomlist_reservation_info_box_coupon {
    width:95px;
    height:35px;
    margin-right:6px;
    background-color: #FE6C6C;
    float:left;
    border-radius: 10px;
    color: white;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
    font-size: 16px;
}

.roomlist_roomlist_reservation_info_box_triplemember {
    width:100px;
    height:35px;
    float:left;
    background-color: #50E3C2;
    border-radius: 10px;
    color: white;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
    font-size: 16px;
}

.roomlist_roomlist_reservation_info_box_price {
    width: 168px;
    height: 35px;
    font-size: 18px;
    float:left;
    font-weight: bold;
    color: #425052;
    text-align: right;
}

.roomlist_roomlist_reservation_info_box_price > span {
    color:#FF0101;
}

#rl1_3, #rl2_3, #rl3_3, #rl4_3{
    height: 94px;
}
#rl1_3{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
#rl1_3 p {
    margin-top: 10px;
}
#rl1_3 p span{
    color: #666666;
    font-weight: bold;
    font-size: 22px;
}
.roomlist_roomlist_reservation_info_box_show {
    background-color: #2680EB;
    width: 85px;
    height: 35px;
    border-radius: 10px;
    color:white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    /*left: 142px;*/
    line-height: 35px;
    border: 0;
    cursor: pointer;
    top: 8px
}

.roomlist_roomlist_img, #room_list_3_2_1_2, #room_list_4_2_1_2, #room_list_5_2_1_2{
    width: 190px;
    float:left;
}
.roomlist_roomlist_img{
    margin: auto;
    padding-right: 20px;
}
.roomlist_roomlist_img > img,
#room_list_3_2_1_2 > img, #room_list_4_2_1_2 > img, #room_list_5_2_1_2 > img{
    width: 180px;
    /*height: 140px;*/
    border-radius: 5px;
    position: relative;
    /*top: 40px;*/
}
.roomlist_roomlist_img > img{
    height: 170px;
}
#location_info{
    clear:both;
    height: 1860px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 0;
}

#location_info_1{
    height: 70px;
    font-size: 18px;
    font-weight: bold;
    color: #425052;
    box-sizing: border-box;
    padding-top: 20px;
}

/* 382 - 666 = 1078 */
#roomlist_location{
    width: 382px;
    height: 1784px;
    border-right: 1px solid #dcdcdc;
    float:left;
    padding-right: 28px;
}

#m1 {
    width: 410px;
    height: 100px;
    position: absolute;
    top: 1259px;
    border-right: 1px solid #f7f7f7;
}
#m2{
    width: 410px;
    height: 400px;
    position: absolute;
    top: 2900px;
    border-right: 1px solid #f7f7f7;
}

#roomlist_location_box{
    height: 450px;
}

#roomlist_location_box_map > img{
    border-radius: 15px;
    width: 382px;
    height: 245px;
}

/* 106- 276 = 382 */
#roomlist_location_box_location_info{
    height: 100px;
    font-size: 14px;
}

#roomlist_location_askmap{
    height:62px;
    border-bottom: 1px solid #dcdcdc;
}

#loc_info_1 {
    padding-top: 20px;
}

#loc_info_1, #loc_info_2, #loc_info_3{
    height: 20px;
}

#roomlist_location_box_location_info_place1, #roomlist_location_box_location_info_tel1, #roomlist_location_box_location_info_page1{
    width: 106px;
    float:left;
    font-size: 14px;
    font-weight: normal;
}

#roomlist_location_box_location_info_place2, #roomlist_location_box_location_info_tel2, #roomlist_location_box_location_info_page2{
    width: 276px;
    float:left;
    text-align: right;
    font-size: 14px;
    font-weight: normal;
}

/* 150 40  */

#roomlist_location_askmap{
    padding-left: 32px;
}

.loc_info_4, .loc_info_5{
    width: 153px;
    height: 42px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    float:left;
}

.loc_info_4{
    margin-right: 10px;
    background-color: white;
    color: #666666;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}

.loc_info_4_1{
    border: 0.5px solid #707070;
}

.loc_info_5{
    background-color: #2680EB;
    border:0;
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 147px;
    line-height: 40px;
}

#location_info_2 a {
    text-decoration: underline;
}

#roomlist_findway{
    height: 150px;
}

#roomlist_findway_how{
    font-size: 18px;
    height: 50px;
    line-height: 70px;
    font-weight: bold;
    color:#425052;
}

#roomlist_findway_explain{
    font-size: 14px;
    height: 50px;
    position: relative;
    top: 15px;
    font-weight: normal;
}

#roomlist_findway_more{
    position: relative;
    font-size: 14px;
    text-align: right;
    top: 10px;
}

#roomlist_findway_more a{
    color: #2680EB;
    font-weight: bold;
}

#roomlist_safety{
    height: 185px;
}

#roomlist_safety_title, #roomlist_convenience_title, #roomlist_lodginginfo_title, #roomlist_lodgingpolicy_title, #roomlist_importantinfo_title{
    font-size: 18px;
    font-weight: bold;
    color: #425052;
}

#roomlist_safety_list, #roomlist_convenience_list, #roomlist_lodginginfo_list, #roomlist_importantinfo_info{
    font-size: 14px;
    position: relative;
    top: 10px;
    width: 370px;
    font-weight: normal;
}

#roomlist_safety_more,#roomlist_convenience_more, #roomlist_lodginginfo_more, #roomlist_importantinfo_more,#roomlist_lodgingpolicy_more{
    font-size: 14px;
    position: relative;
    top: 15px;
    text-align: right;
}

#roomlist_safety_more a,#roomlist_convenience_more a, #roomlist_lodginginfo_more a, #roomlist_importantinfo_more a,#roomlist_lodgingpolicy_more a{
    font-size: 14px;
    position: relative;
    text-align: right;
    color: #458cd3;
    font-weight: bold;
}

#lo_info_2_1_5_3{
    top: 15px;
}

#roomlist_lodgingpolicy_more{
    top: 30px;
    width: 70px;
    box-sizing: border-box;
    left: 322px;
}

#roomlist_convenience{
    height: 160px;
}

#roomlist_lodginginfo{
    height: 210px;
}

#roomlist_lodgingpolicy{
    height: 140px;
}

#roomlist_lodgingpolicy_time{
    position: relative;
    top: 15px;
    font-size: 12px;
}

#roomlist_lodgingpolicy_checkin,#roomlist_lodgingpolicy_checkout{
    width: 370px;
}

#roomlist_lodgingpolicy_checkin_title{
    width: 170px;
    float:left;
    font-size: 14px;
    font-weight: normal;
}

#roomlist_lodgingpolicy_checkin_time{
    width: 200px;
    float:left;
    text-align: right;
    font-size: 14px;
    font-weight: normal;
}

#roomlist_importantinfo{
    height: 215px;
}

#roomlist_lodging_specificinfo{
    width: 509px;
    height: 1784px;
    float: left;
    box-sizing: border-box;
    padding-left: 30px;
}

#roomlist_lodging_specificinfo_box{
    width: 469px;
    height: 1750px;
    background-color: #ffffff;
    border-radius: 15px;
}

#roomlist_lodging_specificinfo_box img {
    border-radius: 15px;;
}

#roomlist_lodging_specificinfo_box_info{
    padding-right: 40px;
    padding-top: 30px;
    height: 350px;
}

#roomlist_lodging_specificinfo_box_info span {
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}

#roomlist_lodging_specificinfo_box_info li {
    font-size: 16px;
    position: relative;
    left: 30px;
    top: 20px;
    color: #666666;
}

#roomlist_lodging_specificinfo_box_room{
    padding-left: 40px;
    padding-right: 40px;
    height: 455px;
}

#roomlist_lodging_specificinfo_box_room img, #roomlist_lodging_specificinfo_box_amenity img, #roomlist_lodging_specificinfo_box_around img {
    width:389px;
}

#roomlist_lodging_specificinfo_box_amenity{
    padding-left: 40px;
    padding-right: 40px;
    height: 455px;
}

#roomlist_lodging_specificinfo_box_around{
    padding-left: 40px;
    padding-right: 40px;
}

.roomlist_lodging_specificinfo_box_text{
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 25px;
    color: #666666;
}

#roomlist_lodging_specificinfo_box_room  span, #roomlist_lodging_specificinfo_box_amenity  span,
#roomlist_lodging_specificinfo_box_around  span{
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    color: #666666;
}

#review{
    clear:both;
    height: 412px;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 30px;
    padding: 0;
}

#review img {
    border-radius: 30px;
}

#review_1{
    height: 52px;
}

#roomlist_review_title{
    width: 100px;
    height: 52px;
    float:left;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}

#roomlist_review_title > span {
    color:#2680EB;
}


#roomlist_review_btn{
    width: 770px;
    height: 52px;
    float: left;
    font-size: 14px;
    text-align: right;
    line-height: 50px;
    box-sizing: border-box;
    font-weight: bold;
}

#roomlist_review_btn a:first-child{
    margin-right: 30px;
    font-weight: normal;
    color: black;
}

#roomlist_review_btn a:last-child{
    text-decoration: underline;
    color: #2680EB;
}

/* 1078 */

/* 53  250  775 */

.review_2{
    height: 105px;
    margin-bottom: 15px;;
}

.roomlist_review_img{
    width: 50px;
    float:left;
}

.roomlist_review_star{
    width: 200px;
    box-sizing: border-box;
    padding-left: 20px;
    float:left;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}

.roomlist_review_text{
    width: 620px;
    float:left;
    font-weight: normal;
    font-size: 14px;
}

.sp1{
    font-weight: bold;
}

.sp2{
    color: #FFDC00;
}

/*  top 100 */

/* 1208 */

/* size 1100 510 */
/* 양쪽 54  */

#lodging_sub{
    width: 1000px;
    height: 710px;
    margin: 0 auto;
    padding-left: 54px;
    padding-right: 54px;
    position: relative;
    padding-top: 100px;
    bottom: 0;
}

#lodging_sub img {
    border-radius: 15px;
}

.lodging_sub_1{
    width: 500px;
    float:left;
}

.roomlist_around_lodging_recommend{
    height: 36px;
}

.roomlist_around_lodging_recommend_title{
    width: 420px;
    float:left;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    box-sizing: border-box;
    padding-left: 25px;;
}

#roomlist_around_lodging_recommend_more{
    width: 80px;
    float:left;
    text-align: right;
    box-sizing: border-box;
    padding-right: 25px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    line-height: 40px;
}

#roomlist_around_lodging_recommend_more a{
    color: #458cd3;
}



#roomlist_around_lodging_recommend_more{
    width: 80px;
    float:left;
    text-align: right;
    box-sizing: border-box;
    padding-right: 25px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    line-height: 40px;
}

#roomlist_around_lodging_recommend_more a{
    color: #2680EB;
}

.roomlist_around_lodging_recommend_list {
    height: 158px;
    box-sizing: border-box;
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 25px;
    border-bottom: 1px solid #bdbdbd;
}

/* 110 415  */

.roomlist_around_lodging_recommend_list_img {
    width: 110px;
    float: left;
}

.roomlist_around_lodging_recommend_list_text {
    width: 340px;
    float: left;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}

#lodging_sub span {
    color: #666666;
}

#lodging_sub span > .starpoint {
    color: #FFDC00;
}

/* room_info */

#loadging_info{
    width: 1000px;
    height: 600px;
    margin:0 auto;
    margin-bottom: 57px;
    padding: 0;
    box-sizing: border-box;
}
#lodging_img{
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

#lg_rm_if_main{
    width: 1000px;
    height: 320px;
    margin: 0 auto;
    padding: 0;
    background-color: #fafafa;
    position: relative;
    box-sizing: border-box;
    border-radius: 15px 15px;
    box-shadow: 0 10px 30px 0 #dddddd;
    display: flex;
}

#lg_rm_if_main_1{
    width: 500px;
    height: 320px;
    float:left;

}

#lg_rm_if_main_2{
    /*width: 500px;*/
    height: 200px;
    /*float:left;*/
    margin: auto;
}


/* 418 - 85 - 90 -243 */
#lg_rm_if_main_1_setting{
    width: 100%;
    height: 85px;
    font-size: 15px;
    font-weight: bold;
    color: #425052;
}
/* 110 40 */

#lg_rm_if_main_1_lodging{
    position: relative;
    width: 110px;
    height: 40px;
    background-color: #ececec;
    border-radius: 10px 10px;
    text-align: center;
    top: 16px;
    font-weight: bold;
    color: #666666;
    left: 30px;
    line-height: 40px;
}

#lg_rm_if_main_1_star{
    position: relative;
    width: 110px;
    height: 40px;
    background-color: #ececec;
    border-radius: 10px 10px;
    text-align: center;
    top: -22px;
    left: 160px;
    line-height: 40px;
}

#lg_rm_if_main_1_info_left{
    width: 500px;
    height: 220px;
    box-sizing: border-box;
    margin-bottom: 50px;
    padding-left: 55px;
    margin-right: 80px;
    border-right: 1px solid #cbcbcb;

}

#lg_rm_if_main_1_info_name{
    font-size: 18px;
    height: 45px;
    color: #425052;
    line-height: 50px;
    font-weight: bold;
}

#lg_rm_if_main_1_info_room{
    font-size: 16px;
    /*font-weight: bold;*/
    position: relative;
    top: 5px;
    color: #666666;
}
#lg_rm_if_main_1_info_room p{
    margin: 0 0 5px;
    font-size: 14px;
}
#lg_rm_if_main_1_info_room div{
    width: 150px;
    display: flex;

}
#lg_rm_if_main_1_info_room div img{
    width: 20px;
    height: 17px;
    margin-right: 5px;
}

#lg_rm_if_main_1_info_policy{
    font-size: 16px;
    color: #666666;
    font-weight: bold;
    position: relative;
    top: 20px;
}

#lg_rm_if_main_1_info_policy span:nth-child(1){
    color: #2680EB;
}

#lg_rm_if_main_1_info_policy span:nth-child(3){
    color: #FF0101;
}

#lg_rm_if_main_1_info_policy span:nth-child(4){
    color: #50E3C2;
}

#lg_rm_if_main_2_info_right{
    height: 83px;
    text-align: right;
}

#lg_rm_if_main_2_info_right a{
    width: 130px;
    height: 40px;
    border-radius: 30px;
    position: relative;
    box-sizing: border-box;
    margin-top: 30px;
    margin-right: 30px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background-color: #50e3c2;
    border: 0;
    cursor: pointer;

}

#lg_rm_if_main_2_info_reservation{
    width: 130px;
    height: 35px;
    border-radius: 30px;
    position: relative;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #50e3c2;
    text-align: center;
    border: none;
    left: 270px;
    margin-top: 20px;
    cursor: pointer;
}

#lg_rm_if_main_2_info_box{
    height: 185px;
    box-sizing: border-box;
    margin-left: 50px;
}

.lg_rm_if_main_2_info_priceinfo{
    font-size: 18px;
    font-weight: bold;
    color: #425052;
}

#lg_rm_if_main_2_info_date{
    font-size: 18px;
    box-sizing: border-box;
    margin-top: 10px;
    color: #425052;
    font-weight: bold;
}

#lg_rm_if_main_2_info_date > span{
    color: #458cd3;
}

#lg_rm_if_main_2_info_triplememberbox{
    font-size: 18px;
    box-sizing: border-box;
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

#lg_rm_if_main_2_info_triplemember,#lg_rm_if_main_2_info_coupon{
    width: 180px;
    /*float:left;*/
    color: #425052;
}

#lg_rm_if_main_2_info_triplemember_price,#lg_rm_if_main_2_info_coupon_discount{
    width: 270px;
    /*float: left;*/
    text-align: right;
    box-sizing: border-box;
    padding-right: 50px;
    color: #425052;
}

#lg_rm_if_main_2_info_couponbox{
    font-size: 16px;
    color: #666666;
    box-sizing: border-box;
    margin-top: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.datepick div{
    display: flex;
    /*height: 25px;*/
    justify-content: space-between;
    margin-top: 20px;
}
.datepick div div{
    margin: 0 50px 0 0;
}
.datepick div p{
    margin: 0;
}
.datepick div #datepicker1,
.datepick div #datepicker2{
    width: 95px;
    height: 22px;
    background-color: transparent;
    border: 1px solid  #0c8ee5;
    border-radius: 5px;
    text-align: center;
}

/* 647.988 */

#lg_rm_if_main_2_info_pricebox{
    box-sizing: border-box;
    margin-left: 50px;
    color: #425052;
    position: relative;
}

#lg_rm_if_main_2_info_priceinfo{
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    color: #425052;
    float: left;
}

#lg_rm_if_main_2_info_price{
    font-size: 18px;
    font-weight: bold;
    color: #425052;
    position: relative;
    text-align: right;
    width: 200px;
    float:left;
}

#lg_rm_if_main_2_info_price > span{
    color: #FF0101;
}

#lg_rm_if_sub{
    background-color: #f7f7f7;
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    height: 1610px;
    clear: both;
    position: relative;
    bottom: 0;
}

#lg_rm_if_subb{
    height: 1610px;
    box-sizing: border-box;
    margin-left: 55px;
    margin-right: 55px;
    padding-top: 50px;
}

#lg_rm_if_sub_1{
    height: 175px;
}

.if_sub_1{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}

.if_sub_1_notice{
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    color: #666666;
}

.if_sub_2{
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 14px;
    line-height: 25px;
    font-weight: normal;
}

.if_sub_2 span {
    font-weight: bold;
}

#lg_rm_if_sub_2{
    height: 100px;

}

#lg_rm_if_sub_3{
    height: 100px;
}

#lg_rm_if_sub_4{
    height: 100px;
}

#lg_rm_if_sub_5{
    height: 175px;
}

#lg_rm_if_sub_6{
    height: 485px;
}

#if_sub_3, #if_sub_4, #if_sub_5{
    font-size: 14px;
    font-weight: normal;
}

#lg_rm_if_sub_6 span {
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}

#if_sub_3{
    height: 115px;
}

#if_sub_4{
    height: 190px;
}

#if_sub_5{
    height: 140px;
}

/* 183 */

#lg_rm_if_sub_7{
    height: 425px;
    box-sizing: border-box;
    padding-top: 30px;
}

#lg_rm_if_sub_7_1{
    width: 1000px;
    height: 358px;
    box-sizing: border-box;
    padding-top: 10px;
    color: #a9a9a9;
}

#lg_rm_if_sub_7_1 span{
    color: #425052;
    font-weight: bold;
}

#roominfo_roomfeature_dropbox, #roominfo_bathroom_dropbox,
#roominfo_foodandbeverage_dropbox,
#roominfo_multimedia_dropbox,#roominfo_convenince_dropbox{
    width: 150px;
    float:left;
    font-size: 14px;
    line-height: 25px;
}

#roominfo_acess_dropbox{
    box-sizing: border-box;
    width: 140px;
    float: left;
    font-size: 14px;
    line-height: 25px;
    padding-left: 17px;
}

#roominfo_acess_dropbox span {
    font-weight: bold;
    font-size: 14px;;
}

/* room_reserve */



#loadging_info{
    width: 1000px;
    height: 600px;
    margin:0 auto;
    margin-bottom: 57px;
    padding: 0;
    box-sizing: border-box;
}
#lodging_img{
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

#lg_rm_if_main{
    width: 1000px;
    height: 320px;
    margin: 0 auto;
    padding: 0;
    background-color: #fafafa;
    position: relative;
    box-sizing: border-box;
    border-radius: 15px 15px;
    box-shadow: 0 10px 30px 0 #dddddd;
}

/* 430 777 */

.mainLeft{
    float:left;
    width: 400px;
    height: 222px;
    box-sizing: border-box;
    margin-top: 45px;
    padding-left: 50px;
    border-right: 1px solid #dddddd;
}
/* 43 65 */


.main_tit{
    font-size: 16px;
    color: #000;
}




.main_info{
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 16px;
    margin-right: 55px;
    color: #666666;
}

/* 308    100 208 */
.main_info .leftb{
    width: 80px;
    float:left;
    margin: 0;
}

.main_info .rightb{
    width: 180px;
    float:left;
    text-align: right;
    margin: 0;
}

.mainRight{
    width: 600px;
    height: 320px;
    float: right;
}
/* 255 125 */
.shadowBox{
    width: 200px;
    height: 125px;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    vertical-align: middle;
    display: table-cell;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    box-shadow: 5px 5px 10px #bebebe;
}

.shadowBox span{
    font-size: 18px;
    color: #2680EB;
}


.showday{
    width: 120px;
    height: 30px;
    font-size: 16px;
    color: #2680EB;
    position: relative;
    top: 20px;
    left: 250px;
    margin: 0;
}
.showday span.color{
    color: #99cff3;
}

.shadowBox:first-child{
    position: relative;
    top: 93px;
    left: 36px;
}
.shadowBox:last-child{
    position: relative;
    top: -62px;
    left: 340px;
}
.shadowBox p{
    margin: 3px;
}


.mbox {
    clear: both;
    box-sizing: border-box;
    width: 1000px;
    border-bottom: 1px solid #858585;
    margin: 0 auto;
}
.box{
    display: flex;
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-between;

}
.box .leftb{
    float: left;
}
.box .rightb{
    float: right;
}
.box .leftb, .box .rightb {width: 49%; }
.box .leftb .title {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}
.box .rightb .title span {
    font-size: 14px;
    color: #468cd3;
    font-weight: bold;
}

.inLRbox{
    width: 50%;
    display: flex;
    justify-content: space-between;

}
.inLeft > input[type="text"] {
    margin-right: 10px;
    width: 220px;
}
.inRight > input[type="text"] {
    width: 220px;
}
.inLeft > input[type="text"]::placeholder, .inRight > input[type="text"]::placeholder {
    text-indent: 10px;
    font-size: 12px;
}
.box_title {
    font-size: 14px;
    text-indent: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;

}

.inRight {
    width: 100%;
}
.inRight > .label_box {
    width: 190px;
    display: flex;
}
.inRight > p {
    width: 190px;
}
.inRight > .label_box.gender{
    margin-top: 12px;
    margin-bottom: 12px;
}
.inRight > .label_box > label {
    margin-right: 20px;
}
.box {
    margin-bottom: 20px;
}
.box input[type="radio"] {
    width: 12px;
    margin-right: 5px;
    height: 15px;
}
.box .btSm {
    margin-top: 5px;
    font-size: 14px;
    text-indent: 5px;
    color: #858585;
}

.box p {
    margin: 10px 0 0 0;
}

.box input {
    border-radius: 10px;
    width: 220px; height: 40px;
    border: 1px solid #707070;
    background-color: #f7f7f7;
}

.box .rightb .title {
    font-size: 16px;
    font-weight: bold;
}
.box > ul > li > .pnon {
    width: 300px;
    font-size: 12px;
    margin-top: 0;
    color: #858585;
    text-indent: 3px;
    margin-top: 4px;
}

.requests{
    width: 1000px;
}

/* 1208 1043
    393  650
*/

.box{
    width: 1000px;
    height: 420px;
    border-bottom: 1px solid #cbcbcb;
    box-sizing: border-box;
}

.booker{
    width: 500px;
    height: 392px;
    float:left;
    box-sizing: border-box;
    padding-left: 65px;
    padding-top: 44px;
}

.booker h2{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    margin-bottom: 40px;
}



.box input{
    border-radius: 10px;
    width: 260px;
    height: 40px;
    border: 1px solid #707070;
    background-color: #f7f7f7;
}
.box input::placeholder{
    font-size: 12px;
    padding-left: 5px;
}

.span{
    font-size: 14px;
    color: #757575;
}

.booker2{
    width: 500px;
    float:left;
    box-sizing: border-box;
    padding-right: 65px;
    padding-top: 44px;
}

.booker2 h2{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    vertical-align: middle;
}

.booker2 h2 span {
    font-size: 14px;
    color: #1592e6;
}



.booker2 .box_title{
    font-size: 14px;
    font-weight: normal;
    box-sizing: border-box;
    margin-top: 20px;
}


/* 269.5 */
.leftb{
    width: 218px;
    float:left;
}

.rightb{
    width: 217px;
    float:right;
    box-sizing: border-box;
}


.booker2 input{
    border-radius: 10px;
    width: 200px;
    height: 40px;
    border: 1px solid #707070;
    background-color: #f7f7f7;
}
.booker2 input[type="checkbox"]{
    width: 15px;
    height:12px;
}
.rightb > .label_box {
    width: 190px;
    display: flex;
    padding-top: 13px;
}
.rightb > .label_box label{
    margin-right: 15px;
}


.bbox{
    width: 1000px;
    height: 650px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 65px;
    padding-right: 65px;
}

/* 650 - 324  174 152  */

.requests{
    height: 324px;
    box-sizing: border-box;
    padding-top: 35px;
}

.requests p:first-child{
    font-size: 18px;
    font-weight: bold;
    color: #666666;
}

.requests p:nth-child(2){
    font-size: 14px;
    font-weight: normal;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* 1078 78  */
.textarea{
    width: 860px;
    height: 115px;
    border: 2px solid #b6b6b6;
    border-radius: 10px;
    background-color: #f7f7f7;
    font-weight: normal;
    font-size: 14px;
    resize: none;
}

.textareaP{
    box-sizing: border-box;
    margin-top: 0;
    margin-left: 10px;
    font-size: 14px;
    color: #969696;
}

.paynotice{
    display: flex;
    justify-content: space-between;
    height: 200px;
}
.paynotice p {
    margin: 0 0 10px;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    padding: 0 10px;
}
.left{
    width: 370px;
    height: 174px;
}

.left h2{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    height: 30px;
}


.pleft{
    width: 200px;
    float:left;
}

.pright{
    width: 150px;
    float:right;
    box-sizing: border-box;
    text-align: right;
}

.left .bottom{
    height:70px;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px solid #757575;
}
.left .bottom img{
    width: 18px;
    vertical-align: middle;
}

.pright select{
    font-size: 14px;
    text-align: center;
    border: 2px solid #b6b6b6;
    border-radius: 10px;
    background-color: #f7f7f7;
    color: #425052;
    width: 100px;
    height: 21px;
    vertical-align: middle;
}

.totpay{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    box-sizing: border-box;
    padding-top: 10px;
}

.totpay .pleft{
    width: 200px;
    float:left;
}



.right{
    width: 50%;
    height: 140px;
    float: right;
    font-weight: normal;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #cbcbcb;
    padding-top: 10px;
    align-items: flex-end;
    padding: 5px 10px 0;
}
.right img{
    width: 20px;
    margin-right: 5px;
}
.right h2{
    font-size: 16px;
    color: #2680EB;
    font-weight: bold;
}
.right div p{
    color: #2680EB;
    font-weight: bold;
    padding: 0 10px;
    margin: 0;
    font-size: 14px;
    word-break:keep-all;
}

.lastbox h2{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    height: 10px;
}


.agree{
    display: flex;
}
.agree label {
    font-size: 14px;
}
.agree a{
    color: #2680EB;
    box-sizing: border-box;
    margin-top: 5px;
}
.agree input[type="submit"] {
    width: 180px;
    height: 50px;
    color: #ffffff;
    background-color: #40D1BA;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    position: relative;
    margin-left: 30px;
    top: -10px;
}

/* room_payment */

/* 1078 */
#loadging_pay{
    width: 1000px;
    height: 700px;
    margin:0 auto;
    margin-bottom: 57px;
    padding: 0;
    box-sizing: border-box;
}

#lodging_pay_img img {
    width: 1000px;
    height: 250px;
}

#lg_rm_pay_main{
    width: 1000px;
    height: 379px;
    margin: 0 auto;
    padding: 0;
    background-color: #fafafa;
    position: relative;
    box-sizing: border-box;
    border-radius: 15px 15px;
    box-shadow: 0 10px 30px 0 #dddddd;
}

/* 164 215 */

#lg_rm_pay_1{
    width: 500px;
    height: 379px;
    float: left;
    box-sizing: border-box;
    padding-left: 30px;
}

#roompayment_checkbox{
    width: 500px;
    height: 164px;
}

#roompayment_checkbox_title{
    font-size: 18px;
    color: #425052;
    box-sizing: border-box;
    padding-top: 30px;
    font-weight: bold;
}

#roompayment_checkbox_name{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}

#roompayment_checkbox_what{
    width: 500px;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}

#roompayment_checkbox_what_object{
    width: 370px;
    float: left;
}

#roompayment_checkbox_what_price{
    width: 100px;
    float: left;
    text-align: right;
}

#roompayment_paymentbox{
    width: 500px;
    height: 215px;
}

#roompayment_paymentbox_payinfo{
    font-size: 18px;
    color: #425052;
    font-weight: bold;
}

#roompayment_paymentbox_reserveprice, #roompayment_paymentbox_coupon{
    width: 500px;
    height : 20px;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    box-sizing: border-box;
    margin-bottom: 5px;
}

#roompayment_paymentbox_reserveprice_title, #roompayment_paymentbox_coupon_title{
    width: 370px;
    height: 20px;
    float:left;
}

#roompayment_paymentbox_reserveprice_price, #roompayment_paymentbox_coupon_price{
    width: 100px;
    height: 20px;
    float: left;
    text-align: right;
}

#roompayment_paymentbox_final{
    height: 30px;
    font-size: 18px;
    color: #425052;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 30px;
}

#roompayment_paymentbox_final_title{
    width: 350px;
    float:left;
}

#roompayment_paymentbox_final_price{
    width: 120px;
    float: left;
    text-align: right;
}

#lg_rm_pay_2{
    width: 500px;
    height: 379px;
    float: left;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
}

#roompayment_paymentway{
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #425052;
}

#roompayment_paymentway_how{
    width: 460px;
    height: 165px;
}

#roompayment_paymentway_how input:focus{
    border: 3px solid #50e3c2;
}

#roompayment_paymentway_how_card{
    width: 210px;
    height: 113px;
    float: left;
    box-sizing: border-box;
    margin-right: 19px;
}

#roompayment_paymentway_how_naver{
    width: 210px;
    height: 113px;
    float:left;
}

#roompayment_paymentway_how_card input, #roompayment_paymentway_how_naver input {
    width: 210px;
    height: 113px;
    background-color: #f7f7f7;
    border-radius: 10px;
    border: 1px solid #969696;
    font-size: 16px;
    font-weight: bold;
    color: #425052;
    cursor: pointer;
}

#check_module{
    width: 440px;
    height: 50px;
    border-radius: 15px;
    background-color: #50e3c2;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}


/* lodging_main */

/* #lodging_main_main {
    width: 1050px;
    margin:0 auto;
} */

.lodging_main {
    width: 1000px; margin: 0 auto; padding: 10px; box-sizing: border-box;
}
.lodging_title{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    padding-bottom: 5px;
    margin-top: 30px;
    margin-bottom: 0;
    text-indent: 10px;
}
.lodging_main.lodging_box form{
    width: 300px;
    background-color: #f7f7f7;
    border-radius: 10px;
}
.region_list {
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.region_list > a {
    margin-right: 15px;
}
.region_list > a:first-child {
    margin-left: 15px;
}
.region_list > a:last-child {
    margin-right: 15px;
}
.region_list > a > img {
    width: 170px;
}
#region_list {
    display: inline-block;
}


#main_recent_room, #main_family_best, #main_earlybird, #main_jeju_best, #main_megazine {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}



#room_search_box{
    width: 900px;
    background-color:#F7F7F7;
    padding: 40px;
    padding-top: 24px;
    text-align: center;
    margin-bottom: 30px;
    list-style: none;
}

#room_search_location, #room_search_date, #room_search_persons {
    text-align: center;
}
#datepicker1, #datepicker2 {
    width: 123px;
}
.room_icon {
    height: 40px;
}

.room_icon > img {
    width: 25px;
    height: 25px;
    text-align: center;
    margin-right: 20px;
    margin-top: 10px;
}

.room_icon > input[type="text"]{
    width: 250px;
    height: 25px;
    border: none;
    border-bottom: 2px solid rgb(217, 217, 217);
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    text-indent: 5px;
    color: #666666;
    /* margin-top: 5px; */
}


#room_search_button{
    width: 330px;
    height: 50px;
    border-radius: 10px;
    margin-top: 40px;
    background-color: #2680EB;
    border:none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

#everycity {
    float: right;
    margin-right: 55px;
    margin-top: 170px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 17px;
}

#clear {
    clear: both;
}

/* #laos_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

#main_recent_room > div > a > img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 30px;
    float: left;
}

#main_family_best > div > a > img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 30px;
    float: left;
}

.plus_info {
    float: right;
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
    margin-right: 65px;
}
.item_list {
    display: flex;
    overflow: auto;
    padding-bottom: 10px;
}
.item_list::-webkit-scrollbar{
    height: 7px;
    background-color:white;
    width: 0;
}
.item_list::-webkit-scrollbar-thumb{
    height: 7px;
    background-color:#87D9D2;
    width: 0;
    border-radius: 10px;
    border: 2px solid transparent;
}
.item_list::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0 0 5px white;
}
.item_list > a > div.lodging_imgbox {
    width: 170px;
    height: 170px;
    border-radius: 10px;
    background-image: url('/lib/img/lodging_room_img/pre_image.jpg');
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
.item_list > a > div.lodging_imgbox > .black_opacity{
    width: 170px;
    height: 170px;
    border-radius: 10px;
    background-color: black;
    opacity: 0.5;
}
.item_list > a > div.lodging_imgbox > .black_opacity > p.content {
    padding: 5px;
    padding-top: 110px;
    padding-right: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    word-break: keep-all;
    position: relative;
    left:10px;
    top: -5px;
    z-index: 10;
    opacity: 1
}
.content_point{
    padding: 5px;
    padding-right: 20px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    word-break: keep-all;
    position: relative;
    left:10px;
    top: -30px;
    z-index: 10;
}
.detail{ position: relative;
    left: 900px;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    color:#2680EB;
}


/*lodging_lodging_list*/

#lodging_main > p.content {
    padding-right: 20px;
    color: white;
    position: relative;
    left: -20px;
    top: -5px;
    z-index: 10;
    text-align: right;
    line-height: 1.2;
}
.content1 {
    margin-top: 50px;
    font-size: 16px;
}
.content2 {
    font-size: 18px;
    font-weight: bold;
}
.content3 {
    font-size: 14px;
}

.lodging_main > .summary_btn {
    width: 70px; height: 32px;
    border: none;
    border-radius: 10px;
    -webkit-appearance: none;
    text-align: center;
    font-weight: bold;
    color: #4E91D5;
    font-size: 12px;
    box-shadow: 1px 1px rgb(216, 216, 216);
    margin-right: 2px;
    margin-top: 20px;
    border: 1.5px solid #4E91D5;
    outline: 0;
}
.lodging_main > .summary_btn:first-child{
    background-color: #4E91D5;
    border: none;
    color: white;
}
.lodging_main > .summary_btn:first-child > option {
    background-color: white;
}

.lodging_main > .summary_btn > option {
    background-color: white;
    color: black;
    margin-top: 2px;
    margin-bottom: 2px;
    border: none;
}

.lodging_box {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
}

.lodging_main.lodging_box form{
    width: 25%;
    height: 740px;
    background-color: #f7f7f7;
    border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
}
.lodging_main.lodging_box form p:last-child{
    text-align: center;
}
.lodging_box > .lodging_item_list {
    width: 72%;
    padding: 30px;
    padding-top: 10px;
}
.lodging_box > .lodging_item_list >ul{
    list-style: none;
    padding-left: 0;
}
.sidemenu > ul {
    list-style: none;
    padding: 0 15px 5px 15px;

}


.sidemenu > ul > li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.sidemenu > ul > li > label {
    width: 300px;
    font-size: 14px;
}
.sidemenu > ul > li > p {
    font-size: 12px;
    font-weight: bold;
    color: #425052;
    text-indent: 2px;

}
.sidemenu > ul > li > select {
     border-radius: 10px;
 }
input[type="button"]#formSearch{
    width: 100px;
    height: 30px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #4E91D5;
    background-color: #4E91D5;
    color: #FFFFFF;
}
.lodging_grade, .lodging_review {
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #4E91D5;
    border-radius: 100px;
}
.lodging_review {
    background-color: #FFDC00;
}
.lodging_grade > a, .lodging_review > a{
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: 3px;
}
.sidemenu > ul > li > input[type="text"]{
    width: 70px;
    margin-right: 10px;
    border-radius: 100px;
    outline: 0;
    border: 1px solid #4E91D5;
    padding-right: 10px;
    padding-left: 10px;
}
.sidemenu > ul > li > input[type="text"]::placeholder{
    font-size: 10px;
    text-align: right;
}
.sidemenu > ul > li > input[type="text"]:last-child{
    margin-right: 0;
    margin-left: 10px;
}

.lodging_item_list > ul > li{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #F7F7F7;
}
.lodging_item_list > ul > li:first-child{
    padding-top: 0;
}
.list_info {
    width: 68%;
    margin-right: 5px;
    line-height: 1;
}
.list_info > p{
    margin-top: 2px;
    margin-bottom: 5px;
}
.list_img{
    width: 30%;
}
.list_img > img{
    border-radius: 5px;
    width: 200px;
}
.list_img > div {
    align-items: right;
    width: 110px;
    height: 110px;
    background-image: url('/lib/img/lodging_room_img/hotel_ex.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.list_info >.list_title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #666666;
}
.list_info >.list_title a,
.list_info >.list_title a:visited{
    color: #666666;
}
.list_info >.list_subtitle {
    font-size: 14px;
    font-weight: normal;
}
.list_info >.list_review {
    font-size: 14px;
    font-weight: normal;
}
.list_info >.list_review >span{
    font-size: 14px;
    color: #FFDC00;
}
.list_info >.list_price {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    color: #666666;
}



/* lodging_recommend */

.summary_reco_btn, .datepciker1 {
    width: 120px; height: 32px;
    border: none;
    border-radius: 100px;
    -webkit-appearance: none;
    text-align: center;
    color: #425052;
    font-size: 14px;
    box-shadow: 1px 1px rgb(216, 216, 216);
    margin-right: 2px;
    margin-top: 20px;
    border: 1px solid #425052;
    outline: 0;
}
.summary_reco_btn:last-child{
    height: 34px;
}
input[type="date"]::-webkit-calendar-picker-indicator{
    opacity: 0;
    cursor: pointer;
}
.slidemenu{
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    list-style: none;
    /* display: flex;
    justify-content: space-between; */
}
.slidemenu > input {
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 4px solid #87D9D2;
}
.slidemenu > label {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
/* .slidemenu > label:first-child {
    display:inline-block;
    width: 50px;
    text-align: center;
}
.slidemenu > label:nth-child(2) {
    display:inline-block;
    width: 390px;
    text-align: center;
}
.slidemenu > label:nth-child(3) {
    display:inline-block;
    width: 300px;
    text-align: center;
    
} */
.slidemenu > label {
    width : 320px
}

#slidemenu_content1, #slidemenu_content2,#slidemenu_content3 {
    display: none;
}

/*라디오버튼 숨김*/
.slidemenu > input {
    display: none;
}

label {
    display: inline-block;
}

label:hover {
    color: #50E3C2;
    cursor: pointer;}

/*input 클릭시, label 스타일*/
input:checked + label {
    text-decoration: none;
    padding-bottom: 10px;
    color: #50E3C2;
    border-bottom: 4px solid #50E3C2;}

#slidemenu_tab1:checked ~ #slidemenu_content1,
#slidemenu_tab2:checked ~ #slidemenu_content2,
#slidemenu_tab3:checked ~ #slidemenu_content3 {
    display:block;
}

.reco_box {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}
.reco_item_back {
    width: 900px;
    height: 130px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
    position: relative;
    display: flex;
}
.reco_item_back::before {
    content: "";
    background-image: url('/lib/img/lodging_room_img/lodging_package_item1.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
}

.reco_item1 > img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 15px 15px;
    box-shadow: 2px 2px 5px #434343;
    position: relative;
}
.reco_item2 {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    border-radius: 10px;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item_box > .item_box_title{
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0;
}
.item_box > .item_box_content{
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 0;
}
.item_box > input[type="button"]{
    width: 180px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: #50E3C2;
    text-align: center;
    vertical-align: center;
    border: none;
    border-radius: 100px;
}
.region_reco {
    width: 950px;
    margin: 0 auto;
    margin-top: 50px;
}
.submenu { text-indent: 10px;}
.submenu > a{ font-size: 16px; text-decoration: none; color: #666666; font-weight: bold; font-style: none; }
.submenu > a:focus{ color: #50e3c2; }

.region_reco_item {
    margin-top: 20px;
    display: flex;
    padding: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #f0f0f0;
}

.region_reco_item > .region_reco_item_img {
    width: 30%;
}
.region_reco_item > .region_reco_item_img > img {
    width: 100%;
    border-radius: 10px;
    opacity: 0.9;
}
.region_reco_item > .region_reco_item_info {
    width: 67%;
    margin-left: 20px;
}
.region_reco_item > .region_reco_item_info > ul {
    list-style: none;
    margin: 0;
    margin-top: 5px;
}
.region_reco_item > .region_reco_item_info > ul > li > span {
    background-color: #40D1BA;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.region_reco_item > .region_reco_item_info > ul > li:last-child{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.region_reco_item_info_title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
    color: #666666;
}
.region_reco_item_info_content{
    font-weight: bold;
    font-size: 14px;
    margin-top: 0;
    color: #666666;
}
.region_reco_item_info_content > span {
    color:#FFDC00;
}
.region_reco_item_info_include > p{
    font-size: 14px;
    color: #666666;
}
.region_reco_item_info_price{
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #425052;
    line-height: 0.8;
}
.region_reco_item_info_price > p > span{
    color: #FF0101;
}


/* lodging_regional_korea */
/* 208 */
#loadging_regional{
    width: 1000px;
    height: 918px;
    margin:0 auto;
    margin-bottom: 57px;
    padding: 0;
    box-sizing: border-box;
}

#lo_re_main{
    height: 918px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #F1F0F0;
    position: relative;
    box-sizing: border-box;
    border-radius: 15px 15px;
    margin-top: 50px;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 50px;
}

#lo_re_main a {
    color: #425052;
}

#lo_re_kr_1{
    height: 36px;
    font-size: 18px;
    font-weight: bold;
    color: #425052;
}

#lo_re_kr_1 a {
    color: #425052;
    text-decoration: none;
}

#lo_re_kr_1 div {
    width :434px;
    height: 56px;
    float:left;
    text-align: center;
}

#lo_re_kr_1_title{
    border-bottom: 4px solid #2680EB;
}

#lo_re_kr_1_text {
    border-bottom: 4px solid #ffffff;
}

#lo_re_kr_2{
    width: 148px;
    height: 808px;
    float:left;
    font-size: 18px;
    font-weight: bold;
    color: #425052;
    text-align: center;
    box-sizing: border-box;
    background-color: #F1F0F0;
}


#lo_re_kr_2 div{
    width :148px;
    height: 66px;
    vertical-align: middle;
    display: table-cell;
}

#lo_re_kr_2 a {
    box-sizing: border-box;

}

#lo_re_kr_3{
    width: 360px;
    height: 808px;
    float:left;
    font-size: 18px;
    font-weight: bold;
    color: #425052;
    box-sizing: border-box;
}

#lo_re_kr_3 div {
    width: 360px;
    height: 66px;
    vertical-align: middle;
    display: table-cell;
    box-sizing: border-box;
    padding-left: 63px;
}


#lo_re_kr_4{
    width: 360px;
    height: 808px;
    float:left;
    font-size: 25px;
    font-weight: bold;
}


/* lodging_regional_global */

#lo_re_gl_1{
    height: 56px;
    color: #425052;
    font-size: 18px;
    font-weight: bold;
}

#lo_re_gl_1 a {
    color: #425052;
    text-decoration: none;
}

#lo_re_gl_1 div {
    width :434px;
    height: 56px;
    float:left;
    text-align: center;
}

#lo_re_gl_1_title {
    border-bottom: 4px solid #ffffff;
}

#lo_re_gl_1_text {
    border-bottom: 4px solid #2680EB;
}

#lo_re_gl_2{
    width: 148px;
    height: 808px;
    float:left;
    font-size: 18px;
    font-weight: bold;
    color: #425052;
    text-align: center;
    box-sizing: border-box;
    background-color: #F1F0F0;
}


#lo_re_gl_2 div{
    width :148px;
    height: 66px;
    vertical-align: middle;
    display: table-cell;
}

#lo_re_gl_2 a {
    box-sizing: border-box;

}

#lo_re_gl_3{
    width: 360px;
    height: 808px;
    float:left;
    font-size: 18px;
    font-weight: bold;
    color: #425052;
    box-sizing: border-box;
}

#lo_re_gl_3 div {
    width: 360px;
    height: 66px;
    vertical-align: middle;
    display: table-cell;
    box-sizing: border-box;
    padding-left: 63px;
}


#lo_re_gl_4{
    width: 360px;
    height: 808px;
    float:left;
    font-size: 25px;
    font-weight: bold;
}



/* footer */

footer {

    width: 100%;
    background-color: #50e3c2;
    opacity: 0.5;
    height: 300px;
    
}
#enterprise_info {
    margin: 0 auto;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}
#enterprise_info > #enterprise_info_text {
    padding-top: 50px;
    padding-left: 100px;
    font-weight: bold;
}
#enterprise_info > #enterprise_info_text > p {
    color: rgb(77, 76, 76);
}
#enterprise_info > #enterprise_info_text > #bold {
    font-size: 20px;
    font-weight: 700;
}
#enterprise_info > #enterprise_info_text > p > a {
    color: rgb(77, 76, 76);
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
}
#sns_box {
    margin-top: 30px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}
#sns_box > div > a > img {
    width: 50px;
}
#icon_box > #TRIP {
    margin-top: 20px;
    text-align: center;
}
#icon_box > #TRIP > a > img {
    width: 100px;
}



/* 결제 footer */

#footer_p{
    height: 170px;
    /* background: url(./img/footer_bg.svg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: -100px, -300px; */
}

#enterprise_info_p {
    margin: 0 auto;
    width: 1800px;
    display: flex;
    justify-content: space-between;
}
#enterprise_info_p > #enterprise_info_text_p {
    padding-top: 50px;
    padding-left: 100px;
    font-weight: bold;
}
#enterprise_info_p > #enterprise_info_text_p > p {
    color: rgb(77, 76, 76);
}
#enterprise_info_p > #enterprise_info_text_p > #bold {
    font-size: 20px;
    font-weight: 700;
}
#enterprise_info_p > #enterprise_info_text_p > p > a {
    color: rgb(77, 76, 76);
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
}

#sns_box_p {
    margin-top: 55px;
    margin-right: 100px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}
#sns_box_p > div > a > img {
    width: 50px;
}

