/* 375 */
.reserve_list>ul{
    list-style: none;
    display: flex;
    padding-left: 15px;
}
.reserve_list>ul>li>a{
    margin-left: 5px;
    font-weight: bold;
    color: #478dd3;
    
}


.re_main{
    box-sizing: border-box;
    padding: 20px;
}


.re_main_2{
    box-sizing: border-box;
    margin-top: 27px;
    border-bottom: 1px solid #adadad;
}

#re_main_tit{
    font-size: 18px;
    font-weight: bold;
    color: #425052;
}

#re_main_box{
    padding-top: 10px;
    padding-bottom: 10px;
}


#re_main_place{
    font-size: 16px;
    font-weight: bold;
    color:#425052;
    box-sizing: border-box;
    margin-top: 20px;
}


#re_main_date{
    font-size: 16px;
    color: #425052;
}

#re_main_inq{
    box-sizing: border-box;
    position: relative;
    text-align: right;
    top: -30px;
}

#re_main_inq a{
    font-size: 18px;
    font-weight: bold;
    color: #1592e6;    
}

.re_main_3{
    box-sizing: border-box;
    margin-top: 27px;
    height: 340px;
}

/* my_airplane_reserve */

/* box-shadow: 0 10px 30px 0 #dddddd; */
/* 1375 1533 */



.air_main{
    box-sizing: border-box;
    padding: 0 20px;
    padding-top: 52px;
    padding-bottom: 50px;
}

/* 573 311 298 252*/

.air_main_ticket{
    padding-bottom: 30px;
}

.air_main_ticket_num{
    font-size: 18px;
    color: #425052;
    line-height: 40px;
    box-sizing: border-box;
}

.air_main_ticket_num span{
    font-weight: bold;
}

.air_main_ticket_info{
    box-sizing: border-box;
    padding-top: 40px;
    font-size: 16px;
    color: #425052;
    font-weight: normal;
}

.air_main_ticket_info span {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
/* 375 */
.air_main_ticket_date{
    width: 1000px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
    background-color: #ffffff;
    box-sizing: border-box;
    margin-top: 55px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 10px 30px 0 #dddddd;
}
.air_main_date_box{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
/* 260  599  260*/

.air_main_date_time1{
    width: 200px;
    height: 60px;
    text-align: right;
    box-sizing: border-box;
    padding-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #458cd3;
}

.air_main_date_time2{
    width: 454px;
    height: 60px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 60px;
    font-size: 16px;
    font-weight: bold;
    color: #a7a7a7;
}

.air_main_date_time3{
    width: 200px;
    height: 60px;
    text-align: left;
    box-sizing: border-box;
    padding-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #458cd3;
}

.air_main_1_3_4{
    width: 680px;
    height: 10px;
    padding-top: 50px;
    border-bottom: 1px solid #a7a7a7;
    color: black;
    margin: 0 auto;
}

.air_main_ticket_notice{
    width: 980px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e9e9e9;
}

.air_main_notice1{
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 372px;
}

.air_main_notice1 a {
    color: #425052;
}

.air_main_notice2{
    color: #425052;
    font-size: 14px;
    width: 372px;
    text-align: right;
}

.air_main_passenger{
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

/* 560  559 */

.air_main_passenger_box{
    width: 450px;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.air_main_passenger_info{
    font-size: 18px;
    font-weight: bold;
    color: #425052;
}

.air_main_passenger1, .air_main_passenger2{
    box-sizing: border-box;
    padding-top: 33px;
    font-size: 18px;
    color: #425052;
}

.air_main_passenger1 span, .air_main_passenger2 span{
    font-weight: bold;
}

.air_main_passenger_pay{
    width: 450px;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.air_main_passenger_pay_info{
    font-size: 18px;
    font-weight: bold;
    color: #425052;
}

.air_main_subscriber{
    box-sizing: border-box;
    padding-top: 33px;
    font-size: 18px;
    color: #425052;
}

.air_main_passenger_name{
    font-size: 18px;
    color: #425052;
    text-align: right;
    line-height: 30px;
}

.air_main_passenger_name span{
    font-weight: bold;
}

.air_main_pay{
    border-bottom: 1px solid #e1e1e1;
    padding-left: 20px;
    padding-bottom: 30px;
}

.air_main_pay_box1{
    display: flex;
    justify-content: space-between;
    height: 84px;
    box-sizing: border-box;
    padding-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #425052;
}




#cancel_btn_box{
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: #1592e6;
    box-sizing: border-box;
    padding-top: 10px;
}

#cancel_btn_box input {
    color: #1592e6;
    background-color: white;
    border: 0;
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
}


.air_main_notice{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 30px;
    color: #425052;
}


/* my_airplane_reserve_cancle  */


#plane_ticket{
    font-weight: bold;
}

#ticket_cancel{
    font-weight: bold;
    color: #ff4060;
}

#ticket_num{
    font-weight: bold;
}

#passenger_name{
    text-decoration: line-through;
}
.air_main_pay_box2{
    display: flex;
    justify-content: space-between;
    height: 30px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    color: #425052;
}

.air_main_pay_box3{
    color: #425052;
    box-sizing: border-box;
    padding-top: 15px;
    font-size: 14px;
    padding-bottom: 20px;
}

/* my_inq_wr_6_2_list */

/* 375 */

.inq_li_main{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inq_top{
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    font-weight: bold;
    color: #425052;
    padding: 15px 0;
}

.inq_inquiry_write{
    text-align: right;
    box-sizing: border-box;
    padding-top: 25px;
}

.inq_inquiry_write a{
    font-size: 16px;
    font-weight: bold;
    color: #1592e6;
}
.inq_que{
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 10px;
}

.inq_que_cont{
    height: 128px;
    box-sizing: border-box;
    padding-left: 62px;
}

.inq_que_cont textarea{
    width: 900px;
    height: 128px;
    resize: none;
    border: 1px solid #d8d8d8;
    font-size: 16px;
    color: #425052;
    padding: 10px;
}


.inq_next_que{
    height: 70px;
    box-sizing: border-box;
    padding-top: 40px;
}


.inq_category{
    font-size: 18px;
    color: #50e3c2;
    font-weight: bold;
}

/* my_inquiry_write */


.inq_wr_main{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inq_wr_box{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
}

.inq_wr_box_title{
    width: 165px;
    font-size: 18px;
    font-weight: bold;
    color: #425052;
    line-height: 40px;
}

.inq_wr_box_input{
    width: 700px;
    height: 35px;
}

.inq_wr_box_input input{
    width: 700px;
    height: 35px;
    border-radius: 5px;
    font-size: 14px;
    color:#425052;
    border: 1px solid #d0d0d0;
}
.inq_wr_box_input input::placeholder{
    text-indent: 10px;
}
.inq_wr_box_input > input[type="file"]{
    border: none;
    font-size: 12px;
}
.inq_wr_box_detail {
    height: 40px;
    font-size: 14px;
    color: #425052;
    box-sizing: border-box;
}
.inq_wr_box_info{
    height: 40px;
    font-size: 16px;
    color: #425052;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.rm_info_title{
    font-size: 16px;
    font-weight: bold;
    color: #425052;
    margin-bottom: 20px;
}
.rm_info_content{
    font-size: 16px;
    padding-bottom: 10px;
}

.inq_wr_agree{
    height: 25px;
    font-size: 15px;
    color: #425052;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 20px;
}


.inq_wr_agree input {
    width: 18px;
    height: 18px;
    color: #7e8889;
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.inq_wr_btn{
    height: 89px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 45px;
}

.inq_wr_btn input{
    width: 134px;
    height: 44px;
    background-color: #1592e6;
    font-size: 20px;
    border-radius: 100px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    border: 0;
    cursor: pointer;
}

/* my_room_reserve_cancle */


.rm_main_box{
    display: flexbox;
    font-size: 16px;
    color: #425052;
    margin-bottom: 10px;
}
.rm_main_box:nth-child(2), .rm_main_box_div{
    padding-bottom: 20px;
    border-bottom: 1px solid #adadad;
}
.rm_main_box_div{
    display: flexbox;
    font-size: 16px;
    color: #425052;
    margin-bottom: 10px;
    margin-top: 30px;
}
.rm_main_box span {
    font-size: 18px;
    font-weight: bold;
}
.rm_main_box > img {
    margin: 0 auto;
    width: 1000px;
    padding-left: 200px;
    padding-right: 200px;
    box-sizing: border-box;
    border-radius: 20px;
}
.rm_main_box_left{
    width: 100%;
}
.rm_main_box_right{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.rm_main_box_left_div, .rm_main_box_right_div{
    display: flex;
    justify-content: space-between;
}
.rm_main_box_left_div > a {
    width: 100%;
    text-align: right;
    font-weight: bold;
    color: #1592e6;
}

.rm_info{
    display: flex;
    justify-content: space-between;
}
.rm_main_box_title{
    font-weight: bold;
    color: #1592e6;
    font-size: 16px;
    margin-bottom: 20px;
}
.rm_main_box_info{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #a7a7a7;
}
.rm_main_box_price_title{
    font-weight: bold;
    color: #425052;
    font-size: 18px;
    margin-bottom: 20px;
}


/* 1079.02      579.02    500*/
#rm_main_left_box_tit{
    width: 116px;
    height: 30px;
    float: left;
}

#rm_main_left_box_cont{
    width: 800px;
    height: 30px;
    float:left;
}



/* 465 188  466*/
/* 252 84  */

/* 744 */
#rm_main_box_right_date{
    width: 200px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 10px 30px 0 #dddddd;
    padding-top: 20px;
    padding-bottom: 20px;
}

#rm_main_box_right_date span {
    color: #1592e6;
}

#rm_main_box_right_day{
    width: 80px;
    height: 27px;
    text-align: center;
    font-size: 16px;
    color: #1592e6;
    padding-top: 20px;
}

/* my_room_reserve */

.rm_main{
    box-sizing: border-box;
    padding: 20px;
}

