@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
    margin: auto;
    
}

#p_login_join a{
    color: rgb(94, 94, 94);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
/*메인*/
a{
    color: #6c6c6c;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width: 1000px;
}
.container_tr{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 30px;
    
}
.container_tr2{
    width: 1000px;
    padding-top: 100px;
    padding-bottom: 600px;
    margin: 0 auto;
}

li{
    list-style: none;
}
button{
    border: none;
    background-color: white;
}
/*my_save(내저장)*/

.save_list>ul{
    list-style: none;
    display: flex;
    padding-left: 15px;
}
.save_list>ul>li>a{
    margin-left: 5px;
    font-weight: bold;
    color: #478dd3;
    
}
.save_box{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    
}
.save_cont{
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #bebebe;
    display: flex;
    justify-content: space-between;
}
.cont_text{
    float: left;
    margin-top: 0px;
    margin-bottom: 30px;
}
#te1{
    color: rgb(77, 76, 76);
    font-size: 16px;
}
#ti{
    font-weight: bold;
    font-size: 18px;
}
.cont_text>a{
    color: #0c8ee5;
    font-weight: bold;
}
.cont_img {
    height: 100px;
}
.cont_img > img {
    height: 130px;
    padding-bottom: 5px;
}
.memo_box>img{
    height: 150px;
}
#memo{
    float: left;
    padding-right: 20px;
    color: #0c8ee5;
    font-weight: bold;
    cursor: pointer;
}
/*save_memo(메모)*/
#memo_box{
    width: 250px;
    height: 80px;
    margin-left: 100px;
    border-radius: 10px;
    border: 1px solid gainsboro;
    display: none;
    
}
#rememo_box{
    width: 250px;
    height: 80px;
    margin-left: 100px;
    border-radius: 10px;
    border: 1px solid gainsboro;
    display: none;
}
#me_te{
    border: 0px solid white;
    text-align: left;
    padding-left: 10px;
    height: 40px;
    margin-top: 5px;
}
.btn_box{
    color: #0c8ee5;
    margin-top: 5px;
    margin-left: 170px;
    height: 20px;
}
.btn_box>#mbtn,#mbtn2{
    color: #0c8ee5;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: bold;
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
