
/*메인*/
a{
    color: #6c6c6c;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width: 1000px;
}
.container_tr{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 500px;
    
}
.container_tr2{
    width: 1000px;
    padding-top: 100px;
    padding-bottom: 600px;
    margin: 0 auto;
}

li{
    list-style: none;
}
button{
    border: none;
    background-color: white;
}


/*내여행*/
#rename{
    width:400px;
    height: 30px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid gray;
}
#rename::placeholder{
    font-size: 18px;
}
form>p{
    margin-top: 0px;
    margin-left: 10px;
    font-size: 18px;
    color: #c5c4c4;
}
#btn{
    width: 50px;
    height: 30px;
    cursor: pointer;
}
#top{
    font-size: 18px;
    font-weight: bold;
    color: #6c6c6c;
    padding-left: 20px;
    margin-top: 15px;

}
#choice{
    color: #0c8ee5;
}
.profile {
    padding:  0 20px 10px 20px;
}
.profile_area{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.regform {
    display: flex;
    justify-content: space-between;
}
.pro_box1{
    width: 78%;
    display: flex;
    justify-content: space-between;
    
}
.form_box {
    align-items: center;
    width: 800px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
.pro_box1_left {
    width: 400px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    /*border-bottom: 1px solid gray;*/

}

.pro_box1_left > p{
    font-size: 14px;
    color: #777777;

}
.pro_box1_right{
    padding-top: 15px;
}
.pro_box1_right img{
    width: 16px;
}

.profile_area>div>p{
    font-size: 20px;
    color: #6c6c6c;
    font-weight: bold;
}
#write{
    margin-left:720px;
    text-decoration: underline;
}
#done{
    text-align: left;
    text-decoration: underline;
    border: none;
    background-color: white;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
#pro_img{
    padding-right: 20px;
    width: 100px;
}
.content_list{
    font-size: 16px;
    font-weight: bold;
    padding-right: 50px;
    border-right: 1px solid #adadad;
    padding-top: 10px;
    padding-left: 10px;
}
.list{
    padding-bottom: 40px;
}

.list > li{
    margin-bottom: 30px;
}

.content_box {
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding:  0 20px 10px 20px;
    
}
.content_list{
    width: 20%;
}
/*my travel,travels_done(내여행,여행기 작성된 페이지)*/
.content_list2{
    width: 75%;
    padding-left: 20px;
    padding-top: 10px;
}

.list_box{
    padding-bottom: 60px;
}


div>a{
    text-decoration: none;
}
.list2{
    display: flex;
    padding-bottom: 20px;
    color: #777777;
}
.list2 > div {
    margin-right: 30px;
}
.list2 > div > img {
    width: 25px;
}


#list_tit{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}
#list_cont{
    padding-top: 7px;
    font-size: 16px;
    font-weight: bold;
}
