/*메인*/
a{
    color: #6c6c6c;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width: 1000px;
}
.container_tr{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 500px;
    
}
.container_tr2{
    width: 1000px;
    padding-top: 100px;
    padding-bottom: 600px;
    margin: 0 auto;
}

li{
    list-style: none;
}
button{
    border: none;
    background-color: white;
}
#pro_img{
    padding-right: 20px;
    width: 100px;
}
#top{
    font-size: 20px;
    font-weight: bold;
    color: #6c6c6c;

}

.profile_area{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.profile_area>div>p{
    font-size: 20px;
    color: #6c6c6c;
    font-weight: bold;
}
#write{
    margin-left:720px;
    text-decoration: underline;
}

.content_list{
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding-right: 50px;
    border-right: 1px solid #adadad;
}
.list{
    padding-bottom: 40px;
}

.list > li{
    margin-bottom: 30px;
}
#choice{
    color: #0c8ee5;
}
#top{
    font-size: 20px;
    font-weight: bold;
    color: #6c6c6c;

}

/*my travel,travels_done(내여행,여행기 작성된 페이지)*/
.content_list2{
    padding-left: 300px;
}

.list_box{
    padding-bottom: 60px;
}


div>a{
    text-decoration: none;
}
.list2{
    display: flex;
    padding-bottom: 20px;
    color: #777777;
}


#list_tit{
    font-size: 18px;
    font-weight: bold;
}
#list_cont{
    font-size: 18px;
    font-weight: bold;
}

#st>p{
    padding: 100px;
    margin-left: 300px;
    color: #b3b3b3;
}

#date{
    padding-left: 500px;
    padding-top: 5px;
}

/*travels_write2(여행기 쓰기)*/

#file{
    display: none;
}

#travels_tit{
    width: 1000px;
    height: 30px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #adadad;
    font-weight: bold;
    margin-bottom: 20px;
    text-indent: 5px;
    margin-top: 10px;
}
#traverls_cont{
    padding: 10px;
    width: 1000px;
    height: 300px;
    font-size: 14px;
    border: none;
    text-align: left;
    font-weight: normal;
    border: 1px solid #adadad;
}

#next{
    width: 1000px;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;

}

#travels_box{
    padding-left: 300px;
}

.img_box>img{
    width: 1000px;
    height: 280px;
}

/*여행기 글보기*/

.travels_box{
    width: 935px;
    padding:  0 20px 10px 20px;
    margin-top: 20px;
    font-size: 16px;
}
.travels_title{
    font-weight: bold;
    color: #525252;
}
.travels_subtitle{
    font-size: 14px;
    padding-top: 10px;
}
.travels_box > textarea{
    margin-top: 20px;
    padding: 10px;
    color: #525252;
    width: 900px;
    height: 200px;
    font-size: 14px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    font-weight: normal;
    padding-left: 10px;
    vertical-align: top;
}
.travels_top{
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 30px;
    box-sizing: border-box;
}
.travels_top>div>p{
    font-size: 18px;
    color: #6c6c6c;
    font-weight: bold;
    padding-top: 10px;
}
.travels_top1{
    padding-left: 10px;
    padding-top: 0;
}

#star3{
    
    color:#ffba00;
}
.review_img{
    padding-left: 100px;
    padding-top: 10px;
}
.review_img>img{
    
    width: 800px;
    height: 250px;
}
.travels_like{
    display: flex;
    justify-content: space-between;
    color: #525252;
    padding-left: 10px;
}
#more{
    margin-left:600px;
    text-decoration: underline;
    
    cursor: pointer;
}
#more_btn{
    
    display: none;
    width: 75px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;
    margin-left: 800px;
}

#more_btn>a{
    color: #a1a1a1;
}

/*댓글*/

.travels_tra{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 30px;
    width: 980px;
}
#commend{
    width: 820px;
    margin: 0 auto;
    border: none;
    font-size: 16px;
    color: #9b9b9b;
    
}
#re_comm{
    border: none;
    background-color: white;
    color: #0c8ee5;
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
}
/*travles_edit(여행기수정)*/


#star2{
    padding-left: 10px;
    color:#ffba00;
}

.re_img > img{
    padding-top: 10px;
    width: 900px;
    height: 200px;
}

.choice_file>img{
    margin-top: 20px;
    width: 50px;
    height: 50px;
}

.write_box{
    padding-left: 60px;
}
.travels_subbox{
    display: flex;
    justify-content: space-between;
}
.travels_subtitle > a {
    font-weight: bold;
    text-decoration: underline;
    color: #525252;
}

/*별점*/
#myform fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
    margin-top: 10px;
    padding-right: 700px;
}
#myform fieldset legend{
    text-align: right;
}
#myform input[type=radio]{
    display: none;
}
#myform label{
    font-size:16px;
    color: transparent;
    text-shadow: 0 0 0 #e2e2e2;
}
#myform label:checked{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform label:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
/*css 추가*/

.profile {
    padding:  0 20px 10px 20px;
}
.profile_area{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.regform {
    display: flex;
    justify-content: space-between;
}
.pro_box1{
    width: 76%;
    display: flex;
    justify-content: space-between;
    
}
.form_box {
    align-items: center;
    width: 800px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
.pro_box1_left{
    font-size: 18px;
    font-weight: bold;
}
.pro_box1_right{
    padding-top: 15px;
}
.pro_box1_right img{
    width: 16px;
}

.profile_area>div>p{
    font-size: 20px;
    color: #6c6c6c;
    font-weight: bold;
}
#write{
    margin-left:720px;
    text-decoration: underline;
}
#done{
    text-align: left;
    text-decoration: underline;
    border: none;
    background-color: white;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.content_list{
    font-size: 16px;
    font-weight: bold;
    padding-right: 50px;
    border-right: 1px solid #adadad;
    padding-top: 10px;
    padding-left: 10px;
}
.list{
    padding-bottom: 40px;
}

.list > li{
    margin-bottom: 30px;
}

.content_box {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding:  0 20px 10px 20px;
    
}
.content_list{
    width: 20%;
}

.content_none{
    text-align: center;
    color: #777777;
    padding-top: 45%;
}
.content_list2{
    width: 800px;
    padding-left: 20px;
    padding-top: 10px;
}
.content_list_title{
    font-weight: bold;
    padding-top: 0;
    margin-bottom: 20px;
    padding-left: 30px;
}
.content_list_box{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.content_list_box_right{
    width: 600px;
}
.like_reply{
    padding-top: 5px;
    font-size: 14px;
    font-weight: normal;
}
#rename{
    width:400px;
    height: 30px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid gray;
}
#rename::placeholder{
    font-size: 18px;
}
.content_list2_box{
    display: flex;
    justify-content: space-between;
}
.content_list2_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 16px;
}
.content_list2_next{

    font-weight: bold;
    text-align: right;
    cursor: pointer;
}

.travels_box{
    width: 935px;
    padding:  0 20px 10px 20px;
    margin-top: 20px;
    font-size: 16px;
}

.choice_file>img{
    margin-top: 20px;
    width: 50px;
    height: 50px;
}