/*mypage_settings*/

.setting_box{
    width: 960px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(182, 182, 182);
}
.setting_box:first-child{
    margin-top: 50px;
}
.setting_title{
    font-weight: bold;
    padding-bottom: 10px;
    color: #666666;
}
.setting_p{
    padding-left: 20px;
    padding-bottom: 5px;
}
.setting_p:last-child{
    padding-bottom: 0;
}
.logout_service_out{
    border-bottom: none;
}


/*mypage_settings_profile*/
.mainbox{
    height: 500px;
}
#main_content_box {
    width: 1000px;
    margin: 30px auto;
}

#main_content_box > p {
    font-size: 24px;
    font-weight: 700;
    color: rgb(94, 94, 94);
    margin-bottom: 30px;
}
#profile_box {
    width: 900px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(199, 199, 199);
    padding: 40px 0;
}
#profile_box p img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
}
#profile_box p {
    display: flex;
    align-items: center;
    color: rgb(94, 94, 94);
    font-size: 24px;
    font-weight: 700;
}
#account_name {
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 20px;
}
#main_content_box form {
    width: 900px;
    margin: 30px auto;
    padding-left: 20px;
}
#account_name .title_p {
    margin-bottom: 0;
    color: rgb(94, 94, 94);
    font-size: 18px;
    font-weight: 700;
}
#account_name .subtitle_p {
    margin-top: 0;
    color: rgb(94, 94, 94);
    font-size: 18px;
}
#main_content_box form p {
    color: rgb(94, 94, 94);
    font-size: 18px;
    font-weight: 700;
}
#main_content_box form table tr {
    height: 60px;
}
#main_content_box form table tr td {
    width: 250px;
    color: rgb(94, 94, 94);
    font-size: 18px;
    font-weight: 700;
}
#main_content_box form table tr td:first-child{
    padding-right: 30px;
}
#main_content_box form table tr td input {
    width: 300px;
    height: 30px;
    margin-right: 20px;
}
#main_content_box form table tr td input[type=button]{
    width: 100px;
    height: 30px;
    background-color: #50e3c2;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

#main_content_box form table tr #zipcode {
    width: 300px;
}
#main_content_box form table tr #address2 {
    width: 650px;
}
#main_content_box form table tr #address3 {
    width: 500px;
}
#main_content_box form table tr #address2 input {
    width: 300px;
}
#main_content_box form table tr #address3 input {
    width: 620px;
}
#main_content_box form table tr #email {
    font-weight: 400;
}

#form_flex_box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
#back_box {
    width: 150px;
    height: 40px;
    border: 2px solid #50e3c2;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
    
}
#back_box a {
    text-decoration: none;
    color: #50e3c2;
}
#form_flex_box input {
    margin-left: 20px;
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    background-color: #50e3c2;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*mypage_service_out*/

hr {
    margin: 30px 0;
    color: rgb(105, 105, 105);
}
#warning_text {
    font-weight: 700;
    font-size: 16px;
    color: rgb(17, 125, 187);
}
#service_out_box {
    width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    margin-top: 20px;
}
.content_title{
    font-weight: bold;
}
#service_out_box p {
    margin: 5px 0;
    font-size: 16px;
}
#service_out_box form p input {
    width: 900px;
    box-sizing: border-box;
    height: 60px;
    border-radius: 20px;
    border: 2px solid #50e3c2;
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
}
#service_out_box form p input::placeholder{
    font-size: 16px;
    font-weight: normal;
}
#service_out_box form p #sendit {
    margin-top: 10px;
    width: 900px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background-color: rgb(187, 187, 187);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.content_con{
    padding-left: 10px;
}
#service_out_box form p{
    width: 900px;
}
#service_out_box form input[type="password"]{
    width: 750px;
}
#service_out_box form input[type="button"]{
    width: 120px;
    margin-left: 20px;
    text-align: center;
    padding: 0;
}
/*mypage_notice*/

.list_box {
    width: 900px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(197, 197, 197);
    margin-bottom: 20px;
}
.list_title {
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
    
}
.list_title a{
    color: rgb(69, 69, 69);
    text-decoration: none;
}
.list_date {
    margin: 5px 0;
    color: rgb(121, 121, 121);
    font-size: 14px;
}

/*notice_view*/
#post_title {
    font-size: 16px;
}

.notice {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    font-weight: bold;
    color: #425052;
    padding: 15px 0;
}


#notice_content_box{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*mypage_get_password*/

#profile_box {
    width: 900px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(199, 199, 199);
    padding: 30px 0 10px;
}
#profile_box p {
    display: flex;
    align-items: center;
    color: rgb(94, 94, 94);
    font-size: 24px;
    font-weight: 700;
}
#profile_box form input{
    margin-top: 50px;
    width: 700px;
    height: 40px;
    font-size: 24px;
    font-family: 'Noto Sans KR';
    border: none;
    background-color: transparent;
}
#profile_box form input::placeholder{
    font-size: 16px;
}


/*FAQ_list*/

#FAQ_content_box{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.FAQ_list_box_main{
    display: flexbox;
    font-size: 16px;
    color: #425052;
    margin-bottom: 10px;
}

.list_box{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flexbox;
    font-size: 16px;
    color: #425052;
    margin-bottom: 60px;
    height: 480px;
    border-bottom: 1px solid #a7a7a7;
    overflow: auto;
    width: 100%;
}
.list_box::-webkit-scrollbar{ height: 0px; background-color:white; width: 6px; }
.list_box::-webkit-scrollbar-thumb{ height: 0px; background-color:#87D9D2; width: 6px; border-radius: 10px; border: 2px solid transparent;}
.list_box::-webkit-scrollbar-track{ background-color: white; border-radius: 10px; box-shadow: inset 0 0 5px white; }

.list_box_info{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #a7a7a7;
}
.list_box_title{
    font-weight: bold;
    margin-bottom: 10px;
}
.list_box_content{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    
}

#FAQ_content_box .list_box .content_index {
    color: rgb(75, 189, 255);
    font-size: 20px;
    font-weight: 700;
}
#FAQ_content_box .list_box{
    padding-bottom: 20px;
}
#FAQ_search_box {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}
#FAQ_search_box p {
    text-align: center;
}
.FAQ {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    font-weight: bold;
    color: #425052;
    padding: 15px 0;
}
#FAQ_search_box .search_p {
    width: 1000px;
    text-align: center;
}
.search_p > input[type="text"]::placeholder{
    font-size: 16px;
    text-indent: 5px;
    color: #7b7b7b;
    font-weight: normal;
}

#search {
    width: 600px;
    height: 50px;
    background-image: url(../img/icon_search.svg);
    background-position: 10px 9px;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: 3px solid #50e3c2;
    border-radius: 30px;
}
#FAQ_search_box .category_p {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 400px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}
#FAQ_search_box .category_p a {
    color: rgb(88, 88, 88);
    text-decoration: none;
}
.blue_text {
    color: rgb(17, 125, 187);
    font-weight: bold;
    font-size: 16px;
}

/*FAQ_detail*/
#category_text {
    font-weight: 700;

}
#post_title {
    font-size: 16px;
}
#blue_text{
    color: rgb(17, 125, 187);
    font-weight: bold;
    font-size: 16px;
}
.padding_text {
    padding-left: 10px;
}
#back_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#back_button p {
    width: 100px;
    height: 30px;
    background-color: rgb(40, 160, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
#back_button p a {
    font-size: 16px;
    color: white;
    font-weight: 700;
    text-decoration: none;
}


/*mypage_customer*/
#main_content_box .content_box .title_p,#main_content_box .content_box .index_p {
    font-size: 20px;
    font-weight: 700;
    color: rgb(124, 124, 124);
}
#main_content_box .content_box .title_p {
    font-size: 30px;
    margin-bottom: 100px;
}
#main_content_box .content_box .index_p a {
    text-decoration: none;
    color: rgb(124, 124, 124);
    
}
.content_p {
    margin: 5px auto;
    border-bottom: 1px solid rgb(190, 190, 190);
    width: 960px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
}
#main_content_box .content_box .content_p a {
    text-decoration: none;
    color: rgb(124, 124, 124);
}

main {
    margin-bottom: 200px;
}




#FAQ_box .head_area p {
    margin: 0;
    font-size: 20px;
    color: rgb(105, 105, 105);
    font-weight: 700;
}
.head_area p a {
    color: #1592e6;
    text-decoration: underline;
    font-weight: bold;
}
.head_area {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #6c6c6c;
}
.list_area{
    width: 960px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #6c6c6c;
}
.customer_list_title {
    margin: 0 auto;
    color: #6c6c6c;
    font-weight: bold;
    padding: 15px;
    padding-left: 0;
    border-bottom: 1px solid #6c6c6c;
    width: 960px;
}
#img_menu_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#img_menu_box div {
    text-align: center;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid #50e3c2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#img_menu_box div > a{
    display: flexbox;
}
#img_menu_box div > a:focus, #img_menu_box div > a:hover{
    color: #1592e6;
}
#img_menu_box div img{
    width: 40px;
    height: 40px;
}
/* #img_menu_box div img:focus, #img_menu_box div img:hover{
    display: none;
} */
#view_more {
    border: 0px;
    padding: 0;
    text-align: right;
    margin-top: 10px;
}
#view_more a{
    font-size: 16px;
    font-weight: bold;
    color: #1592e6;
    text-decoration: underline;
}
#button_box {
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
#flex_button {
    display: flex;
    justify-content: space-around;
}
#flex_button div {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #50e3c2;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#flex_button div p a {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
#long_button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
#long_button button{
    width: 970px;
    background-color: rgb(73, 147, 243);
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}


.mypage_notice{
    padding-left: 20px;
    font-size: 14px;
    color: #6c6c6c;
    margin-bottom: 2px;
}
.mypage_notice:first-child{
    margin-top: 20px;
}
.mypage_notice_type{
    color: rgb(75, 189, 255);
    font-weight: bold;
}
.area_title{
    font-weight: bold;
    color: #6c6c6c;
    font-size: 16px;
    margin-bottom: 20px;
}
.menu_btn{
    font-weight: bold;
    font-size: 16px;
    margin-top: 4px;
}

