
/*메인*/
a{
    color: #6c6c6c;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width: 1000px;
}
.container_tr{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 500px;
    
}
.container_tr2{
    width: 1000px;
    padding-top: 100px;
    padding-bottom: 600px;
    margin: 0 auto;
}

li{
    list-style: none;
}
button{
    border: none;
    background-color: white;
}


#rename{
    width:400px;
    height: 30px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid gray;
}
#rename::placeholder{
    font-size: 18px;
}
form>p{
    margin-top: 0px;
    margin-left: 10px;
    font-size: 18px;
    color: #c5c4c4;
}
#btn{
    width: 50px;
    height: 30px;
    cursor: pointer;
}
#top{
    font-size: 18px;
    font-weight: bold;
    color: #6c6c6c;
    padding-left: 20px;
    margin-top: 15px;

}
#choice{
    color: #0c8ee5;
}
.profile {
    padding:  0 20px 10px 20px;
}
.profile_area{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.regform {
    display: flex;
    justify-content: space-between;
}
.pro_box1{
    width: 76%;
    display: flex;
    justify-content: space-between;
    
}
.form_box {
    align-items: center;
    width: 800px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
.pro_box1_left{
    font-size: 18px;
    font-weight: bold;
}
.pro_box1_right{
    padding-top: 15px;
}
.pro_box1_right img{
    width: 16px;
}

.profile_area>div>p{
    font-size: 20px;
    color: #6c6c6c;
    font-weight: bold;
}
#write{
    margin-left:720px;
    text-decoration: underline;
}
#done{
    text-align: left;
    text-decoration: underline;
    border: none;
    background-color: white;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
#pro_img{
    padding-right: 20px;
    width: 100px;
}
.content_list{
    font-size: 16px;
    font-weight: bold;
    padding-right: 50px;
    border-right: 1px solid #adadad;
    padding-top: 10px;
    padding-left: 10px;
}
.list{
    padding-bottom: 40px;
}

.list > li{
    margin-bottom: 30px;
}

.content_box {
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding:  0 20px 10px 20px;
    
}
.content_list{
    width: 20%;
}

.content_list2{
    width: 75%;
    padding-left: 20px;
    padding-top: 10px;
}

.list_box{
    width: 670px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid gainsboro;
}
.list_box:first-child{
    padding-top: 0;
}
.list_box img{
    width: 350px;
}

div>a{
    text-decoration: none;
}
.list2{
    display: flex;
    padding-bottom: 20px;
    color: #777777;
}
.list2 > div {
    margin-right: 30px;
}
.list2 > div > img {
    width: 25px;
}
.dre_box{
    width: 700px;
    display: flex;
    justify-content: space-between;
}


#list_tit{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}
#list_cont{
    padding-top: 7px;
    font-size: 16px;
    font-weight: bold;
}

/*review_write(리뷰쓰기)*/

.travels_box > u > a {
    font-size: 16px;
}

#file{
    display: none;
}

/*별점*/
#myform fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
    margin-top: 10px;
    padding-right: 700px;
}
#myform fieldset legend{
    text-align: right;
}
#myform input[type=radio]{
    display: none;
}
#myform label{
    font-size:16px;
    color: transparent;
    text-shadow: 0 0 0 #e2e2e2;
}
#myform label:checked{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform label:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#reviewContents {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}
/*review_search(장소 검색)*/


.container_se{
    width: 1000px;
    margin: 0 auto;
    padding-left: 150px;
    padding-bottom: 500px;
}

.ser_box{
    margin: 0 auto;
    margin-bottom: 10px;
    width: 900px;
    height: 30px;
    border-bottom: 1px solid gainsboro;
}
#search{
    width: 500px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: #c0c0c0;
    
}


.ser_list{
    width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 20px;
}

#se_top{
    font-size: 16px;
    font-weight: bold;
    color: #6c6c6c;
    margin-bottom: 0px;
}
#se_mi{
    font-size: 14px;
    font-weight: bold;
    color: #c5c4c4;
}
.list_te{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.list_pl{
    padding-right: 120px;
}
.list_te > img{
    padding-right: 20px;
    width: 70px;
}

.ch_pl{
    font-weight: bold;
    font-size: 18px;
    padding-top: 30px;
    padding-left: 400px;
}

/*review_view(리뷰 글 보기)*/


.review_top{
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 30px;
    box-sizing: border-box;
}
.review_top>div>p{
    font-size: 18px;
    color: #6c6c6c;
    font-weight: bold;
    padding-top: 10px;
}
.review_top1{
    padding-left: 10px;
    padding-top: 0;
}


#star3{
    
    color:#ffba00;
}
.review_img{
    padding-left: 100px;
    padding-top: 10px;
}
.review_img>img{
    
    width: 800px;
    height: 250px;
}
.review_like{
    display: flex;
    justify-content: space-between;
    color: #525252;
    padding-left: 10px;
}
#more{
    margin-left:600px;
    text-decoration: underline;
    
    cursor: pointer;
}
#more_btn{
    
    display: none;
    width: 75px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;
    margin-left: 800px;
}

#more_btn>a{
    color: #a1a1a1;
}

/*댓글*/

.review_rev{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 30px;
    width: 980px;
}
#commend{
    width: 820px;
    margin: 0 auto;
    border: none;
    font-size: 16px;
    color: #9b9b9b;
    
}
#re_comm{
    border: none;
    background-color: white;
    color: #0c8ee5;
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
}
/*review_edit(리뷰수정)*/
#re_top{
    font-size: 18px;
    font-weight: bold;
    color: #525252;
    margin-bottom: 0px;
}
#re_bo{
    margin-top: 0px;
    font-size: 16px;
    color: #8d8d8d;
    font-weight: inherit;
}
#re_done{
    font-size: 20px;
    color: #6c6c6c;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: underline;
    border: none;
    background-color: white;
}
.re_star{
    display: flex;
}
#star2{
    padding-left: 10px;
    color:#ffba00;
}

#st>p{
    padding: 100px;
    margin-left: 300px;
    color: #b3b3b3;
}
.re_img > img{
    padding-top: 10px;
    width: 900px;
    height: 200px;
}
.rev_box{
    display: flex;
    justify-content: space-between;
}
.choice_file>img{
    margin-top: 20px;
    width: 50px;
    height: 50px;
}

.write_box{
    padding-left: 60px;
}
.review_subbox{
    display: flex;
    justify-content: space-between;
}
.review_subtitle > a {
    font-weight: bold;
    text-decoration: underline;
    color: #525252;
}

/*review_done(리뷰 리스트)*/
.select_box{
    text-align: center;
    font-weight: bold;
    padding: 2px;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    margin-top: 10px;
}
.select_box > option{
    background-color: #e7e7e7;
    font-weight: bold;
}
#relist_img{
    width: 80px;
}
#dre{
    float: left;
}
#redate{
    text-align: right;
    margin-right: 30px;
    padding-right: 10px;
}
#like_re{
    padding-left: 10px;
}
.don_img{
    width: 850px;
}
.do_img{
    text-align: right;
    margin-right: 40px;
}

#dre_cont{
    font-size: 16px;
    float: left;
    margin-bottom: 15px;
}
#dre_cont2{
    font-weight: bold;
}
#choice{
    color: #0c8ee5;
}

#top{
    font-size: 20px;
    font-weight: bold;
    color: #6c6c6c;

}

.profile {
    padding:  0 20px 10px 20px;
}
.profile_area{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.profile_area>div>p{
    font-size: 18px;
    color: #6c6c6c;
    font-weight: bold;
}
.profile_name{
    padding-top: 15px;
}
#write{
    margin-left:680px;
    text-decoration: underline;
    padding-top: 15px;
}

.content_box {
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding:  0 20px 10px 20px;
    
}
.content_list{
    width: 20%;
}
.list{
    padding-bottom: 40px;
}

.list > li{
    margin-bottom: 30px;
}
.content_list2{
    width: 75%;
    padding-left: 20px;
    padding-top: 10px;
}

.review_box{
    width: 935px;
    padding:  0 20px 50px 20px;
    margin-top: 20px;
    font-size: 16px;
}
.review_title{
    font-weight: bold;
    color: #525252;
}
.review_subtitle{
    font-size: 14px;
    padding-top: 10px;
}
.review_box > textarea{
    margin-top: 20px;
    padding: 10px;
    color: #525252;
    width: 900px;
    height: 200px;
    font-size: 14px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    font-weight: normal;
    padding-left: 10px;
    vertical-align: top;
}
.content_none{
    text-align: center;
    color: #777777;
    padding-top: 45%;
}