/*해외여행 메인*/

main {
    width: 1000px;
    margin: 0 auto;
}
.item_div_box {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.event_item_back {
    width: 23%;
    height: 240px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
    position: relative;
    display: flex;
}
.event_item_back::before {
    content: "";
    border-radius: 10px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
}
.event_item_back1::before {
    background: url(/img/event1.svg);
    background-size: cover;
    background-position: center center;
}
.event_item_back2::before {
    background: url(/img/event2.jpg);
    background-size: cover;
    background-position: center center;
}
.event_item_back3::before {
    background: url(/img/event3.jpg);
    background-size: cover;
    background-position: center center;
}
.event_item_back4::before {
    background: url(/img/event4.jpg);
    background-size: cover;
    background-position: center center;
}

.event_item {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    border-radius: 10px;
    padding: 5px 15px;
    align-items: center;
}
.event_item_title{
    width: 100%;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
.event_item_contant, .magazine_contant{
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 0;
    word-break: keep-all;
}

.title {
    width: 900px;
    margin: 0;
    margin-top: 30px;
    padding-left: 50px;
    padding-bottom: 0;
    font-size: 18px;
    font-weight: bold;
}
#triple_sug {
    width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#triple_sug > div > a > img {
    width: 230px;
    height: 270px;
    border-radius: 20px;
}

#best_overseas_list {
    width: 900px;
    margin: 0 auto;
    margin-top: 10px;
    display: flexbox;
    align-items: center;
}

#best_overseas_list > div > a > img{
    width: 900px;
    height: 150px;
    border-radius: 20px;
}

#overseas_notice {
    width: 900px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flexbox;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(241, 241, 241);

}
#overseas_notice > div {
    line-height: 2;
    padding: 20px 50px 0 50px;
    margin-top: 30px;
}
#overseas_notice > div:first-child {
    padding-top: 30px;
    font-weight: bold;
    font-size: 16px;
    color: #666666;
}

#overseas_notice > div:nth-child(2) {
    padding-top: 30px;
    font-weight: normal;
    font-size: 14px;
}

#overseas_notice > div:last-child {
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 30px;
}

#global_go_btn {
    width: 250px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

#global_go_btn > input[type="button"] {
    width: 250px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    background-color: #50e3c2;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
}



/*overseas_travel_guam.html*/
#map {
    width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
#map > div > a > img{
    width: 600px;
}
.container {
    display: flex;
    align-items: flex-end;
}
#like_place {
    border-radius: 100px;
    width: 50px;
    height: 30px;
    padding: 5px 20px 0 ;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgb(176, 176, 176);
}
#like_place > a{
    color: #666666;
}
#like_place > a > div {
    align-items: center;
}
#like_place > a > div > img{
    width: 16px;
    margin-right: 10px;
}
#like_place > a > div > span{
    font-size: 18px;
}
.btn_con {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

#items_list{
    width: 950px;
    margin: 0 auto;
    text-align: justify;
    padding: 20px;
    background-color: rgb(241, 241, 241);
    margin-top: 50px;
    border-radius: 5px;
    display: flex;
    box-sizing: inherit;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item_list_item_title > a{
    display: block; 
    color: black;   
}

div.item {
    width: 420px;
    padding: 20px;
}

div.item > p {
    font-size: 14px;
    width: 420px;
    word-break: keep-all;
}
div.item > p:first-child{
    display: flex;
    justify-content: space-between;
}
div.item > p:first-child, div.item > .item_price {
    font-size: 16px;
    color: #666666;
    font-weight: bold;
}
div.item > p:first-child > span > img {
    width: 24px;
}

div.item > p > img {
    width: 100%;
}

div.item > p > .review_star {
    color: #E8C904;
}



.overseas_box {
    width: 900px;
    margin: 0 auto;
    padding: 0;
}
.overseas_item_back {
    width: 900px;
    height: 130px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
    position: relative;
    display: flex;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}
.overseas_item_bg1{
    background: url('/member/overseas_travel/img/overseas_guam.jpg');
    justify-content: center;
    background-size: cover;
    background-position: center center;
}
.overseas_item_bg2{
    background: url('/member/overseas_travel/img/overseas_bangkok.jpg');
    justify-content: center;
    background-size: cover;
    background-position: center center;
}
.overseas_item_bg3{
    background: url('/member/overseas_travel/img/overseas_paris.jpg');
    justify-content: center;
    background-size: cover;
    background-position: center center;
}
.overseas_item_bg4{
    background: url('/member/overseas_travel/img/overseas_danang.jpg');
    justify-content: center;
    background-size: cover;
    background-position: center center;
}
.overseas_item_bg5{
    background: url('/member/overseas_travel/img/overseas_singapore.jpg');
    justify-content: center;
    background-size: cover;
    background-position: center center;
}
.overseas_item_bg6{
    background: url('/member/overseas_travel/img/overseas_london.jpg');
    justify-content: center;
    background-size: cover;
    background-position: center center;
}
.overseas_item_bg7{
    background: url('/member/overseas_travel/img/overseas_hawaii.jpg');
    justify-content: center;
    background-size: cover;
    background-position: center center;
}
.overseas_item_bg8{
    background: url('/member/overseas_travel/img/overseas_bali.jpg');
    justify-content: center;
    background-size: cover;
    background-position: center center;
}
.overseas_item_bg9{
    background: url('/member/overseas_travel/img/overseas_newyork.jpg');
    justify-content: center;
    background-size: cover;
    background-position: center center;
}
.overseas_item_bg10{
    background: url('/member/overseas_travel/img/overseas_barcelona.jpg');
    justify-content: center;
    background-size: cover;
    background-position: center center;
}
.overseas_item_back::before {
    content: "";
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    border-radius: 10px;
}
.overseas_idx{
    width: 100px;
    height: 100px;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 33px;
    left: 20px;
    z-index: 11;
}
.overseas_triple{
    width: 550px;
    text-align: left;
    height: 100px;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 33px;
    left: 120px;
    z-index: 11;
}
.overseas_btn{
    width: 250px;
    padding: 15px;
    align-items: center;
    
}
.overseas_btn > input[type="button"]{
    width: 170px;
    height: 50px;
    border: none;
    background-color: #50e3c2;
    opacity: 0.87;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    margin-right: 20px;
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 11;
    cursor: pointer;
}
/*hotel.html*/
/* select, input[type="button"]{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
    border: none;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgb(176, 176, 176);
}
select {
    width: 95px;
    margin-right: 10px;
}
select, input[type="button"]{
    background-color: white;
}
#hotel_btn{
    background-color: #2680EB;
    color: white;
    box-shadow: 2px 2px 5px rgb(176, 176, 176);
} */

/*하트*/

.bi-heart{
    font-size: 30px;
    line-height: 30px;
    color:rgb(155, 155, 155);
}

.bi-heart-fill{
    font-size: 30px;
    line-height: 30px;
    color:crimson;
}

