.company_img{
    background-image: url('/lib/img/company_img/triple_company.jpg');
    width: 100%;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.company2_img{
    background-image: url('/lib/img/company_img/triple_company2.jpg');
    margin: 0 auto;
    width: 50%;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.list_box_title{
    padding-left: 20px;
}

.container_all{
    padding-bottom: 20px;
}