@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { font-family: 'Noto Sans KR', sans-serif; }

*{margin: 0; padding: 0; box-sizing: border-box;}

body { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Noto Sans KR'; }

header { width: 100%; background-image: url('/lib/img/header_bg.png'); background-repeat: no-repeat; background-size: cover; margin: 0 auto; padding: 0; padding-bottom: 50px; box-sizing: border-box; display: flex; align-items: center; justify-content: space-evenly; margin-bottom: 50px;}

#logo_area { margin: 0 auto; width: 1900px; height: 50px; display: flex; justify-content: space-around; align-items: center;}
#logo_area > #logo > a > img{ width: 200px; margin-top: 50px; }
#login_join { color: white; margin-top: 50px; }
#login_join > a { color: white; font-weight: bold; font-size: 18px; text-decoration: none;}


/*공통 footer*/
footer { width: 100%; background-color: #50e3c2; opacity: 0.7; height: 150px; margin-top: 150px; position: relative; transform: translateY(100%);}
#enterprise_info { margin: 0 auto; width: 1400px; display: flex; justify-content: space-between; }
#enterprise_info > #enterprise_info_text { padding-top: 50px; padding-left: 100px; font-weight: bold; }
#enterprise_info > #enterprise_info_text > p { color: rgb(77, 76, 76); }
#enterprise_info > #enterprise_info_text > #bold { font-size: 20px; font-weight: 700; }
#enterprise_info > #enterprise_info_text > p > a { color: rgb(77, 76, 76); margin-left: 5px; margin-right: 5px; font-size: 18px; font-weight: bold; }
#sns_box { margin-top: 30px; width: 200px; display: flex; justify-content: space-around; }
#sns_box > div > a > img { width: 50px; }
#icon_box > #TRIP { margin-top: 20px; text-align: center; }
#icon_box > #TRIP > a > img { width: 100px; }
/*공통 footer 끝*/


/*공통 메인*/
.mypage_title{
    font-size: 18px;
    font-weight: bold;
    color: #6c6c6c;
    padding-left: 20px;
    margin-top: 15px;
}
.mypage_subtitle{
    font-size: 16px;
    font-weight: bold;
    color: #6c6c6c;
    padding-left: 20px;
    padding-bottom: 5px;
    text-decoration: none;
}
.mypage_subtitle:first-child{
    margin-top: 20px;
}
.container_all{
    width: 1000px;
    margin: 0 auto;
    height: auto;
    min-height: 100%;
    padding-bottom: 150px;
}

/*공통*/
a{
    text-decoration: none;
    color: #6c6c6c;
}
