/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {margin:0;padding:0}
h1, h2, h3, h4, h5, h6 {font-size:100%;}
ul {list-style:none}
button, input, select {margin:0}
html {box-sizing:border-box}
*, :after, :before {box-sizing:inherit}
img, video {height:auto;max-width:100%}
iframe {border:0}
table {border-collapse:collapse;border-spacing:0}
td, th {padding:0}

/* @@@@ Global Styles @@@@ */
* { font-family: 'Noto Sans KR', sans-serif; color: #425052; }
a, button, select { cursor: pointer; background: none; border: none;}
.hide {
  display: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px;
  height: auto;
}
.container section {
  padding-left: 44px;
  padding-right: 44px;
}
.container section.wide-section {
  padding-left: 0;
  padding-right: 0;
}
.container section.wide-section img{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
section h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
}
section p {
  font-size: 22px;
  line-height: 32px;
}
.form-title .highlight {
  color: #2680EB !important;
  font-size: 12px;
}

.flex {
  display: flex;
  align-items: center;
}
.flex-between {
  justify-content: space-between;
}
.flex-center {
  justify-content: center;
}
.align-start {
  align-items: flex-start;
}
.flex-column {
  flex-direction: column;
}
.section-title {
  padding: 0 21px;
  font-size: 18px;
  margin-top: 30px;
  color: #425052;
  font-weight: bold;
}

.tour-search > form > input::placeholder {
  font-size: 16px;
  font-weight: bold;
  color: #666666;
}

header img, footer img {
  display: block;
  width: 100%;
}

.tag-wrap {
  padding: 0 5px;
}
.tag-wrap button {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #00000029;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  color: #2680EB;
  background-color: #ffffff;
  transition: all 0.25s ease;
  font-size: 16px;
}
.tag-wrap button:hover,
.tag-wrap button.active {
  color: #ffffff;
  background-color: #2680EB;
}

.tag-wrap2{
  width: 1000px;
  margin: 0 auto;
  
}
.tag-wrap2 button{
  width: 120px;
  font-size: 14px;
}


/* @@@@ Tour List Styles @@@@ */
.tour-search {
  margin-top: 42px;
}
.tour-search form { 
  position: relative;
  padding: 60px 215px;
}
.tour-search input {
  padding: 20px 65px;
  width: 100%;
  box-shadow: 0px 3px 6px #9b9b9b73;
  border: 2px solid #77EED2;
  border-radius: 51px;
  font-size: 14px;
  color: #525273;
}
.tour-search input:focus-visible {
  outline: none;
}
.tour-search button {
  position: absolute;
  top: 75px;
  left: 240px;
  border: 0;
  background: none;
}

.tour-category ul {
  flex-wrap: wrap;
  margin-top: 25px;
}
.tour-category li {
  width: 120px;
  height: 160px;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
}

.tour-category li img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.tour-list {
  margin-top: 54px;
}
.tour-list h1 {
  font-size: 16px;
  vertical-align: middle;
}
.tour-list h1 img {
  margin-right: 8px;
  height: 20px;
  vertical-align: middle;
}
.tour-list h1 img:last-child {
  width: 15px;
  margin-left: 3px;
  margin-bottom: 3px;
}
.tour-list h1 span {
  color: #2680EB;
}
.tour-list .tag-wrap {
  margin-top: 30px;
}
.tour-list button {
  margin-right: 26px;
  margin-bottom: 26px;
}
.tour-list ul {
  flex-wrap: wrap;
}
.tour-list li {
  position: relative;
  padding: 10px;
  width: 50%;
  cursor: pointer;
}
.tour-list li img {
  display: block;
}
.tour-list .info-wrap {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 125px 21px 17px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 27px;
  background-color: rgba(0,0,0,0.27);
  color: #ffffff;
}
.tour-list .info-wrap h1 {
  line-height: 44px;
  color: #FFFFFF;
}
.tour-list .info-wrap p {
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
}
.tour-list .info-wrap p.price-before {
  text-decoration: line-through;
}
.tour-list .info-wrap p span {
  color: #FFC500;
}

.load-more {
  margin: 35px calc(50% - 95px) 45px;
  padding: 14px 63px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #9B9B9B73;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #666666;
  transition: all 0.25s ease;
}
.load-more:hover {
  background: #797A7A;
  color: #ffffff;
}

.tour-recent ul {
  flex-wrap: wrap;
  margin-bottom: 80px;

}
.tour-recent li {
  position: relative;
  margin: 20px;
  margin-left: 0;
  width: 213px;
  height: 213px;
  cursor: pointer;
}
.tour-recent li img {
  display: block;
  width: 213px;
  height: 213px;
  border-radius: 27px;
}
.tour-recent .info-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 125px 4px 20px 16px;
  width: 213px;
  height: 213px;
  border-radius: 27px;
  background-color: rgba(0,0,0,0.27);
  color: #ffffff;
}
.tour-recent .info-wrap p {
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
}



/* @@@@ Tour View Styles @@@@ */
.info-card {
  margin-top: 10px;
  margin-bottom: 58px;
  padding: 18px 45px;
  background: #FAFAFA 0% 0%;
  box-shadow: 0px 7px 6px #00000029;
  border-radius: 18px;
}
.info-card .tag-wrap {
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
}
.info-card .tag-wrap button {
  margin-right: 22px;
  margin-bottom: 10px;
  padding: 7px 20px;
  background: #ECECEC;
  font-size: 16px;
  line-height: 25px;
}
.info-card h1 {
  line-height: 29px;
  font-size: 20px;
}
.info-card p {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 29px;
  color: #7E7E7E;
}
.info-card .left-wrap {
  margin-top: 20px;
  padding-right: 26px;
  border-right: 2px solid #CBCBCB;
}
.info-card .left-wrap .heart {
  font-weight: bold;
  color: #FF0000;
}
.info-card .left-wrap img:first-child {
  width: 20px;
  margin-right: 3px;
  vertical-align: middle;
}
.info-card .left-wrap img:last-child{
  width: 15px;
  margin-left: 2px;
}
.info-card .left-wrap .star {
  margin-left: -127.5px;
  width: 50%;
  position: absolute;
  color: #FFDC00;
}
.info-card .left-wrap a {
  color: #458CD3;
  text-decoration: none;
}
.info-card .left-wrap button {
  margin-bottom: 9px;
  padding: 8px 31px 7px 21px;
  width: 455px;
  background: #F0F0F0;
  border-radius: 9px;
}
.info-card .left-wrap .discount {
  background: #FFE5E5;
}
.info-card .left-wrap button p,
.info-card .left-wrap button a {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  color: #959D9E;
}
.info-card .left-wrap button a {
  text-decoration: underline;
}
.info-card .left-wrap button p span {
  color: #FE6C6C;
}

.info-card .right-wrap {
  padding-left: 20px;
  text-align: right;
}
.info-card .right-wrap .tag-wrap button {
  background: #FE7E7E;
  color: #ffffff;
  font-size: 12px;
}
.info-card .right-wrap .price-before {
  margin-top: -40px;
  text-decoration: line-through;
  font-size: 15px;
  line-height: 29px;
  color: #BEBEBE;
}
.info-card .right-wrap {
  width: 260px;
}
.info-card .right-wrap h1 {
  margin: 8px 0;
  font-size: 30px;
  font-size: 20px;
}
.info-card .right-wrap h1 span {
  color: #FF0101;
  font-size: 14px;
  padding-right: 10px;
}
.info-card .right-wrap p {
  font-size: px;
  margin-bottom: 2px;
}
.info-card .right-wrap p span {
  color: #FE6C6C;
}
.info-card .right-wrap .submit {
  padding: 10px 60px;
  width: 250px;
  background: #4E91D5 0% 0% no-repeat padding-box;
  border-radius: 11px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}
.info-card .action-wrap button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 26px;
  padding: 9px 21px 7px;
  width: 150px;
  height: 47px;
  border: 1.5px solid #41D2BB;
  border-radius: 45px;
  font-weight: bold;
  font-size: 16px;
  line-height: 29px;
  color: #40D1BA;
  text-shadow: 0px 1px 6px #40D1BA36;
}
.info-card .action-wrap button img {
  width: 25px;
}
.tour-desc {
  background: #F7F7F7;
}
.tour-desc article {
  padding: 46px 44px 32px;
  border-bottom: 1px solid #C1C1C1;
}
.tour-desc article h1{
  font-size: 20px;
}
.tour-desc article .info-desc {
  padding: 0 21px;
  align-items: flex-start;
}
.tour-desc article li {
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  color: #808080;
}
.tour-desc article li span {
  display: inline-block;
  width: 183px;
}
.tour-desc article h1 {
  margin-bottom: 32px;
  font-size: 20px;
}
.tour-desc article p {
  padding: 0 21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  color: #808080;
}
.tour-desc .point-wrap h2 {
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
}
.tour-desc .point-wrap li img {
  width: 20px;
  margin-right: 10px;
  margin-bottom: -4px;
}

.tour-desc .last {
  padding-left: 65px;
  padding-right: 65px;
  padding-bottom: 63px;
}
.tour-desc .checklist {
  padding: 28px 28px 25px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}
.tour-desc .img-wrap {
  margin: 44px auto 44px;
  text-align: center;
}
.tour-desc .img-wrap img {
  margin-bottom: 20px;
  width: 565px;
}
.tour-desc .img-wrap p {
font-size: 16px;
}
.tour-desc .last .flex {
  align-items: flex-start;
  margin-bottom: 32px;
}
.tour-desc .last h2 {
  font-weight: 600;
  margin-right: 8px;
  margin-bottom: 13px;
  font-size: 18px;
}

.tour-desc .last .flex.Included{
  justify-content: space-around;
}
.tour-desc .last .flex.Included p{
  margin-top: -5px;
  width: 350px;
}
.tour-desc article .refundPolicy li{
  font-size: 14px;
}


.container .review-wrap {
  margin-bottom: 26px;
  padding: 37px 138px 45px 65px;
  background: #F7F7F7;
}
.review-wrap h1 {
  margin-bottom: 13px;
  font-size: 20px;
}
.review-wrap p {
  font-weight: 500;
  color: #808080;
  font-size: 16px;
}
.review-wrap p.highlight {
  color: #4E91D5;
}
.review-wrap p.star {
  font-size: 25px;
  line-height: 51px;
}
.review-wrap .star {
  position: relative;
  font-size: 2rem;
  color: #ddd;
}

.review-wrap .star input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.review-wrap .star span {
  width: 0;
  position: absolute; 
  left: 0;
  color: #FFDC00;
  overflow: hidden;
  pointer-events: none;
}
.review-wrap button {
  display: block;
  margin: 25px auto 0;
  padding: 20px;
  width: 400px;
  background: #50E3C2;
  border-radius: 65px;
  font-size: 18px;
  color: #FFFFFF;
}
.review-wrap button img {
  width: 20px;
  margin-left: 5px;
  vertical-align: middle;
}
.review-wrap .review-card {
  align-items: flex-start;
}
.review-wrap .review-point {
  text-align: center;
}


#tabs {
  margin: 80px auto;
  text-align: center;
  transition: all 0.5s ease;
}
#tabs a {
  display: block;
  margin: 0 auto 32px;
  padding: 24px;
  width: 250px;
  background: #50E3C2;
  border-radius: 65px;
  color: #FFFFFF;
  text-decoration: none;
}
section#tabs p {
  font-size: 16px;
}
.ui-widget.ui-widget-content {
  border: none;
  transition: all 0.5s ease;
  
}
.ui-tabs .ui-tabs-nav,
.ui-tabs .ui-tabs-nav li  {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  
}
.ui-tabs .ui-tabs-panel {
  position: relative;
  top: -15px;
  margin-left: 38px;
  padding: 32px 5px 0 34px;
  width: 731px;
  height: 456px;
  background: #F7F7F7;
  font-size: 16px;
  line-height: 34px;
  color: #808080;
  text-align: left;
  border-radius: 5px;
  word-break: keep-all;
}
.ui-tabs .ui-tabs-panel::before {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: -15px;
  width: 30px;
  height: 30px;
  transform: rotate(135deg);
  background: #F7F7F7;
}
.ui-tabs .ui-tabs-panel::before {
  content: "";
  display: block;
  position: absolute;
  top: 55px;
  left: -15px;
  width: 30px;
  height: 30px;
  transform: rotate(135deg);
  background: #F7F7F7;
}
.ui-tabs .ui-tabs-panel:nth-child(3)::before {
  top: 160px;
}
.ui-tabs .ui-tabs-panel:nth-child(4)::before {
  top: 265px;
}
.ui-tabs .ui-tabs-panel:nth-child(5)::before {
  top: 370px;
}




/* @@@@ Tour Form Styles @@@@ */
.form .section-title {
  margin-left: -21px;
  margin-top: 30px;
  padding: 0;
  font-size: 18px;
}
.form section {
  padding-left: 65px;
  padding-right: 65px;
}
.form h1 {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  line-height: 36px;
}
.form p {
  font-size: 16px;
  line-height: 29px;
  font-weight: bold;
  font-weight: normal;
  color: #666666;
}
.form label {
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 26px;
}
.form input {
  display: block;
  margin-right: 21px;
  margin-bottom: 8px;
  width: 260px;
  padding: 6px 8px 9px;
  background: #F7F7F7;
  border: 1px solid #707070;
  border-radius: 7px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}
.input-group {
  margin-bottom: 50px;
}
.input-group.traveler-input input{
  width: 230px;
}

.form .form-title {
  width: 1000px;
  margin: 82px 65px 44px;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #CBCBCB;
}
.form-title .card {
  align-items: flex-end;
  margin: 17px auto 42px;
  padding: 15px 30px 20px;
  width: 950px;
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border-radius: 17px;
}
.form-title .card p:first-child {
  font-weight: bold;
  width:500px;
}
.form-title .card p:last-child{
  text-align: right;
}
.form-title p span {
  margin-left: 285px;
  color: #919191;
}

.form-title .card p:last-child {
  margin-bottom: 3px;
}

.pay-info {
  margin-bottom: 78px;
  width: 950px;
  display: flex;
  justify-content: space-between;
}
.pay-price {
  width: 400px;
}
.pay-price p {
  margin-top: 2px;
  margin-bottom: 13px;
  font-size: 16px;
  color: #666666;
}
.pay-discount p {
  margin-top: -6px;
  margin-bottom: 0;
}
.pay-discount select {
  margin-top: -6px;
  margin-left: 6px;
  padding: 0px 18px;
  background: #F7F7F7;
  border: 1px solid #707070;
  border-radius: 7px;
  font-size: 14px;
  line-height: 26px;
}
.pay-price .pay-total {
  margin-top: 55px;
  padding-top: 10px;
  border-top: 1px solid #CBCBCB;
}
.pay-notice {
  margin-left: 31px;
  padding: 26px 14px 24px 21px;
  width: 400px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
}
.pay-notice p {
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
}
.pay-notice li {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}
.form-submit{
  width: 900px;
  margin: 0 auto;
}
.agree-checkbox {
  width: 600px;
}
.agree-checkbox p {
  font-size: 14px;
  font-weight: normal;
}

.agree-checkbox a {
  color: #458CD3;
}
.agree-checkbox input {
  display: none;
}
.agree-checkbox input[type="checkbox"] + label{
  width: 18px;
  height: 18px;
  background-image: url('../../lib/img/ticket_img/icon_check_gray.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.agree-checkbox input[type="checkbox"]:checked + label{
  background-image: url('../../lib/img/ticket_img/icon_check.svg');
}
.form .submit {
  height: 50px;
  width: 200px;
  background-color: #2680EB;
  border-radius: 15px;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0px;
  color: #FAFAFA;
}




/* Form Calaendar Styles */
.calendar h1 {
  font-size: 18px;
  margin-top: 30px;
  padding-left: 44px;
  color: #425052;
  font-weight: bold;
}
.calendar p {
  font-weight: bold;
  padding-left: 44px;
  font-size: 16px;
  line-height: 29px;
  color: #666666;
}

.container section.calendar-wrap,
.container section.option-form {
  padding: 0;
  width: 930px;
  margin: auto;
}
.calendar-wrap h2 {
  padding-left: 96px;
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  line-height: 32px;
}

.option-form .flex h2 {
  width: 234px;
}
.option-form h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  color: #425052;
}
.option-form h2 span {
  font-weight: 400;
  margin-right: 50px;
}
.option-form .input-wrap {
  margin-bottom: 10px;
  width: 696px;
  padding: 16px 32px;
  background: #FFFFFF;
  border: 1px solid #707070;
  border-radius: 15px;
}
.option-form .input-wrap:last-child {
  margin-bottom: 20px;
}
.option-form label {
  font-weight: bold;
  font-size: 16px;
  color: #425052;
  line-height: 32px;
}
.option-form label span {
  font-weight: 400;
}
.option-form p {
  font-size: 14px;
  line-height: 29px;
  color: #B2B2B2;
}
.option-form button {
  display: block;
  margin: 40px auto 70px;
  padding: 15px 86px;
  background: #4E91D5;
  border-radius: 11px;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
}
.option-form button a{
  color: white;
}
.option-form input[type="checkbox"] {
  position: relative;
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
}
.option-form input[type="checkbox"]::before{
  content: '';
  position: absolute;
  top: -9px;
  left: -24px;
  width: 22px;
  height: 22px;
  background-image: url('../../lib/img/ticket_img/radio-check.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.option-form input[type="checkbox"]:checked::before{
  background-image: url('../../lib/img/ticket_img/radio-checked.svg');
}
.option-form input[type="number"] {
  margin: -20px 10px 0;
  width: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 39px;
  color: #6C6C6C;
  text-align: center;
  border: none;
}
.option-form input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.option-form input[type=number]::-webkit-inner-spin-button, 
.option-form input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
.input-number span {
  font-size: 27px;
  line-height: 39px;
  color: #6C6C6C;
  cursor: pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}


/* @@@@ Tour Payment Styles @@@@ */
.payment {
  margin-bottom: 400px;
  padding-bottom: 65px;
  border-bottom: 1px solid #CBCBCB;
  display: flex;
  

}
.payment-info{
}
.payment h2 {
  margin-top: 28px;
  font-size: 18px;
  line-height: 36px;
}
.payment p {
  font-size: 16px;
  word-break: keep-all;
  line-height: 26px;
}

.payment p.price {
  display: flex;
  justify-content: space-between;
  color: #666;
}
.payment-method {
  width: 500px;
  padding-left: 30px;
}
.paycard{
  margin-left: 30px;
}
.payment-method button {
  margin-right: 5px;
  margin-bottom: 50px;
  width: 200px;
  height: 80px;
  background: #F7F7F7;
  border: 1px solid #969696;
  border-radius: 7px;
  font-size: 16px;
  line-height: 26px;
}
.payment-method h2 {
  margin-bottom: 24px;
}
.payment-method .submit {
  padding: 0;
  width: 420px;
  height: 60px;
  border: none;
  background: #4E91D5;
  border-radius: 65px;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  margin-left: 35px;

}


/* @@@@ Calendar Styles @@@@ */
/* section calendar */
.sec_cal {
  width: 800px;
  margin: 0 auto 45px;
}
.sec_cal .cal_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ADD6FF;
  border-radius: 10px 10px 0px 0px;
}
.sec_cal .cal_nav .year-month {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #FFFFFF;
}
.sec_cal .cal_nav .nav {
  display: flex;
  border: 1px solid #333333;
  border-radius: 5px;
}
.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid #000;
  border-width: 2px 2px 0 0;
  transition: border 0.1s;
}
.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
  border-color: #FFFFFF;
}
.sec_cal .cal_nav .go-prev::before {
  transform: rotate(-135deg);
}
.sec_cal .cal_nav .go-next::before {
  transform: rotate(45deg);
}

.sec_cal .cal_wrap {
  padding-top: 12px;
  position: relative;
  margin: 0 auto;
}

.sec_cal .cal_wrap .days {
  display: flex;
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ADD6FF;
}

.sec_cal .cal_wrap::after {
  top: 368px;
}

.sec_cal .cal_wrap .day {
  display:flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 7);
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  cursor: pointer;
  transition: all 0.25s ease;
}
.sec_cal .cal_wrap .days .day {
  color: #4E91D5;
}
.sec_cal .cal_wrap .day.disable {
  color: #AAAAAA;
}

.sec_cal .cal_wrap .day.current.selected {
  position: relative;
  color: #ffffff;
}
.current.selected::before {
  content: '';
  position: absolute;
  top: 5px;
  width: 50px;
  height: 50px;
  background: #4E91D5;
  border-radius: 50%;
  z-index: -1;
}

.sec_cal .cal_wrap .dates {
  display: flex;
  flex-flow: wrap;
  height: 290px;
}
