@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
font-family: 'Noto Sans KR', sans-serif;
}
header {
    width: 100%;
    height: 250px;
    background-image: url('/lib/img/travel_package_img/header_bg.svg');
    background-size: cover;
}
#logo_area {
    width: 1400px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}
a {
    text-decoration-line: none ;
}
a:visited {
    text-decoration: none;
}

#search {
    margin-left: 500px;
    display: flex;
    align-items: center;
}
#search > button {
    background-color: #50e3c2;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 10px;
    height: 30px;
    width: 50px;
    
}

#logo_area > #logo > a > img{
    margin-top: 50px;
}
#menu_form{
    margin-top: 50px;
}
#login_join > a {
    color: white;
    font-weight: 700;
    font-size: 20px;
}
#login_join {
    color: white;
    margin-top: 50px;
}

.float_clear {
    clear: both;
}

#menu_area {
    padding-bottom: 30px;
}

#menu_area > #menus {
    width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    
}
#menu_area > #menus > li {
    list-style: none;
}
#menu_area > #menus > li > a {
    color: white;
    font-weight: 700;
    font-size: 20px;
}
#logo_area > p { 
    padding-top: 40px;
    color: white;   
}
#logo_area #search > input {
    width: 250px;
    height: 30px;
    border-radius: 30px;
    border-width: 0px;
    padding-left: 20px;
}
.reco_box {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 50px;
}
.reco_item_back {
    width: 900px;
    height: 130px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
    position: relative;
    display: flex;
}
.reco_item_back::before {
    content: "";
    background: url('/lib/img/travel_package_img/lodging_package_item1.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
}

.reco_item1 > img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 15px 15px;
    box-shadow: 2px 2px 5px #434343;
    position: relative;
}
.reco_item2 {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    border-radius: 10px;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item_box > .item_box_title{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}
.item_box > .item_box_content{
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0;
}
.item_box > .view_more{
    width: 180px;
    height: 50px;
    background-color: #50E3C2;
    text-align: center;
    vertical-align: center;
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_box > .view_more > a {
    color: white;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Noto Sans KR';
}
#travel_package_img {
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url('/lib/img/travel_package_img/travel_package_bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
main {
    width: 1000px;
    margin: 0 auto;
}
#triple_sale {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
#triple_sale div{
    height: 230px;
}
#triple_sale div a img {
    width: 320px;
    margin-bottom: 80px;
}
#travel_package_country {
    width: 1000px;
}
#travel_package_country .country_area {
    width: 100%;
    margin-bottom: 10px;
}
#travel_package_country div a img {
    width: 100%;
    height: 200px;
}
#travel_package_menus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: solid 3px #50e3c2 ;
    margin-bottom: 50px;
}
#travel_package_menus a {
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}


.packagebox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.packagebox div.pacagebox_innerdiv{
    width: 450px;
}
.red_text{
    color: #FF0101;
}

.travel_package_list .product_name ,.travel_package_list .product_air, .travel_package_list .product_star,.travel_package_list .product_coupon {
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}
.travel_package_list .product_name {
    margin-bottom: 0px;
}
.travel_package_list .product_air {
    color: #666666;
    font-size: 16px;
    margin-top: 0px;
}
.travel_package_list .product_name a{
    color: black;
}
.travel_package_list .product_name a:visited{
    color: black;
}
.travel_package_list .product_price, .travel_package_list .product_coupon {
    text-align: right;
    margin-bottom: 0px;
    margin-top: 0;
}
.packagebox_image a img {
        width: 430px;
        height: 300px;
}

/*package_country*/

#travel_package_img {
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url('/lib/img/travel_package_img/southpacific.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-left: 40px;
    box-sizing: border-box;
}

main {
    width: 1000px;
    margin: 0 auto;
}

#travel_package_menus {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: solid 3px #50e3c2 ;
    margin-bottom: 50px;
}
#travel_package_menus a {
    margin-left: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    
}

.packagebox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.red_text{
    color: #FF0101;
}
.travel_package_list .product_name ,.travel_package_list .product_air, .travel_package_list .product_star,.travel_package_list .product_coupon {
    font-weight: bold;
    color: #666666;
    font-size: 16px;
}
.travel_package_list .product_name {
    margin-bottom: 0px;
}
.travel_package_list .product_air {
    color: #666666;
    font-size: 16px;
    margin-top: 0px;
}
.travel_package_list .product_name a{
    color: black;
}
.travel_package_list .product_name a:visited{
    color: black;
}
.travel_package_list .product_price, .travel_package_list .product_coupon {
    text-align: right;
    margin-bottom: 0px;
    margin-top: 0;
}
.packagebox_image a img {
    width: 430px;
    height: 300px;
}


/*package_speactialprice*/

#travel_package_img {
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-image: url('/lib/img/travel_package_img/southpacific.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-left: 40px;
    box-sizing: border-box;
}

main {
    width: 1000px;
    margin: 0 auto;
}
#travel_package_main {
    margin-top: 50px;
}
#travel_package_menus {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: solid 3px #50e3c2 ;
    margin-bottom: 50px;
}
#travel_package_menus a {
    margin-left: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    
}
#travel_package_contents .city{
    margin-left: 30px;
    font-weight: bold;
    color: #666666;
}
#travel_package_contents p{
    font-size: 14px;
    font-weight: normal;
    /*color: #666666;*/
    /*margin: 20px 0;*/
    /*margin-left: 10px;*/
}
.packagebox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.red_text{
    color: #FF0101;
}


#special_price_flex_box {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}
.special_price_content {
    width: 40%;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}
.special_price_content img {
    width: 100%;
    border-radius: 10px;
}

.content_representation{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content_representation p{
    margin: 1px;
    font-weight: bold;
    font-size: 16px;
    color: #666666;
}
.content_representation > .price_text{
    font-size: 16px;
    color: #666666;
}

.content_representation > .red_text {
    color: #FF0101;
}

.reservation {
    background-color: #FE6C6C;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

.reservation > p {
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.merchandise_mark {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.merchandise_mark div p {
    font-size: 14px;
    font-weight: normal;
    margin: 5px;
    color: white;
}
.merchandise_mark div {
    background-color: #2680EB;
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
}

#special_price_box {
    width: 1000px;
    margin: 50px auto;
    background-color: rgb(252, 242, 233);
    padding: 50px 0;
}
#special_price_box > p {
    padding-left: 40px;
    font-weight: bold;
}
main > p {
    font-weight: bold;
}
.content_title {
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}
.travel_package_list .product_name ,.travel_package_list .product_air, .travel_package_list .product_star,.travel_package_list .product_coupon {
    font-size: 16px;
    color: #666666;
}
.travel_package_list .product_name {
    margin-bottom: 0px;
}
.travel_package_list .product_air {
    color: #666666;
    font-size: 16px;
    margin-top: 0px;
}
.travel_package_list .product_name a{
    color: black;
}
.travel_package_list .product_name a:visited{
    color: black;
}
.travel_package_list .product_price, .travel_package_list .product_coupon {
    text-align: right;
    margin-bottom: 0px;
    margin-top: 0;
}
.packagebox_image a img {
    width: 430px;
    height: 300px;
    border-radius: 5px;
}


footer {

    width: 100%;
    background-color: #50e3c2;
    opacity: 0.5;
    height: 300px;
    margin-top: 300px;
    
}
#enterprise_info {
    margin: 0 auto;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}
#enterprise_info > #enterprise_info_text {
    padding-top: 50px;
    padding-left: 100px;
    font-weight: bold;
}
#enterprise_info > #enterprise_info_text > p {
    color: rgb(77, 76, 76);
}
#enterprise_info > #enterprise_info_text > #bold {
    font-size: 20px;
    font-weight: 700;
}
#enterprise_info > #enterprise_info_text > p > a {
    color: rgb(77, 76, 76);
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
}
#sns_box {
    margin-top: 30px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}
#sns_box > div > a > img {
    width: 50px;
}
#icon_box > #TRIP {
    margin-top: 20px;
    text-align: center;
}
#icon_box > #TRIP > a > img {
    width: 100px;
}

