<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="admin_head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 로그인</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="/app/css/admin.css">
    <script src="/app/js/script.js"></script>
    <script src="/app/js/admin.js"></script>
        </head>
<body id="logBody">
<section class="login-form">
    <img src="/lib/img/img-main-logo-white.png" alt="">
    <form action="/Triple/admin_loginOk" name="regform" id="regform" method="POST">
        <div class="int-area">
            <input type="text" name="userid" id="userid" autocomplete="off" placeholder="ID">

        </div>
        <div class="int-area">
            <input type="password" name="userpw" id="userpw" autocomplete="off" placeholder="PassWord">

        </div>
        <div class="btn">
            <button type="submit">로그인</button>
        </div>
    </form>

</section>
</body>
</html>