@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #0098A1;
	--light-green: #00bac4;
	--blue: #1775F1;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;
}

.body {
    background: var(--grey);
}

a {
    text-decoration: none;
}

a:visited{color: #000;}

li{
    list-style: none;
}

/* 사이드바 */

#sidebar {
    position: fixed;
    max-width: 260px;
    width: 100%;
    background: var(--green);
    top:0;
    left:0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    transition: all .3s ease;
    z-index: 200;
    
}
#sidebar img{
    width: 200px;
    padding-top: 20px;
}
#sidebar ::-webkit-scrollbar {
    display: none;
}

#sidebar .active {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#sidebar .icon {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sidebar .icon-right {
    margin-left: auto;
    transition: all .3s ease;
}
#sidebar .side-menu{
    margin: 25px 0;
    padding: 0 20px;
}
#sidebar .side-menu a {
    display: flex;
    align-items: center;
    color: var(--light);
    font-size: 15px;
    padding: 10px 16px 12px 0;
    transition: all .3s ease;
    border-radius: 10px;
    margin: 4px 0;
}

#sidebar .side-menu > li > a:hover{
    background: var(--light-green);
    
}
#sidebar .side-menu > li > a.active .icon-right{
    transform: rotateZ(90deg);
}

#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover{
    background: var(--light);
    color: var(--green);
}


#sidebar .side-dropdown {
    padding-left: 48px;
    max-height: 0;
    overflow-y: hidden;
    transition: all .15s ease;
    
}
#sidebar .side-dropdown a {
    margin-left: 20px;
    font-size: 14px;
}
#sidebar .side-dropdown.show{
    max-height: 800px;
}
#sidebar .side-dropdown a:hover{
    color: var(--dark-grey);
}


/* 사이드바 끝*/


/*Content*/
#content {
    position: relative;
    width: calc(100% -260px);
    left: 260px;
}

/* navbar*/
#content nav {
    background: var(--light);
    width: 85%;
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
    top: 0;

}
#content nav .toggle-sidebar {
    font-size: 18px;
    cursor: pointer;
}

#content nav form {
    max-width: 300px;
    width: 100%;
    margin-right: auto;
}

#content nav .form-group {
    position: relative;
}

#content nav .form-group input {
    width: 100%;
    background: var(--grey);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all .3s ease;
}
#content nav .form-group input:focus {
    box-shadow: 0 0 0 1px var(--dark-grey), 0 0 0 4px var(--grey);
}
#content nav .form-group .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}
#content nav .nav-link {
    position: relative;
}
#content nav .nav-link .icon {
    font-size: 18px;
    color: var(--dark);
}
#content nav .nav-link .badge {
    position: absolute;
    top: -12px;
    right: -15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:  2px solid var(--light);
    background: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    font-size: 10px;
    font-weight: 700;
}
#content nav .divider {
    width: 1px;
    background: var(--dark-grey);
    height: 12px;
    display: block;
}
#content nav .profile {
    position: relative;
}



/* navbar 끝*/
/*Content 끝*/

/*main*/

main {
    width: 85%;
    padding: 24px 20px 20px 20px;
}


main h3 {
    color: #999;
}
main {
    overflow: hidden;
}
main .content {
    position: relative;
    
    min-height: 90vh;
}
main .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
main .content .cards .card {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .08), 0 6px 0 rgba(0, 0, 0, .019);
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .card .head .icon{
    font-size: 20px;
    color: var(--green);
}
main .card .head .icon.down{
    color: var(--red);
}
main .card .progress {
    display: block;
    margin-top: 15px;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    background: var(--grey);
    overflow-y: hidden;
    position: relative;
    margin-bottom: 4px;
}
main .card .progress::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--blue);
    width: var(--value);
}
main .card .label{
    font-size: 14px;
    font-weight: 700;
}

main .content .cards .card:nth-child(3),
main .content .cards .card:nth-child(4){
 display: block;
 padding: 15px;
}

main .content .content-2{
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
main .content .content-2 .service-center{
    min-height: 50vh;
    flex: 5;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .08), 0 6px 0 rgba(0, 0, 0, .019);
    margin: 0 25px 25px 25px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

main .content .content-2 .new-post{
    flex: 2;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .08);
    min-height: 50vh;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
main .content .content-2 .new-post table {
    margin: 0 auto;
}
.center-tit{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid var(--grey);
}

main table{
    padding: 10px;
}

main table th,
main table tr {
    text-align: left;
    padding: 8px;
    border-bottom: none;
}

main td {
    border-bottom: none;
}

/*main끝*/

/*로그인*/

#logBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--green);
    
}
#logBody::before {
    content: "";
    position: absolute; 
    z-index: 1;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;

}
.login-form {
    position: relative;
    z-index: 2;
}
.login-form img {
    padding-left: 15%;
    text-align: center;
    margin: 30px 0;
}
.int-area {
    width: 400px;
}
.int-area input {
    width: 100%;
    padding: 20px 10px 20px;
    
    border: none;
    font-size: 18px;
    color: var(--light);
    outline: none;
    margin-bottom: 20px;
}
.btn button {
    width: 80%;
    height: 40px;
    border: none;
    color: var(--green);
    background: var(--light);
    border-radius: 20px;
    margin-left: 10%;
    margin-bottom: 100px;
    font-size: 20px;
}

/*회원목록*/

.content2{
    position: relative;
    width: calc(100%);
    left: 300px;
    max-width: 1200px;
}

.content2 h2 {
    margin: 20px 0 0 20px;
    font-size: 30px;
    margin-bottom: 50px;
}

/* #conten2t nav {
    background: var(--light);
    width: 80%;
    height: 64px;
    
    display: flex;
    align-items: center;
    grid-gap: 28px;
    top: 0;

} */


.content2 nav form .form-group{
    position: absolute;
    right: 50px;
}
.content2 nav form .form-group select{
    width: 120px;
    height: 25px;
    font-size: 18px;
    text-align: center;
}
.content2 nav form .form-group input {
    width: 200px;
    height: 25px;
    font-size: 18px;
}
.content2 nav form .form-group button {
    width: 60px;
    height: 25px;
    font-size: 18px;
    margin-left: 5px;
}
.btnlist {
    box-sizing: border-box;
    width: 150px;
    position: relative;
    margin: 0 auto;
    left: 550px;
}
.btnlist button {
    width: 60px;
    height: 25px;
    font-size: 13px;
    margin-top: 10px;
    border: none;
}
table.tbList {
    width: 1000px;
    position: relative;
    margin: 150px auto 0;
    left: 120px;
    text-align: center;
    border-collapse: collapse;
}

table.tbDetail {
    width: 950px;
    position: relative;
    margin: 200px auto;
    left: 300px;
    text-align: center;
    border-collapse: collapse;
}

table tr {
    height: 60px;
}
table select {
    width: 60px;
    text-align: center;
}
th {
    border-bottom: 1.5px solid var(--dark);
    font-size: 20px;
    padding-bottom: 10px;
}
td {
    padding: 15px;
    border-bottom: 1px solid #8D8D8D;
}


/*리스트 넘버링*/
.pageNum {
    position: relative;
    margin: 30px auto;
    text-align: center;
    width: 800px;
    padding-left: 150px;
}


/*회원 상세정보*/
table.colortb{
    border-collapse: collapse;
}
table.colortb th{
    border-bottom: 1px solid var(--dark-grey);
    background-color: #f7f7f7;
} 
table.colortb tr{
    height: 20px;
}
.infolist {
    margin-top: 60px;
}
.formscroll {

    height: 300px;
    width: 800px;
    overflow: hidden;
    overflow-y: scroll;
}

table.ad-tb2 {
    margin-top: 0;
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 50px;
}
table a{
    color: #000;
}
table a:visited{
    color: #000;
}



/* 상품등록 */



.formbox{
    width: 1000px;
    margin: auto;
    display: flex;
}
.box { margin-top: 50px;}
.box p{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}
.box input {
    width: 250px;
    height: 30px;
    margin-left: 20px;
}
.box select {
    width: 100px;
    height: 25px;
    margin-left: 20px;
}
.leftbox {
    width: 500px;
    float: left;
}

.rightbox {
    width: 500px;
    float: right;
}
.flbox {
    
    clear: both;
    display: flex;
    width: 800px;
    
}
.flbox2{
    flex-direction: column;
    
}
.plus{
    width: 50px;
    height: 25px;
}

.bottombox{
    
    width: 900px;
    margin-top: 10px;
}
.bottombox .span{
    font-size: 15px;
    font-weight: normal;
}
.btbox{
    display: flex;
    height: 30px;
    
}
.btbox input:first-child{
    width: 90px;
    text-align: center;
    
}
.btbox .span input{
    width: 150px;
    height: 25px;
}

.btbox:nth-child(2){
    padding-left: 35px;
}
.btbox:last-child {
    padding-left: 35px;
}
.btbox .span{
    margin: 5px 0 0 20px;
}
.box button {
    clear: both;
    width: 50px;
    float: right;
    margin-top: 30px;
}

.non {
    clear: both;
    margin: 0;
}

.packge {
    display: flex;
    width: 1200px;
}
.packge button {
    width: 50px;
    margin-left: 20px;
}
.packge .mintit {
    font-weight: bold;
    font-size: 18px;
    float: left; 
}

.packge span {
    float: right;
    font-weight: 400;
    margin: 0 0 10px 30px;
}
.packge p:nth-child(odd),
.packge p:nth-child(even){
    clear: both;
}
/* .packge .mintit:nth-child(odd){
    
    clear: both;
}
.packge .minrt{
    clear: both;
} */
.packge select {
    width: 80px;
    height: 25px;
    text-align: center;
}
.packge input[type="text"] {
    width: 200px;
    height: 25px;
}


.register{
    width: 1200px;
    box-sizing: border-box;
    margin-left: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

.re_fl{
    margin-top: 10px;
    width: 1000px;
}
.re_fl p{
    width: 80px;
    text-align: center;
    margin: 0;
}
.re_fl select {
    width: 100px;
    height: 25px;
    margin-left: 5px;
}
.re_fl.re_fl1 select:first-child{
    margin-left: 10px;
}
.re_fl2 input{
    width: 550px;
    margin-left:25px;
    height: 25px;
}
.re_fl3 div{
    width: 330px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.re_fl3 div p {
    width: 340px;
    margin-bottom: 5px;
}
.re_box{
    display: flex;
    height: 400px;

}
.re_fl3 .re_box p:first-child{
    width: 100px;
    font-size: 15px;
    margin-left: 35px;
    padding-top: 3px;
}
.re_fl3 .re_box p {
    font-size: 15px;

}
/*쿠폰등록*/
.coupon input {
    height: 30px;
    font-size: 15px;
}
.coupon select{
    width: 150px;
    height: 30px;
    font-size: 15px;
}
.submit {
    margin-left: 100px;
}
.hbt {
    text-align: center;
    margin-top: 50px;
}
.regis {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 80px;
    height: 30px;
    background-color: #ffb800;
    border: none;
    font-size: 18px;
}


/* 11.관리자 관리 */
#admin_mana0ge_form_container {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-around;
    margin-top: 50px;
    margin-left: 400px;
    align-items: center;
}

#admin_manage_form_container_ul1,  #admin_manage_form_container_ul3 {
    width: 150px;
    height: 300px;
}

#admin_manage_form_container_ul2, #admin_manage_form_container_ul4 {
    width: 300px;
    height: 300px;
}

#admin_manage_form_container_ul1 > p,  #admin_manage_form_container_ul3 > p {
    width: 150px;
    height: 30px;
    margin-top: 25px;
    font-size: 18px;
} 

#admin_register_adminid_content, #admin_register_name_content, #admin_register_hp_content, #admin_register_email_content, #admin_register_adminpw_content, #admin_register_adminpwre_content, #admin_register_department_content, #admin_register_title_content{
    width: 200px;
    height: 30px;
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
}

#admin_register_btn {
    text-align: center;
    margin-right: 150px;
}

#admin_register_btn > input {
    width: 200px;
    height: 30px;
    margin-left: 500px;
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid black;
    background-color: orange;

}


/* 공지사항 */


.notice {
    width: 950px;
    font-size: 22px;
    position: relative;
    top: -20px;
}

.notice div {
    float:left;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 30px;
}

.notice input { 
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: 18px;
}

.notice select {
    width :160px;
    height: 30px;
    float:left;
    text-align: center;
    font-size: 18px;
}

.notice_b input{
    width: 230px;
}

.notice button {
    width : 50px;
    height: 30px;
    font-size: 18px;
}

.check input {
    width: 15px;
    height: 15px;
    margin-right: 45px;
}

/* table, tr {
    border-bottom: solid#f7f7f7 ;
    background-color: #f7f7f7;
    font-size: 18px;
} */

/* .under{
    border-bottom: 1px solid #000;
} */

.re_de {
    box-sizing: border-box;
    position: relative;
    left: 1435px;
    width: 210px;
    height: 30px;
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
}

.registration{
    margin-right: 10px;
}

.registration div, .delete div {
    width: 100px;
    padding-top: 5px;
}

.delete, .registration{
    width: 100px;
    height: 30px;
    float: left;
    background-color: #f7f7f7;
    color: #000;
}

.sp1{
    margin-left: 70px;
    margin-top: 30px;
}

/* 공지사항 끝 */


/* 공지사항 - 상세  */


.notice_detail{
    background-color: #f7f7f7;
    width: 1200px;
    height: 700px;
    box-sizing: border-box;
    margin-left: 200px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    font-size: 18px;
}

.notice_detail_1{
    text-align: center;
    font-size: 30px;
}

.notice_detail_2{
    font-size: 20px;
    position: relative;
    left: 735px;
    padding-top: 10px;
}

.notice_detail_3{
    position: relative;
    padding-top: 100px;
}

.mo_li {
    box-sizing: border-box;
    position: relative;
    left: 1450px;
    width: 210px;
    height: 30px;
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
}

.modify{
    margin-right: 10px;
}

.modify div, .list div {
    width: 100px;
    padding-top: 5px;
}

.list, .modify{
    width: 100px;
    height: 30px;
    float: left;
    background-color: #f7f7f7;
    color: #000;
}


/* 공지사항 - 상세 끝 */


/* 공지사항 - 등록 */


.notice_register{
    width: 1200px;
    height: 600px;
    box-sizing: border-box;
    margin-left: 200px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    font-size: 20px;
}

.notice_register_1{
    height: 100px;
}

.notice_register_1_1, .notice_register_2_1,  .notice_register_3_1{
    width :120px;
    text-align: center;
    font-weight: bold;
    float:left;
}

.notice_register_3_1{
    height: 380px;
}

.notice_register_1_2, .notice_register_2_2, .notice_register_3_2{
    width : 800px;
    height: 100px;
    float:left;
}

.notice_register_1_2 select{
    width :150px;
    height: 35px;
    position: relative;
    top: -5px;
    font-size: 20px;
}

.notice_register_2_2 input {
    width : 720px;
    height: 35px;
    position: relative;
    top: -5px;
}

.notice_register_3_2{
    height: 380px;
}

.notice_register_2{
    height: 100px;
}

.notice_register_3{
    height: 380px;
}

.regi {
    box-sizing: border-box;
    position: relative;
    left: 1000px;
    width: 210px;
    height: 30px;
    padding-top: 80px;
    font-size: 18px;
    text-align: center;
}

.regi_1 div{
    width: 80px;
    padding-top: 5px;
    background-color: #ffb800;
}

.regi_1{
    width: 100px;
    height: 30px;
    float: left;
    background-color: #f7f7f7;
    color: #000;
}


/* 공지사항 - 등록 끝 */


/* 매거진 - 목록 */


.tab a {
    color: #000;
}

.tab tr th {
    font-size: 26px;
}

.tab tr td {
    font-size: 20px;
}

.tab tr {
    height: 80px;
}

.sp2{
    margin-left: 70px;
    margin-top: 100px;
}


/* 매거진 - 목록 끝 */


/* 매거진 - 등록 */

/* 100 100 100 150 250 */
.magazine_register{
    width: 1200px;
    height: 1700px;
    box-sizing: border-box;
    margin-left: 200px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    font-size: 30px;
}

.magazine_register_1{
    height: 80px;
}

.magazine_register_1_1, .magazine_register_2_1,  .magazine_register_3_1, .magazine_register_5_1{
    width :200px;
    height :80px;
    float:left;
}

.magazine_register_3_1{
    height: 380px;
}

.magazine_register_1_2, .magazine_register_2_2, .magazine_register_3_2{
    width : 800px;
    height: 80px;
    float:left;
}

.magazine_register_1_2 select{
    width :150px;
    height: 35px;
    position: relative;
    top: -5px;
    font-size: 20px;
    text-align: center;
}

.magazine_register_2_2 input {
    width : 720px;
    height: 35px;
    position: relative;
    top: -5px;
    border: 1px solid black;
}

.magazine_register_3_2{
    height: 380px;
}

.magazine_register_2{
    height: 80px;
}

.magazine_register_3{
    height: 250px;
}

.magazine_register_4{
    height: 80px;
}

.magazine_register_5{
    height: 150px;
    margin-bottom: 35px;
}

.magazine_register_5_1{
    height: 150px;
    box-sizing: border-box;
    padding-top: 55px;
}

.magazine_register_5_2{
    width: 200px;
    height: 150px;
    float: left;
}

.magazine_register_5_2 button{
    width: 200px;
    height: 150px;
    background-color: gray;
    cursor: pointer;
    border: 0;
    font-size: 20px;
}

.magazine_register_5_3{
    width: 600px;
    height: 150px;
    float:left;
}

.magazine_register_5_3 button{
    width: 50px;
    height: 30px;
    font-size: 20px;
    position: relative;
    top: 50px;
    left: 20px;
    cursor: pointer;
}

/* 700 */

/* 150 100 300 150  */

.magazine_register_6_7{
    height: 220px;
    position: relative;
    top: -60px;

}
.magazine_register_6{
    width: 400px;
    height: 150px;
    float:left;
    text-align: center;
    box-sizing: border-box;
}

.magazine_register_6_1{
    width: 200px;
    height: 150px;
    float: left;
    box-sizing: border-box;
    padding-right: 50px;
}

.magazine_register_6_2{
    width: 200px;
    height: 150px;
    float:left;
    
}

.magazine_register_6_2 button {
    width: 200px;
    height: 150px;
    font-size: 20px;
    border: 0;
    cursor: pointer;
}

.magazine_register_7{
    width: 600px;
    height: 150px;
    float:left;
    
}

.magazine_register_7_1{
    width: 200px;
    height: 150px;
    float:left;
    text-align: center;
}

.magazine_register_7_2{
    width: 400px;
    height: 150px;
    float:left;
}

.magazine_register_7_2 input{
    width: 300px;
    height: 50px;
    font-size: 25px;
    position: relative;
    top: 45px;
}

.magazine_register_8{
    box-sizing: border-box;
    padding-left: 17px;
    margin-top: 30px;
    font-weight: bold;
}

.magazine_register_9{
    height: 100px;
    box-sizing: border-box;
    padding-top: 30px;
}

.magazine_register_9_1{
    width :200px;
    float:left;
}

.magazine_register_9_2{
    width: 800px;
    float: left;
}

.magazine_register_9_2 input {
    width : 720px;
    height: 35px;
    position: relative;
    top: -5px;
    border: 1px solid black;
}

.magazine_register_10{
    height: 300px;
}

.magazine_register_10_1{
    width: 200px;
    float:left;
}

.magazine_register_10_2{
    width: 800px;
    float:left;
}

.magazine_register_11{
    height: 150px;
}

.magazine_register_11_1{
    width: 200px;
    height: 150px;
    float:left;
    text-align: center;
    box-sizing: border-box;
    padding-right: 50px;
    padding-top: 40px;
}

.magazine_register_11_2{
    width: 800px;
    height: 150px;
    float:left;
}

.magazine_register_11_2 button{
    width: 200px;
    height: 150px;
    font-size: 20px;
    border: 0;
    cursor: pointer;    
}

.magazine_register_12{
    text-align: center;
    box-sizing: border-box;
    padding-top: 30px;
}

.magazine_register_12 button{
    width: 120px;
    height: 40px;
    cursor: pointer;
    background-color: yellow;
    border: 1px solid black;
    font-size: 18px;
}


/* 매거진 - 등록 끝*/

/* 11.관리자 관리 */
.admin_manage_form_container {
    width: 1000px;
    height: 500px;
    /* margin: 0 auto; */
    margin-top: 50px;
    margin-left: 200px;
    display: flex;
    justify-content: flex-around;
    align-items: center;
}

.admin_manage_form_container_ul1,  .admin_manage_form_container_ul3 {
    width: 150px;
    height: 300px;
}

.admin_manage_form_container_ul2, .admin_manage_form_container_ul4 {
    width: 300px;
    height: 300px;
}

.admin_manage_form_container_ul1 > p,  .admin_manage_form_container_ul3 > p {
    width: 150px;
    height: 30px;
    margin-top: 25px;
    font-size: 18px;
} 

.admin_register_adminid_content, .admin_register_name_content, .admin_register_hp_content, .admin_register_email_content, .admin_register_adminpw_content, .admin_register_adminpwre_content, .admin_register_department_content, .admin_register_title_content{
    width: 200px;
    height: 30px;
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
    border: 1px solid gray;
    /* border-radius: 10px; */
}

.admin_register_btn {
    text-align: center;
    margin-left: 200px;
}

.admin_register_btn > input {
    width: 200px;
    height: 30px;
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: 600;
    /* border-radius: 10px; */
    border: none;
    background-color: orange;
}

.admin_list_table_link, .admin_inquiry_table_link {
    color: black;
}

/* productlist */

.admin_productlist_select {
    width: 800px;
    display: flex;
    justify-content: space-around;
}

.form-group > .admin_productlist_select > .admin_productlist_search1 > input {
    width: 200px;
}

.admin_productlist_searchbtn {
    display: block;
    margin: 0 auto;
}

.admin_productlist_lowbar, .admin_faq_list_btn {
    text-align: center;
    margin-left: 200px;
    margin-top: 20px;
    
}



/* inquiry */

.admin_inquiry_q1 {
    width: 723px;
    height: 150px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 20px;
}

.admin_inquiry_q2 {
    height: 40px;
    background-color: rgb(201, 201, 201);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.admin_inquiry_datail_q3 {
    height: 110px;
}

.admin_inquiry_q2 > p {
    font-size: 18px;
}

.admin_inquiry_q3 > p, .admin_inquiry_a1 > div > p {
    margin-left: 15px;
    margin-top: 20px;
    font-size: 14px;
}


.admin_inquiry_category1, .admin_inquiry_qtext, .admin_inquiry_atext {
    font-size: 20px;
    font-weight: 600;
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}

.admin_inquiry_category2{
    font-size: 18px;
    width: 100px;
    margin-left: 110px;
}

.admin_inquiry_a1{
    width: 730px;
    height: 250px;
    margin: 0 auto;
}

.admin_inquiry_datail_btn {
    width: 700px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.admin_inquiry_datail_btn1 {
    width: 100px;
    height: 30px;
    font-size: 18px;
    border: none;
    background-color: orange;
}

.admin_inquiry_datail_btn2 {
    width: 100px;
    height: 30px;
    font-size: 18px;
}

.admin_inquiry_datail_btn2 > a {
    color: black;
}

.admin_FAQ_content {
    width: 700px;
    height: 300px;
    margin: 0 auto;
    margin-top: 100px;
    background: #f7f7f7;
}

.admin_FAQ_content_title{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.admin_FAQ_content_text{
    width: 500px;
    margin: 0 auto;
    margin-top: 70px;
    font-size: 20px;
}

.admin_faq_detail_btn {
    margin: 10px auto;
    position: relative;
    left: 1450px;
    width: 200px;
    height: 30px;
    text-align: center;
}
.admin_faq_detail_btn button{
    width:50px;
    height: 25px;
    border: none;
    font-size: 20px;
    margin-top: 10px;
}
.admin_lowbar_btn{
    width: 60px;
    height: 25px;
    font-size: 15px;
}



.admin_inquiry_a2 {
    font-size: 18px;
}
div.j2 {
    font-size: 40px;
    position: relativa;
    width: 400px;
    height: 100px;
    padding-left: 3%;
    padding-top:2%;
} 
div.j3 {
    font-size: 30px;
    position: relative;
    top: -10px;
    right: -50px;
    width: 200px;
    height: 30px;
}
.content2.t_menu{
    padding: auto;
    margin-top: 2px;
}
.review_text{
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 275px;
    position: relative;
    width: 1000px;
    text-align: left;
    height: 400px;
    font-size: 30px;
}

.colortb.tbDetail.rev_detail{
    margin: 20px 0;
}

.t_menu{
    text-align: center;
    padding: auto;
    width: 1000px;
    margin-left: 380px;
}
.t_menu1{
    text-align: center;
    padding-top:80px;
    width: 1400px;
    margin-left: 380px;
    margin-top: 20px;
}
.payment{
    width: auto;
    height: 350px;
}
.btnlist_review{
    position: absolute;
    width: 1200px;
    text-align: right;
}

#select_box {
   margin: 20px 10px;
}

#room_name_info {
    padding: 10px;
}

#sort_box_flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#add_button {
    margin: 0;
    margin-right: 600px;
    font-size: 21px;
    font-weight: 700;
}
#option_p {
    margin-top: 10px;
}
#text_area_flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}
#text_area_flex > p {
    margin-right: 20px;
}
#facility {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}
#facility > .index {
    width: 100px;
}
#facility > div > p {
    margin-bottom: 20px;
}