@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #0098A1;
	--light-green: #00bac4;
	--blue: #1775F1;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;
}

.body {
    background: var(--grey);
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}

/* 사이드바 */

#sidebar {
    position: fixed;
    max-width: 260px;
    width: 100%;
    background: var(--green);
    top:0;
    left:0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    transition: all .3s ease;
    z-index: 200;
    
}
#sidebar img{
    width: 200px;
    padding-top: 20px;
}
#sidebar ::-webkit-scrollbar {
    display: none;
}

#sidebar .active {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#sidebar .icon {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sidebar .icon-right {
    margin-left: auto;
    transition: all .3s ease;
}
#sidebar .side-menu{
    margin: 25px 0;
    padding: 0 20px;
}
#sidebar .side-menu a {
    display: flex;
    align-items: center;
    color: var(--light);
    font-size: 15px;
    padding: 12px 16px 12px 0;
    transition: all .3s ease;
    border-radius: 10px;
    margin: 4px 0;
}

#sidebar .side-menu > li > a:hover{
    background: var(--light-green);
    
}
#sidebar .side-menu > li > a.active .icon-right{
    transform: rotateZ(90deg);
}

#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover{
    background: var(--light);
    color: var(--green);
}


#sidebar .side-dropdown {
    padding-left: 48px;
    max-height: 0;
    overflow-y: hidden;
    transition: all .15s ease;
}
#sidebar .side-dropdown.show{
    max-height: 800px;
}
#sidebar .side-dropdown a:hover{
    color: var(--dark-grey);
}


/* 사이드바 끝*/


/*Content*/
#content {
    position: relative;
    width: calc(100% -260px);
    left: 260px;
}

/* navbar*/
nav {
    background: var(--light);
    width: 87%;
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
    top: 0;
    le
}
nav .toggle-sidebar {
    font-size: 18px;
    cursor: pointer;
}

nav form {
    max-width: 300px;
    width: 100%;
    margin-right: auto;
}

nav .form-group {
    position: relative;
}

nav .form-group input {
    width: 100%;
    background: var(--grey);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all .3s ease;
}
nav .form-group input:focus {
    box-shadow: 0 0 0 1px var(--dark-grey), 0 0 0 4px var(--grey);
}
nav .form-group .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}
nav .nav-link {
    position: relative;
}
nav .nav-link .icon {
    font-size: 18px;
    color: var(--dark);
}
nav .nav-link .badge {
    position: absolute;
    top: -12px;
    right: -px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:  2px solid var(--light);
    background: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    font-size: 10px;
    font-weight: 700;
}
nav .divider {
    width: 1px;
    background: var(--dark-grey);
    height: 12px;
    display: block;
}
nav .profile {
    position: relative;
}
nav .profile a {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}


/* navbar 끝*/
/*Content 끝*/

/*main*/

main {
    width: 85%;
    padding: 24px 20px 20px 20px;
}

main .titile{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px; 
    
}

main .breadcrumbs {
    display: flex;
    grid-gap: 6px;
}

main.breadcrumbs li,
main.breadcrumbs li a {
    font-size: 14px;
}
main.breadcrumbs li a{
    color: var(--blue);
}
main.breadcrumbs li a.active,
main.breadcrumbs li.divider {
    color: var(--dark-grey);
    pointer-events: none;
}
main .info-data{
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
}
main .info-data .card{
    padding: 20px;
    border-radius: 10px;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}
main .card .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
main .card .head h2{
    font-size: 24px;
    font-weight: 600;
}
main .card .head p {
    font-size: 14px;
}
main .card .head .icon{
    font-size: 20px;
    color: var(--green);
}
main .card .head .icon.down{
    color: var(--red);
}
main .card .progress {
    display: block;
    margin-top: 24px;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    background: var(--grey);
    overflow-y: hidden;
    position: relative;
    margin-bottom: 4px;
}
main .card .progress::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--blue);
    width: var(--value);
}
main .card .label{
    font-size: 14px;
    font-weight: 700;
}

/*main끝*/



