<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 | 관리자 상세</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/app/css/admin.css">

</head>
<body>
<!--header-->
<div th:replace="fragement/adminTopbar :: adminTopbar"></div>
<!--header 끝-->
<!-- 사이드바-->
<section id="sidebar">
    <aside id="leftsidebar" class="sidebar">
        <ul class="side-menu">
            <li><a href="#"><i class='bx bxs-user-detail icon'></i>회원관리<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/userList">회원목록</a></li>
                    <li><a href="/Triple/admin/user/term">회원가입</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bx-list-check icon'></i>예약조회<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">

                    <li><a href="/Triple/admin/booking/fly">항공권</a></li>
                    <li><a href="/Triple/admin/booking/lodging">숙소</a></li>
                    <li><a href="/Triple/admin/booking/package">패키지</a></li>

                </ul>
            </li>
            <li><a href="#"><i class='bx bxs-folder-plus icon'></i>신규등록<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown show">
                    <li><a href="/Triple/airline_register">항공사 신규 등록</a></li>
                    <li><a href="/Triple/aircraft_register">항공기 신규 등록</a></li>
                    <li><a href="/Triple/airportList">취항지 목록</a></li>
                    <li><a href="/Triple/destination_register">취항지 신규 등록</a></li>
                    <li><a href="/Triple/lodging_company">숙소 신규 등록</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bxs-inbox icon'></i>상품등록<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/airline_select">항공권</a></li>
                    <li><a href="/Triple/room_register">숙소</a></li>
                    <li><a href="/Triple/package_register">패키지</a></li>

                </ul>
            </li>
            <li><a href="#"><i class='bx bx-list-check icon'></i>상품목록<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/airLineList">항공권</a></li>
                    <li><a href="/Triple/admin/lodgingList">숙소</a></li>
                    <li><a href="/Triple/admin/packageList">패키지</a></li>
                </ul>
            </li>

            </li>
            <li><a href="#"><i class='bx bxs-coupon icon'></i>쿠폰<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/couponList">목록</a></li>
                    <li><a href="/Triple/admin/coupon/register">등록</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bx-gift icon'></i>이벤트<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/eventList">목록</a></li>
                    <li><a href="/Triple/admin/event/register">등록</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bx-list-ul icon'></i>공지사항<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/noticeList">목록</a></li>
                    <li><a href="/Triple/admin/notice/register">등록</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bxs-inbox icon'></i>매거진<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/magazineList">목록</a></li>
                    <li><a href="/Triple/admin/magazine_register">등록</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bx-map icon'></i>여행스팟<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/spotList">목록</a></li>
                    <li><a href="/Triple/tourism_register">관광지 등록</a></li>
                    <li><a href="/Triple/restaurant_register">맛집 등록</a></li>
                    <li><a href="/Triple/guide_register">가이드 등록</a></li>
                </ul>
            </li>
            <li><a href="/Triple/admin/payment"><i class='bx bx-credit-card icon'></i>결제</a>

            </li>
            <li><a href="#"><i class='bx bx-question-mark icon'></i>문의<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/inquiryList">1:1 문의</a></li>
                    <li><a href="/Triple/admin/faqList">FAQ</a></li>
                </ul>
            </li>
            <li><a href="#" style="background-color: white; color:#0098A1;"><i class='bx bx-user icon'></i>관리자 관리<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/adminList" style="color:darkslategray; font-weight: bold;">목록</a></li>
                    <li><a href="/Triple/admin/admin_join">등록</a></li>
                </ul>
            </li>
            <li><a href="/Triple/admin/admin_login"><i class='bx bx-log-out icon'></i>로그아웃</a></li>
        </ul>
    </aside>
</section>
<!--사이드바 끝-->
<section class="content2">
    <div class="content2-fluid">
        <!--타이틀-->
        <div class="header_box">
            <h2>관리자 상세정보</h2>
        </div>
        <!--타이틀 끝-->
        <!--관리자 정보 입력-->
        <form action="#" class="regForm" id="regForm">
            <div class="admin_manage_form_container">
                <div class="admin_manage_form_container_ul1">
                    <p class="admin_register_item">아이디 </p>
                    <p class="admin_register_item">이름 </p>
                    <p class="admin_register_item">연락처 </p>
                    <p class="admin_register_item">이메일 </p>
                </div>
                <div class="admin_manage_form_container_ul2">
                    <p class="admin_register_box">
                        <input type="hidden" id="idx" name="idx" th:value="${adminUser.idx}">
                        <input type="hidden" id="status" name="status" th:value="${adminUser.getStatus()}">
                        <input type="hidden" id="regDate" name="regDate" th:value="${adminUser.getRegDate()}">
                        <input type="text" name="userid" id="userid" class="admin_register_adminid_content" th:value="${adminUser.userid}" style="width: 100%;" readonly>
                    </p>
                    <p><input type="name" name="name" id="name" class="admin_register_name_content" placeholder="이름을 입력하세요" th:value="${adminUser.name}"></p>
                    <p><input type="hp" name="hp" id="hp" class="admin_register_hp_content" placeholder="전화번호를 입력하세요" th:value="${adminUser.hp}"></p>
                    <p><input type="email" name="email" id="email" class="admin_register_email_content" placeholder="이메일을 입력하세요" th:value="${adminUser.email}"></p>
                </div>
                <div class="admin_manage_form_container_ul3">
                    <p class="admin_register_item">비밀번호 </p>
                    <p class="admin_register_item">비밀번호 확인 </p>
                    <p class="admin_register_item">부서 </p>
                    <p class="admin_register_item">직함 </p>
                </div>
                <div class="admin_manage_form_container_ul4">
                    <p><input type="password" name="userpw" id="userpw" class="admin_register_adminpw_content" placeholder="비밀번호를 입력하세요" th:value="${adminUser.userpw}"></p>
                    <p><input type="password" name="userpw_re" id="userpw_re" class="admin_register_adminpwre_content" placeholder="비밀번호를 확인해주세요"></p>
                    <p>
                        <select name="department" id="department" class="admin_register_department_content" required th:value="${adminUser.department}">
                            <option value="" disabled>전체</option>
                            <option value="관리자">관리자</option>
                            <option value="영업">영업</option>
                            <option value="마케팅">마케팅</option>
                        </select>
                    </p>
                    <p>
                        <select name="position" id="position" class="admin_register_title_content" required th:value="${adminUser.position}">
                            <option value="" disabled>전체</option>
                            <option value="대표">대표</option>
                            <option value="팀장">팀장</option>
                            <option value="부장">부장</option>
                            <option value="차장">차장</option>
                            <option value="대리">대리</option>
                            <option value="주임">주임</option>
                            <option value="사원">사원</option>
                        </select>
                    </p>
                </div>
            </div>
            <div class="btnlist">
                <input type="button" value="수정" class="change_btn" id="sendit_modify">
                <input type="button" value="취소" class="btn" onclick="location.href='/Triple/adminList'">
                <a th:href="'/Triple/adminList/delete/'+${adminUser.getIdx()}">
                    <input type="button" value="삭제" class="btn" id="delete">
                </a>
            </div>
        </form>
    </div>
</section>

<!-- modify Js -->
<script src="/app/js/admin/manage_revise.js"></script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<!-- delete Js -->
<script src="/app/js/admin/delete.js"></script>
<script src="/app/js/script.js"></script>

</body>
</html>