<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 항공권 예약</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/app/css/fly.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <!--header 시작-->
    <div th:replace="fragement/header :: header"></div>
    <!--header 끝-->
    <div id="container">
        <div class="title">
        <p class="fly_title">쉽고 빠르게, 트리플 항공권 예약</p></div>
        <!--항공권 검색 박스-->
        <form action="/Triple/flightList">
        <div class="flybox" id="flybox">
            <p class="flybtnlist">
                <a><input type="button" value="왕복" class="flybtn flybtn1" onclick="change()"></a>
                <a><input type="button" value="편도" class="flybtn flybtn2" onclick="change2()"></a>
            </p>
            <ul>
                <li>
                    <img src="/lib/img/fly_img/flying-airplane.png" alt="">
                    <input type="text" class="flylist icon1" placeholder="출발 도시">
                    
                </li>
                <li>
                    <img src="/lib/img/fly_img/map-point-pointer.png" alt="" style="width: 22px; padding-left: 3px;">
                    <input type="text" class="flylist icon2" placeholder="도착 도시">
                </li>
                <li>
                    <img src="/lib/img/fly_img/office-monthly-calendar.png" alt="">
                    <input type="text" class="flylist icon3 round1" placeholder="가는날" id="datepicker1">
                    <input type="text" class="flylist icon3 round2" placeholder="오는날" id="datepicker2">
                    <input type="text" id="datepicker" class="flylist icon3 oneway" hidden placeholder="가는날">

                </li>
                <li>
                    <img src="/lib/img/fly_img/messenger-user-avatar.png" alt="" style="width: 24px; padding-left: 2px;">
                    <div class="flylist icon4" onclick="">
                        <p>탑승객 <span class="personNum">1</span>명, <span class="seatSr">일반석</span><span class="seatCnt"> 외 1</span></p>
                    </div>
                    
                </li>
                <li>
                    <a href="list.html">
                        <input type="submit" class="flysearch" value="항공권 검색"></input>
                    </a>
                </li>
            </ul>
            <!--항공권 검색 박스 인원조회 팝업-->
            <div class="popbox">
                <div class="airpop" id="airpop">
                    <p class="boxtit">인원 및 좌석등급</p>
                    <div>
                        <span>- 총 9명까지만 한번에 검색 및 예약 가능</span>
                    </div>
                    <div>
                        <span>- 성인 1인당 유아 1인까지 동반 탑승 가능</span>
                    </div>
                    <div>
                        <span>- 만 2세 미만의 유아라도 별도 좌석에 탑승하려면 소아로 선택해주세요.</span>
                    </div>
                    <!--인원 설정-->
                    <div class="div">
                        <div style="float: left;"><p class="boxtit">성인</p>
                            <span>만 12세 이상 (국내선 만 13세 이상)</span>
                        </div>
                        <div style="float: right;">
                            <img src="/lib/img/fly_img/minus.png" alt="" onclick='count1("minus")'>
                            <span class="result1">0</span>
                        <img src="/lib/img/fly_img/plus.png" alt="" onclick='count1("plus")'>
                    </div>
                    </div>
                    <div class="div" style="clear: both;">
                        <div style="float: left;">
                            <p class="boxtit">소아</p>
                            <span>만 2세~만 12세 미만(국내선 만 13세 미만)</span>
                        </div>
                        <div style="float: right;">
                            <img src="/lib/img/fly_img/minus.png" alt="" onclick='count2("minus")'>
                            <span class="result2">0</span>
                            <img src="/lib/img/fly_img/plus.png" alt="" onclick='count2("plus")'>
                        </div>
                    </div>
                    <div class="div">
                        <div style="float: left;">
                            <p class="boxtit">유아</p>
                            <span>만 2세 미만, 보호자와 동반착석</span>
                        </div>
                        <div style="float: right;">
                            <img src="/lib/img/fly_img/minus.png" alt="" onclick='count3("minus")'>
                            <span class="result3">0</span>
                            <img src="/lib/img/fly_img/plus.png" alt="" onclick='count3("plus")'>
                        </div>
                    </div>
                    <!--인원 설정 끝-->
                    <!--좌석 선택-->
                    <div class="pbox">
                        <div class="p">
                            <label for="economy">
                                <p class="boxtit">일반석</p><input type="checkbox" name="seat" id="economy">
                            </label>
                        </div>
                        <div class="p">
                            <label for="pr_economy">
                                <p class="boxtit">프리미엄 일반석</p>
                                <input type="checkbox" name="seat" id="pr_economy">
                            </label>
                        </div>
                        <div class="p">
                            <label for="business">
                                <p class="boxtit">비즈니스석</p>
                                <input type="checkbox" name="seat" id="business">
                            </label>
                        </div>
                        <div class="p">
                            <label for="first">
                                <p class="boxtit">일등석</p>
                                <input type="checkbox" name="seat" id="first">
                            </label>
                        </div>
                        <div>
                            <button class="close" onclick="close()">선택완료</button>
                        </div>
                    </div>
                    <!--좌석 선택 끝-->
                </div>
            </div>
            <!--항공권 검색 박스 인원조회 팝업 끝-->
        </div>
        </form>
        <!--항공권 검색 박스 끝-->
        <!--특가 항공권 전체-->
        <div id="cheapbox">
            <!--해외 특가 항공권-->
            <div class="cheap">
                <p class="fly_subtitle">해외 특가 항공권</p>
                <div class="special">
                    
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>오사카(직항)</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>오사카(직항)</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>오사카(직항)</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>오사카(직항)</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>오사카(직항)</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>오사카(직항)</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                
                    <div class="imgbox">
                        <p>220,100원</p>
                        
                        <p>오사카(직항)</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>오사카(직항)</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>오사카(직항)</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>오사카(직항)</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                </div>
            </div>
            <!--해외 특가 항공권 끝-->
            <!--국내 특가 항공권-->
            <div class="cheap" >
                <p class="fly_subtitle">국내 특가 항공권</p>
                <div class="special">
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>제주</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>제주</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>제주</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>제주</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>제주</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>제주</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>제주</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>제주</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>제주</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                
                    <div class="imgbox">
                        <p>220,100원</p>
                        <p>제주</p>
                        <p>7.8(금)-7.11(월)</p>
                    </div>
                </div>
            </div>
            <!--국내 특가 항공권 끝-->
        </div>
        <!--전체 특가 항공권 끝-->
    </div>

    <!--footer 시작-->
    <footer>
        <div id="enterprise_info">
            <div id="enterprise_info_text">
                <p id="bold">트리플 사업자 정보</p>
                <p>(주)트리플은 통신판매중개로서 통신판매의 당사자가 아니며 상품 거래정보 및 거래등에 대해 책임을 지지 않습니다.</p>
                <p>항공, 숙소 및 투어, 티켓문의 1588-0000</p>

                <p><a href="#">서비스이용약관</a>|<a href="#">개인정보 처리방침</a>|<a href="#">회사 소개</a>|<a href="#">고객센터</a></p>
            </div>
            <div id="icon_box">
                <div id="sns_box">
                    <div><a href="#"><img src="/lib/img/btn-social-blog@3x.png" alt="SNS"></a></div>
                    <div><a href="#"><img src="/lib/img/btn-social-insta@3x.png" alt="SNS"></a></div>
                    <div><a href="#"><img src="/lib/img/btn-social-fb@3x.png" alt="SNS"></a></div>
                    <div><a href="#"><img src="/lib/img/btn-social-brunch@3x.png" alt="SNS"></a></div>
                </div>
                <div id="TRIP"><a href="#"><img src="/lib/img/footer_TRIP.png" alt="TRIP"></a></div>
            </div>
        </div>
    </footer>
    <!--footer 끝-->
<!--footer 끝-->
    <script src="/static/app/js/flyScript.js"></script>
    <script>


        $(function(){
           $('#datepicker').datepicker();
        })


        $(function() {
        $("#datepicker1, #datepicker2").datepicker({
            dateFormat: 'yy.mm.dd'
        });
    });

    

  </script>
</body>
</html>