<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 항공예약</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/app/css/fly.css">
    <link rel="stylesheet" href="/app/css/common.css">
</head>
<body>
    <!--header 시작-->
    <div th:replace="fragement/header :: header"></div>
    <!--header 끝-->
    <div id="container">
        <div class="title">
            <p class="fly_title">왕복 예약하기</p>
            <!--상단 박스-->
            <div class="tbox">
                <!--선택한 항공편 확인-->
                <div class="leftbox">
                    <div class="flyinfopay">
                        <p>가는편</p>
                        <p class="fly_subtitle" th:text="${departureFlight.getDepartureAirport()} + ' - ' + ${departureFlight.getLandingAirport()} + ' 항공편'"></p>
                        <div>
                            <p class="pleft">날짜<span class="pright" th:text="${departureFlight.getDepartureTime()} + ' ' + ${departureFlight.getLandingTime()}"></span></p>
                            <p class="pleft">인원 및 등급<span class="pright" th:text="'성인' + ${adultNum} + ', 소아' + ${childNum} + ', 유아' + ${infantNum} + ' ' + ${seatClass}"></span></p>
                            <p class="pleft">발권 항공사<span class="pright" style="margin-bottom: 20px;" th:text="${departureFlight.getAirlineName()}"></span></p>
                        </div>
                    </div>
                </div>

                <!--선택한 항공편 확인 끝-->
                <!--상세요금 보기-->
                <div class="rightbox">
                    <div class="paydetail">
                        <h3  onmouseover="paydetail()" onmouseleave="payout()">상세요금 보기</h3>
                            <!--상세요금 팝업-->
                            <div class="smallpayShow" hidden>
                                <h2>요금 상세 정보</h2>
                                    <p style="font-size: 13px; margin-top: 10px; color: #468cd3;" th:text="'성인' + ${adultNum} + ', 소아' + ${childNum} + ', 유아' + ${infantNum} + ${seatClass}"></p>
                                    <div th:if="${seatClass == 'premium'}">
                                    <div>
                                        <div class="flex"><p th:text="'성인 x ' + ${adultNum}"></p><p th:text="${adultNum} * (${departureFlight.getPremiumAdultPrice()} + ${comebackFlight.getPremiumAdultPrice()}) + '원'"></p></div>
                                        <div class="flex"><p th:text="'소아 x ' + ${childNum}"></p><p th:text="${childNum} * (${departureFlight.getPremiumChildPrice()} + ${comebackFlight.getPremiumChildPrice()}) + '원'"></p></div>
                                        <div class="flex"><p th:text="'유아 x ' + ${infantNum}"></p><p th:text="${infantNum} * (${departureFlight.getPremiumInfantPrice()} + ${comebackFlight.getPremiumInfantPrice()}) + '원'"></p></div>
                                        <div class="flex"><p th:text="'총요금 ' + ${adultNum} * (${departureFlight.getPremiumAdultPrice()} + ${comebackFlight.getPremiumAdultPrice()}) + ${childNum} * (${departureFlight.getPremiumChildPrice()} + ${comebackFlight.getPremiumChildPrice()}) + ${infantNum} * (${departureFlight.getPremiumInfantPrice()} + ${comebackFlight.getPremiumInfantPrice()}) + '원'"></p></div>
                                    </div>
                                    <div class="tot">
                                        <p>최종 결제금액</p> 
                                        <p th:text="${adultNum} * (${departureFlight.getPremiumAdultPrice()} + ${comebackFlight.getPremiumAdultPrice()}) + ${childNum} * (${departureFlight.getPremiumChildPrice()} + ${comebackFlight.getPremiumChildPrice()}) + ${infantNum} * (${departureFlight.getPremiumInfantPrice()} + ${comebackFlight.getPremiumInfantPrice()}) + '원'"></p>
                                    </div>
                                    </div>
                                <div th:if="${seatClass == 'first'}">
                                <div>
                                    <div class="flex"><p th:text="'성인 x ' + ${adultNum}"></p><p th:text="${adultNum} * (${departureFlight.getFirstAdultPrice()} + ${comebackFlight.getFirstAdultPrice()}) + '원'"></p></div>
                                    <div class="flex"><p th:text="'소아 x ' + ${childNum}"></p><p th:text="${childNum} * (${departureFlight.getFirstChildPrice()} + ${comebackFlight.getFirstChildPrice()}) + '원'"></p></div>
                                    <div class="flex"><p th:text="'유아 x ' + ${infantNum}"></p><p th:text="${infantNum} * (${departureFlight.getFirstInfantPrice()} + ${comebackFlight.getFirstInfantPrice()}) + '원'"></p></div>
                                    <div class="flex"><p th:text="'총요금 ' + ${adultNum} * (${departureFlight.getFirstAdultPrice()} + ${comebackFlight.getFirstAdultPrice()}) + ${childNum} * (${departureFlight.getFirstChildPrice()} + ${comebackFlight.getFirstChildPrice()}) + ${infantNum} * (${departureFlight.getFirstInfantPrice()} + ${comebackFlight.getFirstInfantPrice()})"></p></div>
                                </div>
                                <div class="tot">
                                    <p>최종 결제금액</p>
                                    <p th:text="${adultNum} * (${departureFlight.getFirstAdultPrice()} + ${comebackFlight.getFirstAdultPrice()}) + ${childNum} * (${departureFlight.getFirstChildPrice()} + ${comebackFlight.getFirstChildPrice()}) + ${infantNum} * (${departureFlight.getFirstInfantPrice()} + ${comebackFlight.getFirstInfantPrice()}) + '원'"></p>
                                </div>
                                </div>
                                <div th:if="${seatClass == 'business'}">
                                <div>
                                    <div class="flex"><p th:text="'성인 x ' + ${adultNum}"></p><p th:text="${adultNum} * (${departureFlight.getBusinessAdultPrice()} + ${comebackFlight.getBusinessAdultPrice()}) + '원'"></p></div>
                                    <div class="flex"><p th:text="'소아 x ' + ${childNum}"></p><p th:text="${childNum} * (${departureFlight.getBusinessChildPrice()} + ${comebackFlight.getBusinessChildPrice()}) + '원'"></p></div>
                                    <div class="flex"><p th:text="'유아 x ' + ${infantNum}"></p><p th:text="${infantNum} * (${departureFlight.getBusinessInfantPrice()} + ${comebackFlight.getBusinessInfantPrice()}) + '원'"></p></div>
                                    <div class="flex"><p th:text="'총요금 ' + ${adultNum} * (${departureFlight.getBusinessAdultPrice()} + ${comebackFlight.getBusinessAdultPrice()}) + ${childNum} * (${departureFlight.getBusinessChildPrice()} + ${comebackFlight.getBusinessChildPrice()}) + ${infantNum} * (${departureFlight.getBusinessInfantPrice()} + ${comebackFlight.getBusinessInfantPrice()})"></p></div>
                                </div>
                                <div class="tot">
                                    <p>최종 결제금액</p>
                                    <p th:text="${adultNum} * (${departureFlight.getBusinessAdultPrice()} + ${comebackFlight.getBusinessAdultPrice()}) + ${childNum} * (${departureFlight.getBusinessChildPrice()} + ${comebackFlight.getBusinessChildPrice()}) + ${infantNum} * (${departureFlight.getBusinessInfantPrice()} + ${comebackFlight.getBusinessInfantPrice()}) + '원'"></p>
                                </div>
                                </div>
                                <div th:if="${seatClass == 'economy'}">
                                <div >
                                    <div class="flex"><p th:text="'성인 x ' + ${adultNum}"></p><p th:text="${adultNum} * (${departureFlight.getEconomyAdultPrice()} + ${comebackFlight.getEconomyAdultPrice()}) + '원'"></p></div>
                                    <div class="flex"><p th:text="'소아 x ' + ${childNum}"></p><p th:text="${childNum} * (${departureFlight.getEconomyChildPrice()} + ${comebackFlight.getEconomyChildPrice()}) + '원'"></p></div>
                                    <div class="flex"><p th:text="'유아 x ' + ${infantNum}"></p><p th:text="${infantNum} * (${departureFlight.getEconomyInfantPrice()} + ${comebackFlight.getEconomyInfantPrice()}) + '원'"></p></div>
                                    <div class="flex"><p th:text="'총요금 ' + ${adultNum} * (${departureFlight.getEconomyAdultPrice()} + ${comebackFlight.getEconomyAdultPrice()}) + ${childNum} * (${departureFlight.getEconomyChildPrice()} + ${comebackFlight.getEconomyChildPrice()}) + ${infantNum} * (${departureFlight.getEconomyInfantPrice()} + ${comebackFlight.getEconomyInfantPrice()})"></p></div>
                                </div>
                                <div class="tot">
                                    <p>최종 결제금액</p>
                                    <p th:text="${adultNum} * (${departureFlight.getEconomyAdultPrice()} + ${comebackFlight.getEconomyAdultPrice()}) + ${childNum} * (${departureFlight.getEconomyChildPrice()} + ${comebackFlight.getEconomyChildPrice()}) + ${infantNum} * (${departureFlight.getEconomyInfantPrice()} + ${comebackFlight.getEconomyInfantPrice()}) + '원'"></p>
                                </div>
                                </div>
                            </div>
                            <!--상세요금 팝업 끝-->
                        <p class="paydetail2">상기 요금은 유류할증료 및 제세공과금을 포함한 총액요금이며, 유류할증료 및 제세공과금은 유가와 환율에 따라 변동 가능합니다.</p>
                    </div>
                </div>
                <!--상세요금 보기 끝-->
                <div class="leftbox">
                    <div class="flyinfopay">
                        <p>오는편</p>
                        <p class="fly_subtitle"  th:text="${comebackFlight.getDepartureAirport()} + ' - ' + ${comebackFlight.getLandingAirport()} + ' 항공편'"></p>
                        <div>
                            <p class="pleft">날짜<span class="pright" th:text="${comebackFlight.getDepartureTime()} + ' ' + ${comebackFlight.getLandingTime()}"></span></p>
                            <p class="pleft">인원 및 등급<span class="pright" th:text="'성인' + ${adultNum} + ', 소아' + ${childNum} + ', 유아' + ${infantNum} + ${seatClass}"></span></p>
                            <p class="pleft">발권 항공사<span class="pright" style="margin-bottom: 20px;" th:text="${comebackFlight.getAirlineName()}"></span></p>
                        </div>
                    </div>

                    <p class="pleft">총 결제금액
                        <span class="pright" th:if="${seatClass == 'premium'}" th:text="${adultNum} * (${departureFlight.getPremiumAdultPrice()} + ${comebackFlight.getPremiumAdultPrice()}) + ${childNum} * (${departureFlight.getPremiumChildPrice()} + ${comebackFlight.getPremiumChildPrice()}) + ${infantNum} * (${departureFlight.getPremiumInfantPrice()} + ${comebackFlight.getPremiumInfantPrice()}) + '원'"></span>
                        <span class="pright" th:if="${seatClass == 'first'}" th:text="${adultNum} * (${departureFlight.getFirstAdultPrice()} + ${comebackFlight.getFirstAdultPrice()}) + ${childNum} * (${departureFlight.getFirstChildPrice()} + ${comebackFlight.getFirstChildPrice()}) + ${infantNum} * (${departureFlight.getFirstInfantPrice()} + ${comebackFlight.getFirstInfantPrice()}) + '원'"></span>
                        <span class="pright" th:if="${seatClass == 'business'}" th:text="${adultNum} * (${departureFlight.getBusinessAdultPrice()} + ${comebackFlight.getBusinessAdultPrice()}) + ${childNum} * (${departureFlight.getBusinessChildPrice()} + ${comebackFlight.getBusinessChildPrice()}) + ${infantNum} * (${departureFlight.getBusinessInfantPrice()} + ${comebackFlight.getBusinessInfantPrice()}) + '원'"></span>
                        <span class="pright" th:if="${seatClass == 'economy'}" th:text="${adultNum} * (${departureFlight.getEconomyAdultPrice()} + ${comebackFlight.getEconomyAdultPrice()}) + ${childNum} * (${departureFlight.getEconomyChildPrice()} + ${comebackFlight.getEconomyChildPrice()}) + ${infantNum} * (${departureFlight.getEconomyInfantPrice()} + ${comebackFlight.getEconomyInfantPrice()}) + '원'"></span>
                    </p>
                </div>
            </div>
            <!--상단 박스 끝-->
        </div>
        
        <form th:action="@{/api/roundReservation/save}" name="regform" method="post" onsubmit="return sendit()">
            <!--예약자 정보 입력-->
            <!--예약자 정보 입력 끝-->
            <!--하단 예약정보 입력-->
            <div class="bbox"  style="display: block;">
                <div th:each="count : ${countList}">
                    <input type="hidden" th:value="${departureFlight.getIdx()}" th:name="'infoList['+ ${count.getId()-1} + '].departureTicketId'" >
                    <input type="hidden" th:value="${comebackFlight.getIdx()}" th:name="'infoList['+ ${count.getId()-1} + '].comebackTicketId'" >
                    <input type="hidden" th:value="${session.email}" th:name="'infoList['+ ${count.getId()-1} + '].email'" >
                    <input type="hidden" th:value="${count.getAgeType()}" th:name="'infoList['+ ${count.getId()-1} + '].ageType'" >
                    <input type="hidden" th:value="${seatClass}" th:name="'infoList['+ ${count.getId()-1} + '].seatClass'">
                <!--탑승객 정보 입력-->
                <div class="leftb">
                    <p class="title">탑승객 정보<span th:text="'티켓' + ${count.getId()} + ' ' + ${count.getAgeType()} "></span></p>
                    <div class="inLRbox">
                        <div class="inLeft">
                            <p class="box_title">영문성</p>
                            <input type="text" id="lastname" th:name="'infoList['+ ${count.getId()-1} + '].engLastname'" placeholder="HONG">
                            <p class="btSm">예약 후 변경 불가</p>
                        </div>
                        <div class="inRight">
                            <p class="box_title">영문이름</p>
                            <input type="text" id="firstname" th:name="'infoList['+ ${count.getId()-1} + '].engFirstname'" placeholder="GILDONG">
                            <p class="btSm">예약 후 변경 불가</p>
                        </div>
                        <div class="inRight">
                            <p class="box_title">탑승자 한글이름</p>
                            <input type="text" id="name" th:name="'infoList['+ ${count.getId()-1} + '].passengerName'" placeholder="홍길동" style="margin-left: 10px;">
                            <p class="btSm">예약 후 변경 불가</p>
                        </div>
                    </div>
                    <div class="inLRbox">
                        <div class="inLeft inLeft1">
                            <p class="box_title">생년월일</p>
                            <input type="text" id="birth" th:name="'infoList['+ ${count.getId()-1} + '].birth'" placeholder="2000-06-01">
                            <p class="btSm">예약 후 변경 불가</p>
                        </div>
                        <div class="inRight">
                            <p class="box_title">성별</p>
                            <div class="label_box gender">
                                <label th:for="'man'+${count.getId()}" ><input type="radio" th:name="'infoList['+ ${count.getId()-1} + '].gender'" th:id="'man'+${count.getId()}" value="남자">남자</label>
                                <label th:for="'female'+${count.getId()}"><input type="radio" th:name="'infoList['+ ${count.getId()-1}+ '].gender'" th:id="'female'+${count.getId()}" value="여자">여자</label>
                            </div>
                            <p class="btSm gender">예약 후 변경 불가</p>
                        </div>
                    </div>
                    <div class="inLRbox">
                        <div class="inLeft">
                            <p class="box_title">휴대전화번호 (선택)</p>
                                <input type="text" id="ph_choice" th:name="'infoList['+ ${count.getId()-1} + '].useHp'" placeholder="-빼고 숫자만 입력">
                        </div>
                    </div>
                </div>
                <!--탑승객 정보 입력 끝-->
                <!--여권정보 입력-->
                <div class="rightb">
                    <p class="title">여권정보</p>
                    <div class="inLRbox">
                        <div class="inLeft">
                            <p class="box_title">국적</p>
                            <select th:name="'infoList['+ ${count.getId()-1} + '].nationality'" id="nationality" aria-placeholder="대한민국">
                                <option value="대한민국">대한민국</option>
                                <option value="일본">일본</option>
                                <option value="중국">중국</option>
                            </select>
                        </div>
                        <div class="inRight">
                            <p class="box_title">여권번호</p>
                            <input type="text" id="passportNum" th:name="'infoList['+ ${count.getId()-1} + '].passportNum'" placeholder="영문/숫자만 입력">
                            
                        </div>
                    </div>
                    <div class="inLRbox">
                        <div class="inLeft inLeft1">
                            <p class="box_title">여권 만료일</p>
                            <input type="text" id="passportDate" th:name="'infoList['+ ${count.getId()-1} + '].passportExp'" placeholder="YYYYMMDD">
                            <p class="btSm">예약 후 변경 불가</p>
                        </div>
                        
                        <div class="inRight inRight1">
                            <p class="box_title">여권 발행국</p>
                                <select th:name="'infoList['+ ${count.getId()-1} + '].passportCountry'" id="passportCountry">
                                    <option value="대한민국">대한민국</option>
                                    <option value="일본">일본</option>
                                    <option value="중국">중국</option>
                                </select>
                        </div>
                    </div>
                    <div class="cont">
                        <p>미국 경유/도착 시 안내 사항</p>
                        <p>미국을 경유하거나, 미국에 도착하는 승객은 반드시 미국내 체류지 정보, 탑승객별(성인/소아) 전화번호를 출국 72시간 전까지 내 예약 상세페이지에서 입력하셔야 합니다.</p>
                        <p>예약자 비상연락처에는 예약처/탑승객에 포함되지 않은 제 3자 전화번호로 입력하셔야 합니다.</p>
                        <p>미입력하거나 잘못 입력시 입국이 거절 되거나 벌금이 부과될 수 있습니다.</p>
                    </div>
                </div>
                <!--여권정보 입력 끝-->
                </div>
            </div>
            <!--하단 예약정보 입력 끝-->

            <div class="lastbox lastbox2">
                <!--항공사 규정안내 체크-->
                <div class="contag">
                    <p>
                        <label for="check1"><a href="#">항공사 운임 규정 (변경,환불 및 수하물 정보 등)</a>을 모두 읽었으며 이에 동의합니다<input type="checkbox" name="check" id="check1"></label>
                    </p>
                    <p>
                        <label for="check2"><a href="#">트리플 예약규정</a>, <a href="#">개인정보 수집 및 이용</a>, <a href="#">개인정보 제 3자 제공</a>을 모두 읽었으며 이에 동의합니다<input type="checkbox" name="check" id="check2"></label>
                    </p>
                    
                </div>
                <!--항공사 규정안내 체크 끝-->
                <div class="conbtn">
                    <input type="submit" value="예약하기">
                </div>

        </div>
    </form>
</div>
    <!-- footer 시작 -->
    <footer th:replace="fragement/footer :: footer"></footer>
    <!-- footer 끝 -->

    <script src="/app/js/form.js"></script>
<script>
        let  boxshow = document.querySelector(".smallpayShow");
let showBox = true;
function paydetail(){
        boxshow.style.display = "block";
        showBox = true;
}
function payout(){
    boxshow.style.display = "none";
    showBox = false;
}
    </script>
</body>
</html>