<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 항공편 정보</title>
    <link rel="stylesheet" href="/app/css/fly.css">
    <link rel="stylesheet" href="/app/css/common.css">
</head>
<body>
    <!--header 시작-->
    <div th:replace="fragement/header :: header"></div>
    <!--header 끝-->
    <div id="container">
        <div class="title">
            <p class="fly_title">선택한 항공편 정보</p>
        </div>
        <!--선택한 항공권-->
        <div class="comtofly">
            <div class="flyinfoBox">
                <div class="infoMiniTit">
                    <p>가는편 ICN - GUM</p>
                    <span>제주항공</span>
                </div>
                <div class="flytimebox">
                <div class="flyinfoTime">
                    <p class="pblue">09:00 | 7.2(토)</p>
                    <span class="infoCent">직항 4시간 30분</span>
                    <p class="pblue2">14:30 | 7.2(토)</p>
                </div>
                <div class="infoImg" style="text-align: center;">
                    <img src="/lib/img/fly_img/line.png" alt="line" style="display: block; margin:auto;">
                </div>
                <div class="flyinfoPlace">
                    <p class="pblue">서울출발</p>
                    <p class="pblue2">괌도착</p>
                    <p class="airport">(인천국제공항 ICN) <span>(앤토니오 B. 원 팻 국제공항 GUM)</span></p>
                
                    </div>
                </div>
            </div>
            <!--선택한 항공권 정보-->
            <div class="chinfo">
                <div>
                    <img src="/lib/img/fly_img/jejuair.svg" alt="">
                </div>
                <div>
                    <p>제주항공 7C3102</p><p>4시간 30분 비행</p> 
                    <p>무료 위탁수화물 1개 일반석</p>
                </div>
            </div>
            <!--선택한 항공권 정보 끝-->
        </div>
        <!--선택한 항공권 끝-->
        <!--선택한 항공권 -->
        <div class="comtofly">
            <div class="flyinfoBox">
                <div class="infoMiniTit">
                    <p>오는편 GUM - ICN</p>
                    <span>제주항공</span>
                </div>
                <div class="flytimebox">
                    <div class="flyinfoTime">
                        <p class="pblue">16:00 | 7.4(월)</p>
                        <span class="infoCent">직항 4시간 50분</span>
                        <p class="pblue2">19:50 | 7.4(월)</p>
                    </div>
                    <div class="infoImg" style="text-align: center;">
                        <img src="/lib/img/fly_img/line.png" alt="line" style="display: block; margin:auto;">
                    </div>
                    <div class="flyinfoPlace">
                        <p class="pblue">괌출발</p>
                        <p class="pblue2">서울도착</p>
                        <p class="airport">(앤토니오 B. 원 팻 국제공항 GUM)<span>(인천국제공항 ICN) </span></p>
                    </div>
                </div>
            </div>
            <!--선택한 항공권 정보-->
            <div class="chinfo">
                <div>
                    <img src="/lib/img/fly_img/jejuair.svg" alt="">
                </div>
                <div>
                    <p>제주항공 7C3102</p><p>4시간 30분 비행</p> <p>무료 위탁수화물 1개 일반석</p>
                </div>
            </div>
            <!--선택한 항공권 정보 끝-->
        </div>
        <!--선택한 항공권 끝-->
        <!--요금 안내 및 예약-->
        <div class="totalPrice">
            <div class="inner">
                <p >1인, 할인/세금포함 <span>559,000원</span></p>
                <div class="flex">
                    <p onmouseover="paydetail()" onmouseleave="payout()">상세요금</p>
                    <p style="margin: 0;"> 542,300원</p>
                </div>
                <!--상세요금-->
                <div class="payShow" hidden>
                    <h4>요금 상세 정보</h4>
                        <p style="font-size: 15px; margin-top: 10px; color: #468cd3;">성인 1명</p>
                        <div>
                            <div class="flex"><p>항공요금 x 1</p> <p>284,500원</p></div>
                            <div class="flex"><p>유류할증료 x 1</p> <p>198,600원</p></div>
                            <div class="flex"><p>제세공과금 x 1</p> <p>58,200원</p></div>
                            <div class="flex"><p>발권수수료 x 1</p> <p>0원</p></div>
                            <div class="flex"><p>성인 총 요금</p> <p style="font-weight: 600;">542,300원</p></div>
                        </div>
                        <div class="tot"><p>최종 결제금액</p> <p>542,300원</p></div>
                </div>
                <!--상세요금 끝-->
                <p style="padding-top: 55px;">
                    <input type="button" value="성인1">
                    <a href="flight_reservation.html">
                        <input type="button" value="예약하기">
                    </a>
                </p>
            </div>
        </div>
        <!--요금 안내 및 예약 끝-->
        <!--수하물 규정안내-->
        <div class="flyseurchNotice">
            <p style="font-weight: bold; font-size: 16px; margin-bottom: 0; color: #666666;">운임 및 수하물 규정</p>
            <p>유류할증료와 TAX는 항공사 사정 및 환율 변동에 의해 매일 변경되며, 발권시점의 환율에 따라 적용됩니다</p>
            <div>
                <p style=" font-weight: bold; margin-bottom: 0; font-size: 16px; color: #666666;">항공사 운임 및 수하물 규정</p>
                <p style="font-size: 14px; font-weight: normal; margin: 0; color: black;">전체 여정에 상이한 운임 규정이 적용되었습니다. 항목 별로 가장 제한적인 규정이 적용됩니다.</p>
                <p style="font-size: 14px; font-weight: normal; margin: 0; color: black;">선택하신 항공편에 따라, 운임규정이 항공사 규정 원문인 영문으로만 제공될 수도 있습니다.</p>
                <p style="font-size: 14px; font-weight: normal; margin: 0; color: black;">관련 문의는 트리플 고객센터로 연락주시기 바랍니다.</p>
            </div>
        </div>
        <!--수하물 규정안내 끝-->
    </div>
    <!-- footer 시작 -->
    <footer th:replace="fragement/footer :: footer"></footer>
    <!-- footer 끝 -->

    <script>
        let  boxshow = document.querySelector(".payShow");
        let parent = document.querySelector(".totalPrice")
        let showBox = true;
        function paydetail(){
                boxshow.style.display = "block";
                parent.style.height= "480px";
                showBox = true;
        }
        function payout(){
            boxshow.style.display = "none";
            parent.style.height= "250px";
            showBox = false;
        }
    </script>
</body>
</html>