<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 항공편 정보</title>
    <link rel="stylesheet" href="/app/css/fly.css">
    <link rel="stylesheet" href="/app/css/common.css">
</head>
<body>
    <!--header 시작-->
    <div th:replace="fragement/header :: header"></div>
    <!--header 끝-->
    <div id="container">
        <div class="title">
            <p class="fly_title">검색한 항공편 정보</p>
        </div>
        <!--선택한 항공권-->
        <form method="post" th:action="@{/Triple/flightReservation}" name="flightForm">
        <div class="comtofly" th:each="departure : ${departureList}">
            <input type="radio" th:value="${departure.getIdx()}" th:id="${departure.getIdx()}" name="departureFlight">
            <label th:for="${departure.getIdx()}">
            <div class="flyinfoBox">
                <div class="infoMiniTit">
                    <p th:text="'가는편 ' + ${departure.getDepartureAirport()} + ' - ' + ${departure.getLandingAirport()}"></p>
                    <span th:text="${departure.getAirlineName()}"></span>
                </div>
                <div class="flytimebox">
                <div class="flyinfoTime">
                    <p class="pblue" th:text="${departure.getDepartureTime()}"></p>
                    <span class="infoCent" th:text="${departure.getFlightTime()}"></span>
                    <p class="pblue2" th:text="${departure.getLandingTime()}"></p>
                </div>
                <div class="infoImg" style="text-align: center;">
                    <img src="/lib/img/fly_img/line.png" alt="line" style="display: block; margin:auto;">
                </div>
                <div class="flyinfoPlace">
                    <p class="pblue" th:text="${departure.getDepartureAirport()}"></p>
                    <p class="pblue2" th:text="${departure.getLandingAirport()}"></p>
                </div>
                </div>
            </div>
            <!--선택한 항공권 정보-->
            <div class="chinfo">
                <div>
                    <img th:if="${departure.getAirlineName() == '제주에어'}" src="/lib/img/fly_img/jejuair.svg" alt="">
                    <img th:if="${departure.getAirlineName() == '진에어'}" src="/lib/img/fly_img/jinair.svg" alt="">
                    <img th:if="${departure.getAirlineName() == '대한항공'}" src="/lib/img/fly_img/koreaair.svg" alt="">
                </div>
                <div>
                    <p th:text="${departure.getAirlineName()} + ' ' + ${departure.getAircraftName()}"></p><p th:text="${departure.getFlightTime()} + '비행'"></p>
                    <p th:text="'무료 위탁 수하물'+ ${departure.getBaggage()}"></p>
                </div>
            </div>
            </label>
            <!--선택한 항공권 정보 끝-->
        </div>
        <!--선택한 항공권 끝-->
        <!--선택한 항공권 -->
                <div class="comtofly" th:each="comeback : ${comebackList}">
                    <input type="radio" th:value="${comeback.getIdx()}" th:id="${comeback.getIdx()}" name="comebackFlight">
                    <label th:for="${comeback.getIdx()}">
                        <div class="flyinfoBox">
                            <div class="infoMiniTit">
                                <p th:text="'오는편 '+ ${comeback.getDepartureAirport()} + ' - ' + ${comeback.getLandingAirport()}"></p>
                                <span th:text="${comeback.getAirlineName()}"></span>
                            </div>
                            <div class="flytimebox">
                                <div class="flyinfoTime">
                                    <p class="pblue" th:text="${comeback.getDepartureTime()}"></p>
                                    <span class="infoCent" th:text="${comeback.getFlightTime()}"></span>
                                    <p class="pblue2" th:text="${comeback.getLandingTime()}"></p>
                                </div>
                                <div class="infoImg" style="text-align: center;">
                                    <img src="/lib/img/fly_img/line.png" alt="line" style="display: block; margin:auto;">
                                </div>
                                <div class="flyinfoPlace">
                                    <p class="pblue" th:text="${comeback.getDepartureAirport()}"></p>
                                    <p class="pblue2" th:text="${comeback.getLandingAirport()}"></p>
                                </div>
                            </div>
                        </div>
                        <!--선택한 항공권 정보-->
                        <div class="chinfo">
                            <div>
                                <img th:if="${comeback.getAirlineName() == '제주항공'}" src="/lib/img/fly_img/jejuair.svg" alt="">
                                <img th:if="${comeback.getAirlineName() == '진에어'}" src="/lib/img/fly_img/jinair.svg" alt="">
                                <img th:if="${comeback.getAirlineName() == '대한항공'}" src="/lib/img/fly_img/koreaair.svg" alt="">
                            </div>
                            <div>
                                <p th:text="${comeback.getAirlineName()} + ' ' + ${comeback.getAircraftName()}"></p><p th:text="${comeback.getFlightTime()} + '비행'"></p>
                                <p th:text="'무료 위탁 수하물' + ${comeback.getBaggage()}"></p>
                            </div>
                        </div>
                    </label>
                    <!--선택한 항공권 정보 끝-->
                </div>
            <!--요금 안내 및 예약-->
            <div class="totalPrice">
                <div class="inner">
                    <div class="flex">
                        <p>성인</p>
                        <select name="adult">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <p>소아</p>
                        <select name="child">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <p>유아</p>
                        <select name="infant">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <p>좌석등급</p>
                        <select name="seatClass">
                            <option value="premium">프리미엄</option>
                            <option value="first">퍼스트</option>
                            <option value="business">비지니스</option>
                            <option value="economy">이코노미</option>
                        </select>
<!--                        <p onmouseover="paydetail()" onmouseleave="payout()">상세요금</p>-->
<!--                        <p style="margin: 0;"> 542,300원</p>-->
                    </div>
                    <!--상세요금-->
<!--                    <div class="payShow" hidden>-->
<!--                        <h4>요금 상세 정보</h4>-->
<!--                        <p style="font-size: 15px; margin-top: 10px; color: #468cd3;">성인 1명</p>-->
<!--                        <div>-->
<!--                            <div class="flex"><p>항공요금 x 1</p> <p>284,500원</p></div>-->
<!--                            <div class="flex"><p>유류할증료 x 1</p> <p>198,600원</p></div>-->
<!--                            <div class="flex"><p>제세공과금 x 1</p> <p>58,200원</p></div>-->
<!--                            <div class="flex"><p>발권수수료 x 1</p> <p>0원</p></div>-->
<!--                            <div class="flex"><p>성인 총 요금</p> <p style="font-weight: 600;">542,300원</p></div>-->
<!--                        </div>-->
<!--                        <div class="tot"><p>최종 결제금액</p> <p>542,300원</p></div>-->
<!--                    </div>-->
                    <!--상세요금 끝-->
                    <p style="padding-top: 10px">
                        <input type="submit" value="선택한 항공권 예약하기">
                    </p>
                </div>
            </div>
            <!--요금 안내 및 예약 끝-->
        </form>
        <!--선택한 항공권 끝-->

        <!--수하물 규정안내-->
        <div class="flyseurchNotice">
            <p style="font-weight: bold; font-size: 16px; margin-bottom: 0; color: #666666;">운임 및 수하물 규정</p>
            <p>유류할증료와 TAX는 항공사 사정 및 환율 변동에 의해 매일 변경되며, 발권시점의 환율에 따라 적용됩니다</p>
            <div>
                <p style=" font-weight: bold; margin-bottom: 0; font-size: 16px; color: #666666;">항공사 운임 및 수하물 규정</p>
                <p style="font-size: 14px; font-weight: normal; margin: 0; color: black;">전체 여정에 상이한 운임 규정이 적용되었습니다. 항목 별로 가장 제한적인 규정이 적용됩니다.</p>
                <p style="font-size: 14px; font-weight: normal; margin: 0; color: black;">선택하신 항공편에 따라, 운임규정이 항공사 규정 원문인 영문으로만 제공될 수도 있습니다.</p>
                <p style="font-size: 14px; font-weight: normal; margin: 0; color: black;">관련 문의는 트리플 고객센터로 연락주시기 바랍니다.</p>
            </div>
        </div>
        <!--수하물 규정안내 끝-->
    </div>

    <!-- footer 시작 -->
    <footer th:replace="fragement/footer :: footer"></footer>
    <!-- footer 끝 -->

    <script>
        let  boxshow = document.querySelector(".payShow");
        let parent = document.querySelector(".totalPrice")
        let showBox = true;
        function paydetail(){
                boxshow.style.display = "block";
                parent.style.height= "480px";
                showBox = true;
        }
        function payout(){
            boxshow.style.display = "none";
            parent.style.height= "250px";
            showBox = false;
        }

    </script>
</body>
</html>