<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 항공조회</title>
    <link rel="stylesheet" href="/app/css/fly.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<body>
    <!--header 시작-->
    <div th:replace="fragement/header :: header"></div>
    <!--header 끝-->
    
    <div id="container">
        <div class="title">
            <h3>항공권 찾기</h3>
        </div>
        <!--검색 조회바-->
        <div class="serchset">
            <ul>
                <li>
                    <div class="citysel1">
                        <p class="boxlink1" onclick="hideshow()">서울 - 괌<img src="/lib/img/fly_img/down_icon.png" alt=""></p>
                    </div>
                </li>
                <li>
                    <button>7.2(토) - 7.4(월) / 왕복</button>
                </li>
                <li>
                    <select class="sitysel2">
                        <option value="">정렬 및 필터</option>
                        <option value="높은순">가격 높은순</option>
                        <option value="낮은순">가격 낮은순</option>
                        <option value="빠른순">출발 빠른순</option>
                        <option value="늦은순">출발 늦은순</option>
                    </select>
                </li>
                <li>
                    <button class="direct ">직항만</button>
                </li>
                <li>
                    <button class="luggage ">수화물 포함</button>
                </li>
            </ul>
            <div class="hidebox">
            <!--상세 조회 팝업-->
            <div class="hidebox1-1" hidden>
                <form action="">
                <p class="click" onclick="hideshow1()">
                    <img src="/lib/img/fly_img/flying-airplane.png" alt=""><span class="click1">김포 GMP</span></p>
                <p class="click" onclick="hideshow2()">
                    <img src="/lib/img/fly_img/map-point-pointer.png" alt=""><span class="click2">괌 GUM</span></p>
                <p class="click" onclick="hideshow3()">
                    <img src="/lib/img/fly_img/office-monthly-calendar.png" alt=""><span class="click3">7.02(토)</span> - <span class="click4">7.04(월)</span></p>
                <p class="click" onclick="hideshow4()">
                    <img src="/lib/img/fly_img/messenger-user-avatar.png" alt=""><span class="click4">탑승객1명, 일반석 외1</span></p>
            
                <div>
                    <button class="close" onclick="close()">닫기</button>
                    <button type="reset">재검색</button>
                </div>
            </form>
            </div>
            <!--상세 조회 팝업 끝-->
            <!--상세 조회 팝업 설정1-->
            <div class="hidebox1-2" hidden>
                
                <input type="search" name="citySearch1" id="city1" placeholder="도시 또는 공항 이름으로 검색">
                
                
                    <p class="boxtit">해외인기도시</p>
                    <span class="boxcity">괌 | 방콕 | 사이판 | 파리 | 호놀룰루 <br>
                        뉴욕 | 싱가포르 | 발리 | 로스앤젤리스</span>
                    <p class="boxtit">국내인기도시</p>
                    <span class="boxcity">서울 | 제주 | 부산 | 경주 | 청주 | 대구<br>
                        여수 | 양양 | 포항</span>
            </div>
            <!--상세 조회 팝업 설정1 끝-->
            <!--상세 조회 팝업 설정2-->
            <div class="hidebox1-3" hidden>
                <input type="search" name="citySearch2" id="city2" placeholder="도시 또는 공항 이름으로 검색">
                    <p class="boxtit">해외인기도시</p>
                    <span class="boxcity">괌 | 방콕 | 사이판 | 파리 | 호놀룰루 <br>
                        뉴욕 | 싱가포르 | 발리 | 로스앤젤리스</span>
                    <p class="boxtit">국내인기도시</p>
                    <span class="boxcity">서울 | 제주 | 부산 | 경주 | 청주 | 대구<br>
                        여수 | 양양 | 포항</span>
            </div>
            <!--상세 조회 팝업 설정2 끝-->
            <!--상세 조회 팝업 설정3-->
            <div class="hidebox1-4" hidden>
                <p>가는날</p>
                <input type="text" id="datepicker1" placeholder="가는날을 선택해주세요">
                <p>오는날</p>
                <input type="text" id="datepicker2" placeholder="오는날을 선택해주세요">
                <button class="dateclose">선택완료</button>
            </div>
            <!--상세 조회 팝업 설정3 끝-->
            <!--상세 조회 팝업 설정4-->
            <div class="hidebox1-5" hidden>
                <p class="boxtit">인원 및 좌석등급</p>
                <div>
                    <span>- 총 9명까지만 한번에 검색 및 예약 가능</span>
                </div>
                <div>
                    <span>- 성인 1인당 유아 1인까지 동반 탑승 가능</span>
                </div>
                <div>
                    <span>- 만 2세 미만의 유아라도 별도 좌석에 탑승하려면 소아로 선택해주세요.</span>
                </div>
                <div class="div">
                    <div style="float: left;">
                        <p class="boxtit">성인</p>
                        <span>만 12세 이상 (국내선 만 13세 이상)</span>
                    </div>
                    <div style="float: right;">
                        <button onclick='count1("minus")'>-</button>
                        <span class="result1">0</span>
                        <button onclick='count1("plus")'>+</button>
                    </div>
                </div>
                <div class="div" style="clear: both;">
                    <div style="float: left;">
                        <p class="boxtit">소아</p>
                        <span>만 12세 이상 (국내선 만 13세 이상)</span>
                    </div>
                    <div style="float: right;">
                        <button onclick='count2("minus")'>-</button>
                        <span class="result2">0</span>
                        <button onclick='count2("plus")'>+</button>
                    </div>
                </div>
                <div class="div">
                    <div style="float: left;">
                        <p class="boxtit">유아</p>
                        <span>만 12세 이상 (국내선 만 13세 이상)</span>
                    </div>
                    <div style="float: right;">
                        <button onclick='count3("minus")'>-</button>
                        <span class="result3">0</span>
                        <button onclick='count3("plus")'>+</button>
                    </div>
                </div>
                <div class="pbox">
                    <div class="p">
                        <label for="economy">
                            <p class="boxtit">일반석</p>
                            <input type="checkbox" name="seat" id="economy">
                        </label>
                    </div>
                    <div class="p">
                        <label for="pr_conomy"><p class="boxtit">프리미엄 일반석</p>
                            <input type="checkbox" name="seat" id="pr_conomy">
                        </label>
                    </div>
                    <div class="p">
                        <label for="business">
                            <p class="boxtit">비즈니스석</p>
                            <input type="checkbox" name="seat" id="business">
                        </label>
                    </div>
                        <div class="p">
                            <label for="first">
                                <p class="boxtit">일등석</p>
                                <input type="checkbox" name="seat" id="first">
                            </label>
                        </div>
                    <div>
                        <button class="close" onclick="close()">선택완료</button>
                    </div>
                </div>
            </div>
            <!--상세 조회 팝업 설정4 끝-->
        </div>
            <!--상세 조회 팝업 끝-->
            <p class="scword">검색결과<span> 20개, 왕복, 1인 평균 기준</span></p>
        </div>
        <!--검색 조회바 끝-->

        <!--조회된 항공권 리스트-->
        <div id="airTicketList" >
            <!--항공권 1개-->
            <div class="fly_item"  th:each="airTicket : ${airTicketList}" >
                <ul class="fly_item_ul" >
                    <li>
                        <div class="fly_item_img" id="logo_select">
                            <img th:if= "${airTicket.getAirlineIdx() == 1111}" src="/lib/img/fly_img/jinair.svg" alt="jinair">
                            <img th:if= "${airTicket.getAirlineIdx() == 2222}" src="/lib/img/fly_img/jejuair.svg" alt="jejuair">
                        </div>
                        <div class="fly_item_info" >
                            <ul class="fly_item_info_ul">
                                <li>
                                    <p th:text="${airTicket.getDepartureDate()}+' - '+${airTicket.getLandingDate()}"></p>
                                    <th:block th:each="timeTaken : ${timeTakenList}" th:if="${airTicket.getIdx() == timeTaken.getAirTicketIdx()}">
                                        <p th:text="${timeTaken.getHour()}+'시간'+${timeTaken.getMinute()}+'분'"></p>
                                    </th:block>
                                </li>
                                <li>
                                    <p th:text="${airTicket.getDepartureAirport()}+' - '+${airTicket.getLandingAirport()}"></p>
                                    <p th:text="|무료수화물${airTicket.getBaggage()}|"></p>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="fly_item_price">
                    <a th:text="${airTicket.getPrice()} +'원'" th:href="'Triple/flightView?ticketNum='+${airTicket.getTicketNum()}+'&ticketType='+${airTicket.getTicketType()}"></a>
                </div>
            </div>
            <!--항공권 1개 끝-->
        </div>
        <!--조회된 항공권 리스트-->
    </div>

    <!-- footer 시작 -->
    <footer th:replace="fragement/footer :: footer"></footer>
    <!-- footer 끝 -->

    <script>
        $(function(){
           $('#datepicker').datepicker();
        })


        $(function() {
        $("#datepicker1, #datepicker2").datepicker({
            dateFormat: 'yy.mm.dd'
        });
    });

    </script>
    <script src="/app/js/flightMain.js"></script>
</body>
</html>