@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
    margin: auto;
    
}

header {
    width: 100%;
    height: 150px;
    background-color: #50e3c2;
}
#p_header {
    width: 1400px;
    height: 150px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;
}
#p_login_join a{
    color: rgb(94, 94, 94);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
/*메인*/
a{
    color: #6c6c6c;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width: 1000px;
}
.container_tr{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 500px;
    
}
.container_tr2{
    width: 1000px;
    padding-top: 100px;
    padding-bottom: 600px;
    margin: 0 auto;
}

li{
    list-style: none;
}
button{
    border: none;
    background-color: white;
}
#pro_img{
    padding-right: 20px;
    width: 90px;
}
#top{
    font-size: 20px;
    font-weight: bold;
    color: #6c6c6c;

}

.profile_area{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.profile_area>div>p{
    font-size: 20px;
    color: #6c6c6c;
    font-weight: bold;
}
#write{
    margin-left:720px;
    text-decoration: underline;
}

.content_list{
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding-right: 50px;
    border-right: 1px solid #adadad;
}
.list{
    padding-bottom: 40px;
}

.list > li{
    margin-bottom: 30px;
}
#choice{
    color: #0c8ee5;
}
#top{
    font-size: 20px;
    font-weight: bold;
    color: #6c6c6c;

}

/*my travel,travels_done(내여행,여행기 작성된 페이지)*/
.content_list2{
    padding-left: 300px;
}

.list_box{
    padding-bottom: 60px;
}


/*my travel,travels_done(내여행,여행기 작성된 페이지)*/
.content_list2{
    padding-left: 300px;
}

.list_box{
    padding-bottom: 60px;
}


div>a{
    text-decoration: none;
}
.list2{
    display: flex;
    padding-bottom: 20px;
    color: #777777;
}


#list_tit{
    font-size: 18px;
    font-weight: bold;
}
#list_cont{
    font-size: 18px;
    font-weight: bold;
}


/*travels(여행기)*/
#st>p{
    padding: 100px;
    margin-left: 300px;
    color: #b3b3b3;
}

#date{
    padding-left: 450px;
}

/*travels_write2(여행기 쓰기)*/
#img_choice{
    padding-left: 30px;
}
#travels_tit{
    width: 1000px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #adadad;
    padding-top: 30px;
    font-weight: bold;
}
#traverls_cont{
    width: 1000px;
    height: 150px;
    font-size: 18px;
    border: none;
    text-align: left;
    font-weight: bold;
}

#next{
    margin-left: 800px;
    text-decoration: underline;
    cursor: pointer;
}

#travels_box{
    padding-left: 300px;
}

.img_box>img{
    width: 1000px;
    height: 280px;
}


/*푸터*/

footer {
    font-family: 'notosanskr';
    background-color: #50e3c2;
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

#enterprise_info_p {
    margin: 0 auto;
    width: 1800px;
    display: flex;
    justify-content: space-between;
}
#enterprise_info_p > #enterprise_info_text_p {
    padding-top: 50px;
    padding-left: 100px;
    font-weight: 700;
}
#enterprise_info_text_p {
    font-size: 24px;
    color: rgb(77, 76, 76);
}
#enterprise_info_p > #enterprise_info_text_p > p a {
    text-decoration: none;
    color: rgb(77, 76, 76);
}
#enterprise_info_p > #enterprise_info_text_p > #bold {
    font-size: 20px;
    font-weight: 700;
}
#enterprise_info_p > #enterprise_info_text_p > p > a {
    color: rgb(77, 76, 76);
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    font-weight: 700;
}

#sns_box_p {
    margin-top: 55px;
    margin-right: 100px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}
#sns_box_p > div > a > img {
    width: 50px;
}