<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/member/mypage/review/css/review.css">
    <title>TRIPLE | 마이페이지 내리뷰</title>
    <link rel="stylesheet" href="/member/mypage/css/style.css">
</head>
<body>
    <!--헤더-->
    <div th:replace="fragement/mypage_header :: mypage_header"></div>
    <!--헤더끝-->
    
    <!--메인-->
    <main class="container_all">
        <p class="mypage_title">MY PAGE</p>
        <div class="profile">
            <div class="profile_area">
                <div>
                    <img src="./img/mypage.svg" id="pro_img">
                </div>
                <div class="form_box">
                    <div class="pro_box1">
                        <form action="#" name="regform" id="regform" class="regform">
                            <div class="pro_box1_left">
                                <input type="text" id="rename" name="rename" placeholder="김사과">
                            </div>
                        </form>
                    </div>
                    <div class="pro_box2">
                        <p id="done">
                            <a href="/member/mypage/review/review_write.html">리뷰쓰기</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_box">
            <div class="content_list">
                <div class="list">
                    <li><a href="/member/mypage/my_travel/my_travel_main.html">내 여행</a></li>
                    <li><a href="/member/mypage/review/review_main.html"><span id="choice">리뷰</span></a></li>   <!--review-->
                    <li><a href="/member/mypage/travels/travels_main.html">여행기</a></li> <!--travels-->
                </div>
                <div class="list">
                    <li><a href="/member/mypage/my_save/my_save_main.html">내 저장</a></li>    <!--my_save-->
                    <li><a href="/member/mypage/mypage_reserve/my_reserve_air.html">내 예약</a></li>    <!---->
                    <li><a href="/member/mypage/mypage_coupon/coupon_main.html">쿠폰함</a></li> <!---->
                </div>
                <div class="list">
                    <li><a href="/member/mypage/mypage_settings/mypage_settings.html">설정</a></li>
                </div>
            </div>
            <div class="content_list2">
                <p class="content_none">작성한 리뷰가 없습니다. 새로운 리뷰를 작성해주세요!</p>
            </div>
        </div>
    </main>
    <!--메인 끝-->

    <!--푸터-->
    <div th:replace="fragement/mypage_footer :: mypage_footer"></div>
    <!--푸터 끝-->
</body>

</html>