<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/css/mypage_review.css">
    <script src="/app/js/mypage_review.js"></script>
    <title>TRIPLE | 마이페이지 내리뷰</title>
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->

    <!--메인-->
    <main class="container_all">
        <p class="mypage_title">리뷰 작성</p>
        <div class="review_box">
            <p class="review_title">신화관 제주 신화월드 호텔앤리조트</p>
            <p class="review_subtitle">5성급|제주(중문) </p>
            <p class="review_subtitle">리뷰평점<span id="star2">★★★★★</span></p>
        </div>
        <div class="review_top">
            <div class="review_top1">
                <img src="/lib/img/mypage_img/mypage.svg" id="pro_img">
            </div>
            <div class="review_top2">
                <p>김사과<br><span id="star3">★★★★★</span> </p>
            </div>
            <div class="review_top3">
                <p id="more" onclick="openList()">더보기</p>
                <ul id="more_btn">
                    <a href="#"> <li id="share_btn" onclick="share_btn()">공유하기</li></a> 
                    <a href="/templates/pages/mypage/review/review_edit.html"><li>수정하기</li></a>
                    <a href="/templates/pages/mypage/review/review_done.html"><li id="delete_btn" onclick="delete_btn()">삭제하기</li></a>
                </ul>
            </div>
        </div>
        <div class="review_box">
            <p id="view_cont">너무 좋았어요! 편안하게 쉬다 갑니다^^</p>
            <div class="re_img">
                <img src="/lib/img/mypage_img/myreview_img/review_img2.png">
            </div>
            <div class="review_like">
                <p id="view_cont">좋아요 0 | 댓글 1</p>
                <p id="view_date">2022.06.19(일)</p>
            </div>
            <div class="review_rev">
                <form action="#" id="commform" name="commform">
                    <input type="text" id="commend" placeholder="댓글을 입력하세요.">
                    <input type="submit" value="등록" id="re_comm" onclick="resendit()" >
                    <hr>
                </form>
            </div>
        </div>
    </main>
    <!--메인 끝-->

<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>

</html>