<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/css/mypage_review.css">
    <script src="/app/js/mypage_review.js"></script>
    <title>TRIPLE | 마이페이지 리뷰작성</title>
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->

    <!--메인-->
    <main class="container_all">
        <div class="ser_box">
            <!--검색-->
            <img src="/lib/img/mypage_img/myreview_img/allow.svg">
            <input type="text" id="search" placeholder="리뷰 쓸 장소 검색">
        </div>
        <div class="ser_list">
            <!--리스트-->
            <p id="se_top">이 장소에 다녀오셨나요?</p>
            <select class="select_box">
                <option value="place">관광지</option>
                <option value="room">숙소</option>
                <option value="tour">투어</option>
                <option value="eat_place">맛집</option>
            </select>
            
            <div class="list_te">
                <img src="/lib/img/mypage_img/myreview_img/review_place.svg" id="ser_img">
                <div class="list_pl">
                    <p><span id="se_top"> 두짓 타니 괌 리조트</span><br>
                    <span id="se_mi">5성급·투몬, 타무닝</span></p>
                </div>
                <div class="ch_pl">
                    <u><a href="/templates/pages/mypage/review/review_write.html"> 선택</a></u>
                </div>
            </div>
            <div class="list_te">
                <img src="/lib/img/mypage_img/myreview_img/review_place.svg" id="ser_img">
                <div class="list_pl">
                    <p><span id="se_top"> 두짓 타니 괌 리조트</span><br>
                    <span id="se_mi">5성급·투몬, 타무닝</span></p>
                </div>
                <div class="ch_pl">
                    <u><a href="/templates/pages/mypage/review/review_write.html"> 선택</a></u>
                </div>
            </div>
            <div class="list_te">
                <img src="/lib/img/mypage_img/myreview_img/review_place.svg" id="ser_img">
                <div class="list_pl">
                    <p><span id="se_top"> 두짓 타니 괌 리조트</span><br>
                    <span id="se_mi">5성급·투몬, 타무닝</span></p>
                </div>
                <div class="ch_pl">
                    <u><a href="/templates/pages/mypage/review/review_write.html"> 선택</a></u>
                </div>
            </div>
            <div class="list_te">
                <img src="/lib/img/mypage_img/myreview_img/review_place.svg" id="ser_img">
                <div class="list_pl">
                    <p><span id="se_top"> 두짓 타니 괌 리조트</span><br>
                    <span id="se_mi">5성급·투몬, 타무닝</span></p>
                </div>
                <div class="ch_pl">
                    <u><a href="/templates/pages/mypage/review/review_write.html"> 선택</a></u>
                </div>
            </div>
            <div class="list_te">
                <img src="/lib/img/mypage_img/myreview_img/review_place.svg" id="ser_img">
                <div class="list_pl">
                    <p><span id="se_top"> 두짓 타니 괌 리조트</span><br>
                    <span id="se_mi">5성급·투몬, 타무닝</span></p>
                </div>
                <div class="ch_pl">
                    <u><a href="/templates/pages/mypage/review/review_write.html"> 선택</a></u>
                </div>
            </div>
            <div class="list_te">
                <img src="/lib/img/mypage_img/myreview_img/review_place.svg" id="ser_img">
                <div class="list_pl">
                    <p><span id="se_top"> 두짓 타니 괌 리조트</span><br>
                    <span id="se_mi">5성급·투몬, 타무닝</span></p>
                </div>
                <div class="ch_pl">
                    <u><a href="/templates/pages/mypage/review/review_write.html"> 선택</a></u>
                </div>
            </div>
            <div class="list_te">
                <img src="/lib/img/mypage_img/myreview_img/review_place.svg" id="ser_img">
                <div class="list_pl">
                    <p><span id="se_top"> 두짓 타니 괌 리조트</span><br>
                    <span id="se_mi">5성급·투몬, 타무닝</span></p>
                </div>
                <div class="ch_pl">
                    <u><a href="/templates/pages/mypage/review/review_write.html"> 선택</a></u>
                </div>
            </div>
            <div class="list_te">
                <img src="/lib/img/mypage_img/myreview_img/review_place.svg" id="ser_img">
                <div class="list_pl">
                    <p><span id="se_top"> 두짓 타니 괌 리조트</span><br>
                    <span id="se_mi">5성급·투몬, 타무닝</span></p>
                </div>
                <div class="ch_pl">
                    <u><a href="/templates/pages/mypage/review/review_write.html"> 선택</a></u>
                </div>
            </div>
            <div class="list_te">
                <img src="/lib/img/mypage_img/myreview_img/review_place.svg" id="ser_img">
                <div class="list_pl">
                    <p><span id="se_top"> 두짓 타니 괌 리조트</span><br>
                    <span id="se_mi">5성급·투몬, 타무닝</span></p>
                </div>
                <div class="ch_pl">
                    <u><a href="/templates/pages/mypage/review/review_write.html"> 선택</a></u>
                </div>
            </div>
            <div class="list_te">
                <img src="/lib/img/mypage_img/myreview_img/review_place.svg" id="ser_img">
                <div class="list_pl">
                    <p><span id="se_top"> 두짓 타니 괌 리조트</span><br>
                    <span id="se_mi">5성급·투몬, 타무닝</span></p>
                </div>
                <div class="ch_pl">
                    <u><a href="/templates/pages/mypage/review/review_write.html"> 선택</a></u>
                </div>
            </div>
            <div class="list_te">
                <img src="/lib/img/mypage_img/myreview_img/review_place.svg" id="ser_img">
                <div class="list_pl">
                    <p><span id="se_top"> 두짓 타니 괌 리조트</span><br>
                    <span id="se_mi">5성급·투몬, 타무닝</span></p>
                </div>
                <div class="ch_pl">
                    <u><a href="/templates/pages/mypage/review/review_write.html"> 선택</a></u>
                </div>
            </div>
            <div class="list_te">
                <img src="/lib/img/mypage_img/myreview_img/review_place.svg" id="ser_img">
                <div class="list_pl">
                    <p><span id="se_top"> 두짓 타니 괌 리조트</span><br>
                    <span id="se_mi">5성급·투몬, 타무닝</span></p>
                </div>
                <div class="ch_pl">
                    <u><a href="/templates/pages/mypage/review/review_write.html"> 선택</a></u>
                </div>
            </div>

            
        </div>
    </main>
    <!--메인 끝-->

<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>

</html>