<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/css/mypage_review.css">
    <title>TRIPLE | 마이페이지 내리뷰</title>
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->

<!--메인-->
<main class="container_all">
    <p class="mypage_title">MY PAGE</p>
    <div class="profile">
        <div class="profile_area">
            <div>
                <img src="/lib/img/mypage_img/mypage.svg" id="pro_img">
            </div>
            <div class="form_box">
                <div class="pro_box1">
                    <form action="#" name="regform" id="regform" class="regform">
                        <div class="pro_box1_left" th:text="${nickname}">
                            <input type="text" id="rename" name="rename" >
                        </div>
                    </form>
                </div>
                <div class="pro_box2">
                    <p id="done">
                        <!--                            <a href="/templates/pages/mypage/review/review_write">리뷰쓰기</a>-->
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content_box">
        <div class="content_list">
            <div class="list">
                <li><a href="/Triple/mypage">내 여행</a></li>
                <li><a href="/Triple/mypage/review"><span id="choice">내 리뷰</span></a></li>   <!--review-->
                <li><a href="/Triple/mypage/mysave">내 저장</a></li>    <!--my_save-->
            </div>
            <div class="list">
                <li><a href="/Triple/mypage/reserve/air">내 예약</a></li>    <!---->
                <li><a href="/Triple/mypage/coupon">쿠폰함</a></li> <!---->
                <li><a href="/Triple/mypage/settings">설정</a></li>
            </div>
        </div>
        <div class="content_list2">
            <p style="text-align: right"><a href="/Triple/mypage/review">[ Spot Review ] </a> <a href="/Triple/mypage/review/guide"> [ Guide Review ] </a> <a href="/Triple/mypage/review/restaurant">[ Restaurant Review ]</a></p>
            <h1>Restaurant Review🎈</h1><br>
                <div th:each="restaurantR : ${restaurantReview}">
                    <div class="list_box" th:if="${restaurantR.getPostId().equals(restaurant.getIdx())}" th:each="restaurant : ${restaurantList}">
                    <a th:href="'/Triple/spot/restaurant/view/'+${restaurant.getIdx()}+'/1'">
                        <div >
                            <div class="dre_box">
                                <p id="dre_cont"><span id="dre_cont2" th:text="${restaurant.getTitle()}">신화관 제주 신화월드 호텔앤리조트</span> <br><span th:text="${restaurant.getCity()}">5성급 | 제주(중문)</span><br><span id="star3" th:text="'평점 : '+${restaurantR.getStarCount()+'점'}">★★★★★</span><br><span th:text="${restaurantR.getContent()}">너무 좋았어요! 편안하게 쉬다 갑니다^^</span>
                                </p>
                                <div class="do_img">
                                    <img src="/lib/img/mypage_img/mypage.svg" id="relist_img">
                                </div>
                            </div>
                            <img th:src="@{${restaurant.getUploadPath1()}}">
                            <div class="dre_box">
                                <p id="like_re" th:text="'좋아요 '+${restaurantR.getLikeCount()}+' | 댓글 '+${restaurantR.getReplyCount()}">좋아요 0 | 댓글 1</p>
                                <p id="redate" th:text="${#temporals.format(restaurantR.getRegDate(), 'yyyy.MM.dd(E)')}">2022.06.19(일)</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<!--메인 끝-->

<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>

</html>