<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 마이페이지 쿠폰함</title>
    <link rel="stylesheet" href="/app/css/my_reserve_main.css">
    <link rel="stylesheet" href="/app/css/mypage_coupon.css">
    <link rel="stylesheet" href="/app/css/style.css">
</head>
<body>
<!--헤더-->
<div th:replace="fragement/mypageHeader:: mypageHeader"></div>
<!--헤더끝-->
    <!--메인-->
    <main class="container_all">
        <div class="content_box">
            <p class="mypage_title">MY PAGE</p>
        </div>
        <div class="coupon_storage_box">
            <p><a href="/Triple/mypage/coupon">사용가능한 쿠폰</a> | <a href="/Triple/mypage/coupon/inable" style="color: #0c8ee5;">지난 쿠폰</a></p>
            <div class="coupon_storage_flex_box coupon_inable_box" th:if="${coupon.getUseStatus().toString().equals('EXPIRED')}" th:each="coupon: ${couponList}">
                <div>
                    <p class="coupon_name" th:text="${coupon.name}">[6월 혜택]국내 숙소 할인 3,000원</p>
                    <p class="coupon_condition" th:text="${coupon.useCondition}">5만원 이상 예약 시</p>
                    <p class="coupon_date" th:text="${#temporals.format(coupon.getEndDate(), 'yyyy년-MM월-dd일 ')}+${#temporals.format(coupon.getEndDate(), 'hh')+'시 까지'}">2022.07.01 12시까지</p>
                    <br>
                    <div id="flex_p">
                        <p class="coupon_price" th:text="${#numbers.formatInteger(coupon.price, 4, 'COMMA')} + '원'">3,000원</p>
<!--                        <p><a href="">사용조건</a></p>-->
                    </div>
                </div>
             </div>
        </div>
    </main>
    <!--메인 끝-->

<!--푸터-->
<div th:replace="fragement/mypageFooter :: mypageFooter"></div>
<!--푸터 끝-->
</body>
</html>