<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<footer th:fragment="footer">
  <div id="enterprise_info">
    <div id="enterprise_info_text">
      <p id="bold">트리플 사업자 정보</p>
      <p>(주)트리플은 통신판매중개로서 통신판매의 당사자가 아니며 상품 거래정보 및 거래등에 대해 책임을 지지 않습니다.</p>
      <p>항공, 숙소 및 투어, 티켓문의 1588-0000</p>

      <p><a href="/Triple/mypage/settings/info/service">서비스이용약관</a>|<a href="/Triple/mypage/settings/info/user">개인정보 처리방침</a>|<a href="/Triple/mypage/settings/info/company">회사 소개</a>|<a href="/Triple/mypage/settings/customer">고객센터</a></p>
    </div>
    <div id="icon_box">
      <div id="sns_box">
        <div><a href="#"><img src="/lib/img/btn-social-blog@3x.png" alt="SNS"></a></div>
        <div><a href="#"><img src="/lib/img/btn-social-insta@3x.png" alt="SNS"></a></div>
        <div><a href="#"><img src="/lib/img/btn-social-fb@3x.png" alt="SNS"></a></div>
        <div><a href="#"><img src="/lib/img/btn-social-brunch@3x.png" alt="SNS"></a></div>
      </div>
      <div id="TRIP"><a href="#"><img src="/lib/img/footer_TRIP.png" alt="TRIP"></a></div>
    </div>
  </div>
</footer>

</html>