<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<header th:fragment="header">
    <div id="logo_area">
        <div id="logo"><a href="/Triple"><img src="/lib/img/logo_triple.svg" alt="트리플 로고" style="width: 200px;"></a></div>
        <form id="menu_form">
            <div id="search"><input type="text" placeholder="어디로 떠나시나요?" readonly><button type="submit" value="검색" style="cursor: pointer;">검색</button></div>
        </form>
        <div id="login_join">
            <a th:if ="${session.email == null}" href="/Triple/login">LOGIN</a>
            <a th:if ="${session.email != null}" href="/Triple/logout">LOGOUT</a>
            | <a th:if ="${session.email == null}" href="/Triple/join">JOIN</a>
            <a th:if ="${session.email != null}" href="/Triple/mypage">MYPAGE</a>
        </div>
    </div>
    <div id="menu_area">
        <ul id="menus">
            <li><a href="/Triple/spot_location">괌여행</a></li>
            <li><a href="/Triple/flightMain">항공예약</a></li>
            <li><a href="/Triple/lodging_company_list">숙소예약</a></li>
            <li><a href="/Triple/tour_ticket_main">투어·티켓</a></li>
            <li><a href="/Triple/package">패키지여행</a></li>
            <li><a href="/Triple/magazine" >여행매거진</a></li>
            <li><a href="/Triple/event">혜택/렌터카</a></li>
        </ul>
    </div>
</header>


</html>