<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<footer th:fragment="mypageFooter">
  <div id="enterprise_info">
    <div id="enterprise_info_text">
      <p><a href="/Triple/mypage/settings/info/service">서비스이용약관</a>|<a href="/Triple/mypage/settings/info/user">개인정보 처리방침</a>|<a href="/Triple/mypage/settings/info/company">회사 소개</a>|<a href="/Triple/mypage/settings/customer">고객센터</a></p>
    </div>
    <div id="icon_box">
      <div id="sns_box">
        <div><a href="#"><img src="/lib/img/btn-social-blog@3x.png" alt="SNS"></a></div>
        <div><a href="#"><img src="/lib/img/btn-social-insta@3x.png" alt="SNS"></a></div>
        <div><a href="#"><img src="/lib/img/btn-social-fb@3x.png" alt="SNS"></a></div>
        <div><a href="#"><img src="/lib/img/btn-social-brunch@3x.png" alt="SNS"></a></div>
      </div>
    </div>
  </div>
</footer>

</html>