<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<header th:fragment="mypageHeader">
  <div id="logo_area">
    <div id="logo"><a href="/Triple"><img src="/lib/img/logo_triple.svg" alt=""></a></div>
    <div id="login_join">
      <a th:if ="${session.email == null}" href="/Triple/login">LOGIN</a>
      <a th:if ="${session.email != null}" href="/Triple/logout">LOGOUT</a>
      | <a th:if ="${session.email == null}" href="/Triple/join">JOIN</a>
      <a th:if ="${session.email != null}" href="/Triple/mypage">MYPAGE</a>
    </div>
  </div>
</header>
</html>