<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 맛집세부</title>
    <link rel="stylesheet" href="/app/css/travel_spot.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/app/js/mysave.js"></script>
</head>
<body>
    <!--header 시작-->
    <div th:replace="fragement/header :: header"></div>
    <!--header 끝-->
    <div class="restaurant_img"><img th:src="@{${restaurant.getUploadPath1()}}"></div>
    <main>
        <div id="utility_box" class="utility_box">
            <div id="utility_flex_box">
                <div id="mark"><p>맛집</p></div>
                <div id="utility_flex_box2">
                    <form method="POST">
                        <input type="hidden" id="itemNum" th:value="${restaurant.getIdx()}"/>
                        <input type="hidden" id="userId" th:value="${userId}"/>
                        <input type="hidden" id="location" th:value="${restaurant.getCity()}"/>
                        <input type="hidden" id="title" th:value="${restaurant.getTitle()}"/>
                        <input type="hidden" id="summary" th:value="${restaurant.getTitle()}"/>
                        <input type="hidden" id="uploadPath" th:value="${restaurant.getUploadPath1()}"/>
                        <input type="hidden" id="saveType" th:value="'RESTAURANT'"/>
                        <div id="tour_info_btn_like"><img src="/lib/img/travel_spot_img/icon_save.svg" alt="하트"><input style="cursor: pointer" type="button" id="sendit" value="저장하기"/></div>
                    </form>
                    <a href="/templates/pages/mypage/my_travel/my_travel_main.html"><div id="tour_info_btn_schedule"><img src="/lib/img/travel_spot_img/icon_schedule.svg" alt="일정"> 일정추가</div></a>
                    <a th:href="'/Triple/spot/review/restaurant/'+ ${restaurant.getIdx()}"><div id="tour_info_btn_writereview"><img src="/lib/img/travel_spot_img/icon_review.svg" alt="리뷰"> 리뷰쓰기</div></a>
                    <a href="#"><div id="tour_info_btn_share"><img src="/lib/img/travel_spot_img/icon_share.svg" alt="공유"> 공유하기</div></a>
                </div>
            </div>
            <div class="text_area">
                <p th:text="${restaurant.getLocation()}"></p>
<!--                <p class="title_text" th:text="${restaurant.getTitle()}"></p>-->
                <p th:text="${restaurant.getSummary()}"></p>
                <p><span class="star_point" th:text="${restaurant.getStarCount()}+'점 ('+ ${restaurant.getReviewCount()}+')'" ></span><span>&#183;</span> 저장10,981</p>
                <div><img src="/lib/img/fly_img/map-point-pointer.png" alt=""><p th:text="${restaurant.getCity()}"></p></div>
            </div>
        </div>
        <div id="info_box">
            <p class="info_box_title res_tit" th:text="${restaurant.getTitle()}"></p>
            <p class="info_box_subtitle">대표 메뉴</p>
            <div class="info_list_flex_box">
                <div class="menu_image">
                    <img th:src="@{${restaurant.getUploadPath2()}}" alt="">
                </div>
                <div class="menu_description">
                    <p class="menu_name" th:text="${restaurant.getMenuName1()}"></p>
                    <p class="menu_description_text" th:text="${restaurant.getMenuDescription1()}"></p>
                    <p class="menu_price" th:text="${restaurant.getMenuPrice1()} + '원'"></p>
                </div>
            </div>
            <div class="info_list_flex_box">
                <div class="menu_image">
                    <img th:src="@{${restaurant.getUploadPath3()}}" alt="">
                </div>
                <div class="menu_description">
                    <p class="menu_name" th:text="${restaurant.getMenuName2()}"></p>
                    <p class="menu_description_text" th:text="${restaurant.getMenuDescription2()}"></p>
                    <p class="menu_price" th:text="${restaurant.getMenuPrice2()} + '원'"></p>
                </div>
            </div>
            <div class="info_list_flex_box">
                <div class="menu_image">
                    <img th:src="@{${restaurant.getUploadPath4()}}" alt="">
                </div>
                <div class="menu_description">
                    <p class="menu_name" th:text="${restaurant.getMenuName3()}"></p>
                    <p class="menu_description_text" th:text="${restaurant.getMenuDescription3()}"></p>
                    <p class="menu_price" th:text="${restaurant.getMenuPrice3()} + '원'"></p>
                </div>
            </div>
            <p id="basic_info_text">기본 정보</p>
            <div id="basic_info" class="res_info">
                <div id="basic_info_flex_box">
<!--                    <div id="map_area">-->
<!--                        <img src="/lib/img/travel_spot_img/map.png" alt="">-->
<!--                    </div>-->
<!--                    <div id="basic_info_text_area">-->
<!--                        <table>-->
<!--                            <tr>-->
<!--                                <td class="table_index">주소</td>-->
<!--                                <td>Tumon, Guam, Mariana Islands</td>-->
<!--                            </tr>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td class="table_index">전화</td>-->
<!--                                <td>+16716474107</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td class="table_index">홈페이지</td>-->
<!--                                <td><a href="http://www.puntandosamantes.com">http://www.puntandosamantes.com</a></td>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                        <div id="button_box">-->
<!--                            <a href=""><div id="asking"><p>현지에서 길묻기</p></div></a>-->
<!--                            <a href=""><div id="finding"><p>길찾기</p></div></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <hr>-->
                <div id="tips_for_visiting" >
                    <div class="flex_div">
                        <p class="index_p">가는방법</p>
                        <p class="context_p"th:text="${restaurant.getHowTogo()}"></p>
                    </div>
                    <div class="flex_div">
                        <p class="index_p" >이용가능시간, 휴무일</p>
                        <p class="context_p blue_text" th:text="${restaurant.getAvailableAt()}"></p>
                    </div>
                    <div class="flex_div">
                        <p class="index_p">이곳의 이용팁</p>
                        <p class="context_p" th:text="${restaurant.getTip()}" style="white-space: pre-line; word-break: keep-all;"></p>
                    </div>
                    <div id="no_border_box" class="flex_div">
                        <p class="index_p"></p>
                    <div>
                        <p class="context_p" th:text="${restaurant.getEtc()}" style="white-space: pre-line; word-break: keep-all;"></p>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
            <div id="review_box">
                <div id="review_top">
                    <p class="index_p">리뷰 <span class="blue_text" th:text="${restaurant.getReviewCount()}"></span></p>
                    <div id="review_write_see">
                    <p id="write_review"><a th:href="'/Triple/spot/review/restaurant/'+ ${restaurant.getIdx()}">리뷰 쓰기</a></p>
                    <p id="see_review"><a href="">리뷰 전체보기</a></p>
                    </div>
                </div>
                <div class="review_content" th:each="review : ${reviewList}">
                    <div th:if="${review.getUserEmail()} == ${session.email}">
                        <a th:href="'/Triple/spot/restaurant/review_delete/'+ ${review.getIdx()} + '/' + ${restaurant.getIdx()}">삭제하기</a></p>
                        <p><a th:href="'/Triple/spot/review_update/restaurant/'+ ${review.getIdx()}">수정하기</a></p>
                    </div>
                    <div><img src="/lib/img/travel_spot_img/triple_vladivostok.svg" alt="" class="profile_picture"></div>
                    <div class="user_info_area">
                        <p class="userid_area" th:text="${review.getUserEmail()}"></p>
                        <p class="star_area"><span class="star_point" th:text="${review.getStarCount()}"></span></p>
                    </div>
                    <div class="review_context" >
                        <p th:text="${review.getContent()}" style="white-space: pre-line; word-break: keep-all;"></p>
                    </div>
                </div>

            </div>
            <div class="pageList">
                    <p><a th:each="page: ${pageList}" th:text="${page}" th:href="'/Triple/spot/restaurant/view/'+${restaurant.getIdx()}+'/'+${page}"></a></p>
            </div>


    </main>
<!-- footer 시작 -->
<footer th:replace="fragement/footer :: footer"></footer>
<!-- footer 끝 -->
</body>
</html>