<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 관광세부</title>
    <link rel="stylesheet" href="/app/css/travel_spot.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/app/js/mysave.js"></script>
</head>
<body>
    <!--header 시작-->
    <div th:replace="fragement/header :: header"></div>
    <!--header 끝-->

    <div class="tour_spot_img"><img th:src="@{${tour.getUploadPath1()}}" ></div>
    <main>
        <div id="utility_box">
            <div id="utility_flex_box">
                <div id="mark"><p>관광명소</p></div>
                <div id="utility_flex_box2">
                    <form method="POST">
                        <input type="hidden" id="itemNum" th:value="${tour.getIdx()}"/>
                        <input type="hidden" id="userId" th:value="${userId}"/>
                        <input type="hidden" id="location" th:value="${tour.getCity()}"/>
                        <input type="hidden" id="title" th:value="${tour.getPlaceName()}"/>
                        <input type="hidden" id="summary" th:value="${tour.getTitle()}"/>
                        <input type="hidden" id="uploadPath" th:value="${tour.getUploadPath1()}"/>
                        <input type="hidden" id="saveType" th:value="'SPOT'"/>
                        <div id="tour_info_btn_like"><img src="/lib/img/travel_spot_img/icon_save.svg" alt="하트"><input style="cursor: pointer" type="button" id="sendit" value="저장하기"/></div>
                    </form>
                    <a href="/templates/pages/mypage/my_travel/my_travel_main.html"><div id="tour_info_btn_schedule"><img src="/lib/img/travel_spot_img/icon_schedule.svg" alt="일정"> 일정추가</div></a>
                    <a th:href="'/Triple/spot/review/tour/'+ ${tour.getIdx()}"><div id="tour_info_btn_writereview"><img src="/lib/img/icon_review.svg" alt="리뷰"> 리뷰쓰기</div></a>
                    <a href="#"><div id="tour_info_btn_share"><img src="/lib/img/travel_spot_img/icon_share.svg" alt="공유"> 공유하기</div></a>
                </div>
            </div>
            <div class="text_area">
                <p class="title_text" th:text="${tour.getPlaceName()}"></p>
                <p><span><i class="bi bi-heart"></i></span> 12,725 <img src="/lib/img/travel_spot_img/starpoint.png" alt=""> (798)</p>
            </div>
        </div>
        <div id="info_box">
            <p class="info_box_title" th:text="${tour.getTitle()}"></p>
            <div class="main_picture"><img th:src="@{${tour.getUploadPath1()}}" alt=""></div>
            <p class="info_box_subtitle" th:text="${tour.getSubtitle1()}"></p>
            <p class="info_box_context" th:text="${tour.getContent1()}"></p>
            <hr>
            <div class="main_picture"><img th:src="@{${tour.getUploadPath2()}}" alt=""></div>
            <p class="info_box_subtitle" th:text="${tour.getSubtitle2()}"></p>
            <p class="info_box_context" th:text="${tour.getContent2()}"></p>
            <hr>
            <div id="main_spots">
                <p class="info_box_subtitle">주요 볼거리</p>
            <div class="info_list_flex_box">
                <div class="menu_image">
                    <img th:src="@{${tour.getUploadPath3()}}" alt="">
                </div>
                <div class="menu_description">
                    <p class="menu_name" th:text="${tour.getThing1()}"></p>
                    <p class="menu_description_text" th:text="${tour.getSummary1()}"></p>
                </div>
            </div>
            <div class="info_list_flex_box">
                <div class="menu_image">
                    <img th:src="@{${tour.getUploadPath4()}}" alt="">
                </div>
                <div class="menu_description">
                    <p class="menu_name" th:text="${tour.getThing2()}"></p>
                    <p class="menu_description_text" th:text="${tour.getSummary2()}"></p>
                </div>
            </div>
            <div class="info_list_flex_box">
                <div class="menu_image">
                    <img th:src="@{${tour.getUploadPath5()}}" alt="">
                </div>
                <div class="menu_description">
                    <p class="menu_name" th:text="${tour.getThing3()}"></p>
                    <p class="menu_description_text" th:text="${tour.getSummary3()}"></p>
                </div>
            </div>

            </div>
            <p id="basic_info_text">기본 정보</p>
            <div id="basic_info">
                <div id="basic_info_flex_box">
                <div id="tips_for_visiting">
                    <div class="flex_div">
                        <p class="index_p">권장 체류 시간</p>
                        <p class="context_p" th:text="${tour.getRecommendTime()}"></p>
                    </div>
                <div class="flex_div">
                    <p class="index_p">가는방법</p>
                    <p class="context_p" th:text="${tour.getRoad()}"></p>
                </div>
                <div class="flex_div">
                    <p class="index_p">이용가능시간, 휴무일</p>
                    <p class="context_p"><span class="blue_text" th:text="${tour.getAvailableAt()}"></span></p>
                </div>
                <div class="flex_div">
                    <p class="index_p">이곳의 이용팁</p>
                    <p class="context_p" th:text="${tour.getUsing()}"></p>
                </div>
                </div>
            </div>
        </div>
        </div>
            <div id="review_box">
                <div id="review_top">
                    <p class="index_p">리뷰 <span class="blue_text">332</span></p>
                    <div id="review_write_see">
                        <p id="write_review"><a th:href="'/Triple/spot/review/tour/'+ ${tour.getIdx()}">리뷰 쓰기</a></p>
                        <p id="see_review"><a href="">리뷰 전체보기</a></p>
                    </div>
                </div>
                <div class="review_content" th:each="review : ${reviewList}">
                    <div><img src="/lib/img/travel_spot_img/triple_vladivostok.svg" alt="" class="profile_picture"></div>
                    <div class="user_info_area">
                        <p class="userid_area" th:text="${review.getUserEmail()}"></p>
                        <p class="userlevel_review_count">LEVEL1/2개의 리뷰</p>
                        <p class="star_area"><span class="star_point">★★★★☆</span></p>
                    </div>
                    <div class="review_context" >
                        <p th:text="${review.getContent()}"></p>
                    </div>
                </div>
            </div>

        <script>
            var i = 0;
            $('.bi-heart').on('click',function(){
                if(i==0){
                    $(this).removeClass('bi-heart');
                    $(this).addClass('bi-heart-fill');
                    i++;
                }else if(i==1){
                    $(this).removeClass('bi-heart-fill');
                    $(this).addClass('bi-heart');
                    i--;
                }
                
            });
        </script>
    </main>
<!-- footer 시작 -->
<footer th:replace="fragement/footer :: footer"></footer>
<!-- footer 끝 -->
</body>
</html>