<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 국내</title>
    <link rel="stylesheet" href="/app/css/travel_spot.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!--header 시작-->
    <div th:replace="fragement/header :: header"></div>
    <!--header 끝-->

    <div id="travel_spot_img"></div>
    <main>
        <div id="travel_spot_menus">
            <p><a href="/Triple/spot_location">가이드</a></p>
            <p><a href="/Triple/flightMain">항공</a></p>
            <p><a href="/Triple/lodgingMain">숙소</a></p>
            <p><a href="/Triple/spot/tour">관광</a></p>
            <p><a href="/Triple/spot/restaurant">맛집</a></p>
            <p><a href="/Triple/spot/">투어<span>&#183;</span>티켓</a></p>
            <p><a href="/Triple/tour_ticket_main">투어<span>&#183;</span>티켓</a></p>
        </div>
        <p id="region_name">가평<span>&#183;</span>양평<img src="/lib/img/travel_spot_img/downward_triangle.png" alt=""></p>
        <div class="contents_box">
            <p class="title_text">숙소 지역 추천부터 최저가 예약까지</p>
            <div class="flex_box"><p class="subtitle_text">사이트별 최저가로 트리플에서 한번에 비교해보세요</p><a href="/templates/pages/lodging_room/lodging_korea.html">자세히</a></div>
            <div class="flex_menu_box">
                <div class="travel_spot_package">
                    <a href="/templates/pages/travel_spot/spot_tour_info.html">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="contents_box">
            <p class="title_text">요즘 가평 여행에서는 무엇을 할까?</p>
            <div class="flex_box"><p class="subtitle_text">뻔하지 않고 색다르게 가평 즐기기</p><a href="">자세히</a></div>
            <div class="flex_menu_box">
                <div class="travel_spot_package">
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="contents_box">
            <p class="title_text">양평에서 뭐 하지?</p>
            <div class="flex_box"><p class="subtitle_text">양평을 더 특별하게 여행하는 7가지 방법</p><a href="/templates/pages/lodging_room/lodging_main.html">자세히</a></div>
            <div class="flex_menu_box">
                <div class="travel_spot_package">
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="contents_box">
            <p class="title_text">가평<span>&#183;</span>양평 여행자들의 생생한 여행기</p>
            <div class="flex_box"><p class="subtitle_text">직접 다녀온 추천 일정과 여행 꿀팁 확인하기</p><a href="">자세히</a></div>
            <div class="flex_travels_box">
                <div>
                    <div class="travels_bg_img_area">
                        <div>
                        <p class="travels_userid"><img src="/lib/img/travel_spot_img/triple_vladivostok.svg" alt=""><a href="">오렌지님의 일정</a></p>
                        <p class="travels_title"><a href="">가평과 서울을 넘나드는 여행</a></p>
                        <p class="travels_text">가평은 너무 힐링하기 좋고, 서울은 볼것이 많지만 너무 눈이 핑핑 돌았던 여행~ 가평은 빠지가 유명하다던데 다음에 꼭 다시 가서..</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="travels_bg_img_area">
                        <div>
                        <p class="travels_userid"><img src="/lib/img/travel_spot_img/triple_vladivostok.svg" alt=""><a href="">오렌지님의 일정</a></p>
                        <p class="travels_title"><a href="">가평과 서울을 넘나드는 여행</a></p>
                        <p class="travels_text">가평은 너무 힐링하기 좋고, 서울은 볼것이 많지만 너무 눈이 핑핑 돌았던 여행~ 가평은 빠지가 유명하다던데 다음에 꼭 다시 가서..</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="travels_bg_img_area">
                        <div>
                        <p class="travels_userid"><img src="/lib/img/travel_spot_img/triple_vladivostok.svg" alt=""><a href="">오렌지님의 일정</a></p>
                        <p class="travels_title"><a href="">가평과 서울을 넘나드는 여행</a></p>
                        <p class="travels_text">가평은 너무 힐링하기 좋고, 서울은 볼것이 많지만 너무 눈이 핑핑 돌았던 여행~ 가평은 빠지가 유명하다던데 다음에 꼭 다시 가서..</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="travels_bg_img_area">
                        <div>
                        <p class="travels_userid"><img src="/lib/img/travel_spot_img/triple_vladivostok.svg" alt=""><a href="">오렌지님의 일정</a></p>
                        <p class="travels_title"><a href="">가평과 서울을 넘나드는 여행</a></p>
                        <p class="travels_text">가평은 너무 힐링하기 좋고, 서울은 볼것이 많지만 너무 눈이 핑핑 돌았던 여행~ 가평은 빠지가 유명하다던데 다음에 꼭 다시 가서..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contents_box">
            <p class="title_text">숙소 선택이 막막하다면?</p>
            <div class="flex_box"><p class="subtitle_text">트리플이 정리한 가평<span>&#183;</span>양평 추천 숙소</p><a href="">자세히</a></div>
            <div class="flex_menu_box">
                <div class="travel_spot_package">
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="contents_box">
            <p class="title_text">물놀이 하기 좋은 가평과 양평의 계곡</p>
            <div class="flex_box"><p class="subtitle_text">무더위를 날려버릴 시원한 계곡들</p><a href="">자세히</a></div>
            <div class="flex_menu_box">
                <div class="travel_spot_package">
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div id="carts_box_container">
            <div id="flex_cart_box">
                <div class="cart_box">
                    <p class="in_the_cart">현재 내가 저장한 장소 0개</p>
                    <p class="cart_recommend_text">가고 싶은 곳들을 저장하면 여행할 때 더 쉽게 길찾기 할 수 있어요!</p>
                    <div id="button_flex_box">
                        <div class="div_button"><a href="">맛집 저장</a></div>
                        <div class="div_button"><a href="">관광지 저장</a></div>
                    </div>
                </div>
                <div class="cart_box">
                    <p class="in_the_cart">가평<span>&#183;</span>양평 여행 체크리스트</p>
                    <p class="cart_recommend_text">일정별 추천 예약부터 기본 짐 싸기까지,<br> 꼭 챙겨야 할 필수 준비물들을 체크해보세요.</p>
                    <p id="see_more"><a href="">자세히</a></p>
                </div>
                
            </div>
        </div>
    </main>
<!-- footer 시작 -->
<footer th:replace="fragement/footer :: footer"></footer>
<!-- footer 끝 -->
</body>
</html>