<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 맛집목록</title>
    <link rel="stylesheet" href="/member/travel_spot/css/travel_spot.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <header>
        <div id="logo_area">
            <div id="logo"><a href="/main.html"><img src="/img/logo_triple.svg" alt="트리플 로고" style="width: 200px;"></a></div>
            <form id="menu_form">
                <div id="search"><input type="text" placeholder="어디로 떠나시나요?"><button type="submit" value="검색" style="cursor: pointer;">검색</button></div>
            </form>
            <div id="login_join"><a href="/member/login_join/login.html">LOGIN</a> | <a href="/member/login_join/login.html">JOIN</a></div>
    
        </div>
        <div id="menu_area">
            <ul id="menus">
                <li><a href="/member/overseas_travel/overseas_travel_main.html">해외여행</a></li>
                <li><a href="/member/domestic_travel/domestic_main.html">국내여행</a></li>
                <li><a href="/lib/img/flight_main.html">항공예약</a></li>
                <li><a href="/member/lodging_room/lodging_main.html">숙소예약</a></li>
                <li><a href="/member/tour_ticket/tour_ticket_main.html">투어·티켓</a></li>
                <li><a href="/member/travel_package/package_main.html">패키지여행</a></li>
                <li><a href="/member/magazine/magazine.html" >여행매거진</a></li>
                <li><a href="/member/event/event.html">혜택/렌터카</a></li>
            </ul>
        </div>
    </header>
    <div id="travel_spot_img"></div>
    <main>
    <p id="title_text">괌 관광 <select name="" id=""></select></p>
    <div id="restaurant_list_box">
        <div id="restaurant_flex_box">
            <div id="image_area">
                <a href="./spot_restaurant_info.html"><img src="./img/beachinshrimp.jpg" alt=""></a>
            </div>
            <div id="text_area">
                <p class="restauran_list_title_text"><a href="./spot_restaurant_info.html"> 비치 인 쉬림프 1호점</a></p>
                <p>신선한 재료를 사용하는 새우 요리 전문점</p>
                <p><span class="star_point">★★★★☆</span> (590) <span>&#183;</span> 저장 10,981</p>
                <p>음식점 <span>&#183;</span> 투몬,타무닝</p>
                <br>
                <p class="bold_font">이용가능시간,휴무일</p>
                <p class="bold_font">오늘 11:00 - 21:00</p>
                <p class="bold_font">비정기 휴무 있음 (홈페이지 참고)</p>
            </div>
        </div>
        <hr>
    </div>
    <div id="restaurant_list_box">
        <div id="restaurant_flex_box">
            <div id="image_area">
                <a href="./spot_restaurant_info.html"><img src="/member/travel_spot/img/eggandthings.jpg" alt=""></a>
            </div>
            <div id="text_area">
                <p id="title_text"><a href="./spot_restaurant_info.html"> 에그 앤 띵스</a></p>
                <p>하와이안 브런치 메뉴를 맛볼 수 있는 레스토랑</p>
                <p><span class="star_point">★★★★☆</span> (590) <span>&#183;</span> 저장 10,981</p>
                <p>음식점 <span>&#183;</span> 투몬,타무닝</p>
                <br>
                <p class="bold_font">이용가능시간,휴무일</p>
                <p class="bold_font">오늘 11:00 - 21:00</p>
                <p class="bold_font">비정기 휴무 있음 (홈페이지 참고)</p>
            </div>
        </div>
        <hr>
    </div>
    <div id="restaurant_list_box">
        <div id="restaurant_flex_box">
            <div id="image_area">
                <a href="./spot_restaurant_info.html"><img src="./img/proa.jpg" alt=""></a>
            </div>
            <div id="text_area">
                <p id="title_text"><a href="./spot_restaurant_info.html"> 프로아 1호점</a></p>
                <p>숯불에 구워 육즙 가득한 다양한 종류의 바비큐 립이 유명한 레스토랑</p>
                <p><span class="star_point">★★★★☆</span> (590) <span>&#183;</span> 저장 10,981</p>
                <p>음식점 <span>&#183;</span> 투몬,타무닝</p>
                <br>
                <p class="bold_font">이용가능시간,휴무일</p>
                <p class="bold_font">오늘 11:00 - 21:00</p>
                <p class="bold_font">비정기 휴무 있음 (홈페이지 참고)</p>
            </div>
        </div>
        <hr>
    </div>
    <div id="restaurant_list_box">
        <div id="restaurant_flex_box">
            <div id="image_area">
                <a href="./spot_restaurant_info.html"><img src="./img/pikascafe.webp" alt=""></a>
            </div>
            <div id="text_area">
                <p id="title_text"><a href="./spot_restaurant_info.html"> 피카스 카페</a></p>
                <p>하와이안 덮밥 '로코모코'를 맛볼 수 있는 브런치 카페</p>
                <p><span class="star_point">★★★★☆</span> (590) <span>&#183;</span> 저장 10,981</p>
                <p>음식점 <span>&#183;</span> 투몬,타무닝</p>
                <br>
                <p class="bold_font">이용가능시간,휴무일</p>
                <p class="bold_font">오늘 11:00 - 21:00</p>
                <p class="bold_font">비정기 휴무 있음 (홈페이지 참고)</p>
            </div>
        </div>
        <hr>
    </div>
    <div id="restaurant_list_box">
        <div id="restaurant_flex_box">
            <div id="image_area">
                <a href="./spot_restaurant_info.html"><img src="./img/beachbarandgrill.jpg" alt=""></a>
            </div>
            <div id="text_area">
                <p id="title_text"><a href="./spot_restaurant_info.html"> 비치 바 앤 그릴</a></p>
                <p>탁 트인 해변에서 볼 수 있는 일몰과 각종 라이브 공연이 유명한 비치 바</p>
                <p><span class="star_point">★★★★☆</span> (590) <span>&#183;</span> 저장 10,981</p>
                <p>음식점 <span>&#183;</span> 투몬,타무닝</p>
                <br>
                <p class="bold_font">이용가능시간,휴무일</p>
                <p class="bold_font">오늘 11:00 - 21:00</p>
                <p class="bold_font">비정기 휴무 있음 (홈페이지 참고)</p>
            </div>
        </div>
        <hr>
    </div>
    </main>
    <footer>
        <div id="enterprise_info">
            <div id="enterprise_info_text">
                <p id="bold">트리플 사업자 정보</p>
                <p>(주)트리플은 통신판매중개로서 통신판매의 당사자가 아니며 상품 거래정보 및 거래등에 대해 책임을 지지 않습니다.</p>
                <p>항공, 숙소 및 투어, 티켓문의 1588-0000</p>

                <p><a href="#">서비스이용약관</a>|<a href="#">개인정보 처리방침</a>|<a href="#">회사 소개</a>|<a href="#">고객센터</a></p>
            </div>
            <div id="icon_box">
                <div id="sns_box">
                    <div><a href="#"><img src="./img/btn-social-blog@3x.png" alt="SNS"></a></div>
                    <div><a href="#"><img src="./img/btn-social-insta@3x.png" alt="SNS"></a></div>
                    <div><a href="#"><img src="./img/btn-social-fb@3x.png" alt="SNS"></a></div>
                    <div><a href="#"><img src="./img/btn-social-brunch@3x.png" alt="SNS"></a></div>
                </div>
                <div id="TRIP"><a href="#"><img src="./img/footer_TRIP.png" alt="TRIP"></a></div>
            </div>
        </div>
    </footer>
</body>
</html>