<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 리뷰작성</title>
    <link rel="stylesheet" href="/app/css/travel_spot.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!--header 시작-->
    <div th:replace="fragement/header :: header"></div>
    <!--header 끝-->

    <div id="travel_spot_img"></div>
    <main>
        <div id="travel_spot_menus">
            <p><a href="/Triple/spot_location">가이드</a></p>
            <p><a href="/Triple/flightMain">항공</a></p>
            <p><a href="/Triple/lodgingMain">숙소</a></p>
            <p><a href="/Triple/spot/tour">관광</a></p>
            <p><a href="/Triple/spot/restaurant">맛집</a></p>
            <p><a href="/Triple/spot/">투어<span>&#183;</span>티켓</a></p>
            <p><a href="/Triple/tour_ticket_main">투어<span>&#183;</span>티켓</a></p>
        </div>
        <div id="writing_box">
            <p class="title_text">투어 리뷰 수정</p>
            <form th:action="@{/api/tour_review/register}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="postId" th:value="${tou}">
                <input type="hidden" name="userEmail" th:value="${session.email}">
                <input type="hidden" name="nickname" th:value="${session.nickname}">
                <p><button type="reset" value="취소">취소</button> | <input type="submit" value="등록"></p>
                <input type="text" name="title">
                <textarea name="content" id="" placeholder="이 가이드는 어떠셨나요? 여행에서 알면 좋은 팁을 나눠주세요."></textarea>
                <input name="file" type="file">
            </form>
        </div>
    </main>
<!-- footer 시작 -->
<footer th:replace="fragement/footer :: footer"></footer>
<!-- footer 끝 -->
</body>
</html>