<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 맛집목록</title>
    <link rel="stylesheet" href="/app/css/travel_spot.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!--header 시작-->
    <div th:replace="fragement/header :: header"></div>
    <!--header 끝-->

    <div id="travel_spot_img"></div>
    <main>
        <div id="travel_spot_menus">
            <p><a href="/Triple/spot_location">가이드</a></p>
            <p><a href="/Triple/flightMain">항공</a></p>
            <p><a href="/Triple/lodgingMain">숙소</a></p>
            <p><a href="/Triple/spot/tour">관광</a></p>
            <p><a href="/Triple/spot/restaurant">맛집</a></p>
            <p><a href="/Triple/spot/">투어<span>&#183;</span>티켓</a></p>
            <p><a href="/Triple/tour_ticket_main">투어<span>&#183;</span>티켓</a></p>
        </div>
        <p><a href="/Triple/spot_location" style="color:#50e3c2;">정보</a> | <a href="/Triple/spot/tour">관광</a> | <a href="/Triple/spot/restaurant">맛집</a></p>
    <div class="restaurant_list_box">
        <div class="restaurant_flex_box" th:each="restaurant : ${restaurantList}">
            <div class="image_area">
                <a th:href="'/Triple/spot/restaurant/view/'+${restaurant.getIdx()}+'/1'"><img th:src="@{${restaurant.getUploadPath1()}}" alt=""></a>
            </div>
            <div class="text_area">
                <p class="restauran_list_title_text"><a th:href="'/Triple/spot/restaurant/view/'+${restaurant.getIdx()}+'/1'" th:text="${restaurant.getLocation()}"> </a></p>
                <p th:text="${restaurant.getSummary()}"></p>
                <p><span class="star_point" th:text="${restaurant.getStarCount()} + '점 ' +'('+${restaurant.getReviewCount()}+')'"></span><span>&#183;</span> 저장 10,981</p>
                <p th:text="${restaurant.getLocation()}"></p>
                <br>
                <p class="bold_font">이용가능시간,휴무일</p>
                <p class="bold_font" th:text="${restaurant.getAvailableAt()}"></p>
            </div>
            <hr>
        </div>
    </div>
    </main>
<!-- footer 시작 -->
<footer th:replace="fragement/footer :: footer"></footer>
<!-- footer 끝 -->
</body>
</html>