<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 지역세부</title>
    <link rel="stylesheet" href="/app/css/travel_spot.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/app/js/mysave.js"></script>
</head>
<body>
    <!--header 시작-->
    <div th:replace="fragement/header :: header"></div>
    <!--header 끝-->
    <div id="travel_spot_img"></div>
    <main>
        <div id="travel_spot_menus">
            <p><a href="/Triple/spot_location">가이드</a></p>
            <p><a href="/Triple/flightMain">항공</a></p>
            <p><a href="/Triple/lodgingMain">숙소</a></p>
            <p><a href="/Triple/spot/tour">관광</a></p>
            <p><a href="/Triple/spot/restaurant">맛집</a></p>
            <p><a href="/Triple/spot/">투어<span>&#183;</span>티켓</a></p>
            <p><a href="/Triple/tour_ticket_main">투어<span>&#183;</span>티켓</a></p>
        </div>
        <div id="utility_box">
            <div id="utility_flex_box">
                <div id="mark"><p>가이드</p></div>
                <div id="utility_flex_box2">
                    <form method="POST">
                        <input type="hidden" id="itemNum" th:value="${guide.getIdx()}"/>
                        <input type="hidden" id="userId" th:value="${userId}"/>
                        <input type="hidden" id="location" th:value="${guide.getCity()}"/>
                        <input type="hidden" id="title" th:value="${guide.getTitle()}"/>
                        <input type="hidden" id="summary" th:value="${guide.getContent()}"/>
                        <input type="hidden" id="uploadPath" th:value="${guide.getUploadPath()}"/>
                        <input type="hidden" id="saveType" th:value="'GUIDE'"/>
                        <div id="tour_info_btn_like"><img src="/lib/img/travel_spot_img/icon_save.svg" alt="하트"><input style="cursor: pointer" type="button" id="sendit" value="저장하기"/></div>
                    </form>
                    <a href="/templates/pages/mypage/my_travel/my_travel_main.html"><div id="tour_info_btn_schedule"><img src="/lib/img/travel_spot_img/icon_schedule.svg" alt="일정"> 일정추가</div></a>
                    <a th:href="'/Triple/spot/review/guide/'+ ${guide.getIdx()}"><div id="tour_info_btn_writereview"><img src="/lib/img/icon_review.svg" alt="리뷰"> 리뷰쓰기</div></a>
                    <a href="#"><div id="tour_info_btn_share"><img src="/lib/img/travel_spot_img/icon_share.svg" alt="공유"> 공유하기</div></a>
                </div>
            </div>
            <div class="text_area">
                <br>
                <p class="title_text" th:text="${guide.getTitle()}"></p>
                <div id="sub_flex_box">
                    <p id="sub_text" th:text="'리뷰: ' + ${guide.getReviewCount()} + '개 평점: ' + ${guide.getStarCount()}+'점'"></p>
                </div>
            </div>
        </div>
        <div id="box_information">
<!--            <p class="title_text" th:text="${guide.getTitle()}"></p>-->
<!--            <div id="sub_flex_box">-->
<!--            <p id="sub_text" th:text="'리뷰: ' + ${guide.getReviewCount()} + '개 평점: ' + ${guide.getStarCount()}+'점'"></p>-->
            <div id="like_save_box">
            <img src="/lib/img/travel_spot_img/btn-social-blog@3x.png" alt=""><img src="/lib/img/travel_spot_img/btn-social-blog@3x.png" alt=""><img src="/lib/img/travel_spot_img/btn-social-blog@3x.png" alt="">
<!--            </div>-->
            </div>
            <div id="box_information_img"><img th:src="@{${guide.getUploadPath()}}" alt=""></div>
            <div id="context_box">
                <p th:text="${guide.getContent()}"></p>
            </div>
        </div>
        <hr>
        <div id="table_information">
            <p class="title_text">기본정보</p>
            <table>
                <tr>
                    <td class="table_index">언어</td>
                    <td th:text="${guide.getLanguage()}" style="white-space: pre-line; word-break: keep-all;"></td>
                </tr>
                <tr>
                    <td class="table_index">면적</td>
                    <td th:text="${guide.getArea()}" style="white-space: pre-line; word-break: keep-all;"></td>
                </tr>
                <tr>
                    <td class="table_index">인구</td>
                    <td th:text="${guide.getPopulation()}" style="white-space: pre-line; word-break: keep-all;"></td>
                </tr>
                <tr>
                    <td class="table_index">시차</td>
                    <td th:text="${guide.getTimeDifference()}" style="white-space: pre-line; word-break: keep-all;"></td>
                </tr>
                <tr>
                    <td class="table_index">종교</td>
                    <td th:text="${guide.getMyth()}" style="white-space: pre-line; word-break: keep-all;"></td>
                </tr>
                <tr>
                    <td class="table_index">전압</td>
                    <td th:text="${guide.getVoltage()}" style="white-space: pre-line; word-break: keep-all;"></td>
                </tr>
                <tr>
                    <td class="table_index">통화</td>
                    <td th:text="${guide.getCurrency()}" style="white-space: pre-line; word-break: keep-all;"</td>
                </tr>
                <tr>
                    <td class="table_index">전화</td>
                    <td th:text="${guide.getCountryCode()}" style="white-space: pre-line; word-break: keep-all;"></td>
                </tr>
                <tr>
                    <td class="table_index">비자</td>
                    <td>
                        <p th:text="${guide.getVisa()}" style="white-space: pre-line; word-break: keep-all;"></p>
                    </td>
                </tr>
                <tr>
                    <td class="table_index">물가</td>
                    <td>
                        <p th:text="${guide.getPrices()}" style="white-space: pre-line; word-break: keep-all;"></p>
                    </td>
                </tr>
                <tr>
                    <td class="table_index">항공</td>
                    <td>
                        <p th:text="${guide.getAir()}" style="margin: 0; white-space: pre-line; word-break: keep-all;"></p>
                        <p style="text-align: right; margin: 0;"><a href="/Triple/flightMain">현재 운항 중인 항공편 조회하기</a></p>
                        
                    </td>
                </tr>
                <tr>
                    <td class="table_index">기후</td>
                    <td>
                        <p th:text="${guide.getClimate()}" style="white-space: pre-line; word-break: keep-all;"></p>
                    </td>
                </tr>
                <tr>
                    <td class="table_index"> 여행 최적기</td>
                    <td>
                        <p th:text="${guide.getBestTime()}" style="white-space: pre-line; word-break: keep-all;"></p>
                    </td>
                </tr>
                <tr>
                    <td class="table_index">간단한 회화</td>
                    <td>
                        <p th:text="${guide.getSimpleConversation()}" style="white-space: pre-line; word-break: keep-all;"></p>
                    </td>
                </tr>
            </table>
        </div>
        <div id="review_box">
            <div id="review_top">
                <p class="index_p">리뷰 <span class="blue_text" th:text="${guide.getReviewCount()}"></span></p>
                <div id="review_write_see">
                    <p id="write_review"><a th:href="'/Triple/spot/review/guide/'+ ${guide.getIdx()}">리뷰 쓰기</a></p>
                    <p id="see_review"><a href="">리뷰 전체보기</a></p>
                </div>
            </div>
            <div class="review_content" th:each="review : ${reviewList}">
                <div th:if="${review.getUserEmail()} == ${session.email}">
                 <a th:href="'/Triple/spot/location/review_delete/'+ ${review.getIdx()} + '/' + ${guide.getIdx()}">삭제하기</a>
                 <a th:href="'/Triple/spot/review_update/guide/'+ ${review.getIdx()}">수정하기</a>
                 </div>
                <div><img src="/lib/img/travel_spot_img/triple_vladivostok.svg" alt="" class="profile_picture"></div>
                <div class="user_info_area">
                    <p class="userid_area" th:text="${review.getUserEmail()}"></p>
                    <p class="star_area"><span class="star_point" th:text="${review.getStarCount()} + '점'"></span></p>
                </div>
                <div class="review_context" >
                    <p th:text="${review.getContent()}"></p>
                </div>
            </div>
            <div>
                <p><a th:each="page: ${pageList}" th:text="${page}" th:href="'/Triple/spot_location/view/'+${guide.getIdx()}+'/'+${page}"></a></p>
            </div>
        </div>
    </main>
    <!-- footer 시작 -->
    <footer th:replace="fragement/footer :: footer"></footer>
    <!-- footer 끝 -->
</body>
</html>