<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 리뷰작성</title>
    <link rel="stylesheet" href="/member/travel_spot/css/travel_spot.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<!--header 시작-->
<div th:replace="fragement/header :: header"></div>
<!--header 끝-->
    <div id="travel_spot_img"></div>
    <main>
        <div id="travel_spot_menus">
            <p><a href="/member/travel_spot/guide_info.html">가이드</a></p>
            <p><a href="/lib/img/air.html">항공</a></p>
            <p><a href="/member/lodging_room/lodging_main.html">숙소</a></p>
            <p><a href="/member/travel_spot/guide_tour.html">관광</a></p>
            <p><a href="/member/travel_spot/guide_restaurant.html">맛집</a></p>
            <p><a href="/member/tour_ticket/list.html">투어<span>&#183;</span>티켓</a></p>
            <p><a href="#">라운지</a></p>
        </div>
        <div id="writing_box">
            <p id="title_text">괌 기초 정보</p>
            <form action="">
                <p><button type="reset" value="취소">취소</button> | <button type="submit">완료</button></p>
                <textarea name="" id="" placeholder="이 가이드는 어떠셨나요? 여행에서 알면 좋은 팁을 나눠주세요."></textarea>
                <input type="file">
            </form>
        </div>
    </main>
<!-- footer 시작 -->
<footer th:replace="fragement/footer :: footer"></footer>
<!-- footer 끝 -->
</body>
</html>