<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRIPLE | 해외지역</title>
    <link rel="stylesheet" href="/app/css/travel_spot.css">
    <link rel="stylesheet" href="/app/css/common.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!--header 시작-->
    <div th:replace="fragement/header :: header"></div>
    <!--header 끝-->
    <div id="travel_spot_img"></div>
    <main>
        <div id="travel_spot_menus">
            <p><a href="/Triple/spot_location">가이드</a></p>
            <p><a href="/Triple/flightMain">항공</a></p>
            <p><a href="/Triple/lodgingMain">숙소</a></p>
            <p><a href="/Triple/spot/tour">관광</a></p>
            <p><a href="/Triple/spot/restaurant">맛집</a></p>
            <p><a href="/Triple/spot/">투어<span>&#183;</span>티켓</a></p>
            <p><a href="/Triple/tour_ticket_main">투어<span>&#183;</span>티켓</a></p>
        </div>
        <div id="main_contents">
            <div class="onedaytrip_box">
                <p class="title_text">부담없이 떠나는 당일치기 여행지 7</p>
                <p id="sub_text">요즘 뜨는 도시부터 추천 코스까지 한눈에</p>
                <div class="travel_spot_package">
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                </div>
            </div>
        <div id="flight_box">
            <p id="flight_find">항공권 찾기</p>
            <p class="title_text">괌 주말 특가 항공권</p>
            <div id="flight_show_window">
                <p class="flight_show"><img src="/lib/img/travel_spot_img/tway.png" alt="">8월 30일 (화) 출발 <span class="small">가는편 기준</span> <span class="right">34,300원<span class="small">직항</span> ></span></p>
                <p class="flight_show"><img src="/lib/img/travel_spot_img/jejuair.png" alt="">8월 30일 (화) 출발 <span class="small">가는편 기준</span> <span class="right">34,300원<span class="small">직항</span> ></span></p>
                <p class="flight_show"><img src="/lib/img/travel_spot_img/jinair.png" alt="">8월 30일 (화) 출발 <span class="small">가는편 기준</span> <span class="right">34,300원<span class="small">직항</span> ></span></p>
                <p id="view_flight"><a href="/templates/pages/flight_reservation/flight_main.html">항공권 더보기</a></p>
            </div>
        </div>
        <div id="info_box">
            <p id="title_text2">괌 여행 기초 정보</p>
            <div id="info_icon">
                <img src="/lib/img/travel_spot_img/airplane.png" alt="">
                <img src="/lib/img/travel_spot_img/45days.png" alt="">
                <img src="/lib/img/travel_spot_img/1hour.png" alt="">
                <img src="/lib/img/travel_spot_img/Americandollar.png" alt="">
                <img src="/lib/img/travel_spot_img/Languagebox.png" alt="">
            </div>
            <div id="view_info_flex">
                <div id="view_info"><a href=""> 자세히보기</a></div>
            </div>
            </div>
            <div class="onedaytrip_box">
                <p class="title_text">트리플 숙소 추천</p>
                <div class="travel_spot_package">
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="imgbox">
                            <p>가까워서 좋은<br>힐링여행지 5</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div id="region_info_boxes">
            <div class="region_info_box">
                <p class="title_text">괌의 6월 날씨</p>
                <p class="subtitle_text">덥고 습한 우기</p>
                <div class="view_button_flex">
                    <div><a href=""> 자세히 보기</a></div>
                </div>
            </div>
            <div class="region_info_box">
                <p class="title_text">현지 입국 조치 및 준비 서류</p>
                <p class="subtitle_text">격리 없는 여행을 위해 준비할 서류</p>
                <div class="view_button_flex">
                    <div><a href=""> 자세히 보기</a></div>
                </div>
            </div>
            <div class="region_info_box">
                <p class="title_text">괌 여행 체크리스트</p>
                <p class="subtitle_text">일정별 추천 예약부터 기본 짐싸기까지</p>
                <div class="view_button_flex">
                    <div><a href=""> 자세히 보기</a></div>
                </div>
            </div>
            <div class="region_info_box">
                <p class="title_text">괌 교통 완전 정복</p>
                <p class="subtitle_text">미리 알아두면 좋은 주요 교통수단 이용</p>
                <div class="view_button_flex">
                    <div><a href=""> 자세히 보기</a></div>
                </div>
            </div>
        </div>
    </main>
<!-- footer 시작 -->
<footer th:replace="fragement/footer :: footer"></footer>
<!-- footer 끝 -->
</body>
</html>