<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 | 맛집 상세보기</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/app/css/admin.css">

</head>
<body>
<!--header-->
<div th:replace="fragement/adminTopbar :: adminTopbar"></div>
<!--header 끝-->

<!-- 사이드바-->
<section id="sidebar">
    <aside id="leftsidebar" class="sidebar">
        <ul class="side-menu">
            <li><a href="#"><i class='bx bxs-user-detail icon'></i>회원관리<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/userList">회원목록</a></li>
                    <li><a href="/Triple/admin/user/term">회원가입</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bx-list-check icon'></i>예약조회<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">

                    <li><a href="/Triple/admin/booking/fly">항공권</a></li>
                    <li><a href="/Triple/admin/booking/lodging">숙소</a></li>
                    <li><a href="/Triple/admin/booking/package">패키지</a></li>

                </ul>
            </li>
            <li><a href="#"><i class='bx bxs-folder-plus icon'></i>신규등록<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/airline_register">항공사 신규 등록</a></li>
                    <li><a href="/Triple/aircraft_register">항공기 신규 등록</a></li>
                    <li><a href="/Triple/airportList">취항지 목록</a></li>
                    <li><a href="/Triple/destination_register">취항지 신규 등록</a></li>
                    <li><a href="/Triple/lodging_company">숙소 신규 등록</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bxs-inbox icon'></i>상품등록<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/airline_select">항공권</a></li>
                    <li><a href="/Triple/room_register">숙소</a></li>
                    <li><a href="/Triple/package_register">패키지</a></li>

                </ul>
            </li>
            <li><a href="#"><i class='bx bx-list-check icon'></i>상품목록<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/airLineList">항공권</a></li>
                    <li><a href="/Triple/admin/lodgingList">숙소</a></li>
                    <li><a href="/Triple/admin/packageList">패키지</a></li>

                </ul>
            </li>

            </li>
            <li><a href="#"><i class='bx bxs-coupon icon'></i>쿠폰<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/couponList">목록</a></li>
                    <li><a href="/Triple/admin/coupon/register">등록</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bx-gift icon'></i>이벤트<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/eventList">목록</a></li>
                    <li><a href="/Triple/admin/event/register">등록</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bx-list-ul icon'></i>공지사항<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/noticeList">목록</a></li>
                    <li><a href="/Triple/admin/notice/register">등록</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bxs-inbox icon'></i>매거진<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/magazineList">목록</a></li>
                    <li><a href="/Triple/admin/magazine_register">등록</a></li>
                </ul>
            </li>
            <li><a href="#" style="background-color: white; color: #0098A1;"><i class='bx bx-map icon'></i>여행스팟<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown show">
                    <li><a href="/Triple/admin/spotList">목록</a></li>
                    <li><a href="/Triple/tourism_register">관광지 등록</a></li>
                    <li><a href="/Triple/restaurant_register" style="color:darkslategray; font-weight: bold;">맛집 등록</a></li>
                    <li><a href="/Triple/guide_register">가이드 등록</a></li>
                </ul>
            </li>
            <li><a href="/Triple/admin/payment"><i class='bx bx-credit-card icon'></i>결제</a>
            </li>
            <li><a href="#"><i class='bx bx-question-mark icon'></i>문의<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/admin/inquiryList">1:1 문의</a></li>
                    <li><a href="/Triple/admin/faqList">FAQ</a></li>
                </ul>
            </li>
            <li><a href="#"><i class='bx bx-user icon'></i>관리자 관리<i class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="/Triple/adminList">목록</a></li>
                    <li><a href="/Triple/admin/admin_join">등록</a></li>
                </ul>
            </li>
            <li><a href="/Triple/admin/admin_login"><i class='bx bx-log-out icon'></i>로그아웃</a></li>
        </ul>
    </aside>
</section>
<!--사이드바 끝-->
<section class="content2">
    <div class="content2-fluid">
        <div class="header_box">
            <!--타이틀-->
            <h2>스팟 등록 | 맛집</h2>
            <!--타이틀 끝-->
        </div>
        <!--매거진 정보 입력-->
        <form>
            <input type="hidden" name="adminuserId" th:value="${session.userid}">
            <input type="hidden" name="adminuserName" th:value="${session.name}">
            <div class="admin_inquiry_q3">
                <select name="country" class="admin_inquiry_category2 concategory" th:value="${restaurant.country}">
                    <option th:selected="${restaurant.country}==''">국가</option>
                    <option th:selected="${restaurant.country}=='대한민국'">대한민국</option>
                    <option th:selected="${restaurant.country}=='필리핀'">필리핀</option>
                    <option th:selected="${restaurant.country}=='베트남'">베트남</option>
                    <option th:selected="${restaurant.country}=='코타키나발루'">코타키나발루</option>
                    <option th:selected="${restaurant.country}=='싱가포르'">싱가포르</option>
                    <option th:selected="${restaurant.country}=='괌/사이판'">괌/사이판</option>
                    <option th:selected="${restaurant.country}=='스페인'">스페인</option>
                    <option th:selected="${restaurant.country}=='터키'">터키</option>
                    <option th:selected="${restaurant.country}=='스위스'">스위스</option>
                    <option th:selected="${restaurant.country}=='이탈리아'">이탈리아</option>
                    <option th:selected="${restaurant.country}=='크로아티아'">크로아티아</option>
                    <option th:selected="${restaurant.country}=='하와이'">하와이</option>
                    <option th:selected="${restaurant.country}=='LA'">LA</option>
                    <option th:selected="${restaurant.country}=='뉴욕'">뉴욕</option>
                </select>
            </div>
            <div class="admin_inquiry_q3">
                <select name="city" class="admin_inquiry_category2 concategory" th:value="${restaurant.city}">
                    <option th:selected="${restaurant.country}==''">도시</option>
                    <option th:selected="${restaurant.country}=='대한민국'">대한민국</option>
                    <option th:selected="${restaurant.country}=='필리핀'">필리핀</option>
                    <option th:selected="${restaurant.country}=='베트남'">베트남</option>
                    <option th:selected="${restaurant.country}=='코타키나발루'">코타키나발루</option>
                    <option th:selected="${restaurant.country}=='싱가포르'">싱가포르</option>
                    <option th:selected="${restaurant.country}=='괌/사이판'">괌/사이판</option>
                    <option th:selected="${restaurant.country}=='스페인'">스페인</option>
                    <option th:selected="${restaurant.country}=='터키'">터키</option>
                    <option th:selected="${restaurant.country}=='스위스'">스위스</option>
                    <option th:selected="${restaurant.country}=='이탈리아'">이탈리아</option>
                    <option th:selected="${restaurant.country}=='크로아티아'">크로아티아</option>
                    <option th:selected="${restaurant.country}=='하와이'">하와이</option>
                    <option th:selected="${restaurant.country}=='LA'">LA</option>
                    <option th:selected="${restaurant.country}=='뉴욕'">뉴욕</option>
                </select>
            </div>
            <div class="admin_inquiry_qtext">
                <div class="admin_inquiry_title">장소명</div>
                <div class="admin_inquiry_q3">
                    <input name="location" type="text" id="placeName" class="admin_inquiry_category2" th:value="${restaurant.location}" readonly>
                    <input name="restaurantpic" type="file" id="pro_img" multiple class="admin_inquiry_category2" th:value="${restaurant.fileName1}" readonly>
                </div>
            </div>
            <div class="admin_inquiry_qtext">
                <div class="admin_inquiry_title">식당 타이틀</div>
                <div class="admin_inquiry_q3">
                    <input name="title" type="text" id="place_title" class="admin_inquiry_category2" th:value="${restaurant.title}" readonly>
                </div>
            </div>
            <div class="admin_inquiry_qtext">
                <div class="admin_inquiry_title">요약</div>
                <div class="admin_inquiry_q3">
                    <input name="summary" type="text"  class="admin_inquiry_category2" th:value="${restaurant.summary}" readonly>

                </div>
            </div>
            <div class="admin_inquiry_qtext">
                <div class="admin_inquiry_title2">대표메뉴</div>
            </div>
            <div class="admin_inquiry_qtext"  style="height: 220px;">
                <div class="admin_inquiry_title" style="height: 200px;">메뉴1</div>
                <div class="admin_inquiry_q3">
                    <div class="admin_inquiry_a1">
                        <input name="menu1img" type="file" id="menu_img" class="admin_inquiry_category2" th:value="${restaurant.fileName2}" readonly>
                        <input name="menuName1" type="text" id="menu_name" class="admin_inquiry_category2" style="margin-top: 20px;" placeholder="메뉴 이름" th:value="${restaurant.menuName1}" readonly>
                        <input name="menuDescription1" type="text" id="menu_tit" class="admin_inquiry_category2" style="margin-top: 20px;" placeholder="한 줄 설명을 적어주세요" th:value="${restaurant.menuDescription1}" readonly>
                        <input name="menuPrice1" type="text" id="menu_price" class="admin_inquiry_category2" style="margin-top: 20px;" placeholder="가격을 입력해주세요" th:value="${restaurant.menuPrice1}" readonly>
                    </div>
                </div>
            </div>
            <div class="admin_inquiry_qtext" style="height: 220px;">
                <div class="admin_inquiry_title" style="height: 200px;">메뉴2</div>
                <div class="admin_inquiry_q3">
                    <div class="admin_inquiry_a1">
                        <input name="menu2img" type="file" id="menu_img2" class="admin_inquiry_category2" th:value="${restaurant.fileName3}" readonly>
                        <input name="menuName2" type="text" id="menu_name2" class="admin_inquiry_category2" style="margin-top: 20px;" placeholder="메뉴 이름" th:value="${restaurant.menuName2}" readonly>
                        <input name="menuDescription2" type="text" id="menu_tit2" class="admin_inquiry_category2" style="margin-top: 20px;" placeholder="한 줄 설명을 적어주세요" th:value="${restaurant.menuDescription2}" readonly>
                        <input name="menuPrice2" type="text" id="menu_price2" class="admin_inquiry_category2" style="margin-top: 20px;" placeholder="가격을 입력해주세요" th:value="${restaurant.menuPrice2}" readonly>
                    </div>
                </div>
            </div>
            <div class="admin_inquiry_qtext">
                <div class="admin_inquiry_title" style="height: 200px;">메뉴3</div>
                <div class="admin_inquiry_q3">
                    <div class="admin_inquiry_a1">
                        <input name="menu3img" type="file" id="menu_img3" class="admin_inquiry_category2" th:value="${restaurant.fileName4}" readonly>
                        <input name="menuName3" type="text" id="menu_name3" class="admin_inquiry_category2" style="margin-top: 20px;" placeholder="메뉴 이름" th:value="${restaurant.menuName3}" readonly>
                        <input name="menuDescription3" type="text" id="menu_tit3" class="admin_inquiry_category2" style="margin-top: 20px;" placeholder="한 줄 설명을 적어주세요" th:value="${restaurant.menuDescription3}" readonly>
                        <input name="menuPrice3" type="text" id="menu_price3" class="admin_inquiry_category2" style="margin-top: 20px;" placeholder="가격을 입력해주세요" th:value="${restaurant.menuPrice3}" readonly>
                    </div>
                </div>
            </div>
            <div class="admin_inquiry_qtext">
                <div class="admin_inquiry_title2">기본 정보</div>
            </div>
            <div class="admin_inquiry_qtext">
                <div class="admin_inquiry_title" style="height: 415px;">기본정보 입력</div>
                <div class="admin_inquiry_q3">
                    <div class="admin_inquiry_a1">
                        <input name="howTogo" type="text" id="Basic1" class="admin_inquiry_category2" placeholder="가는방법" th:value="${restaurant.howTogo}" readonly>
                        <input name="availableAt" type="text" id="Basic2" class="admin_inquiry_category2" style="margin-top: 15px;" placeholder="이용가능시간, 휴무일" th:value="${restaurant.availableAt}" readonly>
                        <textarea name="tip" type="text" id="Basic3" class="admin_inquiry_category2" style="margin-top: 15px; margin-bottom: 10px;width: 100%; height: 150px;" th:utext="${restaurant.tip}" readonly>이용팁</textarea>
                        <textarea name="etc" class="weditor" id="weditor" cols="100" rows="10" style="width: 100%; height: 150px;" th:utext="${restaurant.etc}" readonly> 기타 정보</textarea>
                    </div>
                </div>
            </div>
            <div class="btnlist">
                <a th:href="'/Triple/admin/spotList'">
                    <input type="button" value="목록" class="btn">
                </a>
                <a th:href="'/Triple/admin/spotList/restaurant/delete/'+${restaurant.getIdx()}">
                    <input type="button" value="삭제" class="btn" id="delete">
                </a>
            </div>
        </form>
    </div>
</section>

<script src="/app/js/script.js"></script>
<script src="/app/js/admin.js"></script>
<script src="/app/js/admin/restaurant_delete.js"></script>
</body>
</html>